[2018-09-21 18:48] LeanKhan commented on #990
Hi, can I work on this Issue?

 I might need guidelines though :)

[2018-09-22 03:59] julianguyen commented on #990
Hi @LeanKhan! Thanks for expressing your interest, we would love for your help. Here are next steps for joining: https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack

Let's sync more after you join our Slack :)

[2018-09-22 04:24] julianguyen opened #991 "Fix full screen modal bug in mobile web"
# Description

In mobile Chrome, there's a bug with our modal where the address bar is blocking the top part of the modal. Let's fix this!

This [post](https://teamtreehouse.com/community/position-fixed-css-bug-in-chrome-and-firefox-for-android) may give you some insights on how to fix it.

# Reproduction Steps

1. Open mobile Chrome
2. Open any modal (Notifications for example)

# Screenshots

![

[2018-09-22 08:27] mialahmoka commented on #991
I'd like to work on this

[2018-09-22 08:56] julianguyen commented on #991
Hi @mialahmoka :) Thanks for expressing your interest, we would love for your help. Here are next steps for contributing: https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack

[2018-09-22 14:18] LeanKhan commented on #990
I won't be working on this anymore, thank you.

[2018-09-22 15:27] DamonClark commented on #990
I'd like to work on this!

[2018-09-22 15:29] julianguyen commented on #990
@DamonClark Awesome! Could you follow up with next steps here: https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack. Thanks!

[2018-09-23 02:42] julianguyen opened #995 "Add ability to copy to clipboard when selecting the secret share input field"
# Description

Secret share is awesome feature our Rails Girls Summer of Code 2017 students @SophieRoseMcDonald and @jnamster worked on! It adds the ability to generate a private URL to your Moment post that you can share with anyone who is not signed into the app. You're also able to remove the generated URL when you want it to expire.

We want to add the ability when the user clicks into the inp

[2018-09-23 02:55] julianguyen opened #997 "Move out comment related methods in application_controller.rb to a helper"
# Description

application_controller.rb has a lot of miscellaneous methods that are used throughout the app including methods for comments.

Let's move this out to a comment helper!

# Do you want to be the assignee to work on this?

🚫

[2018-09-23 03:03] #958 closed

[2018-09-23 05:44] #918 closed

[2018-09-23 23:43] julianguyen commented on #974
@kumaran-14 Yeah I would check out https://github.com/svg/svgo, set it up locally on your machine and run SVGO through our SVG files in app/assets/images. After that re-upload the new SVG images. If you need anymore help, let's sync on Slack

[2018-09-24 07:16] sexybiggetje opened #1004 "Add content_security_policy.rb initializer."
# Description

#976 and #1000 (as fixed by @mialahmoka)  leave open the part of adding a Content-Security-Policy file/header.
It should be added and configured properly for the application.

# Do you want to be the assignee to work on this?

🚫

[2018-09-24 07:52] #976 closed

[2018-09-24 14:50] mialahmoka opened #1005 "Potential DNS issue"
# Description
This is almost certainly a server issue rather than anything to do with the source code, however I felt it was worth mentioning that the server address behaves very oddly whenever pinged outside a browser. For example when running the command `ping https://www.if-me.org/` in bash or command prompt, the result is `Name or service not known` which means the DNS server couldn't translat

[2018-09-24 16:12] mialahmoka commented on #1005
nevermind, bit embarrassing but the correct syntax is `ping www.if-me.org`, there are no issues with DNS

[2018-09-24 16:12] #1005 closed

[2018-09-24 17:23] mialahmoka opened #1006 "Possible injection vulnerability"
# Description
Upon running an automated scan, Nessus was able to to inject innocuous strings into CGI parameters and read them back in the HTTP response. This doesn't necessarily mean that there is any vulnerability, however it would be worth extended pen testing considering the parameter in question is an authenticity token. For details, see the screenshot.

# Reproduction Steps
Run a Nessus web

[2018-09-25 01:38] #990 closed

[2018-09-25 01:41] julianguyen commented on #961
Thanks for the suggestion! I agree with the hold off for now label on this issue. I don't think it's a huge priority, especially since most people outside of the tech community don't have Github accounts. The people who do have GIthub accounts usually sign in via GIthub if it's a developer/Github related tool or add-on.

[2018-09-25 01:53] #970 closed

[2018-09-25 06:09] julianguyen opened #1009 "Move toggle_locale.js to React"
# Description

toggle_locale.js is a file in the Rails JS assets that is responsible for changing the language of the site whenever the user interacts with the language dropdown. Let's move this to client/app/widgets. We use Axios for REST in the client.

# Do you want to be the assignee to work on this?

[2018-09-25 09:53] sexybiggetje commented on #1004
Maybe this is of some help; https://github.com/twitter/secure_headers

[2018-09-25 10:05] mialahmoka commented on #1004
This might also be useful:
https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/http/content_security_policy.rb

[2018-09-25 10:48] mialahmoka commented on #1004
I also feel like this is relevant. It's old but it could potentially be a threat. It details methods of bypassing HTTP HSTS (the 'max-age' parameter I added at the last line of the header config) via NTP exploits. Theoretically it shouldn't work because attempting to use the http version of the site should throw a 301 redirect, but it could be worth testing just in case.
https://www.google.com/url

[2018-09-26 00:46] nshki commented on #875
It seems that race conditions have already been handled by @baohouse as seen in PR #856. Closing! 🎉

[2018-09-26 00:46] #875 closed

[2018-09-26 03:52] #997 closed

[2018-09-26 09:03] sexybiggetje commented on #1006
As I understand it:
Seeing from the screenshot this allows to printback data into a piece of javascript; if one is able to submit **"; eval(some js code); var a = "** then it would be an issue but I don't think that's possible there. Or it would be easy to fix to just allow specific chars. The authenticity token probably only needs [a-z0-9]+.

I'm not sure where to check this at the moment since i

[2018-09-26 10:36] julianguyen opened #1011 "Move most_focus method in application_controller.rb into its own helper"
# Description

Move most_focus method in application_controller.rb into its own helper. The motivation is to declutter application_controller and have better separation of concerns. Be sure to move the tests too.

Move top_three_focus and profile_exists? in this new helper too and make them private

# Do you want to be the assignee to work on this?

🚫

[2018-09-26 10:37] julianguyen opened #1012 "Move tag_usage method in application_controller.rb into its own helper."
# Description

Move tag_usage method in application_controller.rb into its own helper.  The motivation is to declutter application_controller and have better separation of concerns. Be sure to move the tests too.

Let's move data_included? as well as a private method in the new helper.

# Do you want to be the assignee to work on this?

🚫

[2018-09-26 10:39] julianguyen opened #1013 "Move get_stories method in application_controller.rb into its own helper."
# Description

Move get_stories method in application_controller.rb into its own helper.  The motivation is to declutter application_controller and have better separation of concerns. Be sure to move the tests too.

Move user_stories in this new helper too and make it private

# Do you want to be the assignee to work on this?

🚫

[2018-09-26 10:41] julianguyen opened #1014 "Move moments_stats method in application_controller.rb into its own helper."
# Description

Move moments_stats method in application_controller.rb into its own helper. The motivation is to declutter application_controller and have better separation of concerns. Be sure to move the tests too.

# Do you want to be the assignee to work on this?

🚫

[2018-09-26 10:45] julianguyen opened #1015 "Move user_created_data? from application_controller.rb into comments_helper.rb"
# Description

user_created_data? is just being used by comments_helper.rb let's move that there as a private method

# Do you want to be the assignee to work on this?

🚫

[2018-09-26 12:29] julianguyen opened #1016 "Replace pagination via Kaminari with infinite scroll/lazy loading in react"
# Description

Replace pagination via Kaminari with infinite scroll/lazy loading in react

Pages include: signed in home page, index pages for Moments, Strategies, Categories, Moods, and Medications

# Do you want to be the assignee to work on this?

Maybe, but if someone else what's to work on it - feel free to assign yourself

[2018-09-26 12:36] DamonClark commented on #1014
I'd like to work on this!

[2018-09-26 13:54] julianguyen commented on #1014
@DamonClark Awesome! Feel free to assign yourself to the issue whenever you're ready :) Thanks!

[2018-09-26 14:04] #416 closed

[2018-09-26 14:04] #448 closed

[2018-09-26 14:04] #487 closed

[2018-09-26 14:05] #593 closed

[2018-09-27 01:43] #972 closed

[2018-09-27 02:36] mialahmoka commented on #1006
I believe what it's referring to is you can make a `/user/password?authentication_token=` and insert the authentication token in a POST request and you'll be redirected. I tested this in burp and got redirected to the sign in however it's likely the authentication token was invalid, however I could make a script to test automating this on sign in requests to see if it's an exploit.
![image](https:

[2018-09-28 18:57] julianguyen commented on #806
Deleting this cause it's a duplicate of #563

[2018-09-28 18:57] #806 closed

[2018-09-30 08:54] aSquare14 opened #1019 "Allies "Add", "Remove" redirect doesn't work."
# Description

When user goes to if-me.org and tries adding and removing allies, back-end works i.e allies get added and removed but the UI shows error. I think it is redirection error.

Duplicated in dev env

# Do you want to be the assignee to work on this?

🚫

[2018-09-30 16:07] jaimevelaz commented on #1013
Hi @julianguyen, I would like to help with this one 😃

[2018-09-30 18:44] Atul9 commented on #1012
@julianguyen I would like to work on this

[2018-09-30 19:29] sjakobi commented on #1011
I'd like to fix this! :)

[2018-09-30 19:54] julianguyen commented on #1012
Hey @Atul9, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-09-30 19:54] julianguyen commented on #1013
Hey @jaimevelaz, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-09-30 19:54] julianguyen commented on #1011
Hey @sjakobi, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-09-30 19:55] julianguyen commented on #1019
Thanks for calling this out! I'll take a look at!

[2018-09-30 21:17] n1arash commented on #1009
i'd like to work on this

[2018-09-30 21:27] #1019 closed

[2018-09-30 21:28] jiradeto commented on #1015
I am interested

[2018-09-30 22:02] julianguyen commented on #1015
Hey @jiradeto, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-09-30 22:03] julianguyen commented on #1009
Hey @n1arash, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-10-01 04:35] aSquare14 commented on #959
Hi @davidshr10 ! Maybe you could work on https://github.com/ifmeorg/ifme/issues/975
This issue is old and the new redesign has been decided as above ! Good luck. :)

[2018-10-01 04:36] #959 closed

[2018-10-01 04:57] namila commented on #995
I will work on this and make a PR

[2018-10-01 06:49] woarewe commented on #1016
Hello, @julianguyen! I would like to work on this

[2018-10-01 11:53] #665 closed

[2018-10-01 12:22] julianguyen opened #1024 "Improve performance on production by reducing JS payloads"
# Description

We've already done some significant work to improve performance (please note on production) including
- Code splitting in Webpack 4
- Inline rendering of CSS and Rails JS assets
- Deferring JS assets from React
- Using async on third party JS scripts
- Gzipping
- Minifying CSS in both Rails and React
- Caching

The Audit tool in Google developer console is super rad (you should chec

[2018-10-01 12:35] julianguyen opened #1025 "Secure notifications controller"
# Description

There was some really awesome progress being made in this [PR](https://github.com/ifmeorg/ifme/pull/316) to make the notifications controller more secure and add better test coverage. It never got finished, it would be great if someone could finish it up :)

# Do you want to be the assignee to work on this?

🚫

[2018-10-01 12:40] greysteil opened #1026 "Use Dependabot"
Really a question - @julianguyen, are you happy for me to add [Dependabot](https://dependabot.com) to this repo to get dependency update PRs?

[2018-10-01 12:48] julianguyen commented on #1026
Yay the welcome bot is working 😆
Ooh I'm very open to it, it looks very promising. Thanks for the suggestion. Are these PRs automatic to recommend updates to the latest versions of packages/gems? I'm also guessing it doesn't automatically merge so someone could go in and fix something.

[2018-10-01 12:51] wshatch commented on #966
Is this the stuff in `add/delete_comment.js`?

[2018-10-01 13:01] julianguyen commented on #966
@wshatch Yep! So I recommend moving on that into client/widgets. You might have to also update things in the controller so that you can nicely use the API from the client.

[2018-10-01 13:02] julianguyen commented on #995
Hey @namila, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-10-01 13:19] greysteil commented on #1026
Yeah, it'll create PRs to the latest version but won't automatically merge, so we'll be able to review. I've requested an install through the GitHub app interface - you should have an from GitHub saying you need to approve it and then I can take it from there.

[2018-10-01 13:20] julianguyen commented on #1026
Approved!

[2018-10-01 13:22] greysteil commented on #1026
Awesome! I'll take a look through the initial PRs when they come.

[2018-10-01 13:22] #1026 closed

[2018-10-01 13:40] wshatch commented on #966
Gotcha, on it.

[2018-10-01 14:44] tryantwit commented on #1025
I can pick up work on this.

[2018-10-01 15:03] julianguyen commented on #1025
Hey @tryantwit, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-10-01 17:15] ngohgia commented on #980
I would like to contribute to this project. I think working on this issue would help me familiarize with the project's features. Can I take a stab at this?

[2018-10-01 17:16] 3minus1 commented on #1016
I'd love to work on this!

[2018-10-01 18:33] julianguyen commented on #980
Hey @ngohgia, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-10-01 18:33] julianguyen commented on #1016
Hey @3minus1, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :)

[2018-10-01 18:58] tryantwit commented on #854
Adding two thoughts to this issue.

1) There is a tool for building chat bots in Ruby now called [Lita](https://www.lita.io/) that might be interesting to use for this since the backend is already Ruby/Rails based.

2) If your looking to get off the ground more quickly you can use an existing bot like [Greetingslack](https://github.com/orliesaurus/greetingslack) and you could have something stood

[2018-10-01 20:09] nelsonmfinda commented on #961
Hello, I'm participating in [Hacktoberfest.](https://hacktoberfest.digitalocean.com/) and would like to contribute to this feature. It will be my first open source contribution!

[2018-10-01 22:14] julianguyen commented on #961
Hey @nelsonmfinda thanks for expressing interest! We're actually going to hold off this feature for now cause it's not a priority. Would you be interested in working on this one instead? https://github.com/ifmeorg/ifme/issues/796 It's also auth related.

Here's [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to joining our contributor community.

[2018-10-01 23:38] jeccb commented on #1015
Hi, can I do it too?

[2018-10-02 01:49] julianguyen commented on #1015
Hey @jeccb thanks for expressing your interest!  I'm not sure if @jiradeto is still interested in working on this. If not, it's up for grabs. Otherwise, there are other issues that are similar in terms of refactoring Rails code. I'm happy to point you to some if you can't find anything.

Please also check out [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) for joining our contrib

[2018-10-02 01:50] julianguyen commented on #1015
Alternatively you two could do some remote pairing on this issue. Two heads are always better than one :)

[2018-10-02 06:59] asarbu commented on #1015
hi 👋 I created a MR with the changes you requested

[2018-10-02 11:57] #1013 closed

[2018-10-02 12:19] julianguyen opened #1049 "Adding missing test coverage for invitations_helper.rb"
# Description

Womp womp we're missing test coverage here. Let's go back and add it!

# Do you want to be the assignee to work on this?

🚫

[2018-10-02 12:20] julianguyen opened #1050 "Add missing test coverage for medication_refill_helper.rb"
# Description

Womp womp we're missing test coverage here. Let's go back and add it!

# Do you want to be the assignee to work on this?

🚫

[2018-10-02 12:20] julianguyen opened #1051 "Add missing test coverage for medication_helper.rb"
# Description

Womp womp we're missing test coverage here. Let's go back and add it!

# Do you want to be the assignee to work on this?

🚫

[2018-10-02 12:21] julianguyen opened #1052 "Add missing test coverage for reminder_helper.rb"
# Description

Womp womp we're missing test coverage here. Let's go back and add it!

# Do you want to be the assignee to work on this?

🚫

[2018-10-02 12:25] julianguyen opened #1053 "Adding missing test coverage for category.rb"
# Description

Womp womp we're missing test coverage here. Let's go back and add it!

# Do you want to be the assignee to work on this?

🚫

[2018-10-02 12:29] julianguyen opened #1054 "Add missing test coverage for group_notifier.rb"
# Description

Womp womp we're missing test coverage here. Let's go back and add it!

# Do you want to be the assignee to work on this?

🚫

[2018-10-02 12:54] Atul9 commented on #1053
I would like to work on this

[2018-10-02 13:11] julianguyen opened #1055 "Staging server brainstorm!"
# Description

I had a conversation with @baohouse recently about setting up a staging server. This is really helpful for feature work that automated testing may not fully test for.

Given the frequency of commits to this repo, I think having one staging server works for now. But in general, it would be neat to able to spin up staging servers whenever you need them.

I was thinking we could use Gi

[2018-10-02 13:13] julianguyen commented on #1053
Hey @Atul9, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :) After that, assign yourself to the issue.

[2018-10-02 13:50] DRBragg commented on #971
I love me some refactoring and I'm happy to help. Just sent you an email request to join.

[2018-10-02 15:06] #1025 closed

[2018-10-02 15:07] #1015 closed

[2018-10-02 15:29] HolyWalley commented on #1050
If you don't mind, I'm in :)

[2018-10-02 15:33] DRBragg commented on #971
Removing myself from this for now, most of the CC issues are for React and the RoR issues is just the common_fields method being repetitive. I'd rather leave this open for another beginner who is more comfortable with JS than Ruby so they can get a PR. I can circle back around later.

[2018-10-02 15:38] DRBragg opened #1056 "Remove try in favor of safe navigation"
# Description

`try` is being used in multiple places throughout the app. Suggest refactoring to safe navigation to keep with Ruby standards

# Example

This:
[code]
Should look like this:
[code]

# Do you want to be the assignee to work on this?

✅

[2018-10-02 15:49] julianguyen commented on #971
@DRBragg That's very thoughtful of you to do that. There are other more advanced RoR and React issues if you're interested!

[2018-10-02 15:50] julianguyen commented on #1056
Interesting, I didn't know it was better to use safe navigation over try. Now that I'm reading up on it, it makes sense! Great suggestion! Thanks!

[2018-10-02 15:56] DRBragg commented on #1056
Glad I could help. Safe nav is one of those random things I found while trying to improve my ruby skills. I love ruby's readability and the safe nav is another great example of it.

[2018-10-02 17:29] julianguyen commented on #1054
Hey @jm96441n, thanks for expressing your interest. We would love your help with this issue. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :) After that you can assign yourself to this issue.

[2018-10-02 17:45] tryantwit commented on #1055
Since you're using Heroku an option would be to make use of their [Review Apps](https://devcenter.heroku.com/articles/github-integration-review-apps#review-apps-management-and-costs). Each pull request can have its own server quickly spun up then torn down, either manually or automatically.

Another option might be to modify the current git flow to incorporate a `master` `staging` feature branch w

[2018-10-02 17:46] timorthi commented on #1051
I can give this a go :)

[2018-10-02 18:38] gpks commented on #969
Hi, I would like to do it :)

[2018-10-02 20:48] DRBragg opened #1062 "Bump Node engine to current LTS"
# Description

Noes' current LTS is on 8.12.0 but the project is locked at 8.11.1.  Suggest bumping to 8.12.0 unless a breaking change is found.

# Do you want to be the assignee to work on this?

✅

[2018-10-02 21:09] julianguyen commented on #1055
Thanks so much for these insights @tryantwit! I had no idea Review Apps existed, that's awesome.

I think we should move away from deploys whenever something is merged to master. We could also facilitate that with release versions as well.

[2018-10-02 21:42] dennis commented on #854
I would like to take a go at this. It should greet new users with a predefined message, and that is it?

[2018-10-02 22:15] #1056 closed

[2018-10-02 22:15] #1062 closed

[2018-10-02 22:38] julianguyen commented on #854
Hey @dennis, thanks for expressing your interest! We would love your help with this. Here are [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) for joining our contributor community.

I would say we should have this bot send the new user a message privately and not in a public channel. Make mention of introducing themselves in #introductions, following our Code of Conduct (which we

[2018-10-02 22:49] #1014 closed

[2018-10-02 23:39] julianguyen opened #1066 "Create a bot or find an existing one that comments on first time comments in Github issues"
# Description

Right now we manually reply to people who respond to issues with "I wanna work on this!". Let's find a way to automate this. The message could be something like:

Hey `@some-user`, thanks for expressing your interest. We would love your help with this issue. Please follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to join our contributor community.

The

[2018-10-02 23:43] tryantwit commented on #1055
Whatever way you go I think moving away from deploys when merged to master is a good way to go. Keep your production environment more insulated from breaking or down time due to an uncaught bug that would have come out in a production like environment.

[2018-10-02 23:54] chischaschos commented on #1066
I wanna work on this!

[2018-10-03 00:20] austinmckinley commented on #1066
I remember seeing this a couple days ago, I think this might do the trick? https://github.com/apps/the-welcome-bot

[2018-10-03 01:40] ScotianMan commented on #1055
I like Herokus review apps as well. They are great for reviewing individual changes and features, work can then even be pushed to staging where it can play with other merged reviewed work before making its way into the wild. Having a staging/development branch is also a great idea to keep master clean 👍

[2018-10-03 02:08] gdestree commented on #1049
hi @julianguyen I would be interested in working on this one.

[2018-10-03 02:59] ScotianMan commented on #901
I can knock this out if its still a priority.. I see devise is being used for authentication but has anything been added at all in terms of authorization yet? I usually like to use CanCanCan, once added we can make admins all powerful and spin other issues of this to lock down the authorization of other users actions.  Or is authorization outside of the scope of this issue and a simple "admin" boo

[2018-10-03 02:59] ScotianMan commented on #901
I will wait to start until  we can discuss a little 👍

[2018-10-03 07:35] dennis commented on #854
@julianguyen Done.

[2018-10-03 07:59] imi56 commented on #1049
I would like to work on this.

[2018-10-03 08:01] imi56 commented on #968
I would love to work on this.

[2018-10-03 08:36] hmasila commented on #840
Hello, I would like to work on `meetings_controller` if that's still available

[2018-10-03 11:01] julianguyen commented on #840
@hmasila Hey Hannah that would be great! Thanks so much :)

[2018-10-03 11:09] #1049 closed

[2018-10-03 11:10] carlqt commented on #796
Thanks for the invite, let me take a crack at this.

[2018-10-03 11:13] julianguyen commented on #968
Hey @aSquare14, if you don't mind I'm going to assign you and @prateksha from this issue just because you two have multiple open PRs that still need to be wrapped up. Happy to sync with you after if you want to work on a refactoring related issue.

[2018-10-03 11:14] julianguyen commented on #968
Hey @imi56, thanks for expressing your interest. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps :) After that, assign yourself to the issue.

[2018-10-03 11:37] julianguyen opened #1075 "Only deploy to production (Heroku) via CircleCI if a git tag exists"
# Description

This is related to discussions involving [staging servers](https://github.com/ifmeorg/ifme/issues/1055). Before we set up staging servers, we should improve our production deployment process. Currently, we deploy every time there's a push to master. While this was okay in the past, there are certain times of the year where we get frequent (almost daily) merges to master (yay!)... wh

[2018-10-03 11:38] julianguyen commented on #1055
Before we tackle the staging problem, we should improve the production deployment process. Just created the referenced issue above ^

@tryantwit @ScotianMan you're welcome to work on it if you're interested! :)

[2018-10-03 12:11] julianguyen commented on #796
Hey, @carlqt can you assign yourself to this issue? You should have received an invite to join the org in your email. Thank you! :)

[2018-10-03 13:06] tryantwit commented on #1075
I'll take a crack at this. CircleCI 2.0 has support for [Git Tag Filters](https://circleci.com/docs/2.0/configuration-reference/#tags) so should be pretty easy.

[2018-10-03 13:10] ScotianMan commented on #1052
this wasnt assigned so Ive knocked it out while poking around this morning.

[2018-10-03 13:31] aSquare14 commented on #854
@dennis Let me know if you need help with this issue !

[2018-10-03 13:44] nshki opened #1077 "Lingering categories bug"
# Description

Categories are prone to linger on Strategy objects after being deleted, which causes error screens indefinitely for a user when trying to access their dashboard.

# Reproduction Steps

1. Login
2. Create a new Strategy and attach a Category to it
3. Delete that Category
4. Access the Strategies screen

# Do you want to be the assignee to work on this?

✅

[2018-10-03 15:53] timorthi commented on #1051
Did someone already work on this @julianguyen ?

[2018-10-03 16:00] julianguyen commented on #1051
Actually no it was medication_refill_helper.rb, sorry about that! It's still open!

[2018-10-03 16:01] #1050 closed

[2018-10-03 16:47] jash-kothari commented on #1011
If this is not being worked on would like to work on this.

[2018-10-03 16:59] #1077 closed

[2018-10-03 17:11] andy5995 commented on #601
Just verified again that the box is checked. Yes it is... but I've never gotten the reminders. Everyone else does though, eh?

[2018-10-03 17:48] julianguyen opened #1084 "Can't tab out out of InputTextarea into the next input field"
# Description

Can't tab out out of InputTextarea into the next input field

# Reproduction Steps

From /moments/new or /strategies/new, try to tab into the input fields instead of clicking into them. You'll notice that you can tab into the WYSIWYG editor, but you can't tab out of it.

# Screenshots

![capture](https://user-images.githubusercontent.com/3010728/46428762-adcf4b00-c6f9-11e8-8873-fdc6

[2018-10-03 17:55] julianguyen opened #1085 "Add error message to Input components with validation errors"
# Description

Currently, in for our forms that use React components (Input, Form), we only display validation errors with an exclamation mark icon. That is not the best experience and it would be better if we also had accompanying error text. For folks who use screen readers, this is a particularly bad experience.

Let's add that! Please put the error message in i18n and use react-intl from the c

[2018-10-03 17:58] julianguyen commented on #1011
@jash-kothari Please follow next steps mentioned above and then assign yourself to this issue.

[2018-10-03 17:59] julianguyen commented on #1053
@felipemrvieira Can you follow the next steps above and then assign yourself to this issue? Thanks.

[2018-10-03 18:05] julianguyen commented on #1066
Hey @chischaschos if you're planning on working on this, can you please assign yourself to this issue. If you're unable to do so then follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

[2018-10-03 18:09] chischaschos commented on #1066
@austinmckinley, @julianguyen  Yeah I'd like to do it, I want to learn about Probot.

[2018-10-03 18:17] grust101 commented on #1066
@chischaschos, I've assigned you and myself to this issue. My thoughts are to write a probot script that is listening for an event where someone comments using the phrase "I want to work on this" and then use will auto comment with instructions to join the slack/etc and can also assign them to the issue. Thoughts?

[2018-10-03 18:41] heitorsilva commented on #977
Hey! Can I work on this one?

[2018-10-03 18:52] #1075 closed

[2018-10-03 19:05] julianguyen commented on #977
I'm actually going to close this issue because we are now moving to use git tags and releases.

[2018-10-03 19:05] #977 closed

[2018-10-03 20:19] Janice0218 commented on #1085
Can i take over it?

[2018-10-03 20:52] DamonClark commented on #1085
Yea go ahead! I can find something else to work on tomorrow :)

[2018-10-03 21:04] shmesa22 commented on #1084
I can work on this one

[2018-10-03 21:42] julianguyen commented on #1085
@Janice0218 Thanks for expressing your interest. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps. After that, assign yourself to the issue.

[2018-10-03 21:42] julianguyen commented on #1084
@shmesa22 Thanks for expressing your interest. Please check out https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack for next steps. After that, assign yourself to the issue.

[2018-10-03 22:04] dennis commented on #854
I am thinking about going either with Lita as mentioned in https://github.com/ifmeorg/ifme/issues/854#issuecomment-426023260 or perhaps just make it using plain old Ruby.

Lita gives more benefits but is more complicated. Could spend the time on making a introduction plugin for it, and then utilize the slack support. And it would be easy to add more plugins if we see fit.

Going plain ruby gives s

[2018-10-04 02:15] ScotianMan commented on #1066
well... Ive just kept picking away lol I believe the bot is ready... with a couple caveats and things I want to work on so this can be used for any repo but I already abstracted much of the functionality. 2 things of note are the message is hardcoded right now and specific to this repo as well as the bot will continue to post the message when a non member continues to comments until they sign up.

[2018-10-04 02:35] grust101 commented on #1066
@ScotianMan That's seriously awesome!! ✨ I think you should keep going on it and we should go ahead and try it out! I'm not sure what the workflow process is for If Me with adding bots, @julianguyen do you have a preference for how @ScotianMan tests this on a repo within If Me?

[2018-10-04 03:05] ScotianMan commented on #1066
thx @grust101!! Glad you wernt upset I did it. One thing led to another and before I knew it I was too far to stop and was finishing it for myself anyway lol. Never made a Probot app before.

It wont be much actually. Ill need https://github.com/ifmeorg/ifme/pull/1089 merged in so we have the link. The not may gracefully work without it, I have not checked lol. Other that that Ill send the request

[2018-10-04 03:08] ScotianMan commented on #1066
actually in the request I was able to set it all up... just need thehttps://github.com/ifmeorg/ifme/pull/1089 merged and https://github.com/ifmeorg/ifme/pull/1089 accepted 👍

[2018-10-04 04:59] aSquare14 commented on #854
Lita sounds good to me ! We can extend it later too !

[2018-10-04 09:00] swastikbanerjee07 commented on #854
Hi! Can I take up this issue?
How about using Amazon Lex for this?

[2018-10-04 09:02] swastikbanerjee07 commented on #797
What are the works left to be done in this issue?
Is there any way I can contribute?

[2018-10-04 09:55] carlqt commented on #796
Hey guys, was wondering what are the restrictions of a disabled user. Aside from being hidden from searches and allies list.

[2018-10-04 10:28] ScotianMan commented on #995
Anything happening with this? Ill knock this out this morning 👍

[2018-10-04 11:07] dennis commented on #854
I am already working on this, @swastikbanerjee07

[2018-10-04 11:44] swastikbanerjee07 commented on #854
@dennis Cool! No problem.

[2018-10-04 11:46] aSquare14 commented on #796
I think he or she cannot join groups ,stratergies and moments.

[2018-10-04 11:47] aSquare14 commented on #797
Hi! @swastikbanerjee07 Someone has already sent a PR on this. Maybe you could find another issue ! Let me know if you need help finding .

[2018-10-04 14:01] carlqt commented on #796
Questions:

For an easier approach, should we just restrict a disabled user to accessing group/moods/medications/allies etc…? The only page that is accessible would be the profile page wherein he can decide to reactivate his account? The flow I’m thinking is that we redirect the user back to his profile and display a flash message saying he’s unable to navigate to these pages unless he reactivates

[2018-10-04 14:20] julianguyen commented on #1066
I haven't built a Github bot before, so I'm not super familiar with how one should test it @grust101. I'm assuming it would be manual testing?

[2018-10-04 14:43] julianguyen commented on #797
@swastikbanerjee07 So @yasirazgar did open a PR for this but it never got merged. There's merge conflicts right now. Maybe you could help review it and resolve them if Yasir is unable to do so.

https://github.com/ifmeorg/ifme/pull/832

[2018-10-04 15:04] #622 closed

[2018-10-04 15:12] #1052 closed

[2018-10-04 15:34] julianguyen commented on #966
Hey @wshatch, are you actively working on this? If so can you assign yourself to this issue? If you're unable to do so please follow these [steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

[2018-10-04 16:47] swastikbanerjee07 commented on #797
@julianguyen Thanks!
Sure. I would look into it.

[2018-10-04 22:31] #614 closed

[2018-10-04 22:35] #567 closed

[2018-10-04 22:41] #159 closed

[2018-10-05 00:44] ScotianMan commented on #995
not exactly as requested but it works and gets the job done for now and we can discuss.

[2018-10-05 05:33] andy5995 commented on #622
Is that the plan then?

[2018-10-05 06:08] inesbenomar18 commented on #776
Hi, I'd love to contribute to the French translation team! 👋🏼

[2018-10-05 06:20] denysmedynskyi commented on #884
Hi @baohouse
I can do it, however, I don't see any API folder.
Can you point me which one should be documented?
Or which files exactly should be documented?

Also, regarding the API documentation.
I think the most easy to do and easy to maintain is markdown documentation with code snippets.

What do you think about markdown docs?

[2018-10-05 14:30] aamarill commented on #563
Unfortunately, I can't work on this at the moment. Thank you for expressing interest @seanmfox

[2018-10-05 16:52] #879 closed

[2018-10-05 17:11] #1066 closed

[2018-10-05 22:47] jm96441n opened #1104 "Flakey feature tests"
# Description

We have a few feature specs that will fail due to the header menu being hidden in a hamburger menu when the window is not large enough.

# Reproduction Steps

add to your `spec_helper.rb` file (this will force the window to resize to a width that will hide the header)
[code]
# Screenshots

N/A

# Do you want to be the assignee to work on this?

✅

[2018-10-06 00:16] OPARA-PROSPER commented on #968
@julianguyen Can i work on this issue?

[2018-10-06 00:30] julianguyen commented on #968
@OPARA-PROSPER 	Of course! Go ahead and assign yourself to the issue :)

[2018-10-06 06:38] timorthi commented on #1051
I won't be able to get on this as soon as I thought I could, so I'm gonna unassign myself and let someone else pick this up. Otherwise I'll reassign myself when I'm ready to work on it :)

[2018-10-06 12:31] julianguyen commented on #494
If anyone would like to work on this, I think starting off with EHR is good since it looks like it's the most universal file type.

Let's keep this feature simple for now and just support exporting an individual Moments post to EHR format.

[2018-10-06 12:40] denysmedynskyi commented on #884
Do you mean by starting commenting existing endpoints?
Can you give me an example what you want in the end?

[2018-10-06 13:00] julianguyen commented on #884
I think we want to extend the existing API have in our controller but write them in a way so that it can easily be used in the client without relying on Rails views and routing. We would want proper JSON responses.

Generating docs would be helpful too, Swagger UI is great for that.

[2018-10-06 13:05] julianguyen commented on #563
@seanmfox Just case you don't find/notice it, we have an existing custom Input component which you can preview in Storybook that you can use.

[2018-10-06 13:36] julianguyen commented on #780
I'm going to finish up this feature

[2018-10-06 15:10] haleymnatz commented on #1051
@julianguyen I'll take this on! I'm excited to have gotten a chance to contribute to ifme again. 🎉

Also, thanks @timorthi for great communication about your contribution! I assigned myself an issue before and forgot to remove myself when I couldn't get to it :/ So thanks for not doing the same thing!

[2018-10-06 15:48] digilou commented on #969
@julianguyen I'd be happy to take this on.

[2018-10-06 15:49] digilou commented on #969
Can I just fork the repo and submit a PR that way, instead of joining as a contributor?

[2018-10-06 16:37] digilou commented on #973
Hi @devkant are you working on this? If not, @julianguyen I'd like to take it on.

[2018-10-06 17:37] seanmfox commented on #563
Great, thanks!  In looking at past conversations, what was in mind for how the tag filtering should work?  In finding some past conversations, ideas being tossed around seemed to include dropdown, word cloud, and search box.

[2018-10-06 21:44] #974 closed

[2018-10-06 23:11] julianguyen commented on #969
@digilou It would be preferred if you joined as a contributor so you could assign yourself to the issue. It's easier for us to keep track with assignees.

Is there any specific reason why you just want to submit a PR right away without going through our usual process?

[2018-10-07 01:50] digilou commented on #969
@juliamji I don't mind going through the process. It just felt like a commitment on both our parts to add me as an official contributor. But if that's your process, I'll whole-heartedly respect it.

[2018-10-07 02:43] DanielSauve commented on #971
Hey there! I would gladly pick this up, I sent an email request to join!

[2018-10-07 08:29] aSquare14 commented on #780
Cool

On Sat, Oct 6, 2018, 7:06 PM Julia Nguyen <notifications@github.com> wrote:

[2018-10-07 13:13] julianguyen commented on #601
I think I found the issue, for some reason, the scheduler we have on production was not set up for running the rake task `send_perform_strategy_reminders`. Just set this up now. The next due task will be sent out `Oct 7 13:30 UTC`. @andy5995 could you let me know if you received anything then?

[2018-10-07 13:15] julianguyen commented on #795
Holding off for now since Facebook recently faced security vulnerabilities with their oauth service.

[2018-10-07 13:39] #780 closed

[2018-10-07 14:29] julianguyen commented on #1051
Yay @haleymnatz :D Thanks so much. Hope you're doing decent 💜

[2018-10-07 20:40] andy5995 commented on #601
Working!

[2018-10-07 20:40] #601 closed

[2018-10-07 20:42] julianguyen commented on #601
Omg thank glob haha. Thanks for checking!

[2018-10-07 21:28] julianguyen commented on #485
This looks promising https://github.com/7compass/sentimental

[2018-10-08 00:02] julianguyen commented on #968
@OPARA-PROSPER Good question, so that file is quite lengthy for a view file. We could start off by moving lines 20-42 to another view partial.

There's some conditional logic that is repeated throughout the file, so you could move it into a helper for e.g. `!local_assigns[:profile] || local_assigns[:profile] == current_user.id`

[2018-10-08 00:08] julianguyen commented on #968
I would also look for opportunities to refactor code e.g.
- Replace uses of where with find
- Replace `local_assigns[:data_type] == 'category' || local_assigns[:data_type] == 'mood' || local_assigns[:data_type] == 'strategy'` with `%w(category mood strategy).include? local_assigns[:data_type]`

[2018-10-08 01:29] OPARA-PROSPER commented on #968
@julianguyen Thanks for the feedback, i really appreciate them!

Can you give me a little bit of time to wrap my head around this concepts, i'd need to dig deep because i'd love to understand what i'm doing better, so i can learn better.

if i eventually venture into ruby (Which probably looks so), that will be great for me. <3

[2018-10-08 01:50] julianguyen commented on #968
@ScotianMan ^ any ideas why this bot keeps posting? 🙃

[2018-10-08 01:53] julianguyen commented on #968
@OPARA-PROSPER Of course, take your time and feel free to ask questions on Slack too.

Here are some articles I found on refactoring Rails views which may be helpful learning material:
https://brandonhilkert.com/blog/refactoring-logic-from-a-rails-view/
https://allenan.com/refactoring-rails-views/
https://medium.com/@scottm/refactoring-views-with-ruby-on-rails-activesupport-helpers-7d8b71c81ce2

[2018-10-08 02:08] OPARA-PROSPER commented on #968
They look great @julianguyen . Thank you

[2018-10-08 02:52] baohouse commented on #884
Yah, Swagger is probably the tool of choice; can't go wrong with that. If we're using Swagger, then the work here is not so much creating JSON input/output, but is more about properly annotating the controller. It would look like this:

https://www.sitepoint.com/do-the-right-thing-and-document-your-rails-api-with-swagger/

[code]

[2018-10-08 02:54] julianguyen commented on #884
Omg this bot lol

[2018-10-08 16:42] #1104 closed

[2018-10-08 21:08] arun1595 commented on #1084
I am going to assign myself to this issue as there hasn't been any response from @shelleyvadams

[2018-10-08 22:01] #1012 closed

[2018-10-08 22:18] julianguyen opened #1115 "Add support to close the Modal component with the escape key"
# Description

Add support to close the Modal component with the escape key

Please also write tests for this in Modal.spec.jsx 👼

# Do you want to be the assignee to work on this?

🚫

[2018-10-08 22:19] julianguyen commented on #991
@vishalsodani Yep, once you contact us and we add you to our GitHub org, you can self-assign.

[2018-10-08 23:00] julianguyen opened #1116 "Convert toggle_locale.js to React"
# Description

Convert toggle_locale.js to React

# Do you want to be the assignee to work on this?

✅

[2018-10-09 00:44] jm96441n commented on #1116
I could possibly take this on, let me look a little more into it. Is `toggle_locale.js` a js library or something that was built?

[2018-10-09 00:48] julianguyen commented on #1116
@jm96441n I'm actually almost done (just have to write tests), thanks for offering though :) I'll add you as a reviewer when I'm done.

[2018-10-09 00:49] jm96441n commented on #1116
sounds good to me!

[2018-10-09 00:49] jm96441n commented on #1116
Oops, my bad, totally missed that you were assigned to this!

[2018-10-09 00:50] julianguyen opened #1118 "Convert get_location.js to React"
# Description

Convert get_location.js to React

Ideally, it would be great to get rid of the following in application.html.erb
[code]
and use the Google Maps API from the client side.

# Do you want to be the assignee to work on this?

🚫

[2018-10-09 00:51] julianguyen commented on #1116
@jm96441n Would you be interested in https://github.com/ifmeorg/ifme/issues/1118? :D

[2018-10-09 00:52] jm96441n commented on #1116
I think I can handle that!

[2018-10-09 01:07] jm96441n commented on #1118
I can pick this up

[2018-10-09 18:21] #1116 closed

[2018-10-09 19:08] #797 closed

[2018-10-09 22:50] #457 closed

[2018-10-10 09:39] ScotianMan commented on #968
looking into it now @julianguyen, sorry I was away for thxGiving 🦃

[2018-10-10 09:53] ScotianMan commented on #968
should be fixed, sorry about that @julianguyen

[2018-10-10 10:32] swastikbanerjee07 commented on #854
@dennis Are you still working on it?

[2018-10-10 14:02] julianguyen commented on #968
No worries, I hope you had a good one! Thanks again @ScotianMan! :D

[2018-10-10 15:06] julianguyen opened #1130 "Update FAQ translations for German (de)"
# Description

We recently updated translations in all languages for our [Frequently Asked Questions page](https://www.if-me.org/faq).

German translations were not worked on in a few months, but we recently merged in support for it.

Let's update these translations to match what's translated in other languages.

# Do you want to be the assignee to work on this?

🚫

[2018-10-10 15:13] julianguyen opened #1131 "Fix translation error for German (de) on homepage"
# Description

There's a translation error on the homepage when translated to German.

The error log is:
[code]

# Reproduction Steps

1. Go to https://www.if-me.org/
2. Change locale toggle to Deutsch
3. Error page shows up instead

# Do you want to be the assignee to work on this?

YES

[2018-10-10 15:36] #1131 closed

[2018-10-10 16:15] #507 closed

[2018-10-10 17:18] julianguyen opened #1134 "Setup pre-commit hook"
# Description

We want to hone down on formatting and consistency in our codebase, and not make folks reliant on CircleCI and Codeclimate builds.

Our pre-commit hook should include:
- `rubocop`
- `cd client && yarn lint`
- `rspec`
- `cd client && yarn test`

Currently, we ask translators to run this [online tool](https://onlineyamltools.com/prettify-yaml) to prettify our translation files. It wou

[2018-10-10 17:35] ba1ash commented on #1134
Hello @julianguyen. I want to do this issue.

[2018-10-10 21:13] #1130 closed

[2018-10-11 03:16] lsurasani commented on #991
Hey! Unsure if @vishalsodani is working on it but I'd like to take a look if not!

[2018-10-11 03:18] vishalsodani commented on #991
@lsurasani
Please go ahead. I am not taking up this issue.

[2018-10-11 16:53] dennis commented on #854
@swastikbanerjee07 Yeah. Have a PR for Lita. No response from them. I am thinking on finishing up the handler that will work assuming the PR is applied, and then let it be at that. If ifme wants another solution, I am fine with you taking over.

[2018-10-11 18:03] julianguyen commented on #966
Taking over this issue since there is a lot of complicated refactoring, I have a [WIP branch](https://github.com/ifmeorg/ifme/tree/comments-to-react). Almost done, writing more tests :)

[2018-10-11 19:41] OPARA-PROSPER commented on #968
@julianguyen i submitted a PR for this issue

[2018-10-11 21:01] arun1595 commented on #1084
_Update_: I haven't been able to figure out the issue yet. Will try to do some reading on how `tabindex` works on non-interactive elements and see if it helps resolving this issue.

[2018-10-11 22:09] ScotianMan commented on #968
I wonder why its only posting in this one case... debugging now

[2018-10-11 23:34] dennis commented on #854
@aSquare14 Here is a work-in-progress repo. I can move it into the ifmeorg if you wish.
https://github.com/dennis/lita-slack-welcome-msg

It depends on my PR for Lita to work.

[2018-10-11 23:35] dennis commented on #854
Silly bot :)

[2018-10-12 01:21] madhubs commented on #973
If any additional help is needed for this issue, I would love to contribute in any way, but understand it's been assigned to @digilou.

[2018-10-12 06:11] julianguyen opened #1144 "Flakey test in strategies_controller_spec.rb related to `ActiveRecord::RecordNotUnique`"
# Description

I notice this is a frequent flakey test that fails on CircleCI. Sometimes I see it happen randomly when I run rspec in my dev environment. Maybe there's a race condition happening? O.o

[code]

# Do you want to be the assignee to work on this?

🚫

[2018-10-12 08:36] jaimevelaz commented on #1144
I can take a look at this one 😁

[2018-10-12 09:54] dennis commented on #854
*Gemfile*
[code]

*In the shell*
[code]

*edit lita_config.rb*

set `config.robot.adapter` to `:slack`, and `config.adapters.slack.token` with token from the ifme slack. (I got one, just don't want to paste it here)

*start bot*
[code]

[2018-10-12 15:01] julianguyen commented on #1084
@arun1595 Thnks for posting an update! You might have to set up a listener to watch for a tab key press in that element. Let us know on Slack if you need any more help :)

[2018-10-12 15:13] #1144 closed

[2018-10-12 18:28] baohouse opened #1147 "Update Webpack to support ES2015 such as spread operator"
# Description

Right now the JavaScript codebase doesn't support spread operator.

# Do you want to be the assignee to work on this?

🚫

[2018-10-12 20:12] julianguyen opened #1148 "Enforce password strength for new users"
# Description

We use Devise for authentication, let's setup password strength for new users who sign up. This [post](https://github.com/plataformatec/devise/wiki/How-To:-Set-up-simple-password-complexity-requirements) should be helpful.

For existing users, let's display a modal prompt (using the Modal component) telling them to `We have enforced more security measures for users. Please %{update

[2018-10-13 06:10] LMulvey commented on #1148
https://github.com/dropbox/zxcvbn - slick low-cost library for doing password strength estimations. I've used it a bunch in the past 🤗

[2018-10-13 06:20] LMulvey opened #1149 "CSS Shared Classes / Styleguide"
# Description

Incorporate a presentational Styleguide section in Storybook that presents commonly used CSS classes for building out static pages/page elements matching the rest of the site. This could include:

- Grid helper classes (GridMany / GridItem, GridThree / GridThreeItem, etc)
- Typography - any preset classes for typography around the site
- General helper classes (div.spacer)

This cou

[2018-10-13 14:56] thovt93 commented on #1053
@julianguyen I would like to work on this

[2018-10-13 15:09] bbulpett commented on #1147
@baohouse I would like to work on this feature. I've submitted an email to [join the organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

[2018-10-13 16:27] digilou opened #1151 "Missing label for language dropdown on home page"
# Description

`select` input on home page needs associated label to describe its purpose.

# Reproduction Steps

Perform a DevTools accessibility audit.

# Screenshots

<img width="642" alt="screen shot 2018-10-13 at 8 22 18 am" src="https://user-images.githubusercontent.com/8865558/46907605-8d557c80-cec1-11e8-8f7b-c028b3e67489.png">

# Do you want to be the assignee to work on this?

✅

[2018-10-13 16:29] digilou commented on #973
@madhubs You can have this issue! I'll unassign myself.

[2018-10-13 17:05] JEscalanteGT commented on #1148
I would like to work in this issue. How does look a strong password? (Min characters, it should contain numbers, etc)

[2018-10-13 17:11] madhubs commented on #973
Thank you @digilou!

[2018-10-13 20:47] mjalkio commented on #1134
Hi @ba1ash have you started to work on this? I'm also interested in the issue.

[2018-10-13 21:01] baohouse commented on #1118
This might be helpful.
https://github.com/yuanqing/load-google-maps-api

[2018-10-13 21:30] julianguyen commented on #1149
This is a great suggestion! We should most definitely update our Storybook!

[2018-10-13 22:39] #980 closed

[2018-10-13 22:42] mjalkio commented on #1134
I started to look into this and I think there are a few obstacles to making it happen:

1. The project does not have a definitive development environment. This could lead to issues, for example, someone using a Dockerized setup might not be able to run the tests locally and would need a pre-commit hook that hit their container.
2. The `.git/hooks` directory can't be added to the repo, so there's n

[2018-10-13 22:54] julianguyen commented on #1134
@mjalkio

1. A really good point about different dev environments! Hmmm, I think we want to support the local environment the most. To be honest, I've been wondering if we should deprecate our Vagrant and Docker support.

2. Why can't .git/hooks be added to the repo? O.o

[2018-10-13 22:57] mjalkio commented on #1134
The .git repo isn't versioned :(

https://www.viget.com/articles/two-ways-to-share-git-hooks-with-your-team/

[2018-10-13 23:00] julianguyen commented on #1134
^ @ScotianMan Oh noes

[2018-10-13 23:01] julianguyen commented on #1134
@mjalkio Thanks for explaining! Hmmm yeah let's stick with instructions on how to set up the hooks then!

[2018-10-13 23:08] ScotianMan commented on #1134
@julianguyen, There is a bug with detecting the private members. The github API didnt make that part easy lol. I will try and set up a test org on github tonight and sort it out. Sorry : - (

[2018-10-13 23:11] ScotianMan commented on #1134
can we disable the bot for now while I look into it @julianguyen ?

[2018-10-13 23:32] julianguyen commented on #1134
@ScotianMan That's fine by me! :) Thank you!

[2018-10-14 00:15] Mera-Gangapersaud commented on #1085
Hey, @Janice0218  are you still working on this?

[2018-10-14 00:44] julianguyen commented on #1085
Technically it's unassigned and our [rule](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) is that you have to assign yourself to the issue to be working on it @Mera-Gangapersaud

[2018-10-14 09:05] #1009 closed

[2018-10-14 17:12] julianguyen opened #1157 "Adding missing test coverage for Tag component"
# Description

Oh noes! Missing test coverage, let's fix that! It's also an opportunity to do any refactoring needed in the component.

# Do you want to be the assignee to work on this?

🚫

[2018-10-14 17:14] julianguyen opened #1158 "Adding missing test coverage for QuickCreate widget"
# Description

Oh noes! Missing test coverage, let's fix that! It's also an opportunity to do any refactoring needed in the widget.

For an idea on how to spy and stub out Axios, see the Comments widget.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-

[2018-10-14 17:15] julianguyen opened #1159 "Add missing test coverage for Notifications widget"
# Description

Oh noes! Missing test coverage, let's fix that! It's also an opportunity to do any refactoring needed in the widget.

For an idea on how to spy and stub out Axios, see the Comments widget.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to join our [organization](https://github.com/ifmeorg/ifme/wiki/Join-

[2018-10-14 17:24] julianguyen opened #1160 "Investigating the Bullet gem to help improve performance for DB queries"
# Description

@jm96441n made mention of this [gem](https://github.com/flyerhzm/bullet) in a recent [pull request](https://github.com/ifmeorg/ifme/pull/1143) I made refactoring model and controller code related to Comments (thank you!)

It would be great to investigate this gem further and use it to improve performance for DB queries.

---

Please assign yourself (via the Assignees dropdown), if y

[2018-10-14 17:49] gabrielpedepera commented on #1160
Hi @julianguyen, I would like to work on this, may I?

[2018-10-14 18:23] julianguyen opened #1161 "Fix Dashboard actions CSS bug"
# Description

In languages like Vietnamese, where the translations for the words Profile and Account have two words, it breaks our UI for these buttons.

Let's fix this by letting each button take up the full width of the text it contains.

# Reproduction Steps

I saw this issue on my machine when the window width was 1280px.

1. Log in
2. Change language to Tiếng Việt

# Screenshots

In English:

[2018-10-14 19:29] CSumm commented on #1161
I can't seem to reproduce this, but I found an issue related to the language dropdown with text being white on white until you hover over them

[2018-10-14 19:41] julianguyen commented on #1161
@CSumm Oh, you probably have to decrease the screen width! Let me update the description with what width I saw this issue at.

Can you share a screenshot of the other bug you saw?

[2018-10-14 19:43] CSumm opened #1162 "Text in language selection dropdown shows up as white on a white background"
# Description
Text in language selection dropdown shows up as white on a white background.

# Reproduction Steps

Enter If-Me.org.
Scroll down to footer where language dropdown is located.
Open language dropdown by clicking on it.

# Screenshots
![accessibilityissue_language dropdown](https://user-images.githubusercontent.com/31711543/46921317-e576a680-cfc7-11e8-803e-d0b6f36aa3e3.jpg)

# Do you wa

[2018-10-14 20:01] CSumm commented on #1161
I opened a new issue with this bug: https://github.com/ifmeorg/ifme/issues/1162

[2018-10-14 21:07] muratbsts commented on #1160
@julianguyen @gabrielpedepera if you'd not like to work on this, I'd really like.

[2018-10-14 21:42] thefifthisa commented on #1161
Hi @julianguyen, I'd like to work on this!

[2018-10-15 00:17] leejeannes commented on #1161
Hey @thefifthisa - I'd love to take this if you're no longer. Let me know!

[2018-10-15 00:45] CSumm commented on #1162
This seems to occur only on a PC. Tried on Ubuntu and didn't receive this error.

[2018-10-15 02:42] #1161 closed

[2018-10-15 12:14] geekyrajshri commented on #1158
Hi, can I take this issue to solve

[2018-10-15 14:42] yasirazgar opened #1168 "Alert existing users about the new password criteria"
# Description
Continuation of #1153
Show modal dialogue on login for existing user to update there password, for every six months,
For this store a date/time for when the user has last changed password.
Need a new datetime field for this, by default this should be set to updated_at time when creating for the existing user and created_at/Time.now time while creating a new user.
If possible also add

[2018-10-15 15:14] dennis commented on #854
No feedback here, nor chat. Feel free to take over. ifmeorg is free to use the code made however they want.

[2018-10-16 00:42] marcellalcantara commented on #1160
Just to keep everyone updated, @gabrielpedepera  and I installed the [Bullet](https://github.com/flyerhzm/bullet) gem and executed in the application.

Our first strategy was to run the specs, so we already have a `bullet.log` with some warnings to improve.

We will send the PR with the first improvements soon.

[2018-10-16 01:35] huoxito commented on #1147
@baohouse it looks like the spread operator is already supported? I see it as a dependency:
https://github.com/ifmeorg/ifme/blob/4a9747479b249e7878641514670650014fa9b449/client/yarn.lock#L649

Chances are es2015 is already supported as well? This seems to compile just fine: (let me know if I'm missing something pls)

[code]

[2018-10-16 01:38] andrearosr commented on #1157
Hello! Can I take this issue?

[2018-10-16 02:06] #1053 closed

[2018-10-16 02:07] #843 closed

[2018-10-16 06:12] julianguyen commented on #991
@lsurasani Oh no sorry to hear. Did you try [remote debugging](https://developers.google.com/web/tools/chrome-devtools/remote-debugging/) via Chrome by any chance?

[2018-10-16 06:47] #1054 closed

[2018-10-16 06:52] yasirazgar commented on #1168
Will try to work and complete it by this weekend.

[2018-10-16 13:02] gr1d99 opened #1174 "Write tests for profile_controller"
# Description
It seems we don't have tests for **profile_controller**

# Do you want to be the assignee to work on this?

✅

[2018-10-16 14:41] lsurasani commented on #991
I did! But it wasn't giving me any errors -- for whatever reason the stylesheets/css just weren't loading

[2018-10-16 20:05] julianguyen opened #1178 "Refactor app/mailers/application_mailer.rb and add tests"
# Description

Refactor app/mailers/application_mailer.rb and add tests

# Do you want to be the assignee to work on this?

🚫

[2018-10-16 20:39] toshitapandey commented on #1178
I'll pick this one up.

[2018-10-16 20:59] julianguyen commented on #1178
Hey @toshitapandey, thanks for expressing your interest. We would love your help with this issue. Please follow these <a href="https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack
">next steps</a> to join our contributor community. Then you can assign yourself to this issue.

[2018-10-17 00:10] baohouse commented on #1147
@huoxito Ooh, thanks for checking. Can you also check spreading an array and make sure that works as well?

[2018-10-17 02:09] #971 closed

[2018-10-17 02:20] julianguyen opened #1180 "Adding missing tests for MedicationsHelper"
# Description

Add missing tests! Use as an opportunity to refactor code (including getting rid of Rubocop disable comments like `# rubocop:disable MethodLength`)

# Do you want to be the assignee to work on this?

🚫

[2018-10-17 02:21] julianguyen opened #1181 "Adding missing tests for StrategiesHelper"
# Description

Add missing tests! Use as an opportunity to refactor code (including getting rid of Rubocop disable comments like `# rubocop:disable MethodLength`)

# Do you want to be the assignee to work on this?

🚫

[2018-10-17 02:22] julianguyen opened #1182 "Adding missing tests for CategoriesHelper"
# Description

Add missing tests! Use as an opportunity to refactor code (including getting rid of Rubocop disable comments like `# rubocop:disable MethodLength`)

# Do you want to be the assignee to work on this?

🚫

[2018-10-17 02:23] julianguyen opened #1183 "Adding missing tests for MomentsHelper"
# Description

Add missing tests! Use as an opportunity to refactor code (including getting rid of Rubocop disable comments like `# rubocop:disable MethodLength`)

# Do you want to be the assignee to work on this?

🚫

[2018-10-17 02:23] julianguyen opened #1184 "Adding missing tests for MoodsHelper"
# Description

Add missing tests! Use as an opportunity to refactor code (including getting rid of Rubocop disable comments like `# rubocop:disable MethodLength`)

# Do you want to be the assignee to work on this?

🚫

[2018-10-17 02:36] #1180 closed

[2018-10-17 02:53] rhiroyuki commented on #1183
Can I do this one @julianguyen ? :)

[2018-10-17 03:06] huoxito commented on #1147
@baohouse yep that works as well, I believe everything in [this article](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) for example already works on current master 🚢

[2018-10-17 04:08] julianguyen commented on #1183
@rhiroyuki Go ahead and assign yourself to the issue :D

[2018-10-17 04:13] baohouse commented on #1147
Thanks for double-checking @huoxito, I appreciate it. I guess we can close this.

[2018-10-17 04:13] #1147 closed

[2018-10-17 06:01] julianguyen commented on #1183
I recommend moving out new_moment_props and edit_moment_props to a new helper i.e. MomentFormHelper

[2018-10-17 14:17] Veith3n commented on #1184
I can do this one 😊

[2018-10-17 14:17] Veith3n commented on #1182
I can do this one 😊

[2018-10-17 17:00] hugodahl commented on #776
I'd be happy to help with the French translations as well if there is any more need for it

[2018-10-17 17:06] gpetrioli commented on #1162
The real issue here is that `option` element does not support opacity. Now, the `select` element is styled with opacity (*it is white but with and alpha channel of 0.1 out of 1*) but the `option` discard the alpha channel and show as white.

We would need to define a specific color, but stylistically it cannot match the `select` because, as it is semi-transparent, it is defined by the background i

[2018-10-17 17:06] julianguyen commented on #776
@hugodahl We definitely need help, it's not being worked on at the moment.

Thanks for expressing your interest. We would love your help with this issue. Please follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to join our contributor community.

[2018-10-17 17:08] julianguyen commented on #1184
@Veith3n Thanks for expressing your interest! We'd love your help with this. Please follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to join our contributor community.

[2018-10-17 17:12] simtaxx commented on #776
hey, i want to help you for tgis, how can i help ?

[2018-10-17 17:28] julianguyen commented on #1162
@gpetrioli You're spot on 👌 @CSumm started a [PR](https://github.com/ifmeorg/ifme/pull/1167) for this. It would be great if you could help review it and provide suggestions.

[2018-10-17 18:11] julianguyen commented on #776
@hugodahl @simtaxx This is our [process](https://github.com/ifmeorg/ifme/wiki/Translations) on translations. Please follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to join our contributor community.

[2018-10-17 19:20] JEscalanteGT commented on #1181
I'd like to pick this one.

[2018-10-18 00:57] CSumm commented on #1162
I think his explanation of how to fix it seems like the answer. We could work together on this issue if you would like.

[2018-10-18 03:15] CSumm commented on #1162
I think working on the PR together would be best. The PR I wrote was rather sloppy and was close to irreversibly bad.

[2018-10-18 03:42] #1174 closed

[2018-10-18 10:54] toshitapandey commented on #1178
Hey @julianguyen
I am not able to assign this to myself. Not getting the option to type the name. Can you please take a look?

[2018-10-18 11:11] toshitapandey commented on #1178
@julianguyen Also, can you please advice what kind of refactoring are you looking forward to? I can see that the methods are really long but are you looking for breaking them down to chunks or is it something else?

[2018-10-18 15:32] gpetrioli commented on #1162
Ok, after some crossbrowser testing i see that most browsers do not show transparent options (*when the select box is open*) but they are just not affected because they also do not change the color of the `option` elements.

So just setting `color: initial` fixes the problem everywhere.

[2018-10-19 13:41] CCoupris commented on #776
Hi I translated the file "kaminari.fr.yml" but I'm a new member of GitHub so I don't know exactly how to upload the file in the project. Could you help me please ?

[2018-10-19 23:59] stefannibrasil commented on #795
hi, all! I want to get back to contribute to ifme. Do you think I can continue on this? Thank you :)

[2018-10-20 03:06] CSumm commented on #854
I would be interested to collab with someone on this. It would be over the next few weeks since my work schedule is pretty awkward these days.

[2018-10-21 03:54] gowrimanoharir commented on #1115
Hi, I would like to try this.

[2018-10-21 22:23] geppy commented on #1084
@arun1595 This is caused by [a bug in Pell](https://github.com/jaredreich/pell/issues/66 "A11y Issue: Keyboard/Tab Trap").  It's [canceling 'Tab' `keydown` events](https://github.com/jaredreich/pell/blob/master/src/pell.js#L129-L130), which it shouldn't be doing.

We could fork Pell and fix that bug, or use another editor.

[2018-10-22 09:38] RossellaFer commented on #973
Hi, if you need an extra set of hands on this, I am available!

[2018-10-22 13:09] Amsonia commented on #969
I can help out even though I know only a little bit of C++

[2018-10-22 13:55] geppy commented on #1084
I sent [a PR fixing this bug in pell](https://github.com/jaredreich/pell/pull/155).

[2018-10-22 15:08] digilou commented on #969
Hi @Amsonia I'll unassigned myself and you can go ahead.

[2018-10-23 18:33] ludamillion commented on #1178
@toshitapandey I'm quite new to this project but based on what I've seen most of the refactoring efforts highlighted in the issues are aimed at addressing the long methods currently wrapped in `rubocop:disable MethodLength` directives. That's definitely where I'd start.

[2018-10-23 19:12] ludamillion commented on #1004
I can take a pass as this. I'm not super security savvy per se, are there any particular gotchas I should look out for? For example would the default settings from the Twitter tool be appropriate?

[2018-10-24 11:11] sexybiggetje commented on #1004
It would be your best start. I think it will mostly work, try it and browse around your dev instance.
At first glance it shouldn't cause any *major* issues.

[2018-10-24 19:43] sexybiggetje commented on #1004
Thanks for this. I'll have to postpone looking at this but maybe @mialahmoka can verify and test?

[2018-10-25 17:56] #1162 closed

[2018-10-26 18:13] #1134 closed

[2018-10-26 19:52] bourguy commented on #1151
Hi! Can I do this one?

[2018-10-26 20:46] #1011 closed

[2018-10-26 20:46] julianguyen commented on #795
@stefannibrasil Feel free to! That would be great, I would just watch out for any security issues.

[2018-10-26 21:01] #1157 closed

[2018-10-26 23:42] digilou commented on #1151
I got pulled into another project, and have fallen behind. Go ahead @bourguy!

[2018-10-27 18:58] julianguyen commented on #1178
Sorry for the late reply, @toshitapandey. Can you follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) for joining our contributor community?

As for refactoring tips,  like @ludamillion said, reducing the size of the methods is a good place to start. From there, you can find ways to simplify logic or remove unused logic.

Here's some good [general resources](https://gith

[2018-10-27 19:01] julianguyen commented on #973
Hey @RossellaFer and @taramatt93, we'd love your help on this! Please follow [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) for joining our contributor community.

[2018-10-27 19:03] julianguyen commented on #1084
Woo awesome catch/fix @geppy!

[2018-10-27 19:22] toryalsip opened #1215 "Requesting Japanese Translation"
# Description
My wife is from Japan and would really love to have this.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2018-10-27 19:37] julianguyen commented on #1215
That would be so awesome to have Japanese translations! Thank you @matcha440!

[2018-10-28 03:35] #563 closed

[2018-10-29 02:05] #1051 closed

[2018-10-29 03:15] arun1595 commented on #1084
Nice catch @geppy :tada:

[2018-10-30 16:04] stefannibrasil commented on #795
great, I'll get back to this, then, thank you, @julianguyen :)

[2018-11-02 22:40] #776 closed

[2018-11-04 01:17] nshki commented on #1215
Oh, this is super exciting. If you could keep me looped into subsequent PRs, I would love that! I speak fluent Japanese as well and would love to be an extra pair of eyes where needed.

[2018-11-04 12:45] matcha440 commented on #1215
@nshki that sounds like a great idea to me.  Although I've made a fair amount of progress, I'm sure there are a lot of mistakes too and it is quite a daunting effort.  I'll try and see what I can do to make reviewing what I've got more digestible, maybe take it a section at a time.  Expect to see some PRs start probably later today.

[2018-11-05 19:01] emilyyz92 commented on #1184
Hi! I'm interested in helping with this. Has this issue already been assigned to someone or may I jump in?

[2018-11-06 01:59] #14 closed

[2018-11-06 01:59] #861 closed

[2018-11-06 01:59] #862 closed

[2018-11-06 01:59] #863 closed

[2018-11-06 01:59] #870 closed

[2018-11-06 01:59] #871 closed

[2018-11-06 01:59] #873 closed

[2018-11-06 01:59] #901 closed

[2018-11-06 01:59] #948 closed

[2018-11-06 01:59] #954 closed

[2018-11-06 01:59] #955 closed

[2018-11-06 02:00] #947 closed

[2018-11-06 02:05] julianguyen commented on #1184
Hey, @emilyyz92 looks like no one is working on this! Please follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to join our contributor community and then you can assign yourself to the issue :)

[2018-11-06 03:06] emilyyz92 commented on #1184
Awesome :)

[2018-11-07 02:08] conkytom commented on #1085
Hey @Mera-Gangapersaud, I don't mean to step on any toes, but I gave this a shot.  Found an error message already in the i18n files.  I could only get it added to the top of the field next to the exclamation, I couldn't figure out how to add it underneath. https://github.com/ifmeorg/ifme/pull/1250

[2018-11-07 22:31] tsara27 commented on #127
@julianguyen Can I work on this issue?
I have free time now. 😺

[2018-11-07 23:23] matcha440 opened #1251 "Navigation and Account share the same About text"
# Description
While working on Japanese translations, I found that the text that is used for the navigation menu and the Account edit page both reference the text `navigation.about`.  For most languages this is probably not a big deal, but for others this produces some nonsensical results. (see screenshots below)

My suggestion is to make this a little more granular by giving Account its own About

[2018-11-09 04:11] ludamillion commented on #1004
This was addressed by https://github.com/ifmeorg/ifme/pull/1208

[2018-11-09 04:11] #1004 closed

[2018-11-10 17:06] cpretzer opened #1258 "Use Alpine Linux for Smaller Docker Image"
# Description
@geppy did great work to improve the Docker experience and to continue that work, I'm changing the Dockerfile to use [Alpine Linux](https://alpinelinux.org/) for a smaller image.

Also, there are some additional steps to initialize the environment to run in Docker which I'll commit to the documentation.

✅

[2018-11-10 23:31] #1251 closed

[2018-11-11 02:19] #1182 closed

[2018-11-12 05:56] ludamillion commented on #848
Not sure just how important this still is but I took a swing at it. The PR is here => https://github.com/ifmeorg/ifme/pull/1261

[2018-11-12 06:07] ludamillion opened #1262 "Update translations using 'About Us' on user account edit page"
# Description

During review of the fix to issue https://github.com/ifmeorg/ifme/issues/1251 it was noticed that the text which worked for a navigation item, various translations of 'About Us', did not work for the about field of the account edit page. The fix to that issue creates a new i18n entry for the account page label. However, the fix does not address the translation of the new entry to ma

[2018-11-13 02:12] matcha440 opened #1264 "Medications units for total and dosage can break in translated locales"
# Description
If running in any local that has translated unit names for tablets, upon saving a medication the application fails to reload the Medications page.  In the logs it appears that the application is attempting to reference the translated value instead of the key name.

# Reproduction Steps
(This will use German as an example, but the steps can apply to any language that has the tablets u

[2018-11-13 19:29] emilyyz92 commented on #1184
Hi @julianguyen! I started looking at this issue but saw that Veith3n already made a PR on this; although his / her change didn't seem to be merged. Not sure if there's additional issues on top of what they did? https://github.com/ifmeorg/ifme/pull/1194

[2018-11-13 23:41] #1258 closed

[2018-11-14 02:18] julianguyen commented on #1184
@emilyyz92 Hmm yeah, @Veith3n hasn't updated the PR in a while. How far along are you with what you started working on? If you got pretty far, I'm fine with closing that PR. Sorry about that, yeah that person should have assigned themselves to the issue to avoid confusion.

[2018-11-14 02:19] julianguyen commented on #1264
Thanks for reporting this! I'll take a look!

[2018-11-14 02:21] julianguyen commented on #991
@CSumm The screen resolution is 1080x2160 and it's on the latest version of Android.

[2018-11-14 03:29] CSumm commented on #991
I'll see if I can recreate it on my own first with chrome and if not I'll definitely ask for the Browserstack info.

[2018-11-14 04:07] Mera-Gangapersaud commented on #1085
I looked at where the error message is added in the InputLabel component and its contained in a separate div from the text box. I'm not too sure, but I think the text box is the InputTextarea component. How would I go about adding a label below that without having to change the dynamic form?

[2018-11-14 13:42] emilyyz92 commented on #1184
I see - sounds good, I can close the PR and open a new one once I finish up, thanks

[2018-11-15 04:46] #1264 closed

[2018-11-20 09:45] tsara27 commented on #127
@julianguyen I hope you had great days. ❤️

Here's the template I've made for the email.
![screen shot 2018-11-20 at 16 44 24](https://user-images.githubusercontent.com/3486644/48764926-99640380-ece3-11e8-93ba-3b834a2265fc.png)

What do you think?

[2018-11-20 18:31] julianguyen commented on #127
I also realized we can add an unsubscribe link in the footer! It should link to `edit_user_registration_path` and feel free to use use Google Translate the `Unsubscribe from emails` copy.

[2018-11-21 01:33] tsara27 commented on #127
@julianguyen Thank you Julia. I was having bad times a month ago. I was trying to believe that anything bad that I got was for a good reason and I was getting much much better from there. ❤️

Sure. Nice suggestions @nshki. I will do that. Thanks! 🎁

[2018-11-21 22:08] #1184 closed

[2018-11-22 04:53] alexmanzo commented on #1151
Hi @digilou @bourguy. Are either of you still working on this? If not, I'm happy to take it! :)

[2018-11-22 22:31] julianguyen commented on #1024
@geppy Just checking in, how is this going? :)

[2018-11-22 23:53] #841 closed

[2018-11-22 23:56] #981 closed

[2018-11-22 23:57] julianguyen commented on #1055
Gonna close this for now, we should focus on mirroring our dev environment to production.

[2018-11-22 23:57] #1055 closed

[2018-11-22 23:58] julianguyen commented on #1006
@mialahmoka Any updates there?

[2018-11-23 14:13] bourguy commented on #1151
I wasn't able to do it so please go ahead!

[2018-11-23 16:41] geppy commented on #1024
I worked out where our JavaScript bytes are coming from, then planned out some straightforward changes that'd make a huge difference.

My day job's been too pointlessly dramatic for me to want to work on projects when I get home, but it should start calming down temporarily.  And I took off the rest of this week.

I'll try to work on this in PR-sized chunks, in this order:
- [ ] rewrite `Header` c

[2018-11-25 00:29] #991 closed

[2018-11-25 02:18] CSumm opened #1285 "Create autosuggestions for categories when typing input on mobile in New Moment"
# Description
Create autosuggestions for categories when typing input on mobile in New Moment.

# Reproduction Steps

A mobile phone is required to reproduce this issue.

1) Sign into if-me using a new or existing profile.
2) Navigate to Moments page.
3) Click on New Moment.
4) Scroll down to Categories input.
5) Observe what occurs when typing input into the Categories input.

Actual Result:
No a

[2018-11-27 04:05] alexmanzo commented on #1149
I'm happy to give this a shot and get some work done on it.

[2018-11-29 17:44] subwindow commented on #1160
If no one is still working on this I'd like to take it.

[2018-12-02 01:32] #969 closed

[2018-12-02 06:38] #975 closed

[2018-12-02 08:53] julianguyen commented on #1160
@subwindow Not sure if @marcelkalveram and @gabrielpedepera are still working on it. But feel free to take a stab at it! :)

[2018-12-02 21:33] #1118 closed

[2018-12-02 21:39] #968 closed

[2018-12-03 17:57] LMulvey commented on #1285
I'm interested in looking at this but a few questions:
1) Do the suggestions exist at all right now? I couldn't get them to work in mobile (obviously) or on desktop.
2) Where are the suggestions supposed to be pulled from? The user's previously used categories? A pool of common categories?
3) If this is "new", is there any styling done for a feature like this that I could model after?

[2018-12-03 18:10] LMulvey commented on #1084
I've reached out to the developer of Pell to see if he'd allow other contributors to the project (I offered a bit of my time) so at the very least the outstanding PRs can be reviewed/merged. He seems to be based quite close to me so I'll meet up with him if need be, especially in light of the `event-stream` shenanigans last week.

[2018-12-03 18:51] hnarasaki commented on #973
I would like to try this one.

[2018-12-03 18:52] madhubs commented on #973
Yes do it!

--
Madeline Stevens
Full Stack JavaScript Developer
www.madelinerstevens.com
madelinerstevens@me.com
206-498-4786

[2018-12-03 19:48] hnarasaki commented on #854
@aSquare14 Is this issue still open? It looks like @dennis may have already resolved it.

[2018-12-03 19:57] hnarasaki commented on #805
@julianguyen Would a plugin like this be acceptable? https://translate.google.com/manager/website/add
https://support.google.com/translate/answer/2534601?hl=en If not, what files would we need to translate? Is using something like Google Translate acceptable?

[2018-12-03 21:44] camillevilla commented on #805
Hi @hnarasaki! Unfortunately, Google translate would not be appropriate for all translations in this project. A full set of translations includes language around nuanced topics, like depression and self-care. Here's the current status on Filipino translations:

- [ ] fl.yml
- [x] devise.fl.yml
- [ ]  devise_invitable.fl.yml
- [ ] kaminari.fl.yml

There's more about our translation process here:
ht

[2018-12-04 05:32] cpretzer commented on #1178
Just writing to let you know that I'm still working on this.

[2018-12-04 09:00] dandida95 commented on #995
i would like to contribute

[2018-12-04 22:41] Jacek-202 commented on #1016
@julianguyen Hi can i help with it?

[2018-12-05 01:00] julianguyen commented on #1285
@LMulvey To answer your questions:
1. So the autocomplete only shows up if you have existing values.
2. We want to add the premade values even if they aren't created yet.
3. We don't need new styles, we can leverage what already exists.

Good questions :)

[2018-12-05 03:02] LMulvey commented on #1285
Thank you! I'll try and take on this issue 😄

[2018-12-05 06:22] #1181 closed

[2018-12-05 23:46] jaredreich commented on #1084
Check out v1.0.5 of pell, just published. Sorry for the delay everyone.

[2018-12-05 23:58] jaredreich commented on #1084
Hey everyone, please see [pell v1.0.6](https://github.com/jaredreich/pell/releases/tag/v1.0.6). Sorry for the delay. Nice work with this project.

[2018-12-06 03:12] gowrimanoharir commented on #1115
@Julia Nguyen sorry yes got busy with work and missed to follow through on this. will work on this and create a pr by this weekend. I apologize again for the delay.

[2018-12-06 06:07] julianguyen commented on #1084
Feel free to file a PR updating the Pell version @geppy! :D

Thank you for fixing it, it's gonna benefit so many people 🎉 Thanks @LMulvey for inquiring :D

[2018-12-07 23:28] matcha440 opened #1302 "Make locale tests dynamically generated"
# Description
Currently tests are statically created based off a known list of files that contain translations.  Instead, the tests could look at `config.i18n.available_locales` and use that to generate what test cases it needs to look at for each of the various files that are present.

[2018-12-07 23:38] matcha440 commented on #1302
Trying this out on my local, it _seems_ to work if I just take a quick glance on the page where I made the change.  But when I run the rspec tests things explode, so I would probably not recommend proceeding with this until the reason for those test failures is determined.

[2018-12-08 02:59] matcha440 commented on #1302
Actually I tried again just a moment ago and now the tests seem fine, so I'm not sure what I did differently.

[2018-12-11 02:52] #1084 closed

[2018-12-11 17:15] masenmatthews commented on #973
Hey, is anyone working on this? I would love to take it on if possible.

[2018-12-11 21:58] hnarasaki commented on #973
@masenmatthews Please feel free to take this one! :)

[2018-12-11 22:47] masenmatthews commented on #973
Perfect, I will aim to have it done within the next 1-2 weeks 👍

[2018-12-13 12:32] marcellalcantara commented on #1160
Hello.
Sorry for the delay in answering. We have already installed the tool but have not yet had time to work on it. As soon as we start working, we’ll let you know. Hugs

[2018-12-17 04:39] MaanasArora commented on #1115
@julianguyen Can I work on this one?

[2018-12-17 04:53] julianguyen commented on #1115
@MaanasArora Yeah go right ahead! Thank you!

[2018-12-17 11:23] matcha440 opened #1315 "Long prose in yaml files is hard to work with"
# Description
The yaml file has in some places entire paragraphs of text, which in order to be able to read while making modifications you have to scroll horizontally.  As another consequence, it can be hard to measure progress on a translation since not all lines are equal.  Yaml files do support multi-line text, so I think it is possible to break these up so they are easier to read.

For example

[2018-12-17 11:27] matcha440 opened #1316 "Split the locale files into smaller files"
# Description
Instead of having a handful of fairly large files, organize them so each page or section can be placed into a subfolder.  The i18n config could then be updated so it can load from the subfolders recursively.  See example [here](https://guides.rubyonrails.org/i18n.html#organization-of-locale-files).

I do wonder if this could relate to #726.

[2018-12-17 11:30] matcha440 commented on #1302
I've split off some of the ideas I came up with into their own issues and reduced down the scope of this issue so that it is just about the work I did with the tests.

I've also updated the [translations](https://github.com/ifmeorg/ifme/wiki/Translations) section of the Wiki to reflect changes that were made in #1305.

FYI @julianguyen

[2018-12-17 11:30] #1302 closed

[2018-12-24 01:37] #1262 closed

[2018-12-25 05:18] harshlele commented on #1315
Hey, I'm new to open source, and this issue looks like it's pretty easy to solve. Can i work on this?

[2018-12-25 15:04] matcha440 commented on #1315
Yeah it seems pretty easy, but this has somewhat been a take it or leave it type thing for me.  Since word wrapping gets around this for the most part, maybe this isn't too important to have.  I'm still waiting for what others may have to say on the matter, though.

[2018-12-28 02:03] matcha440 commented on #1316
The more I think on this one, the more I think it just duplicates an older issue so I'm closing this one.

[2018-12-28 02:03] #1316 closed

[2018-12-31 21:17] cpretzer commented on #1178
Now with more coverage!
<img width="1888" alt="screen shot 2018-12-31 at 13 12 46" src="https://user-images.githubusercontent.com/3037127/50567829-55aae380-0cfe-11e9-8fc0-fca4f1e7eb1f.png">
<img width="1904" alt="screen shot 2018-12-31 at 13 13 00" src="https://user-images.githubusercontent.com/3037127/50567830-55aae380-0cfe-11e9-8ad6-618622916216.png">

[2019-01-01 05:26] dependabot[bot] opened #1330 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 14:19] #1330 closed

[2019-01-02 01:50] julianguyen commented on #1178
Woooo this is so great @cpretzer! Thank you!!!

[2019-01-06 02:59] camillevilla commented on #719
Sorry! Not sure why that dependabot PR closed this. 😅

[2019-01-10 04:01] LMulvey commented on #1285
Going to have to drop myself from this. I've had a few things come up that have taken away my free time. Sorry everyone!

[2019-01-22 09:30] julianguyen commented on #1115
Hey, @MaanasArora are you still working on this?

[2019-01-22 09:31] #854 closed

[2019-01-23 04:21] isabelleyiu opened #1345 "Requesting Chinese Translation"
# Description

Translate app to Chinese

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2019-01-26 08:31] gr1d99 commented on #1183
hi @julianguyen, can I pick this issue?

[2019-01-28 04:53] madhubs commented on #973
Do it! Let me know what you find. It looked like a lot of labels had maybe been added already.

--
Madeline Stevens
Trilogy Education TA
Full Stack JavaScript Developer
www.madelinerstevens.com
madelinerstevens@me.com
206-498-4786

[2019-01-28 16:45] harshlele commented on #1115
is this issue still open?

[2019-01-28 21:21] justinwalker4179 commented on #101
Is this issue open to be worked on still, or did it get grouped in with another google-client issue?

[2019-01-29 08:00] julianguyen commented on #101
Hey @justinwalker4179, this issue is still open! :)

[2019-02-03 00:49] #1178 closed

[2019-02-06 18:22] 3minus1 commented on #1016
@julianguyen Hey. I'm so sorry but I got really tied up with work, and I couldn't get time to complete this.
Hoping @Jacek-202 can pick it up. Let me know if you need any help. :)

[2019-02-10 01:29] #1085 closed

[2019-02-14 13:38] bmwachajr commented on #1183
Hi @julianguyen, I have reached out to @gr1d99 and I will be taking on this issue.

[2019-02-19 21:42] julianguyen opened #1372 "Include filters in the url of the Resources page"
# Description

It would be helpful to include the tags that are being filtered on our [Resources](https://www.if-me.org/resources) page. It makes it easier to share a link with someone who is looking for particular mental health resources.

Let's set this up using Rails so that we don't have to introduce react-router.

Example:

`https://www.if-me.org/resources?filter=directory&filter=therapy` wou

[2019-02-20 12:27] hmasila commented on #1158
Let me give this a shot if no one is working on it 🤗

[2019-02-20 13:23] rhiroyuki commented on #1372
Hi Julian!
This issue includes the `react` and `ruby on rails` labels, so I guess it's for the whole feature. Would it be OK if I tackle only the `ruby on rails` part? I'm not comfortable in developing in `react` yet :P

[2019-02-20 14:01] Gibbo3771 opened #1373 "Inconsistent padding on forms with format controls"
# Description

When creating a new moment/category/mood/strategy, any form field that hosts the format controls has some inconsistent padding going on. I suggest that the padding be adjusted to prevent odd resizing to occur after the first character is typed.

# Reproduction Steps

I would say it's a bug. Go to Moods, then new and in any form with format controls, click and you can see that the ca

[2019-02-20 14:15] KatieOfCode commented on #1149
Hello! Would I be able to work on this?

[2019-02-20 16:48] julianguyen commented on #1372
@rhiroyuki I think you'll need to inevitably modify the React component for Resources though. But you can try and keep us posted on where you end up?

[2019-02-20 16:50] julianguyen commented on #1149
@KatieOfCode Yes! That would be great :D

[2019-02-20 18:01] rhiroyuki commented on #1372
Sure thing! I can give it a try :)

[2019-02-22 13:27] #1183 closed

[2019-02-22 13:59] bmwachajr commented on #840
I will take a go at this issue @julianguyen @nshki

[2019-02-22 19:30] julianguyen commented on #840
Woo go right ahead, thanks @bmwachajr 🎉

[2019-02-25 14:00] Gibbo3771 commented on #1373
Just an update on this, I have tested the current code across different browsers and this seems to be a problem in Firefox. Chrome is working fine, so not sure how to tackle it.

[2019-02-25 16:08] Gibbo3771 commented on #1115
I know it's only been 10 days, but is this been worked on at the moment? Had a look at your repo @ivillicana and seen a commit for it.

[2019-02-26 09:09] Gibbo3771 commented on #1159
@gitburd still working on this?

[2019-02-26 14:38] bmwachajr commented on #840
Hi @nshki,

I think it would be a good idea to refresh this list.

✅ The following controllers as they have already been refactored:
*  controllers/groups_controller.rb
*  controllers/categories_controller.rb
* Moods controller #866
* Meetings controller #1080
*  mailers/application_mailer.rb #1325

The one other controller that needs refactoring(I am working on this one) is :
* controllers/strate

[2019-02-26 18:22] julianguyen commented on #840
Updated! Thanks for calling this out @bmwachajr :D

[2019-02-27 09:33] toshitapandey commented on #830
@julianguyen Is someone working on this or can it be picked up?

[2019-02-27 19:29] julianguyen commented on #830
@toshitapandey OMG yes we would loveeeee your help!

[2019-02-28 13:26] Gibbo3771 commented on #1115
Not heard from self assigned person in 3 days and approaching 2 weeks, [I went ahead and done a PR](https://github.com/ifmeorg/ifme/pull/1383)

[2019-03-01 18:12] #1115 closed

[2019-03-01 18:21] #1372 closed

[2019-03-03 23:08] ajquintero commented on #1373
Currently trying to figure out the problem for Firefox.

[2019-03-03 23:24] Gibbo3771 commented on #1373
Are you able to reproduce? I am running the following OS and Firefox version. I can't confirm the bug on Windows, as I don't have a windows machine at the moment.

- 4.19.24-1-MANJARO
- Mozilla Firefox 65.0.1
- i3 version 4.16.1

[2019-03-03 23:55] #1149 closed

[2019-03-04 00:02] #840 closed

[2019-03-04 02:01] julianguyen opened #1390 "Deploy storybook site to production"
# Description

Currently, our storybook site is only accessible through the local development environment i.e. running `yarn storybook` in the client directory.

We want to deploy it to production as well and have it viewable at `https://www.if-me.org/design`.

We can do that by [exporting Storybook as a static app](https://storybook.js.org/basics/exporting-storybook/) and pointing the output to t

[2019-03-04 05:42] #995 closed

[2019-03-04 21:02] ajquintero commented on #1373
@Gibbo3771 I'm running on a Mac (OS 10.14.3) and Firefox 65.0.1. The issue is reproducing.

[2019-03-06 04:12] fumba commented on #259
@julianguyen  I am getting myself familiar with this app and wasn't sure where this feature would be implemented in the most current version of the app. I logged in with test user - `test2@example.com` and this is the only thing I could see.

<img width="1669" alt="screen shot 2019-03-05 at 9 10 56 pm" src="https://user-images.githubusercontent.com/7467648/53855547-53c60080-3f8b-11e9-92d8-0fea1c99

[2019-03-06 06:37] yasirazgar commented on #113
I can work on this, will look into it coming weekend.

[2019-03-08 08:05] amarpathak commented on #1285
Is it done ? I can take up this

[2019-03-09 03:34] #1016 closed

[2019-03-10 10:43] Gibbo3771 commented on #1159
Gonna have to drop my progress on this, not had any self care time all week!

[2019-03-10 15:56] gitburd commented on #1159
This is my first contribution and I can't really figure it out. I need to
find someone to pair with me. I'm gonna post on slack.

On Tue, Feb 26, 2019, 1:09 AM Gibbo3771 <notifications@github.com> wrote:

[2019-03-10 16:59] julianguyen commented on #1159
Hey @gitburd I'm happy to pair with you, let's chat more on Slack!

[2019-03-16 13:23] paschalidi commented on #1390
@julianguyen @KatieOfCode please let me know if I could help with anything here.

[2019-03-16 14:08] cartothemax commented on #1160
Looks like this issue might be good to be closed? 😄 Nice work @gabrielpedepera and @marcellalcantara

[2019-03-16 17:24] julianguyen commented on #1390
@paschalidi maybe you could help review this PR: https://github.com/ifmeorg/ifme/pull/1391 and potentially pair with @KatieOfCode? :D

[2019-03-16 17:25] julianguyen opened #1407 "Add missing tests for GroupsHelper"
# Description

Looks like we're missing tests here! This can also be an opportunity to refactor the code itself! 🎉

# Do you want to be the assignee to work on this?

🚫

[2019-03-16 17:26] julianguyen opened #1408 "Adding missing tests for GroupsFormHelper"
# Description

Looks like we're missing tests here! This can also be an opportunity to refactor the code itself! 🎉

# Do you want to be the assignee to work on this?

🚫

[2019-03-16 17:27] julianguyen opened #1409 "Add missing tests for StrategiesFormHelper"
# Description

Looks like we're missing tests here! This can also be an opportunity to refactor the code itself! 🎉

# Do you want to be the assignee to work on this?

🚫

[2019-03-16 17:33] julianguyen commented on #1160
It would appear so @cartothemax! I guess the only thing left to do is actually use the tool to improve query performance. Thoughts @gabrielpedepera and @marcellalcantara? :)

[2019-03-16 17:43] julianguyen commented on #796
@carlqt Sorry for the late reply to this! I think we want to restrict access to all pages and create a new page that allows the user to re-enable their account!

[2019-03-16 17:51] julianguyen opened #1410 "Add missing tests to PusherController"
# Description

Looks like we're missing tests here! This can also be an opportunity to refactor the code itself! 🎉

# Do you want to be the assignee to work on this?

🚫

[2019-03-16 22:28] DamonClark commented on #1410
I wouldn't mind working on this!

[2019-03-17 02:39] paschalidi commented on #1390
@julianguyen I will have a look tomorrow on the PR. Thanks for letting me know.
Can you maybe give me an idea of what the goal of https://github.com/ifmeorg/ifme/pull/1391 is? Sorry but the description is not very clear to me?

[2019-03-17 06:00] julianguyen commented on #1390
@paschalidi Yeah the goal of this issue is to deploy a static version of the Storybook site (where we house our React components and CSS best practices) on production (at `https://www.if-me.org/design`).

[2019-03-28 11:45] js-sapphire commented on #1409
I would like to take this task. What are the next steps?

[2019-03-28 15:36] js-sapphire commented on #1408
I would like to take this up.

[2019-03-28 15:36] js-sapphire commented on #1407
I would like to take this up.

[2019-03-30 20:16] #1409 closed

[2019-04-01 13:34] bmwachajr commented on #798
Starting to work on this 🏋🏿‍♀️ Cc @julianguyen @aSquare14

[2019-04-11 04:13] #1390 closed

[2019-04-11 16:14] #113 closed

[2019-04-17 23:14] hnarasaki commented on #973
If this issue is still open, I'd like to try it at the Write/Speak/Code event tonight! :)

[2019-04-17 23:27] madhubs commented on #973
Yes! It’s all yours!!!

-Maddy

Sent from my iPhone

[2019-04-18 03:21] julianguyen opened #1447 "ActionView::Template::ErrorCategoriesController#edit"
# Description

[code]

Full log: https://sentry.io/share/issue/f03069e23b55438d9ab7e2bc3775a081/

# Reproduction Steps

1) Sign into new account
2) Add all premade categories
3) Edit an existing category
4) Error page

# Do you want to be the assignee to work on this?
YES

[2019-04-18 03:53] kellymason commented on #1407
Hello! I'd like to work on this.

[2019-04-18 06:36] #1447 closed

[2019-04-19 04:22] julianguyen opened #1452 "Only deploy Storybook to production if there are changes to relevant files"
# Description

Thanks to @paschalidi our Storybook site is deployed to design.if-me.org when ever a production deploy happens.

We need to update config.yml further so that it only deploys when there are changes to Storybook related files.

# Do you want to be the assignee to work on this?

🚫

[2019-04-22 17:20] vildevev commented on #1373
Is anyone working on this? If not I'm interested.

[2019-04-25 00:22] ajquintero commented on #1373
@vildevev I'm looking into it again, but feel free to work on it as well!

[2019-04-26 05:16] julianguyen opened #1462 "Improve accessibility for pre-made cards"
# Description

When you sign up for the site for the first time and navigate to the Categories page, you see the following pre-made categories which you can choose to add by hitting the "Add All" button.

<img width="765" alt="image" src="https://user-images.githubusercontent.com/3010728/56784834-67316300-67a7-11e9-8088-352870ab5c22.png">

If you hover over the text, you'll notice that they link t

[2019-04-26 05:19] toshitapandey opened #1463 "Delete and Edit tooltips can be misconstrued as a button"
## Description

When I go to `/categories` route after I have added some of the categories, I can edit or delete the categories that I have. As of now, the tooltip can be misconstrued as a button. It should look like info rather than a button.

## Reproduction Steps

- Sign up (_if you haven't already_)
- Go to categories (_by clicking Categories on the left-hand side panel_)
- Click on "Add all"

[2019-04-29 04:27] gr1d99 commented on #1462
I'm intrested @julianguyen, can I own it

[2019-04-29 16:30] 256hz commented on #1463
I'd like to give this one a shot please!

[2019-04-30 03:59] julianguyen commented on #1462
That would be awesome @gr1d99! Thanks! Could you assign yourself to the issue?

[2019-04-30 04:00] julianguyen commented on #1463
We would love your help @256hz! Please assign yourself to the issue - thanks ^^

[2019-04-30 16:11] 256hz commented on #1463
I'm still working on getting the site running locally, I'll claim it as soon as I do, don't want to sit on it in case it takes me a while.  Thanks!

[2019-05-02 14:49] scw248 commented on #1408
Hi @julianguyen and @js-sapphire , is this still being worked on, or could I give it a try?

[2019-05-02 14:52] js-sapphire commented on #1408
Sure. Go ahead. @scw248

[2019-05-02 14:53] scw248 commented on #1408
Thanks!

[2019-05-03 02:09] #830 closed

[2019-05-03 21:39] 256hz commented on #1463
I solved this in the tooltip CSS and made a pull request.   Hope this helps!

[2019-05-05 06:48] julianguyen opened #1473 "Add rubocop-performance"
# Description

Performance Cops has been removed from RuboCop 0.68. So we need to add the `rubocop-performance` gem!

In our `.rubocop.yml`, we need to add:

[code]

More information: https://github.com/rubocop-hq/rubocop-performance

# Do you want to be the assignee to work on this?

🚫

[2019-05-05 13:12] andy5995 commented on #622
This was closed without discussion? Was it deemed to be not a good idea?

[2019-05-05 13:15] andy5995 commented on #628
I see this was also closed without discussion. I take that to mean that the medium feed is considered perfectly adequate and a native RSS feed isn't needed for any purpose. Is that correct?

[2019-05-05 20:46] #1452 closed

[2019-05-08 10:01] fayepal opened #1479 "%{icon} appearing on Deutsch version"
# Description

%{icon} appearing on Deutsch (German) translation

# Reproduction Steps

1. Choose Deutsch in the languages dropdown
2. Click on the Momente, Kategorien, Stimmungen, Arzneimittel, Gruppen tabs

# Screenshots

<img width="1099" alt="image" src="https://user-images.githubusercontent.com/5814811/57366878-2ca4ce80-7188-11e9-8a8d-c4056e998c60.png">

# Do you want to be the assignee to wo

[2019-05-08 12:36] bmwachajr opened #1480 "Back-end: uploading Images in Moments and Strategies"
# Description

We want to have a backend API endpoint that uploads images to Cloudinary.

reference feature: #798
# Reproduction Steps

# Screenshots

# Do you want to be the assignee to work on this?

✅

[2019-05-08 12:44] bmwachajr opened #1481 "Front-end: uploading Images in Moments and Strategies"
# Description

We would like to:
- [ ] Add a WYSIWG [editor](https://github.com/jaredreich/pell) to the create moments model.
- [ ] Add support for image uploading.
- [ ] Customize the editor such that when an image is uploaded it hits the backend API endpoint that uploads it to Cloudinary and updates the DB entry.

Reference feature: #798

---

Please assign yourself (via the Assignees dropdown),

[2019-05-08 18:39] bmwachajr commented on #1480
Current flow as at [#7c44105
](https://github.com/ifmeorg/ifme/pull/1444/commits/7c44105eae9c233b3f906cb9ab84265b9c66a9f9)
moments picture endpoint >> moments controller picture action with params moment id and image >> Cloudinary service action `upload` picture and return cloudinary response json, returns the image public_id to the >> picture action, update moments.picture entry.

[2019-05-08 20:00] adamjpena commented on #1479
@fayepal seems the intention here is to do something like this:
`<%= raw t('moments.index.instructions', icon: t('moments.new')) %>`

However, this line of copy doesn't exist in any of the other languages, probably makes sense to remove it. Happy to fix this one either way.

[2019-05-09 00:20] julianguyen commented on #1479
@adamjpena Looks like you're right! It would be great to fix this. Thanks Adam :D

[2019-05-10 18:21] meanmachin3 commented on #1473
Closing down this issue, as [PR #1476](https://github.com/ifmeorg/ifme/pull/1476) solves it

[2019-05-10 18:21] #1473 closed

[2019-05-10 23:40] #1479 closed

[2019-05-22 01:34] Ceheiss commented on #973
Hi, is any help still needed? This would be my first time contributing to open source.
Best regards,

[2019-05-23 14:39] #1462 closed

[2019-05-27 10:13] DivyaGupta261 commented on #973
@hnarasaki @Ceheiss Can I take this up?

[2019-05-27 20:09] julianguyen commented on #973
@hnarasaki are you still working on this? If not, it looks like @Ceheiss can pick it up!

[2019-05-29 07:32] dansoud commented on #973
Could I work on this?

[2019-05-29 18:42] Iphytech opened #1506 "Documentation for docker installation needs update"
# Description
`docker-compose exec app rake db:create db:migrate` doesn't work because the container is not running correctly. [Link](https://github.com/ifmeorg/ifme/wiki/Installation)

# Reproduction Steps
`docker-compose run app rake db:create db:migrate` this is an alternative for the container to start running correctly.

---

Please assign yourself (via the Assignees dropdown), if you do want

[2019-05-29 18:48] hovancik commented on #1506
Docs tell us to run `docker-compose up` and then `docker-compose exec ...` to create a DB and migrate. This wont work as `docker-compose up` will have error in app container as we have no database yet.

I think the docs should tell to set up in a slightly different way:

`docker-compose build` to setup container
`docker-compose run ...` (which will start new container, as opposite to `docker-compo

[2019-05-29 22:20] hnarasaki commented on #973
@Ceheiss @julianguyen Apologies for not responding earlier - @Ceheiss , please feel free to! Good luck and have fun! :D

[2019-05-31 02:26] Ceheiss commented on #973
great @hnarasaki thanks!

[2019-06-03 05:14] lsfernandes92 commented on #1506
What @hovancik  said is correct. But also I found confusing the part that says:

run `docker-compose up` or open a shell using `docker-compose -f docker-compose.yml -f docker-compose.test.yml run --rm app
bash`"

[2019-06-03 05:32] lsfernandes92 commented on #1506
What @hovancik said is correct. But also I found confusing the part that says:

run
`docker-compose up`
or open a shell using
`docker-compose -f docker-compose.yml -f docker-compose.test.yml run --rm app bash`

It's seems that these two commands are equal, but the first is to start the container and the second one is just to enter in the mentions container's(**docker-compose.yml** and **docker-com

[2019-06-04 12:29] nilamjadhav commented on #1481
Hi,
I wanted to contribute how can I help?

[2019-06-04 14:05] suretrust commented on #1407
@julianguyen @kellymason, Is anyone working on this? If not, I'd like to take this up.

[2019-06-04 16:54] kellymason commented on #1407
go for it - i'll unassign myself. sorry about that!

[2019-06-05 15:57] bmwachajr commented on #1481
Hey, @nilamjadhav awesome. So this issue is a part of a 2-part break down of #798 .

The first part(backend) is documented here #1480 and there is a PR that needs to get merged in order to set the stage for this issue.

I am totally okay to jam on how you can contribute to this.

[2019-06-06 23:08] janessatran commented on #973
Hey @dansoud! I would also like to work on this, do you think we could split it up and I could do the images and you do the links? :)  If you want to do it all, that's fine too!! Thanks in advance!

[2019-06-07 12:30] bmwachajr opened #1516 "Flaky Tests at /spec/features/toggle_locale_spec"
# Description

Specifically : `ToggleLocale Toggling the locale dropdown to change the language When signed out and then signed in persists locale selection from signed out to signed in state - spec.features.toggle_locale_spec` needs to be fixed.

No particular scope at this moment

All PRs at this point will be affected by this flaky test.

# Reproduction Steps

# Screenshots

# Do you want to be

[2019-06-20 19:08] #1516 closed

[2019-06-25 01:20] #1480 closed

[2019-07-09 00:54] janessatran commented on #101
Hi @julianguyen

@bracken and I were wondering how we should handle the Google Avatar images on the user profiles. Do you want us to upload the image to Cloudinary like it does when a user uploads a profile picture manually, or should we have a separate "third party login profile image url" and the user choose which image they want to show? Hopefully that makes sense, but let me know if you're con

[2019-07-09 19:23] julianguyen commented on #101
Good questions @janessatran, yes we should upload these images to Cloudinary! So I think we should automatically use the Google avatar image if it's available.

[2019-07-11 00:59] janessatran commented on #101
Thanks for the response @julianguyen! We were wondering which route to take for handling the Google avatar image and outlined a few options below.
1. Always set "If me" avatar to Google avatar image if available.
2. Only set "If me" avatar to Google avatar image the first time they login via Google.
3. Only set "If me" avatar to Google avatar image if the "If me" avatar is blank.
4. Ask user after

[2019-07-11 01:38] julianguyen commented on #101
Hey @janessatran, thanks for writing out these options! So I think we want to do the combination of options 2 and 3.

Set the avatar to the Google avatar after someone logs in via Google Auth if the avatar is blank.

[2019-07-13 14:34] kolisnyklera commented on #1407
@suretrust @julianguyen are you still working on it? Or I can do it?

[2019-07-14 01:45] suretrust commented on #1407
You can do it, @kolisnyklera.

[2019-07-15 22:47] #1408 closed

[2019-07-15 23:22] julianguyen opened #1527 "Security issue with OmniAuth is breaking the gem audit"
# Description

Running `bundle exec bundle-audit check --update` fails because of a critical security issue with OmniAuth. We need to look into whether we can upgrade/downgrade or disable the gem.

[code]

# Do you want to be the assignee to work on this?

✅

[2019-07-15 23:42] janessatran opened #1528 "Flaky spec in InvitationsController"
# Description
This test ` 'sends an invitation email to the invitee' ` in file `spec/controllers/users/invitations_controller_spec.rb` fails depending on the random seed rspec uses.

# Reproduction Steps
Run the tests (it will probably pass).
Run the tests with the seed 60199,  `bundle exec rspec --seed 60199` and it will fail.

We haven't determined which previous spec causes this to error, so mo

[2019-07-17 03:48] jack-rl-ovell commented on #259
Hi @julianguyen is there still help needed on this project? Would love to help!

[2019-07-17 16:41] julianguyen commented on #259
I believe @Iphytech is working on this! :D You could help out if it's needed!

Otherwise, let me know if you need help finding another issue to work on!

[2019-07-17 22:30] #1410 closed

[2019-07-23 00:31] janessatran commented on #101
Hi @julianguyen, thanks for the feedback! We (@bracken and I) went ahead and implemented the feature with a combination of options 2 and 3 and made a PR. We wanted to bring up that if a user does not want a profile image at all, this will force them to always have their Google avatar image uploaded. Do you want us to handle that somehow? If so, how? :)

[2019-07-23 22:28] julianguyen commented on #101
Thanks for the awesome work! Great questions. I think we want to give the user the option to remove the uploaded Google avatar image and opt for the default placeholder image.

[2019-07-29 19:58] #1527 closed

[2019-07-30 00:55] janessatran commented on #101
Hey @julianguyen, this is what we're thinking of doing, what do you think?

![image](https://user-images.githubusercontent.com/17259147/62092364-80c8c780-b23a-11e9-8eeb-a1f4e75527e9.png)

[2019-07-31 21:07] julianguyen commented on #101
So sorry for the late response @janessatran, looks good to me!

I think I would rephrase "Don't use third party avatar" to "Don't use my Google avatar".

[2019-07-31 21:14] bracken commented on #101
@julianguyen OK, we'll do that. Thanks!
We used "third party avatar" since we saw tickets for adding logins via some other providers like facebook/twitter and thought this could be generic. The back-end implementation is also generic so that those other logins can easily take advantage of it as well.

[2019-07-31 21:41] julianguyen commented on #101
Ooh that's a good point! Hmm ok, how about we rephrase it to, "Don't use a third-party avatar" then?

[2019-08-01 00:47] janessatran commented on #101
@julianguyen no need to apologize :) Thank you for the feedback!

[2019-08-06 04:20] #1528 closed

[2019-08-06 14:39] #1407 closed

[2019-08-19 20:29] julianguyen opened #1535 "Issue with Docker image in CircleCI build"
# Description

The CircleCI builds are failing cause of a Docker image issue. I suspect we need to update to a different image.

# Reproduction Steps

[code]

[2019-08-20 09:40] ashwanijha04 commented on #1159
Any updates on this? Can I help too?

[2019-08-28 15:45] julianguyen opened #1541 "Update client to latest version of React"
# Description

* Update to v16.9.0

# Do you want to be the assignee to work on this?

✅

[2019-08-29 23:18] #101 closed

[2019-08-31 17:43] #127 closed

[2019-08-31 21:06] #1541 closed

[2019-08-31 21:11] julianguyen opened #1545 "Replace react-autocomplete with react-autosuggest"
# Description

[react-autocomplete](https://github.com/reactjs/react-autocomplete) is no longer being maintained.

After updating our client to the latest version of React, we receive these warnings:
[code]

We could hypothetically fork `react-autocomplete` and update React ourselves and use it in our client, but that creates an maintenance overhead for us. The best course of action is to use anot

[2019-08-31 21:14] julianguyen opened #1546 "Address // eslint-disable-next-line import/no-cycle"
# Description

I introduced `// eslint-disable-next-line import/no-cycle` throughout the codebase after updating all of our npm packages including React, Flow, and ESLint. This was done so that our lint checks would pass.

We want to remove these comments and actually fix the cycle issue in the following files:
- [x] `/client/app/components/Form/DynamicForm.jsx` (@dhuang612)
- [x]  `/client/app/co

[2019-08-31 21:17] #719 closed

[2019-08-31 22:11] julianguyen opened #1548 "Fix flakey toggle_locale_spec.rb test"
# Description

[code]

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2019-09-01 21:52] CSumm commented on #1545
Is anyone assigned to this issue? I'd like to take a shot at it if it's still available

[2019-09-07 18:34] anushkajj commented on #973
Hi! Beginner here. Is anyone working on this issue? Can I take it?
Thanks in advance!

[2019-09-09 07:59] neon98 commented on #1545
hey @CSumm are you working on this issue? I'd love to help!

[2019-09-09 15:14] CSumm commented on #1545
I've written some code for it, but I'm hitting a roadblock with it. I can send you what I've done so far and maybe you can take a look when you have the chance.

[2019-09-10 07:14] neon98 commented on #1545
Sure. I'll look into it :D

[2019-09-10 18:19] neon98 commented on #1373
@vildevev are you working on this? If not I'd want to work on this.

[2019-09-10 20:05] CSumm commented on #1545
@neon98 take a look at the pull request I just did which is the work in progress. It has the code I'm trying to use and you can copy it into your local repo.

[2019-09-11 03:14] sharmilaraghu commented on #1546
I am a beginner and I would like to work on this issue

[2019-09-11 04:00] #1463 closed

[2019-09-11 14:27] anushkajj commented on #726
Hi! I am a beginner and would like to make my first contribution.
Is this issue still available?

[2019-09-12 01:46] #883 closed

[2019-09-12 07:57] julianguyen commented on #1546
Hi @sharmilaraghu, thanks for expressing your interest! Please follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack)!

[2019-09-12 07:58] julianguyen commented on #1315
@anushkajj This issue is still available! Feel free to assign yourself to it and start working on it!

[2019-09-15 04:58] anushkajj commented on #1315
Hey! Will keeping the character limit to around 120 per line work?
I think this will prevent the problem of horizontal scrolling to read the files.

[2019-09-16 21:35] julianguyen commented on #1158
@hmasila Is this still being worked on?

[2019-09-21 00:39] julianguyen opened #1556 "Add "load more" button to Resources list"
# Description

Instead of infinite scroll (which is not the most accessible of experiences), let's add support for the "load more" button that currently exists on various pages (Moments, Categories, Moods, Strategies, and Stories feed) to the [Resources page](https://www.if-me.org/resources).

This button should appear as you scroll down the page and more content exists to load.

![Capture](https:

[2019-09-21 01:04] julianguyen commented on #848
Closing this cause we got rid of pagination.

[2019-09-21 01:04] #848 closed

[2019-09-26 05:17] #1373 closed

[2019-09-26 09:38] KrDimitrov commented on #1556
I'd be glad to help with that!

[2019-09-26 11:37] neon98 commented on #1556
Hey @KrDimitrov, I've started working on this issue. You can help me If you wish to! 😄

[2019-09-26 12:09] KrDimitrov commented on #1556
No worries!

[2019-09-26 17:09] meanmachin3 opened #1559 "Show password option"
# Description
Add an option to show password. Not only this would avoid rewriting whole password in case of a single typo but also give an option to user see the password he is pasting.

# Screenshots
Possibly add something like an eye( 👁) to the password field.
<img width="385" alt="Screen Shot 2019-09-25 at 11 35 27 PM" src="https://user-images.githubusercontent.com/7353585/65709282-71110800-e05

[2019-09-27 01:20] someotherkyle commented on #1546
I'm also interested in contributing but don't want to step on anyone's toes. Let me know if there's a constructive way for me to get involved.

[2019-09-27 02:34] thumbsupep commented on #1158
I can work on this!

[2019-09-27 06:06] julianguyen opened #1560 "Functionality to download your user data"
# Description

We want to give users the option of being able to download their account data. Let's include a button on the Account page (when a user is signed in) that allows the user to download their data.

A good starting point is downloading the data in a CSV file. We'll want to give them the ability to download data regarding:
* Their Moments, Categories, Moods, Medications, and Strategies (

[2019-09-27 19:46] julianguyen commented on #1546
@someotherkyle and @sharmilaraghu: I think you two could split up work based on these files:
* `/client/app/components/Form/DynamicForm.jsx`
* `/client/app/components/Form/index.jsx`
* `/client/app/components/Header/HeaderProfile.jsx`
* `/client/app/components/Header/index.jsx`
* `/client/app/components/Input/index.jsx`
* `/client/app/components/Input/InputSwitch.jsx`
* `/client/app/widgets/QuickC

[2019-09-28 03:19] ashwanijha04 commented on #1559
Hey can you please assign this to me?

[2019-09-28 04:43] ashwanijha04 commented on #1559
Also, I would need some help since this would be my first contribution. I have already read the contribution guidelines and run it in my local machine. Can you please tell me where in the client folder will I find this design component?

[2019-09-29 21:02] meanmachin3 commented on #1559
@ashwanijha04 I am little caught with my midterms, I'd suggest [Joining slack](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) and posting doubt there :D

[2019-09-30 13:27] someotherkyle commented on #1285
I'll take a look at this

[2019-09-30 13:28] someotherkyle commented on #1546
I've found an unassigned issue that I'm going to focus on. If I can be of help here let me know and I'd be glad to.

[2019-10-01 00:10] snailscode commented on #1215
Hi! I'd love to help if this issue still needs Japanese translations! I've been speaking Japanese ever since I was a kid, and have experience in composing/translating my own projects from English > Japanese and vice versa. :)

[2019-10-01 00:48] matcha440 commented on #1215
@snailscode help is welcome and appreciated.  I started on this and made a fair amount of progress last year, but things in my life got hectic and I haven't had an opportunity to get back to it so the the branch I was working on is rather far behind the master branch at this point.  Maybe a good start would be to get the [ja-translations](https://github.com/ifmeorg/ifme/tree/ja-translations) branc

[2019-10-01 01:58] snailscode commented on #1215
@matcha440 Thank you. I hope everything's all set and in order now for you now!

Wasn't too sure what rebasing was, so I did a quick google search on it and stumbled upon this [article](https://git-scm.com/book/en/v2/Git-Branching-Rebasing)! Are you saying to do something like this?
[code]
Sorry for the silly question! Still pretty new to everything. I'm also a bit lost on where to start in the pr

[2019-10-01 02:23] julianguyen commented on #1215
Hey @snailscode! Not a silly question! Thanks for helping out with this :) Yeah so this branch is on this repo. So you'll want to clone the repository, pull the latest from the master branch, checkout ja-translations, and rebase like you stated above!

Let me know if you need any help! If you haven't already, you should [join our contributor community](https://github.com/ifmeorg/ifme/wiki/Join-Our

[2019-10-01 08:17] dikshagoyal26 commented on #973
I would like to work on it

[2019-10-01 09:37] Ceheiss commented on #973
Hi everyone, I had some personal issues so couldn't do it. I'm sorry about this, please feel free to take it

[2019-10-01 14:51] alcoelho commented on #259
Hey, I want to help with this feature, but I'm not sure if I'm understanding what has to be done. Can someone explain it to me?
When I open the Categories section, I can't see the mentioned bar.

[2019-10-01 15:13] alcoelho opened #1564 "Moments should have a date and time"
# Description

Currently, you cant add a date and time to a moment. I think it would be best if date and time were required fields, so you can see a timeline of events and understand mood changes and other things.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/

[2019-10-01 15:22] CSumm commented on #1545
I have to jump ship on this issue as life came up. Neon98 will take over from here

[2019-10-01 15:24] alcoelho opened #1565 "Portuguese (Brazil) translation needs revision"
# Description

I was reading the pt-br translation and it has a few typos and untranslated lines. I can help with that since it is my native language.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to join our [organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

[2019-10-01 15:48] camillevilla commented on #1565
Great, @alcoelho! Please take a look at our guide for translators here:
https://github.com/ifmeorg/ifme/wiki/Translations

Are you a member of our Slack yet?

[2019-10-01 15:52] alcoelho commented on #1565
Hey! I sent an email to join.ifme@gmail.com, but I'm not on the project Slack yet.

[2019-10-01 16:59] Rajani169 commented on #1556
Hey!! can i contribute to resolve this issue??

[2019-10-01 17:00] Rajani169 commented on #1559
Hey!! Can you still assign this issue to me?

[2019-10-01 17:00] neon98 commented on #1556
hey @Rajani169 I've raised a PR for this issue. You can help me solve build errors 😄

[2019-10-01 17:09] Rajani169 commented on #1545
Hey!! Can you please assign this issue to me?

[2019-10-01 17:24] Acollie commented on #1560
Hey a little new to Open source, but I have experience with rails
I would gladly help out with this! 😄

[2019-10-01 17:48] maugravena commented on #1565
Hello @camillevilla

I made some suggestions in your translation

[2019-10-02 04:32] LMulvey commented on #187
Hey @julianguyen - I can take this one on over the next few weeks.
Before I get rolling, wanted to nail down a story here:

**Rescue Button**
1) User should have a _**resuce button**_ visible on the screen at all times (nav?)
2) When the user clicks the rescue button, it takes them to a rescue page
3) Rescue page has a collection of bookmarked Moments and Strategies
4) Rescue page additionally has

[2019-10-02 13:13] guilhermekbral commented on #1548
Good afternon @julianguyen. I was taking a look at this, and the spec is green here. Ran it against `master` branch.

Is there a specific branch in which the spec is broken? Is it fixed already?

[2019-10-02 14:18] julianjohannesen commented on #1545
Quick question. When setting up the environment, is it okay to use the most recent version of PostgreSQL, or should we stick to a particular version?

[2019-10-02 16:56] julianguyen commented on #1545
@Rajani169, you'll need to [join](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) our contributor community in order to be able to assign issues to yourself.

@julianjohannesen The most recent version should work, if not let us know!

[2019-10-02 17:02] julianguyen commented on #1548
Good question @guilhermekbral! One example is `44331`! It's not fixed yet!

Please [join](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) our contributor community so you can assign yourself to issues!

[2019-10-02 17:05] julianguyen commented on #259
@alcoelho We would love someone to work on this! So whenever you tag Moments with Categories, Moods, and Strategies and Strategies with Categories and Moods we display data on Categories, Moods, and Strategies that have been most recently used. Sometimes whatever these things are can be triggering due to trauma. We want the ability to hide these values from being displayed in this data section.

S

[2019-10-02 17:06] julianguyen commented on #973
Hi @dikshagoyal26, you can assign yourself to the issue once you [join](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) our contributor community!

[2019-10-02 17:50] alcoelho commented on #259
I see, that's a good thing to add. I want to work on it :)

[2019-10-02 17:55] julianguyen commented on #795
OAuth service issues have been resolved! This issue is up for grabs :)

[2019-10-02 18:11] julianguyen commented on #187
Ooh that would be awesome @LMulvey, thanks so much! :D

**Rescue Button**
1) User should have a _**rescue button**_ visible on the screen at all times (nav?)
  - This sounds good! I think we think about what term we want to use. I think Rescue and Panic Button could be potentially stigmatizing. Maybe we could just call it, "Help Me"
2) When the user clicks the rescue button, it takes them to a res

[2019-10-02 18:45] guilhermekbral commented on #1548
Nice! Just sent the email! I'll take a look with that seed! Thanks for the info!

[2019-10-02 19:35] someotherkyle commented on #1285
Was wrapping up some other stuff but I'm shifting my attention here now. Is there a collection of categories we would like to start with? Should I source popular categories from the db?

[2019-10-02 20:26] janessatran commented on #1564
Hi, can I work on this issue? :)

[2019-10-02 20:33] julianguyen commented on #1564
Thanks for filing an issue with us! So by default, Moments and Strategies keep track of the date of post creation and post update. These are fields you need to fill out.

Example:

STORY CARD:

<img width="616" alt="image" src="https://user-images.githubusercontent.com/3010728/66079380-ca72ae80-e518-11e9-9945-ec4583cdc3e3.png">

MOMENT PAGE:

<img width="739" alt="image" src="https://user-images.g

[2019-10-02 20:39] alcoelho commented on #1564
I was thinking of using moments as a mood tracker. For example, I got frustrated with something at 12 pm but I didnt think it was relevant, so I didnt care about it. At night, I feel sad. If I could tracks moments of the day, I could see a link between the bad event at 12 pm and my bad mood.
That was just a silly example, but it's a good thing to be able to track events like that so you can unders

[2019-10-02 20:39] #1565 closed

[2019-10-02 21:27] julianguyen commented on #1564
Thanks for clarifying!

In the current workflow you would do:

1. Post a new moment about an experience
 - Create a mood called "Sad" and tag it to this post
 - Create a category called "The Experience" and tag it to this post
2. Post another new moment about the same experience
  - Tag the existing mood called "Sad" to this post
  - Tag the existing category called "The Experience" and tag it to

[2019-10-02 21:31] julianguyen commented on #1285
I think for privacy concerns, we shouldn't be sourcing through user data. We should use pre-made values. We actually have this feature on https://www.if-me.org/categories, https://www.if-me.org/moods, and  https://www.if-me.org/strategies when you don't have any posts created. There's a button that let's you add pre-made ones. We want to be able to do that from inside of the editor as well.

[2019-10-02 21:40] #1159 closed

[2019-10-02 22:31] C3S4R780 commented on #973
is the issue still open? I would like to work on it!

[2019-10-03 01:06] meanmachin3 commented on #1559
@ashwanijha04 Let me know if you are working on it. @Rajani169  could pick it up in case you aren't working

[2019-10-03 12:52] someotherkyle commented on #1285
I believe I've tracked it to https://github.com/ifmeorg/ifme/blob/master/client/app/components/Input/InputTag.jsx which has a //TODO at the top referring to 'react-autocomplete' being deprecated and recommending a switch to 'react-autosuggestion'. This issue may be above my experience level but that's how we learn, right? Seeing others take & abandon this issue makes me want to stick it out but I'

[2019-10-03 22:15] stefanosu commented on #973
Hi is this issue still available?

[2019-10-03 23:45] lilivelazquezz commented on #973
Hello! Is this issue still available?

[2019-10-04 03:16] julianguyen commented on #973
Thanks for showing interest @C3S4R780 @stefanosu @lilivelazquezz! Always great to have a lot of interest in a11y.

You could all work on it together!

Check out the footer in the issue description above for more info on picking up issues.

[2019-10-04 09:14] ashwanijha04 commented on #1559
Please feel free to work on it @Rajani169.
Let me know if you'd like any help.

[2019-10-05 20:44] CoderJolly commented on #961
Hi @julianguyen , I would love to work on this if its nt allotted, also #796 has many people working on it, would be be possible for you to find a another issue of the same category...
Thanks 👍

[2019-10-05 21:15] julianguyen commented on #961
@CoderJolly You're welcome to work on this issue!

[2019-10-06 17:01] drowvoloper commented on #973
@C3S4R780 @stefanosu @lilivelazquezz are you finally working on this?

[2019-10-06 22:01] C3S4R780 commented on #973
I'm really sorry, i dont know much about Ruby!

[2019-10-07 02:06] stefanosu commented on #973
@drowvoloper yes I'm working on this

[2019-10-07 02:08] drowvoloper commented on #973
Oh, don't worry! I just wanna help with this issue if I can be useful.

P.S.: Don't let Ruby frighten you!

[2019-10-07 02:26] LMulvey opened #1580 "Allow Moments/Strategies to be bookmarked"
**Bookmarks 🔖**

Users should have the ability to bookmark Moments and Strategies. This is identified by a column in the database for these items labeled `bookmark: boolean`

Users can click a bookmark toggle button on the Moment or Strategy they want to bookmark and it will add it to the bookmark list. Clicking the button again will remove the Moment or Strategy from the bookmark list.

[Sub-task

[2019-10-07 02:33] LMulvey opened #1581 "Clicking a tag on the resources list should add it to the current filter"
# Description

Clicking on a tag below a resource item should add it to the current filter. This would make it easier to find similar items based on keywords as you're browsing through the list.

[Resources Page](https://www.if-me.org/resources)

[2019-10-07 02:38] LMulvey opened #1582 "Care Plan Feature"
**Help Me** Button 🤗

Users should have a Help Me Button visible on the screen at all times. When the user clicks the button, it takes them to a personalized resource/help page.

**Help Me** Page 📝

The Help Me Page would have a collection of bookmarked Moments and Strategies. Additionally, it would have extra fields such as contact information (name, email, phone number) as well as a safety plan

[2019-10-07 10:09] deschantkn commented on #1545
I would love to take on this task if possible!

[2019-10-07 17:44] janessatran commented on #1581
Hi @LMulvey, I'm interested in working on this feature! May I be assigned to this issue?

[2019-10-07 18:30] dhuang612 commented on #1546
Hi,
I was wondering if I could get an update on if there is any work left to be completed for this?

Thanks!

[2019-10-07 21:15] SonuToor commented on #1545
Hey @julianjohannesen are you still working on this issue?

[2019-10-07 21:21] someotherkyle commented on #1546
Sounds good!

[2019-10-07 22:03] ericlee1996 commented on #1546
Hi, beginner here.
Would love to tackle an issue/ help out if there's any left

[2019-10-07 22:42] julianguyen commented on #1546
Would looking at  `/client/app/components/Input/index.jsx` and `/client/app/components/Input/InputSwitch.jsx` work @ericlee1996? :)

[2019-10-08 00:49] dhuang612 commented on #1546
created a PR #1584

[2019-10-08 02:38] PeasOfMind commented on #961
Happy to work on this if @CoderJolly is not.

[2019-10-08 04:06] andrewjprice commented on #1581
@LMulvey mind if I work on this?

[2019-10-08 04:21] LMulvey commented on #1581
@andrewjprice Not at all! I've gone ahead and assigned you :)

[2019-10-08 10:32] CoderJolly commented on #961
@PeasOfMind You can work on it, as it is festive season in India hence I am unable to devote time

[2019-10-08 16:24] SonuToor commented on #1559
@ashwanijha04 hey are you still working on it? I could do this if you'd like.

[2019-10-08 22:55] #1158 closed

[2019-10-09 06:54] prasanth1308 commented on #973
I would like to work on it

[2019-10-09 17:15] paulomonteiro1 commented on #973
Is anybody working on this issue? I would like to help.

[2019-10-10 00:30] SonuToor commented on #1545
Hey guys, I'm going to have a crack at this. I'll update here or on the slack channel if I run into any issues!

[2019-10-10 01:35] dhuang612 commented on #1546
Hi again,

I see one refactor left open
/client/app/components/Input/index.jsx
Could I take this one on too?

[2019-10-10 01:44] drowvoloper commented on #187
Thank you for this great idea, I like it a lot!

What about "calm button"?

[2019-10-10 04:05] julianguyen commented on #1546
Go ahead @dhuang612! Thanks again :)

[2019-10-11 16:47] dhuang612 commented on #1546
created PR #1587

[2019-10-12 07:32] idrisakmal commented on #1546
Hi there @julianguyen  Anymore available issues to solve? i'm happy to help

[2019-10-12 12:18] someotherkyle commented on #1546
@idrisakmal here you go! I've been busy and don't want to hold up progress

[2019-10-12 13:32] adad20 opened #1588 "Connect the blogs page to homepage."
The nav bar in the homepage is not in the blogs page which makes difficult for the user to interact with whole site.

[2019-10-12 17:40] skenypatel commented on #1588
Hi, can I work on this issue?

[2019-10-12 17:49] julianguyen commented on #1588
I don't quite understand what this issue is about. The blog page is on Medium which is separate form our site. We used to have a page that fetched all the blog posts onto our site but we found it better to link directly to Medium for the full experience.

[2019-10-12 19:09] skenypatel commented on #1559
Hi, can I take this up if this is not done yet?

[2019-10-12 19:11] skenypatel commented on #779
Hey, is this still on hold off?

[2019-10-13 03:36] #1588 closed

[2019-10-13 03:44] adad20 commented on #1588
Sorry it,s my mistake I haven't checked the URL of the blogs page.

[2019-10-13 17:56] nshki commented on #779
@skenypatel Great question! I assume that since the label is still present, it's still on hold. Going to loop in @julianguyen here, as she'll have the best context to provide an answer for you.

[2019-10-14 17:39] ribeirolm commented on #973
Is this issue still up for grabs? If so, I'd like to contribute :)

[2019-10-15 22:10] aisayo commented on #1546
Hi! Beginner here and was wondering if there is anything left to work on with this issue?

[2019-10-16 14:41] ThakurKarthik commented on #1559
@ashwanijha04 if you are busy or currently not working on this issue,please unassign for the issue so other's can pick it up. 👍

[2019-10-16 17:23] PorterK commented on #1564
Happy to attempt the reimplementation of that feature (linking back to the category) @julianguyen. Should I make a new issue? Seems like the conversation kind of drifted from the original request.

[2019-10-16 23:55] afhare commented on #973
If this issue is up for grabs, or if it could be a tag-team approach, I'd love to contribute!

[2019-10-17 18:59] tiffanyisapr0 commented on #1548
This appears to be fixed! @julianguyen can you confirm that? :)

[2019-10-18 01:15] julianguyen commented on #1548
@tiffanyisapr0 I don't think it's fixed! I had to re-build some PRs that were failing cause of it this week.  It's flaky so sometimes it passes.

[2019-10-18 12:19] sbpipb commented on #961
hello hello! I would like to this on. @PeasOfMind

I've started a bit already, please inform me.

[2019-10-18 22:48] PeasOfMind commented on #961
yes please! go ahead @sbpipb I didn't get started at all.

[2019-10-19 15:01] guilhermekbral commented on #1548
I'm still working on this flaky spec. It's trickier than I expected!

[2019-10-19 23:46] briceyokoyama commented on #1559
I'll take a shot at this.

[2019-10-21 21:41] #1581 closed

[2019-10-22 15:09] dhuang612 commented on #1546
join us on slack if you have questions!

[2019-10-22 23:33] dhuang612 commented on #1006
I wanna take a look at this

[2019-10-25 10:52] sbpipb commented on #1548
True, I can attest that this one is indeed still happening

[2019-10-28 17:19] LMulvey commented on #187
I love that idea, @drowvoloper!
@julianguyen so you know this hasn't been abandoned–my Macbook started smoking last week and has had three visits to the repair shop now for separate issues... hopefully will have a working Macbook this week and can continue on these issues!

[2019-10-31 04:42] skenypatel commented on #1559
Hi, I'm giving it a shot.

[2019-10-31 11:22] skenypatel commented on #1559
Hi, I need some help around the project? Which file(s) needs to be changed for this, I can't seem to find component that needs to be modified?

[2019-11-05 08:14] julianguyen opened #1601 "Add time support for Medications"
# Description

Currently, users can specify the days they want to be notified of Medication reminders. This notification is sent at 12:00 am, at the beginning of each day. We want to add ability to specify the time for each day of the week.

# Screenshots

Currently:

![image](https://user-images.githubusercontent.com/3010728/68189807-05756100-ff61-11e9-96d2-315b2383f5de.png)

---

Please assign y

[2019-11-05 18:21] julianguyen commented on #187
Thanks for the update and it's all good! That sucks to hear that and I hope things get fixed soon :)

[2019-11-11 01:10] #1545 closed

[2019-11-12 14:41] anGie44 commented on #1601
@julianguyen is there a specific uicomponent in mind for listing out the times of day? dropdown or checkboxes for example

[2019-11-12 15:08] julianguyen commented on #1601
@anGie44 Yes, good question! You should be able to use the `<Input />` component and pass in `type="time"`. We should add examples for this and `type="date"` in our Storybook but here's a link to `<Input type="text" />` to get you started: http://design.if-me.org/?path=/story/input--text

[2019-11-15 17:46] james947 commented on #1560
Hey @Acollie still working on this? I'd love to give it a try cc: @julianguyen

[2019-11-16 12:49] Acollie commented on #1560
I have mostly done with the task. I just got a little busy, to fully finish the task.
Left todo
- there is currently a bug with the export I wrote, which I didn't have time to try and fix but it should be fairly simple to fix.
- Write a Test for the data export
I have a branch which has all the code I wrote called 'data_export'

[2019-11-17 13:24] james947 commented on #1560
This is well noted @Acollie. Good work 👍

[2019-11-19 20:35] oliviadavis593 commented on #973
Is this something I can work on? I followed the next steps already. Don't know if I can assign myself

[2019-11-20 19:04] dhuang612 commented on #1580
Hi,

Is this available to work on?

[2019-11-21 16:23] julianguyen commented on #1546
Hey @dhuang612 would be interested in finishing up `/client/app/components/Form/DynamicForm.jsx` and `/client/app/components/Form/index.jsx`?

[2019-11-21 16:50] dhuang612 commented on #1546
@julianguyen Yes I can work on those!

[2019-11-21 16:52] julianguyen commented on #1546
Thanks so much @dhuang612 🎉 !!!

[2019-11-21 17:40] ankurprasad711 commented on #1582
Hi @LMulvey ,
I would love to take up this issue.
Can you provide me with details of how the Help me page should look.
Thanks

[2019-11-24 18:59] dhuang612 commented on #1546
created PR #1609

[2019-12-02 09:25] lazio commented on #779
Hey guys, is this one available to pick up? I hope I can help with it

[2019-12-02 17:53] nshki commented on #779
Hey @lazio, thanks for checking in! This issue is still on hold, so it's not ready for pick up.

[2019-12-03 07:51] lazio commented on #779
ok, I get it. Thanks for letting me know

[2019-12-06 08:55] julianguyen opened #1611 "Upgrade to Rails 6"
# Description

Let's update our app to Rails 5! I recommend going through this [doc](https://edgeguides.rubyonrails.org/6_0_release_notes.html) on notable changes and deprecations.

Dependant issue:
- [x] Pre upgrade benchmarking [(#1722)](#1722 )

# Tasks

- [x] Set up anenvironment for the upgrade.
- [x] Upgrade to RoR 6.
- [ ] Review application and Configurations.
  - [ ] Dev environment build

[2019-12-13 15:39] bmwachajr commented on #1611
@julianguyen I worked as part of a 2 man squad to Upgrade a previous employer's app from Rails 4 to Rails 5+. I would definitely take this one on although I am a bit guilty that I haven't completed the last issue of the project that I took on.

We shall probably have to create a project for this. A good read to get stoked is this [article from Github](https://github.blog/2018-09-28-upgrading-githu

[2019-12-23 21:34] andy5995 opened #1619 "CI tests don't detect missing tags"
If a new resource is added with a tag that's hasn't also been added to config/locale... , the CI tests don't catch it. After it's merged, it appears like this:

![image](https://user-images.githubusercontent.com/16764864/71381581-b1b6e980-2599-11ea-88ce-ed2c9abb8906.png)

[2019-12-23 21:52] SonuToor commented on #1601
Hi @anGie44,

I was wondering if you're still working on this issue? It's been a while since I contributed to if-me and I was looking for something to work on. If you'd like help or if you're not working on this issue anymore let me know!

[2019-12-31 17:28] andy5995 opened #1624 "Concrn (US) may need to be removed from the resource page"
Concrn (US) may need to be removed from the resources page. A message on [their site](https://www.concrn.org/) states:

[2020-01-05 06:29] sunguru98 commented on #1624
I think this has been closed right?

[2020-01-05 20:43] andy5995 commented on #1624
Yah, completed by @isa3bel in #1625 :)

[2020-01-05 20:43] #1624 closed

[2020-01-06 21:12] hassan11196 commented on #973
help needed?

[2020-01-06 21:28] julianguyen commented on #973
Looks like it's currently not being worked on so feel free to assign yourselves @oliviadavis593  and @hassan11196! You two could even work together on it :)

[2020-01-08 23:13] SonuToor commented on #1601
Hi @julianguyen,

It's been a while since I contributed and I was looking for something to do. I reached out to @anGie44 to see if she was still active on this issue, I don't think she is.

Should I wait a bit longer or do you think it's safe to take this issue on?

[2020-01-09 00:08] julianguyen commented on #1601
Go ahead and assign it to yourself @SonuToor. Thanks for reaching out! :D

[2020-01-09 00:09] julianguyen commented on #779
I'm gonna close this issue because adding custom components for radio buttons and checkboxes creates an unnecessary abstraction that requires us to put more effort to make it accessible.

[2020-01-09 00:09] #779 closed

[2020-01-12 02:11] julianguyen commented on #1564
Hey @PorterK, so sorry for the late response! Yeah feel free to make a new issue and delete this one!

[2020-01-12 04:39] julianguyen commented on #1619
Gonna close this issue cause there's no efficient way to automatically test for missing translations on rendered pages. Our automated tests only test for missing translations across the translation files.

The messaging that shows up should be enough. We should also be manually testing pages if we are making visual changes to it.

[2020-01-12 04:39] #1619 closed

[2020-01-12 05:01] GayathriVenkatesh commented on #1559
Hi @julianguyen ,
Is somebody working on this issue? I would like to take it up.
Thanks.

[2020-01-12 05:06] julianguyen commented on #1559
Feel free to assign yourself to it @GayathriVenkatesh!

[2020-01-12 05:08] andy5995 commented on #1619
Ah, good point, thank you. I'll be sure to do that next time. I promise you, @julianguyen  ;)

[2020-01-12 22:40] SonuToor commented on #1601
Hi @julianguyen ,

Just have a couple of questions to clarify the nature of the new feature.

When a user sets a time, is that time for every single day? Or should a user be able to set a separate time for every single day?

[2020-01-13 00:06] julianguyen commented on #1601
This is what we want! Good question :)

We could add a checkbox for setting the same time daily, but we should give users the ability to fine-tune time for each day.

[2020-01-13 13:04] Manasa2850 commented on #973
Can I work on this?

[2020-01-13 20:14] SonuToor commented on #1601
@julianguyen so the time input that I am creating is for the reminder to take the medication not the refill reminder correct?

So maybe below the checkboxes for the days of the week have a checkbox that is by default checked that sets it to same time daily. Then if the user unchecks this checkbox, we then display each day that is currently checked, with a corresponding <Input/> component of type t

[2020-01-13 21:24] andy5995 opened #1632 "implement multi-column table for contributor list"
Anyone want to make a multi-column table for the [contributor list](https://www.if-me.org/contribute)?

![image](https://user-images.githubusercontent.com/16764864/72293149-82375200-3618-11ea-9c1d-2f4bb874303c.png)

So.. no commas.. the names divided up by 4 columns, 1 name per line, is what I was initially thinking. But UX details will probably need more input from @julianguyen

[2020-01-15 05:37] julianguyen commented on #1601
@SonuToor Correct that it's a reminder for when to take the medication!

That sounds like a good experience to me! Thanks!

[2020-01-15 17:13] mapra99 commented on #1611
Hello! @julianguyen @bmwachajr, this is something I haven't done before, but if more hands-on it are required, I would like to be in

[2020-01-15 17:22] mapra99 commented on #1632
@andy5995, @julianguyen I'd like to do it. I showed my interest in this issue and  #1611, but I'm waiting for an answer in #1611 because that one seems to be already assigned to someone else. So I would like to work on this one, or on both :smile: hehe

[2020-01-15 19:07] andy5995 commented on #1632
@mapra99 You could start on this one anytime, thanks for the offer.

[2020-01-15 20:35] julianguyen commented on #1611
That would be great @mapra99! @bmwachajr, have you been able to get started? You two should definitely sync!

[2020-01-16 12:21] bmwachajr commented on #1611
Hi @mapra99, this definitely has a handful of hands-on work. And yes you can contribute. Please assign yourself to this issue.

@julianguyen I have broken down this project into 3 phases: pre-update, update, and roll-out.

Here is the:
- WIP project [plan](https://docs.google.com/spreadsheets/d/1rmpS5pg7agpi0rp9GSQh3zor6S78WQHH5GDwwY0caKc/edit?usp=sharing)
- Project [Board](https://github.com/ifme

[2020-01-16 21:19] andy5995 opened #1635 "some dead links should be removed"
Some of these dead links should be removed, changed, or double-checked.

![image](https://user-images.githubusercontent.com/16764864/72563495-6da2c600-3873-11ea-9ca1-babfe0151133.png)

[2020-01-16 21:24] SonuToor commented on #1601
Hey @julianguyen,

So I played around with the code. I get the checkbox that toggles whether the medication is taken at the same time daily to render. Now unfortunately my skills on the backend (and Ruby) aren't fully there yet to handle the next steps.

So I want the checking and unchecking of the checkbox to be stored in postgres and then depending on whether the value is checked (true) or unche

[2020-01-19 00:00] julianguyen commented on #1601
Hey @SonuToor! You're correct about storing the checkbox data in Postgres!

So you'll want to create a [DB migration](https://github.com/ifmeorg/ifme/tree/master/db/migrate) to add columns to the Medications table. You should the `rails generate migration` command to generate migration files, you can [read more about it here](https://edgeguides.rubyonrails.org/active_record_migrations.html).

The

[2020-01-19 07:01] GayathriVenkatesh commented on #973
@julianguyen Is anyone currently working on this? I would like to take it up.

[2020-01-19 15:26] GayathriVenkatesh opened #1638 "Automatically generate Refill date for new medication"
# Description
While adding a new medication, the refill field is mandatory.
However, given the total no. of tablets and dosage per day, the refill date can be generated in the backend (rather than having the user calculate it). This date can be the default value for the field, and can be manually changed if necessary.

# Screenshots

![Screenshot from 2020-01-19 20-38-09](https://user-images.githu

[2020-01-19 23:40] julianguyen commented on #973
@Manasa2850 @GayathriVenkatesh Feel free to assign yourselves to it! Yeah, looks like no one is working on it.

[2020-01-20 12:23] GayathriVenkatesh commented on #1638
@julianguyen Do share your thoughts on this :)

[2020-01-20 13:38] GayathriVenkatesh commented on #973
@julianguyen There are many blank images like this one in the README files:
https://opencollective.com/ifme/sponsor/6/avatar.svg
What do you suggest I do about them?

[2020-01-20 19:56] #1546 closed

[2020-01-20 20:15] julianguyen commented on #973
@GayathriVenkatesh Good question and idea to also add alt tags to our README files! So this is a tricky one since those Open Collective SVG links are auto-generated.

The best course of action is to wrap the entire section of links in a `<section role="presentation">` so that screen-readers skip this content.

[2020-01-20 20:16] julianguyen commented on #1638
Hey, @GayathriVenkatesh this is a really good observation and I think we should implement this feature! :D Thank you for playing around with it and suggesting this!

[2020-01-20 20:26] julianguyen opened #1640 "Remove code duplication introduced by QuickCreate refactor"
# Description

Let's remove the duplication introduced to refactor the QuickCreate widget component in order to remove cyclical import dependencies. Huge thanks to @dhuang612 for taking this on!

Code Climate now raises it as a [warning](https://codeclimate.com/github/ifmeorg/ifme/issues?category=duplication&engine_name%5B%5D=structure&engine_name%5B%5D=duplication) to fix!

@dhuang612, feel free

[2020-01-21 02:36] dhuang612 commented on #1640
Yeah I can take a look

[2020-01-21 03:41] SonuToor commented on #1601
Thanks for such a detailed response @julianguyen !

As I mentioned in the slack chat I agree with your solution, it is pragmatic, a bit more work is required but worth it imo.

So, I think it would be best to tackle it in order. So implement solution 1, then implement solution 2.

As far as I can tell in either path we would have the checkbox that sets the time uniformly for each day? That would a

[2020-01-21 04:18] GayathriVenkatesh commented on #1638
Hi @julianguyen, could you tell me the command I need to use to access the input values of Total and Dosage? I tried a couple of things but it doesn't seem to work.
Here, when I try to print medication_field('total'), this is what gets displayed:

![Screenshot from 2020-01-21 09-38-25](https://user-images.githubusercontent.com/32172764/72774871-3e54d600-3c32-11ea-847f-a0d0ce1be308.png)

The value

[2020-01-21 04:53] #1635 closed

[2020-01-21 22:46] andy5995 opened #1645 "On resources page, focus changes incorrectly when tag is selected"
I wasn't sure how to title this ticket...

When I go to [the resources page](https://www.if-me.org/resources), and have this view:

![image](https://user-images.githubusercontent.com/16764864/72849814-35cdc100-3c6d-11ea-8627-8298fc60eb38.png)

and I click the "hotlines" tag on the left, it works, but the focus/page immediately changes to this:

![image](https://user-images.githubusercontent.com/16

[2020-01-22 17:40] dhuang612 commented on #1640
never mind, assigned myself.

[2020-01-23 13:40] Buzunda commented on #259
Hey @alcoelho do you need any help with this?

[2020-01-28 15:10] Buzunda commented on #259
Is this what you had in mind for the toggle part?

![Screen Shot 2020-01-27 at 22 01 43](https://user-images.githubusercontent.com/4948776/73276034-cdc82f00-41c6-11ea-8682-ea69a5a50605.png)

[2020-01-28 18:35] julianguyen commented on #259
@Buzunda I think that works! Great suggestion :)

[2020-01-28 19:19] Buzunda commented on #259
ok sounds good.
How do I handle the copy text for all the other languages? Can I trust google translate?

[2020-01-28 19:47] julianguyen commented on #259
@Buzunda Yeah you'll have to use Google Translate for now since the folks who did our translations aren't always available.

[2020-01-30 00:22] dhuang612 commented on #1506
Hey, I was wondering if anyone was actively working on getting the docker setup files updated?

New users are having issues getting up and running:

![NewUser](https://user-images.githubusercontent.com/49162249/73409236-aeb3c500-42cc-11ea-8971-2eda0de86b5e.png)

[2020-01-30 12:46] PeasOfMind commented on #1506
Ah sorry! I haven't touched this at all. Feel free to dive into it. I've unassigned myself.

[2020-01-31 17:06] dhuang612 commented on #1506
@julianguyen
Hey Julia,

I wanted to confirm, for making changes to the wiki do we just edit the document itself from github.com? Or is there another method?

Thanks

[2020-02-01 19:46] julianguyen commented on #1506
@dhuang612 Yeah we should update the Wiki! But if there's any changes that need to be done in the Dockerfile itself, we should also do that too!

[2020-02-05 02:17] Camboridesbikes commented on #1645
I see what's happening. It seems the viewport essentially stays where it is on the page, but the page shrinks as the resources are un-populated.

I will fork and set up the environment tonight!

[2020-02-05 11:26] govardhan27 commented on #973
Hey @julianguyen , Can I take this up?

[2020-02-05 12:30] GayathriVenkatesh commented on #973
Hi @govardhan27, I am currently working on this issue and have almost completed it. Sorry for the delay!

[2020-02-08 05:44] julianguyen opened #1656 "Re-write existing React components with new Hooks API"
# Description

We're currently on React 16.9.0, which means we can leverage the Hooks API. Let's re-write our components to use it where suitable.

I'm going to go ahead and divide the work so you can assign yourselves to it:

- [x]  client/app/components/Accordion/index.jsx [@RomanMaru]
- [x] client/app/components/BaseContainer/index.jsx [@thesid01]
- [x] client/app/components/Chart/ChartControl.

[2020-02-08 06:12] wstan2 commented on #1656
Can I help with this?

[2020-02-08 07:35] julianguyen commented on #1656
@wstan2 Of course! Feel free to assign yourself to this issue :D Thanks!

[2020-02-08 07:40] #1556 closed

[2020-02-08 08:28] julianguyen opened #1657 "Check that Chinese translations are not breaking layouts"
# Description

I noticed that the [About](https://www.if-me.org/about) page in Chinese is breaking the layout. Looks like some HTML in the translations were not copied over correctly. I would manually go through pages with the Chinese translations enabled to make sure everything still looks the same.

# Screenshots

Example of a broken page:

<img width="1680" alt="image" src="https://user-images.

[2020-02-14 08:41] Loriick commented on #1656
hello, I assign myself to this issue , I hope it's okay ?

[2020-02-14 17:25] julianguyen commented on #1656
Go head! Actually I think @Loriick and @wstan2 could split up the work! I recommend deciding that in this issue :)

[2020-02-17 20:30] leeacto commented on #1548
I couldn't make the test "flakey" (intermittently failing), but I did see if consistently fail. An error was raised because it couldn't find the translation key. This key is not used anymore and was replaced with a hardcoded `Linebreak`.

Removing the translation attempt let the page load successfully and pass the test.

[2020-02-17 20:42] RomanMaru commented on #1656
Hello there, I'd like to help with this

[2020-02-17 22:19] leeacto opened #1660 "Clean up DB queries in Profiles#index"
# Description

Looking at the Profile page, I can see many extra database hits that fetch from DB cache or get the same information.
Ex. [Here](https://github.com/ifmeorg/ifme/blob/master/app/views/profile/index.html.erb#L15) The profile user is re-fetched from the database to check the location field. We already have the the user object, so re-fetching is unnecessary.

The goal is to clean up the

[2020-02-18 03:14] julianguyen commented on #1660
This is a great optimization!  Thanks so much for taking this on 🎉🤩

[2020-02-19 17:59] leeacto opened #1665 "Create moments_moods join table"
# Description
Moments currently track moods as a serialized array of Mood IDs on the moments table. Per Slack, this was a legacy decision. A more efficient way to store the relationship would be through a join table. This implementation would eliminate N+1 queries when iterating over moments to display mood names.

Acceptance Criteria:
* Implement join table to relate Moments to Moods
* Create and

[2020-02-19 18:18] julianguyen commented on #1548
I think this error is still happening @leeacto :( It existed before we introduce the Chinese translations you fixed up the bug in :/

[2020-02-19 18:19] julianguyen commented on #1656
Hey I think you all @Loriick  @wstan2 and @RomanMaru should sync on this! Figure out how you want to split up the work! :)

[2020-02-19 18:21] leeacto commented on #1548
Oh bummer. Thanks I'll look some more.

[2020-02-19 18:22] julianguyen commented on #1548
Example: https://app.circleci.com/jobs/github/ifmeorg/ifme/10363

[2020-02-19 20:38] #1657 closed

[2020-02-19 21:44] julianguyen commented on #1611
This looks great! Let me know how I can help @bmwachajr and @mapra99!

[2020-02-20 18:30] alekpentchev commented on #1656
Hi! :) Are there any components left? I'd be happy to help.

[2020-02-20 19:47] leeacto opened #1671 "QuickCreate dropdowns not expanded when default checkboxes are checked"
# Description
I noticed when editing a Moment that if categories/moods/strategies had been selected, they aren't visible until you click the caret to expand. From a UX perspective, I should be able to see what's been selected in order to add/update. Otherwise, I may not know or remember.

Updating the accordionOpen default state property to be conditional should fix this.

# Reproduction Steps
1.

[2020-02-20 20:45] #1660 closed

[2020-02-21 00:44] #1671 closed

[2020-02-21 14:47] #1665 closed

[2020-02-24 23:32] #1548 closed

[2020-02-25 18:24] alekpentchev commented on #1656
Hi all :)
I'd love to help with some components if there's something left. Let me know how it goes :)

[2020-02-26 14:30] alekpentchev commented on #1645
I’ve checked it yesterday and it works exactly as @Camboridesbikes wrote.
But the question is - how it should then behave if the list of resources changes?

[2020-02-26 20:57] julianguyen commented on #1560
How's this going @Acollie? :)

[2020-02-26 20:57] #1345 closed

[2020-02-26 20:59] julianguyen commented on #1645
Thanks for bringing this up everyone!

@alekpentchev @Camboridesbikes I think we'll want to scroll up to the top of the page everytime we select a tag!

[2020-02-26 21:06] Acollie commented on #1560
Hey @julianguyen , I really appreciate you checking up on me :)
I reached a bug which found it hard to fix. I also found it hard to write tests, for the feature.

Would it be possible if you or someone could try and give me a hand, since I am keen to finish this feature.

[2020-02-26 21:08] julianguyen commented on #1656
Hey folks who expressed interest in this @Loriick @wstan2 @RomanMaru @alekpentchev:

I'm going to go ahead and divide the work so you can assign yourselves to it:

- [ ]  client/app/components/Accordion/index.jsx
- [ ] client/app/components/BaseContainer/index.jsx
- [ ] client/app/components/Chart/ChartControl.jsx
- [ ] client/app/components/Form/DynamicForm.jsx AND client/app/components/Form/inde

[2020-02-26 21:12] julianguyen commented on #1560
No worries and thanks for the update @Acollie! I can help take a look, do you have an existing branch? :)

[2020-02-26 21:17] Acollie commented on #1560
I do the 'data_export' should have my version but its quite out of date with the main branch.

[2020-02-26 21:27] RomanMaru commented on #1656
Hi Julia, I'd like to take 3-4 firsts components

On Wed, Feb 26, 2020, 1:08 PM Julia Nguyen <notifications@github.com> wrote:

[2020-02-26 21:36] wstan2 commented on #1656
Can I take the last 3 components? Thanks.

[2020-02-26 22:39] Orelongz commented on #1656
I would like to take the Input component. Thanks

[2020-02-27 14:57] alekpentchev commented on #1656
Good idea! I'm ok with the remaining components:

- client/app/components/Form/DynamicForm.jsx AND client/app/components/Form/index.jsx
- client/app/components/Header/index.jsx
- client/app/components/Modal/index.jsx
- client/app/widgets/Comments/index.jsx

[2020-02-27 15:19] alekpentchev commented on #1645
@julianguyen good idea! :)
Because I don't see any activity since @Camboridesbikes activity I can start working on it. It should be a relatively easy task.

[2020-02-27 15:25] Camboridesbikes commented on #1645
I can take myself off. I see where and how to fix the source code, I've just been having trouble setting up the environment.

[2020-02-27 15:25] Camboridesbikes commented on #1645
I can take myself off. I see where and how to fix the source code, I've just been having trouble setting up the environment.

[2020-02-27 19:50] julianguyen commented on #1645
@Camboridesbikes Oh no! What kind of setup problems are you having? You can also post in our #setup channel on Slack.

[2020-02-29 15:12] alekpentchev commented on #1656
How we should approach testing functional component's state?
I was doing a research on that topic and, as far as I know, there aren't any good methods of doing this (like with good ol' wrapper.state()). Testing state is even discouraged in many resources.
I've rewritten DynamicForm for now and all tests rely on state values so I'm wondering how to tackle this.

[2020-03-01 03:33] julianguyen commented on #1656
Good question @alekpentchev!

So we shouldn't be testing state objects directly. We should be testing for its effect on the UI.

[2020-03-01 13:22] alekpentchev commented on #1656
@julianguyen I strongly agree with you. Since all tests in DynamicForm and Form are relying on component's internal state I'll try to rewrite them so that they refer to the UI effect.

[2020-03-07 19:41] GayathriVenkatesh opened #1687 "Track progress on strategies"
# Description

For every strategy created, it would be nice to have a feature that allows the user to enter whether he has followed it that day.

For example, in the screenshot below, I have created 3 strategies. I feel it would be convenient to have an option to keep track of how many days I have followed them.

![Screenshot from 2020-03-08 00-23-48](https://user-images.githubusercontent.com/3217

[2020-03-07 22:20] #1638 closed

[2020-03-08 03:22] #1640 closed

[2020-03-12 04:24] julianguyen commented on #1687
This is an interesting idea - integrating these Strategies as part of a TODO list. We could generate this TODO list from Strategies that are tagged in Moments (as these types of posts are supposed to reflect a user's current state).

We would have to think about what kind of statuses we want on a TODO item, e.g.
* In-progress
* Completed
* Cancelled

[2020-03-12 09:06] alekpentchev opened #1690 "Should the client app use a type checker?"
# Description

ifme client app uses Flow for static type checking. It does its' job but sometimes introduces certain errors like linting errors etc. It forces developers to type their code which creates some overhead on their work. Let's use this thread for discussing the question:

Should the client app use a type checker? Should we stay with Flow or move to TypeScript? Or should we remove type c

[2020-03-12 09:13] alekpentchev commented on #1690
In my opinion staying with Flow seems to be the most reasonable solution, because:
- it adds a lot of very useful information to the code (unless not used by the devs),
- raises type errors on-file-save not in the runtime
- it's already used in the client app pretty extensively

For the possible advantages of switching to other solution or withdrawing form type checking at all (but excluding PropT

[2020-03-12 09:27] alekpentchev commented on #1687
I agree, it's an interesting idea. Maybe we could introduce another tab to the sidemenu would be a nice place for that?
And each strategy could be automatically translated to a TODO where, as stated by you, could check / uncheck them as done.
The strategy list could show on each tab how many days the user has followed it.

[2020-03-12 22:47] julianguyen commented on #1687
I like that idea @alekpentchev! That way this TODO feature can be easily accessed.

[2020-03-13 05:48] manu29d commented on #1656
Hi @julianguyen,
Is this issue still under development? I see some PRs merged 7 days ago but I am not sure about the rest. If yes, could you update [the checklist above](https://github.com/ifmeorg/ifme/issues/1656#issuecomment-591644581) please.
Thanks.

[2020-03-14 00:45] julianguyen commented on #1690
Thanks so much for bringing this up! There's some history as to why we use Flow, but I won't delve into that since it doesn't really matter anymore 😆

Presently, I have the opinion:
1. If we want static type-checking, we should use TypeScript over Flow. To echo your sentiments, it's more maintained and more people have experience with TS than Flow (including myself haha).
2. If we want to move awa

[2020-03-14 01:00] julianguyen commented on #1656
@manu29d is still under development! The checklist above should be updated :) I'm not sure how far people are with the files they are working on. You may be able to pick up some work here if folks want to split things up more.

[2020-03-14 07:41] alekpentchev commented on #1656
I’ve done 2/4 components already and I’m slowly finishing the 3rd one. So in my case there isn’t much sense to split up the work.  It I’ll let you know if I’d need support :)

[2020-03-14 14:10] developer22-university commented on #1601
@julianguyen  i want to join slack channel , i have also mailed you, want to talk with you please contact me

[2020-03-15 16:00] julianguyen commented on #1656
For folks currently working on refactoring components, it will be likely that you encounter an error that looks like this:

[code]

This is related to a bug in React on Rails, the library we use to get React working in Rails. It can be resolved by exporting your React component something like this ([example](https://github.com/ifmeorg/ifme/blob/master/client/app/components/Form/index.jsx) for the

[2020-03-15 16:35] julianguyen commented on #659
I chatted with @Megha-Pathak over Slack about this issue and we've decided to change its scope:

We already ask users to add categories, moods, and strategies to their posts. So I don't think there's usefulness in having hashtags inside a post. However, I think something we can do is based on what the user has written in their moment post (specifically in the "What happen and how to do you feel?"

[2020-03-16 11:55] GayathriVenkatesh commented on #1315
@julianguyen @anushkajj I would love to help out with this issue! Let me know if this is something I can still work on :)

[2020-03-16 18:10] alekpentchev commented on #1690
@julianguyen thank you for your opinion on that matter. I would also be for option 1. And even if there aren't any types packages for some libraries we're using, we don't have to define them all at once. We can either declare an empty typings module to make TS stop complaining or introduce more and more times step by step.

Nevertheless I can make a small research to check whether libraries we're

[2020-03-16 18:21] julianguyen commented on #1690
I'm leaning towards 1) too.

Sounds good to me @alekpentchev. I think a small POC would work, maybe try on one component or widget first? Let me know if you need help with getting stuff to work with Webpack - I have tons of experience there.

[2020-03-16 18:22] julianguyen commented on #1315
@anushkajj @GayathriVenkatesh Sorry for the late reply! I think 80 characters work! Feel free to work on this together

[2020-03-16 18:24] alekpentchev commented on #1690
Sure, will take a look soon. And that's great! I'd appreciate some tips & tricks when it comes to webpack - JS frameworks made me forget about configuring webpack. 😆So I'll let you know when I'll have some questions.

[2020-03-17 14:18] GayathriVenkatesh commented on #1315
Hi @anushkajj, could you please fill me in on your progress? I would like to help out with whatever's left.

[2020-03-17 20:24] mwlai288 commented on #1656
Hi, I'm new here and would like to help contribute to the project. Let me know what I can do!

[2020-03-17 21:17] developer22-university opened #1696 "Suggested Password strength features checks should be visible to the first time user who are signing up"
# Description

on looking at the user signup, i discovered it gets very difficult sometime to first-time users while signing up, i discovered this issue, when the user can't set up password correctly for the first time,

PRESENT SITUATION
![Screenshot (105)](https://user-images.githubusercontent.com/51835554/76902488-16948e00-68c2-11ea-9e0f-4dcef09a10f0.png)

 to make sign up simple and easy for m

[2020-03-17 21:21] developer22-university commented on #1696
@julianguyen what do you think, is it be useful for community. please send remarks so i can proceed, as i really like to implement this missing feature

[2020-03-18 05:57] ArushiSinghal commented on #1582
Hi @julianguyen and @LMulvey
I and @enazuma11 wants to work on this issue.

[2020-03-18 19:41] LMulvey commented on #1582
That's absolutely fine with me, I'll assign it to them :)

I haven't had free time in months now :( My personal Mac died _**three separate times**_ and then I was bombarded with contract work so I've never made it around to it :(

[2020-03-19 04:01] julianguyen commented on #1696
Hey, I think this is a great improvement. Right now those checks are being made on the server-side when the user submits the form. We can do the checks you proposed in the React component. You would want to modify `InputPassword`.

We can discuss the design further too.

[2020-03-19 06:14] developer22-university commented on #1696
Sure

On Thu 19 Mar, 2020, 9:31 AM Julia Nguyen, <notifications@github.com> wrote:

[2020-03-19 10:38] developer22-university commented on #1696
julia  going through the code base i need  your help

[2020-03-19 13:10] jahvon commented on #1611
Hi @bmwachajr and @mapra99. I would be interested in helping out with this!

[2020-03-19 19:56] developer22-university opened #1698 "Users are not able to update their profille, updates are not getting saved in the profile section"
Users  cannot update their details in Customize profile section , it throws back  multiple errors while updating.

![Screenshot (108)](https://user-images.githubusercontent.com/51835554/77109211-87b27d80-6a49-11ea-9c0d-496cbb49d4ee.png)

1.) after clicking on update button it leads to  error page throwing a major error .which indicates the page connected to error is not working.

![Screenshot (107

[2020-03-19 20:00] developer22-university commented on #1698
@julianguyen  what do you think ? i have checked it after numerous test.
 user can update succesfully and save the details after solving this issue.

[2020-03-19 20:00] developer22-university commented on #1698
i can go forward with it

[2020-03-20 08:24] julianguyen commented on #1698
Sure, can you share the error log here? I'm unable to reproduce this issue in production and development.

[2020-03-20 08:26] julianguyen commented on #1696
I think we should leverage the existing `Tooltip` component to list the information. You find documentation for it [here](http://design.if-me.org/?path=/story/tooltip--element-is-text). We'll want to customize it for this use case of course.

[2020-03-21 08:17] julianguyen commented on #1315
@GayathriVenkatesh Great job doing this for en.yml! We'll want to do this for the other locales.

[2020-03-21 09:45] discombobulateme commented on #973
Dear community, is this issue still open? If so, may I work on it? :)

[2020-03-21 16:54] julianguyen commented on #1285
I'm going to close this issue in favour of https://github.com/ifmeorg/ifme/issues/659 which will recommend existing categories, moods, and strategies based on what you've written in your moments entry.

[2020-03-21 16:54] #1285 closed

[2020-03-21 17:37] #973 closed

[2020-03-21 17:47] julianguyen opened #1703 "Skip to main content link"
# Description

Let's add a "Skip to main content" link so that screen-reader or keyboard navigation users can skip the navigation menus.

We'll want to create a `SkipToContent` React component. We'll want to make sure it skips over to the correct content container for different user states.

We'll want to apply IDs to the elements that use the following classes. For example, we can use `#mainConte

[2020-03-21 17:50] julianguyen commented on #1698
Based on our Slack conversation, it seems like this is related to your dev environment and missing environment variable setup. I'm going to close this issue for now. Let's sync on Slack over this!

[2020-03-21 17:50] #1698 closed

[2020-03-21 17:50] discombobulateme commented on #1703
I would like very much to work on it :)

[2020-03-21 17:53] julianguyen commented on #1703
Assigned you! For future reference, you can assign yourself to issues :)

Feel free to DM me on Slack if you have further questions about this issue!

[2020-03-22 05:03] #1559 closed

[2020-03-23 15:25] Victoria-Hodder commented on #1703
As we discussed on Slack, @discombobulateme  and I will pair programme on this :) Looking forward to it!!

[2020-03-24 16:04] kajatiger commented on #1696
Hi I also had problems signing up as a first time user. There were 2 problems:
1. After submitting my name, password and email to the form, the error message said that my password requirements didn't match (although they did). The password that I wanted to chose had 1 special character, more than one uppercase, more than one lowercase and more than one digit. Altogether a bit more than 8 character

[2020-03-24 16:19] GayathriVenkatesh commented on #1656
Hi everyone!
Is there any component that needs help? Would love to work on it :)

[2020-03-24 18:21] julianguyen commented on #1696
@kajatiger Yeah that current behaviour could definitely be improved. Right now, we're relying on Rails views (which requires a page refresh or redirect) to display these errors.

We want to catch them earlier on in the React component. The `<InputPassword />` component was just introduced. We'll want to do these password checks in this component.

[2020-03-25 09:33] GayathriVenkatesh commented on #1632
Hi @mapra99, are you still working on this issue? If not, I would like to take it up :)

[2020-03-25 13:11] Megha-Pathak opened #1706 "[Feature suggestion] Creating web push notifications of credible content based on the categories, mood, and strategies a user select."
### Description - **A feature we can include is having web push notifications.**
These notifications will be related to customized encouraging messages for the user with links to credible information, podcast, videos, articles that can help them in dealing with their current categories, mood, and strategies.
These web push notifications will enhance the User experience as well as making the whole

[2020-03-26 07:26] #1632 closed

[2020-03-26 07:26] #1645 closed

[2020-03-26 16:15] bmwachajr commented on #1611
@jahvon sending you a message on slack

[2020-03-27 14:24] isabia commented on #1656
Hi, I would like to contribute. Is there any component that needs help? Would love to work on it too

[2020-03-27 15:39] RomanMaru commented on #1656
Hi @isabia, I'm still working on basecontainer component, so you can contribute chartcontrol comp. Ask @julianguyen to assign you

[2020-03-27 16:22] isabia commented on #1656
oh, great! @julianguyen Could you assign me?

[2020-03-27 18:29] julianguyen commented on #1656
@isabia I can't assign you this issue without you being part of the repo org!

You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2020-03-28 04:44] GayathriVenkatesh commented on #1696
Hi @developer22-university, since I had worked on the InputPassword component, I had reached out to Julia and she suggested that we collaborate on this issue. Could you please fill me in on your progress, so that we can take it forward?

[2020-03-28 05:43] developer22-university commented on #1696
If you don't mind I would like to work on this issue, I was busy doing
something , you can look for other issues, thanks

On Sat 28 Mar, 2020, 10:14 AM Gayathri Venkatesh, <notifications@github.com>
wrote:

[2020-03-28 05:46] developer22-university commented on #1696
@GayathriVenkatesh  I  would be happy to collaborate with you in future.

[2020-03-28 05:58] GayathriVenkatesh commented on #1696
Sure, no problem! :)

[2020-03-28 17:29] #1315 closed

[2020-03-29 19:58] julianguyen opened #1710 "Add "New Moment" button to signed in home page"
# Description

Let's make it easier for users to add their Moments!

Let's add the "New Moment" button on `/moments` to the home page. We only want this button to appear when the user is signed in and has stories in their feed.

# Screenshots

![image](https://user-images.githubusercontent.com/3010728/77859057-13e84180-71bc-11ea-933e-ed1484e9d29a.png)

When user is signed in and has items in their

[2020-03-29 20:00] julianguyen commented on #1706
I'm gonna close this because this is the project the selected RGSoC 2020 will be working on. Creating issues will be part of that work.

As discussed on Slack, please include what you've written here in your application :)

[2020-03-29 20:00] #1706 closed

[2020-03-29 20:06] #1564 closed

[2020-03-29 21:06] #259 closed

[2020-03-29 21:24] julianguyen commented on #1687
So something we need to think about is how this progress tracking feature could potentially leverage the "daily reminder email" checkbox we have set up:

![image](https://user-images.githubusercontent.com/3010728/77861277-c7efc980-71c8-11ea-8195-dc6467df40b8.png)

If someone is "finished" a Strategy, do we disable this checkbox?

In order to work on this, @GayathriVenkatesh or @alekpentchev, we sh

[2020-03-30 05:50] Manasa2850 commented on #1710
@julianguyen I would like to work on this :)

[2020-03-30 14:52] GayathriVenkatesh commented on #1687
@julianguyen So what I originally had in mind was that every strategy can be marked as "finished" on a daily basis (or as frequently as desired by the user). This wouldn't interfere with our reminder emails because each strategy is a continuous activity and is meant to be followed regularly (for which reminders are needed). The emails will have to be explicitly disabled by the user, if he chooses

[2020-04-01 01:13] isabia commented on #1656
Hi, @julianguyen. I had asked to participate in this issue before, but I was not part of the repo org. Now, I am. Could you assign me?

[2020-04-01 01:43] julianguyen opened #1713 "Recommend resources for users to use in Moments posts"
# Description

Our [Resources](https://www.if-me.org/resources) has a wealth of tagged resources that we can leverage for basic recommendations in the app.

Based on what a user has inputted in their Moments post (including tagged Categories, Moods, and Strategies), we can recommend some resources.

We can display them at the bottom of a post, like how we do for Strategies.

![image](https://user-

[2020-04-01 01:56] julianguyen commented on #1687
@GayathriVenkatesh

I like the idea of this feature not interfering with the reminder emails actually! I think through messaging, we can let users know this.

What you described sounds good to me. I think a good first start is updating the data model to reflect these changes. I think we can chat about weekly reports after, but I like the idea :)

[2020-04-01 01:58] julianguyen commented on #1656
Added you the issue and assigned you to the ChartControl component @isabia. Thanks for taking this on!

[2020-04-01 18:02] S-Warmenhoven commented on #1713
Aline and I would like to take on this issue to contribute to the project.  We realize that it's not tagged as "beginner-friendly", but would like to take on the challenge together.  Thank you.

[2020-04-01 18:25] julianguyen commented on #1713
@S-Warmenhoven @AlineRibeiro I think it would be great for you two to pair on this! Let's definitely sync on this feature then :) Thanks for taking it on!

[2020-04-03 06:47] #1710 closed

[2020-04-07 13:44] Manasa2850 commented on #1656
@julianguyen I'm working on Notifications

[2020-04-07 14:54] discombobulateme commented on #1703
Dear community, just a quick note to use here as a progression tracker. This is an image of the pre-approved design (at #design slack channel). We are still working on the component... studying a bit about react \o/

![bueLinkTop](https://user-images.githubusercontent.com/7980624/78684105-60d0c400-78f0-11ea-80b1-0f2c0192969a.png)
![blueSquare2](https://user-images.githubusercontent.com/7980624/786

[2020-04-07 17:21] julianguyen commented on #1703
Great work so far everyone!!!

[2020-04-09 10:03] gdemu13 commented on #1656
Hi, I'd like to contribute. If anyone wants to split the work please let me know :)

[2020-04-11 11:45] alekpentchev commented on #1656
Hi @gdemu13! I can share some of my work, e.g. ``` client/app/widgets/Comments/index.jsx ```
I have quite lots of things to do now so if someone would like to work on it I'm ok with it.

[2020-04-11 11:57] gdemu13 commented on #1656
Thanks @alekpentchev ! Should I assign it myself?

[2020-04-11 18:27] alekpentchev commented on #1656
@gdemu13 Let's ask @julianguyen to assign you to Comments component :)

[2020-04-14 00:01] KenAustria commented on #1656
Hello! Just emailed `join.ifme@gmail.com` about contributing to the project. Kindly let me know how I can help!

[2020-04-14 18:52] CSimmonsCS commented on #1656
Hello! Is there any components still open for contribution? If so, I would love to help.

[2020-04-15 20:55] julianguyen commented on #1656
@gdemu13 You've been assigned to `client/app/widgets/Comments/index.jsx` :D

[2020-04-15 20:55] julianguyen commented on #1656
@KenAustria and @CSimmonsCS `client/app/widgets/QuickCreate/index.jsx` and `client/app/widgets/Resources/index.jsx` are up for grabs if you want to work on these.

[2020-04-15 23:12] manuhazen commented on #1656
Hello! Is there any components still open for contribution? If so, I would love to help.

[2020-04-15 23:37] KenAustria commented on #1656
Hi @julianguyen, I'll take `client/app/widgets/QuickCreate/index.jsx`. Thank you!

[2020-04-18 01:46] rutger-t commented on #1601
Hi @SonuToor

I was wondering if you are still working on this issue.
Let me know if you are, then I will grab another issue!

[2020-04-18 11:29] bmwachajr opened #1722 "Pre Rails 6 Upgrade Plan"
# Description

This issue benchmarks processes and documentation for the Rails 6 upgrade.
Working Doc:
[Feature audit, Rollout plans, Rollback plans](https://docs.google.com/document/d/1e3Nugq7ep4q2MkvCgzNrnOADot11OOYa6V-O2dWgK3A/edit#)
[Perfromance metrics](https://docs.google.com/spreadsheets/d/1OFRf6MADs7Uf0DFF29UgcPpNxb-ksZ2EFtr9tPz_wk4/edit?pli=1#gid=0)

# Tasks:
- [x] Feature audit (**@bmwac

[2020-04-18 15:55] GayathriVenkatesh commented on #1580
Hi @LMulvey, is anyone presently working on this issue? If not, I'd love to take it up!

[2020-04-18 21:05] julianguyen opened #1724 "Fix warning in DynamicForm.spec.jsx"
# Description

When running our automated React tests we get a warning from `DynamicForm.spec.jsx` related to unique keys.

# Reproduction Steps

Run `yarn test -- client/app/components/Form/__tests__/DynamicForm.spec.jsx`. The tests pass but we get the following warnings:

[code]

We're not getting this issue in the implementation so there must a bug with the mocks.

---

Please assign yourself (

[2020-04-19 02:05] LMulvey commented on #1580
All yours, @GayathriVenkatesh :)

[2020-04-20 11:21] renjithabby commented on #1724
Hello there, I'd like to help with this. i have also sent an email to join.ifme@gmail.com. thanks.

[2020-04-20 13:12] SonuToor commented on #1601
@rutger-t  I've been quite busy, so you can take it up!

The conversation between me and Julia above will be quite helpful!

[2020-04-20 16:09] bmwachajr commented on #1722
@julianguyen I completed the feature review which is a simple stock-taking of each feature.

I would like your review, [doc](https://docs.google.com/document/d/1e3Nugq7ep4q2MkvCgzNrnOADot11OOYa6V-O2dWgK3A/edit#)

PS This feature review will be useful when we do an in-person feature testing after the upgrade.

[2020-04-20 16:11] bmwachajr commented on #1722
@jahvon I am adding you tot the `Benchmark Test coverage, Database performance, and Application Performance metrics. (@mention)` task.

In future feel free to add yourself to the (**@mention**). It helps us keep track of who is handling a given to-do.

Cheers

[2020-04-20 17:25] julianguyen commented on #1724
@renjithabby Thanks! It would be great to get this fixed :) Once you accept the team invite, you can assign yourself to this issue!

[2020-04-21 18:40] #1724 closed

[2020-04-25 18:18] julianguyen opened #1728 "Proofread and improve Chinese translations"
# Description

I reached out to my lovely friend @newpro (thank you!!!), who's also a software engineer, to improve our Chinese translations. He did a quick skim of them and noted there was room for improvement.

cc: @GayathriVenkatesh @Manasa2850 who worked on them initially

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You n

[2020-04-26 20:40] newpro commented on #1728
## Reference Table for Chinese

### Objectives and Problems

The Chinese and English is not one to one mapping in this translation for two reasons. First, due to the cultural differences, the same word may have multiple meanings, refer to different positive/negative connotations apply to different situations, the small emotional differences may be significant in an app for emotional support. Secon

[2020-04-27 12:22] newpro commented on #1728
The translations still have some room for improvement, preferably someone with Chinese language background can check on it in future. Close this for now. Keep up the good works and do not hesitate to ask for future help from me! :metal:

[2020-04-27 23:56] enoralecuyer opened #1730 "Cursor doesn't change when hovering over new mood description"
# Description

The cursor doesn't change when hovering over the description of a new mood, as we are about to type. To make this feature more accessible, I suggest to change the cursor to a type text.

This change is also needed for:
- new moment
- new category
- new strategy
- new medication
- new group

# Screenshots
![newmoodcursor](https://user-images.githubusercontent.com/48727972/80432849-3b

[2020-04-28 05:18] julianguyen commented on #1730
This is a really great find! Thanks for taking this on!!

[2020-04-28 09:57] cmcWebCode40 commented on #1656
Hi @julianguyen  is there any components left I'm new to the open source community and I'm willing to help out

[2020-04-29 18:47] JayeshJanyani commented on #1730
Hi @enoralecuyer, I am interested to take this up.

[2020-04-30 00:33] enoralecuyer commented on #1730
Hi @JayeshJanyani, thanks, you can assign it to yourself.

[2020-04-30 01:49] julianguyen commented on #1656
@cmcWebCode40 `client/app/widgets/Resources/index.jsx`and ` client/app/components/BaseContainer/index.jsx` have been assigned a while ago but not worked on. So I would start off with one of them.

[2020-04-30 08:55] sridhar02 commented on #1656
hii @julianguyen ,if any components are left ,please let me know  i can work on them

[2020-04-30 16:25] julianguyen commented on #1656
@sridhar02 `client/app/components/BaseContainer/index.jsx` is available

[2020-05-01 08:50] cmcWebCode40 commented on #1656
@julianguyen alright thanks..  `client/app/components/BaseContainer/index.jsx`
I'm going ahead to start working on it right away will give feedback soon

[2020-05-01 13:03] bmwachajr opened #1732 "Refactor the omni auth callback controller"
# Description

Refactor the omniauth_callbacks_controller and respective specs. Following up on the PR #1705

Cc @Manasa2850  @GayathriVenkatesh

# Reproduction Steps

# Screenshots

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out

[2020-05-01 18:44] julianguyen opened #1733 "Add ability to remove Facebook authentication for account"
# Description

@Manasa2850 recently worked on setting up Facebook authentication. We'll also want to add the ability to remove FB authentication in user settings (`/users/edit`).

We currently do this with Google authentication by allowing the user to set a password in order to eliminate their Google authentication.

![image](https://user-images.githubusercontent.com/3010728/80832221-1239e100-8ba1

[2020-05-01 20:56] #795 closed

[2020-05-01 21:38] julianguyen commented on #1728
Re-opening this issue to also review:
* https://github.com/ifmeorg/ifme/blob/master/config/locales/devise.zh-CN.yml
* https://github.com/ifmeorg/ifme/blob/master/config/locales/devise_invitable.zh-CN.yml
* https://github.com/ifmeorg/ifme/blob/master/config/locales/kaminari.zh-CN.yml

[2020-05-04 20:54] klaffert commented on #1730
@enoralecuyer @JayeshJanyani Hi, is this still an open issue? If so, I'd like to take this up. Thanks!

[2020-05-04 22:24] enoralecuyer commented on #1730
Hi @klaffert, this is still an open issue. @JayeshJanyani will be able to bring you more information as he took the issue a few days ago. Thanks for your interest!

[2020-05-05 13:08] cmcWebCode40 commented on #1656
Alright I have seen mine assigned to me thanks

[2020-05-05 13:42] cmcWebCode40 commented on #1656
@juliamji I'm still waiting to be added to your organization so that I can open a PR I have sent a mail ..

[2020-05-05 17:16] julianguyen commented on #1656
Hey, I replied back to your email. I'm in Pacific Time and have a day job so I may not reply right away depending on your timezone.

[2020-05-05 17:17] julianguyen commented on #1656
Everyone who's working on files for this issue! Can you let me know what your status is? If you're able to work on it, please let us know. Working on this issue is high-demand apparently.

[2020-05-05 17:21] julianguyen commented on #1730
Hey folks, please assign yourself to the issue if you're working on it :) Also working together could be a great way for multiple people to work on an issue!

[2020-05-05 17:33] cmcWebCode40 commented on #1656
Thanks seen

Sent from Yahoo Mail on Android

  On Tue, May 5, 2020 at 6:16 PM, Julia Nguyen<notifications@github.com> wrote:

Hey, I replied back to your email. I'm in Pacific Time and have a day job so I may not reply right away depending on your timezone.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-05 17:35] cmcWebCode40 commented on #1656
I will be giving status report by tmr

[2020-05-05 18:47] bianca93 commented on #1733
Hey @julianguyen going through unassigned issues to find something I can help with after being away for a while. Would like to take this one on 😄 if that's ok with you

[2020-05-05 19:10] julianguyen commented on #1733
That would be great @bianca93! Feel free to reach out on Slack in #dev if you have questions! @bmwachajr should also be able to help too :)

[2020-05-06 18:17] cmcWebCode40 commented on #1656
@julianguyen just like said yesterday that I will be giving status report,I started working on my task and should be done by tomorrow or next and  I have questions to ask but I think slack will probably be the be at place to ask it

[2020-05-06 19:14] S-Warmenhoven opened #1737 "Toggle Resource Recommendations"
# Description

Toggle the display of Resource Recommendations in Moment Post

# Screenshots
![toggle_resource_recommendations](https://user-images.githubusercontent.com/57923250/81218356-ecdb1780-8f92-11ea-850e-14719f0c3552.gif)

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.co

[2020-05-07 09:58] bmwachajr commented on #1722
This issue has been completed. And we have the following guidelines.:

- [Feature audit, Rollout plans, Rollback plans](https://docs.google.com/document/d/1e3Nugq7ep4q2MkvCgzNrnOADot11OOYa6V-O2dWgK3A/edit#)

- [Ifme KPI metrics](https://docs.google.com/spreadsheets/d/1OFRf6MADs7Uf0DFF29UgcPpNxb-ksZ2EFtr9tPz_wk4/edit?pli=1#gid=0)

I believe we are ready for the upgrade.

[2020-05-07 16:00] julianguyen commented on #1722
Woot! Looks good to me. Fantastic work! :)

[2020-05-07 16:15] #1722 closed

[2020-05-09 08:26] bmwachajr commented on #1611
Counterpart resource [Rails 6 Release Notes](https://guides.rubyonrails.org/6_0_release_notes.html)

[2020-05-09 16:33] #1611 closed

[2020-05-09 18:05] gdemu13 commented on #1656
Hi @julianguyen, if client/app/widgets/Resources/index.jsx is still available I can work on it

[2020-05-09 19:10] julianguyen commented on #1656
@gdemu13 Feel free to take it! Thanks so much :D

[2020-05-10 17:56] #1728 closed

[2020-05-11 05:41] Manasa2850 commented on #1656
@julianguyen  I'm not working on `client/app/widgets/Notifications/index.jsx` currently. So anyone who wants can work on it. You can refer to my PR if needed.

[2020-05-11 21:39] S-Warmenhoven opened #1746 "Fix password uniqueness validation index"
# Description

Rubocop Offense:

app/models/password_history.rb:16:3: C: Rails/UniqueValidationWithoutIndex: Uniqueness validation should be with a unique index.
 validates :encrypted_password, presence: true, uniqueness: { scope: :user_id }

# Reproduction Steps

Found offense by running "rubocop -a" in terminal

---

Please assign yourself (via the Assignees dropdown), if you do want to work on