[2014-08-14 17:29] julianguyen opened #1 "Alert System (Email/Google Calendar alerts) for appointments, medications, and trigger events"

[2014-08-14 17:30] julianguyen opened #2 "Enchancements to news feed"
* Updates in real time
* Sorting news by categories
Can be found in app/views/pages/home.html.erb (view) app/controllers/pages_controller.rb (controller, look at home def)

[2014-08-14 17:31] julianguyen opened #3 "In-depth profiles"
* Bio
* Ability to make some triggers public (like blog posts)
* List conditions

[2014-08-19 05:40] julianguyen opened #4 "Discovering new allies through moods and categories"

[2014-09-15 06:18] julianguyen opened #5 "Support groups"
Create support groups from allies use them to tag triggers and strategies.

[2014-09-15 06:21] julianguyen opened #6 "Treatment and exercises"
Posts on treatment and exercises to improve a user's condition
Tied to a specific categories and triggers
Users are able to "adopt" strategies from their allies and add them to their triggers.

[2015-02-15 16:22] julianguyen opened #9 "Set default profile picture"
Set a default profile picture if the user has not uploaded one

[2015-02-15 17:07] julianguyen opened #10 "Draft and published mode for Moments and Strategies"
Saving as a draft does not publish the trigger/strategy to the user's allies. On the other had, publishing does.

[2015-02-15 20:51] #9 closed

[2015-02-19 19:16] dburgoyne opened #11 "Profile information is globally viewable"
By explicitly specifying a user ID in the query string, any user can view any other user's profile page.  This also allows a user to indirectly determine the total number of if-me users.

Steps to reproduce:
Log in as any user and make a GET request of the form http://www.if-me.org/profile?userid=N, where N is any integer.  If a user with ID N exists, their profile page will be returned.  Otherwis

[2015-02-19 22:35] dburgoyne opened #12 "allies table is hard to work with"
Determining if two users are allies currently requires searching two lists.  Accessing each list requires multiple dereferences, which need to be checked for null.  Making allies a junction table would make working with this table much easier, and is required to solve #11 cleanly.

[2015-02-20 05:12] julianguyen opened #13 "More unit test coverage"
Ideally, there should be unit tests for every model and controller in the app.

[2015-02-20 22:35] tuyen93 commented on #13
Hi Julia,

As I plan take only my window laptop with me to San Francisco and leave my old mac pro in Sydney.

Therefore I'll go back to window to set up your 'if-me' project on my local window environment laptop, before I look at your assigned #13 to me in my free time only from my prioritizing of my already busy scheduled tasks in revising my java skills for my USA  employment in San Francisco wh

[2015-02-20 22:44] julianguyen commented on #13
You can definitely do front-end work as well. Just assign yourself to other issues. I assigned you this because you seem to have a lot of experience with testing. You can un-assign yourself from this task if you want :)

Good luck

[2015-02-27 01:15] julianguyen opened #14 "Reporting abuse and harassment, blocking allies"
There needs to be a feature in place for doing so and a moderation system for that

# Requirements

- Being able to report a user by clicking a link from their profile or from a comment
- When that happens, that data is saved to a new table in the database (include the reportee user id and reported user id and an optional comments column)
- You would have to create the ability to make a User an ad

[2015-02-27 01:17] julianguyen opened #15 "Creating support groups to share resources and organize meetups"
* Creating support groups with existing allies
* Having admins manage members and moderate posts
* Posting resources and reviewing them
* Creating meetup/support group events online/offline

[2015-02-27 16:22] julianguyen opened #16 "Improve flow of adding categories and moods to triggers"
Creating categories, moods, and triggers feels like a redundant process. We should combine creating categories and moods while writing triggers (also giving the option for users to add descriptions and manage all categories and moods in one place)

[2015-02-28 16:09] jzshen opened #17 "more user-friendly in terms of viewings"
currently the allies who are able to view your posts are all adjusted manually. this should be done automatically and users should be able to configure if they dont want certain or any users to see their post.

[2015-03-01 19:12] julianguyen opened #19 "Responsive layout"
Make the layout responsive for mobile

[2015-03-01 20:13] DeonHua commented on #19
Are we using any responsive frameworks right now?

[2015-03-01 20:14] julianguyen commented on #19
Nope. I usually make things responsive manually haha. If you know of any good frameworks worth trying, then let me know!

[2015-03-01 20:15] DeonHua commented on #19
I usually use Bootstrap, but I think in this case it would be better to work with SASS and [Bourbon Neat](http://neat.bourbon.io/)

[2015-03-01 20:18] julianguyen commented on #19
I've written all of the CSS thus far, so a framework like Bootstrap shouldn't be necessary. But Bourbon Neat looks intriguing! Thanks for bringing it up ^_^

[2015-03-02 01:14] julianguyen opened #20 "Better error pages"
Create better 404, 422, and 500 pages that match the UI and are more helpful to the user. Right now, they are pages auto-generated by Rails.

[2015-03-02 02:55] jzshen commented on #20
which paths / links trigger these?

[2015-03-02 02:59] julianguyen commented on #20
It's triggered by pages that don't exist, pages that are missing model data, etc.
Don't have a definitive list. It's worth investigating more for testing purposes :)

[2015-03-06 03:31] julianguyen opened #21 "UML Diagrams for Models"
I need to create UML diagrams for the existing models. Anyone else who is adding a model should do the same. It will make it easier for people to decipher the database schema.

[2015-03-08 03:16] julianguyen commented on #21
Resolved by @jzshen with https://github.com/preston/railroady

[2015-03-08 03:16] #21 closed

[2015-03-24 01:48] julianguyen opened #24 "Code of Conduct"
We should have a code of conduct for team communication (particularly on Slack).

[2015-03-25 03:01] icechen1 commented on #24
I used http://opensourcebridge.org/about/code-of-conduct/ as a template for
a hackathon I organized earlier this month. This might help :)

On Mon, Mar 23, 2015 at 9:48 PM, Julia Nguyen <notifications@github.com>
wrote:

--
Regards,
Yu Chen Hou
yuchenhou.com

[2015-03-25 13:03] janinecodes commented on #24
A lot of people seem to like AlterConf's Code of Conduct: http://www.alterconf.com/code-of-conduct

I'm sure it could be revised for communication (rather than conference attendance) purposes.

[2015-03-25 23:20] julianguyen commented on #24
These look like great resources! If anyone wants to help write this, assign yourself the task (I will be working on it too).

[2015-04-11 14:17] jzshen commented on #11
Should users have a username then to counteract the problem?

[2015-04-11 15:22] julianguyen commented on #11
That shouldn't be necessary. I refactored the model for users and allies so that this problem is fixed. Let me know if it isn't though.

[2015-05-03 01:08] #13 closed

[2015-05-06 16:22] juliepagano commented on #24
Some folks are using contributor covenant, which is a really nice wording targeted specifically at open source projects.

https://github.com/CoralineAda/contributor_covenant

[2015-05-07 22:03] julianguyen commented on #17
This breaks viewing shared triggers on profile pages.

[2015-05-10 04:44] juliepagano commented on #19
Has there been any movement on this since March? I'm working on a bunch of styling cleanup, so I'm inclined to look at this when I finish that unless someone else objects.

[2015-05-10 04:45] julianguyen commented on #19
Nope no movement!

[2015-05-10 04:51] juliepagano opened #30 "Specify ruby version used for the project"
I would recommend indicating somewhere what version of ruby you are using for development of this project, so that new contributors know what to set up and to minimize any weirdness that could be caused by people using different versions.

I think you can enforce this programmatically with a .ruby-version file. At a minimum, maybe specify it in the README.

[2015-05-13 19:12] julianguyen commented on #30
Great idea, I will work on that tonight!

[2015-05-15 02:39] #30 closed

[2015-06-16 02:17] julianguyen commented on #15
@gCrew Would you be interested in working with me on this? You could work on the design aspect of this feature!

[2015-06-16 15:07] gCrew commented on #15
@julianguyen I can definitely work on the design aspect of this. Just tell me the details of what I am expected to know and design because I do not have as much experience. So, I need to get started as soon as possible.

[2015-06-16 17:22] #5 closed

[2015-06-16 17:23] julianguyen commented on #15
The work is being done in the support-groups branch! https://github.com/julianguyen/ifme/tree/support-groups. Will send you screenshots on Slack!

[2015-06-16 17:29] julianguyen opened #31 "Create wiki showing existing if me features"
To help on board new contributors, we should have a wiki with screenshots and explanations of the existing features.

[2015-06-16 17:29] julianguyen commented on #31
@SrishtiG Would you be interested in working on this?

[2015-06-23 15:27] julianguyen commented on #15
@gCrew I suggest working on adding a calendar and time picker to the feature! Also add any UI enhancement you think is necessary!

[2015-07-01 06:20] gCrew opened #33 "Adding date/timepicker"
I am currently working on adding a timepicker and a calender to the meetings' feature.

[2015-07-03 11:39] gCrew commented on #33
Its working, but after the meetings page has rendered, you need to refresh it. So basically it does not work the first time.

[2015-07-03 11:46] #33 closed

[2015-07-03 11:47] gCrew opened #35 "Timepicker has a tiny Bug"
User has to refresh the page(after the first rendering) in order to use the timepicker.

[2015-07-06 07:09] #35 closed

[2015-07-07 06:57] julianguyen commented on #24
Thanks @juliepagano for suggesting Coraline's contributor convenant!

[2015-07-07 06:57] #24 closed

[2015-07-07 06:57] #12 closed

[2015-07-07 06:57] #11 closed

[2015-07-15 17:44] julianguyen opened #41 "Possibly combine categories and moods"
They use the same back end logic and they are essentially the same feature. Would be nice to simplify the navigation!

[2015-07-15 17:49] julianguyen opened #42 "Improve UX in various forms"
The UX could be sooo much more engaging. Various people can work on this!

These are the most critical areas to address (in order of importance)
* Triggers
* Support groups
* Medications
* Strategies

[2015-08-09 03:08] lucyyu24 opened #44 "improve visualization of trigger -> strategy"
- emphasize the relationship between trigger and strategy
- possibly have a state in which the strategy has been successfully applied to the trigger

[2015-08-14 11:39] chriswingler opened #46 "Use cases and HIPAA compliance?"
Hey I'm currently in therapy after years of homelessness and mental illness and since I'm interested in technology, my therapist and I have been talking about how we might be able to include technology in our sessions.  I've brought my laptop in and showed her cool stuff like Github, Cloud9, IBM's Bluemix, and Trello and I plan on showing her If Me in our next session, but at first glance I'm assu

[2015-08-17 23:22] julianguyen commented on #46
Thank you Chris for taking the time to write us and open up. We are not HIPAA compliant and thank you for brining that up! Could you email us at join.ifme@gmail.com? We'll add you to your Slack page and schedule a time to video chat!

We're aiming to launch the beta version by the end of year and have MH patients and practitioners give their feedback! We also want to get feedback before that!

[2015-09-18 00:15] jeanieshark commented on #19
@juliepagano I just randomly stopped by here through the Internet rabbithole and would love to help out with this effort. I used to be one of the maintainers of Foundation and would love to help out. :smile:

[2015-09-21 19:14] julianguyen commented on #19
@jeanieshark We would love for you to help out! Can you email join.ifme@gmail.com your email address so we can add you to our Slack page? :)

[2015-09-24 11:28] emitche commented on #19
I was considering adding Foundation, as it is often what I use. May add it. That way others can easily make items responsive.

I made some responsive changes to the header and that's in a pull request.

Individual pages still need work:
- Triggers
- Strategies
- Medications
- Groups (tweaks)
- Allies (tweaks)

[2015-09-24 19:13] julianguyen commented on #19
Sounds good! ++ on Foundation! @jeanieshark would you be interested in helping out with some of the individual pages @emitche listened?

[2015-09-25 00:05] jeanieshark commented on #19
@julianguyen @emitche Yes, would love to! I'm finishing up a couple of other personal project at the moment, but would love to help out in a couple weeks!

[2015-10-08 16:24] jellene4eva opened #51 "Rescue comment validation fail should flash error message"
[code]
Empty comment boxes should be rescued correctly

[2015-10-23 00:00] tienyuan opened #53 "Consider using static analysis tools"
Brakeman can look for security issues
http://brakemanscanner.org/

Rubocop can look for style issues
https://github.com/bbatsov/rubocop

[2015-10-23 23:18] julianguyen commented on #53
+1

[2015-10-25 21:20] julianguyen opened #54 "Privacy Policy"
I'm currently working on the privacy policy and am looking for help to write it!
Things we want to outline:
* What data is being collected
* How the data will be used
* How the data will be protected in all circumstances

[2015-11-08 20:02] tienyuan commented on #53
Brakeman
[code]

SimpleCov
<img width="916" alt="code_coverage_for_ifme" src="https://cloud.githubusercontent.com/assets/1626276/11022270/5ec02cf6-860f-11e5-891c-d0c40042a5f0.png">

Skipped rubocop, probably not important

[2015-11-09 04:23] tienyuan commented on #53
I think the Cross Scripting wanrings are false positives. The links are make html safe on the next line. The rest is a reminder to update to 4.1.11+. As of today, the latest version is 4.1.13.

[2015-11-15 19:00] tute commented on #2
@julianguyen says in HackerHours Slack:

`app/views/pages/home.html.erb` (when you hit the home button once you have signed in) is a newsfeed.
Right now it just displays posts in ascending order (date/time) from your allies.
I think this newsfeed can be improved to be able to filter by category and mood.

[2015-11-15 19:02] julianguyen opened #56 "Making the triggers feature more engaging"
The goal the triggers feature is to tell stories about an event, moment, or experience that played an affect on your mental health (whether positive or negative)

 Currently the feature looks like this:
<img width="1405" alt="screen shot 2015-11-15 at 10 58 00 am" src="https://cloud.githubusercontent.com/assets/3010728/11170397/e76d5d1c-8b87-11e5-9829-17b6f47c71ff.png">

In order to get the user t

[2015-11-15 19:59] julianguyen opened #57 "Time and date picker broken in Group Meetings"
To get to group meetings:
* Sign in
* Click Groups
* Create a Group or click on an existing one
* Create a Meeting (clicking plus sign to the right of Group name)

![screen shot 2015-11-15 at 11 57 21 am](https://cloud.githubusercontent.com/assets/3010728/11170684/402f4eb2-8b90-11e5-8b46-ce1ea8b52797.png)

Clicking on the date and time fields should open a jQuery UI picker, but it is not working

[2015-11-15 20:03] georgetoothman commented on #20
interested in contributing to this with @iuliiakot and @NGewirtz from NYC Hacker Hours with thoughtbot. my working branch here: with https://github.com/georgetoothman/ifme/tree/add-error-pages

[2015-11-15 20:04] julianguyen commented on #20
Thanks so much @georgetoothman! I'm on the Hacker Hours slack if you want to talk about anything! Feel free to share screenshots here of what you envision these error pages to be like!

[2015-11-15 20:07] julianguyen opened #58 "Putting string labels in en.yml"
Ideally, string labels (used in forms, headings, etc.) should be placed in config file so that we can easily modify things in the future. Go through all of the strings being used in the various views and put them in en.yml

[2015-11-15 20:21] markfarrell commented on #54
Privacy policy can be found at http://www.if-me.org/privacy now?

[2015-11-15 20:22] markfarrell commented on #54
Wait, but how will user data be protected?

[2015-11-15 20:23] julianguyen commented on #54
Good question: not sure how to phrase that. Ideally, we will not be giving user data to third parties including government, police, or medical organizations without the user's consent.

[2015-11-15 20:24] julianguyen commented on #54
Not sure if we are allowed to explicitly state that or if that requires some kind of legal intervention (see: https://github.com/julianguyen/ifme/issues/46)

[2015-11-15 20:28] jolim24601 opened #59 "Migration Chain is Broken"
Steps to reproduce:

[code]
Will be fixing this in the next hour or so!

[2015-11-15 21:06] georgetoothman commented on #20
https://github.com/julianguyen/ifme/pull/60 current status Thanks all for the help

[2015-11-15 21:12] julianguyen commented on #20
Awesome work everyone :) +1

[2015-11-16 01:52] #17 closed

[2015-11-16 01:53] #59 closed

[2015-11-16 01:53] julianguyen commented on #57
Datepicker working, timepicker still broken

[2015-11-16 11:53] loisgh commented on #2
Hi Julia,

I'm interested in taking on this issue.  I have a comment.  I think it might make more sense to allow them to filter by category and mood rather than just sorting on category.  Although I can probably manage to do both.  Please advise.

[2015-11-16 23:12] tute commented on #2
@loisgh, send over your Pull Request and we discuss over specific code! :+1: :)

[2015-11-16 23:13] julianguyen commented on #2
Category and mood are good filters!

[2015-11-17 02:31] loisgh commented on #2
Hi Julia,

It seems that a trigger can belong to more than one category.  If a trigger belongs to one or more categories, how do you want the page to look.  eg. trigger-1 belongs to cat-1, cat-2.  So should the page look as follows:

cat-1
  trigger-1 etc ...
cat-2
  trigger-1 etc ...

Also how should the triggers be sorted within the categories?  Should they be sorted by date desc.  That would be

[2015-11-17 03:11] tute commented on #2
Your suggestion of ordering newest first within categories would make sense to me.

If a trigger can belong to more than one category, then more than a "category" it seems to be a "tag". Is it worth it to rename the model to denote that potentially confusing behavior?

If we filter by category, would we ever be showing more than one at the same time, or should we allow users to filter by only one?

[2015-11-17 03:25] julianguyen commented on #2
:+1: on ordering based on newest first
We should be able to filter by multiple categories
[filter box here]
[list of triggers in ascending order by date/time]

I think "tag" is a good name for this feature actually. It's shorter and it seems that people use "tag" more frequently in their vocabulary than "category". If you want to go through the process of renaming the controller, model, and view a

[2015-11-17 03:26] julianguyen commented on #2
@tute @loisgh  What do you think of the naming of "trigger"? Do you think it has a negative connotation or is an appropriate term to use?

[2015-11-18 10:20] loisgh commented on #2
I'm not sure.  I don't think it has a negative connotation psychologically.  I think it might be a bit confusing technologically.

[2015-11-18 10:21] julianguyen commented on #2
What about:
* story
* moment
What are your thoughts on that?

[2015-11-20 13:16] markfarrell opened #63 "Sleep, nutrition, exercise, supplement intake, meditation time, etc?"
Hey,

I feel like I'd want to somehow be able to measure and log my sleep schedule, nutritional content of diet, exercise vigor & time, supplement intake, meditation time, etc. when using ifme. When poking around the app, I almost feel as though I'd like to be able to compare these measures/log to my mood/trigger event at a nearest moment in time and derive strategies from there. Derive strategies

[2015-11-20 13:17] markfarrell commented on #54
Is one of the project goals to become HIPAA compliant?

[2015-11-20 14:10] markfarrell opened #64 "Research in psychology?"
Broadly speaking, what research in psychology might help provide ideas / give implicit suggestions about how to improve the design & functionality of ifme?

[2015-11-20 19:58] julianguyen commented on #54
@markfarrell I think so. But I honestly do not know the process for being HIPAA compliant. We definitely need help with this!

[2015-11-20 19:59] julianguyen commented on #64
@markfarrell Having people in the mental health field looking at the app and providing feedback on UX.

[2015-11-20 20:55] markfarrell commented on #64
:+1:

[2015-11-22 02:29] jcotillo opened #65 "groupid not being pulled into to new meeting"
groupid does not pass through to the create action of meeting

[2015-11-22 03:19] attnjamie opened #66 "User Onboarding: Mood Inventory"
Create a way where users can identify commonly occurring moods/emotions that will later populate on a landing page.

Users should be able to choose up to 3.

[2015-11-22 03:20] attnjamie opened #67 "User Onboarding: Mood Details"
users should be taken through filling out details about the mood they chose in the first step of onboarding.

This includes situations that may arise when this mood happens (triggers/moments), potential ways to cope with it if it's something to be coped with, etc.

[2015-11-22 22:11] julianguyen commented on #65
Thanks for the find @jcotillo! Can you put reproduction steps?

[2015-11-22 22:30] julianguyen opened #68 "Thinking about different user personas"
Our primary focus has been creating tools for people looking for support. We should also enhance the experience for people using the app primarily to support others. Supporters can use all the tools supportees can use.

However we should provide recommendations on what to use for supporters. Should we consider the supporter/supportee persona in user onboarding? @jeanieshark

[2015-11-23 03:33] #65 closed

[2015-12-05 14:47] afeld commented on #20
Sounds like this can be closed?

[2015-12-05 18:31] Scooterlicious opened #74 "GUI issue: Nav bar not showing 'ifme' user section"
Using Chrome or Firefox, and the dev environment on my own machine (using a fork from today), I'm having an issue with the Nav Bar.

When I go to 0.0.0.0:3000 (home) --> Strategies --> ifme --> The Sign out, Account, Profile do not appear.

[2015-12-05 18:48] wdhorton opened #76 "strategies/new won't load when using Google Oauth"
![screen shot 2015-12-05 at 1 44 04 pm](https://cloud.githubusercontent.com/assets/13503072/11609518/7e3eb780-9b56-11e5-919b-5484388e1442.png)

I get this page when I got to strategies/new when logged in with my Google account. The error on my server is this:

ActionView::Template::Error (undefined method 'name' for nil:NilClass):
    44:       <div id="viewers" style="display: none">
    45:

[2015-12-05 22:55] julianguyen commented on #20
Yes!! :dancer:

[2015-12-05 22:55] #20 closed

[2015-12-05 22:56] julianguyen commented on #74
Recent commit fixed his bug. Thanks @Scooterlicious for the catch!

[2015-12-05 22:56] #74 closed

[2015-12-05 23:06] julianguyen commented on #76
Looks like this bug has been fixed with this commit https://github.com/julianguyen/ifme/commit/626cf97f50b9751365b7a73c91dc0592615096dd. Thanks @wdhorton for catching it!

[2015-12-05 23:06] #76 closed

[2015-12-05 23:22] julianguyen opened #80 "Notes from UX Report"
Huge thanks to the super talented Tess Gadwa for writing a usability audit on if me. To view it see: https://www.dropbox.com/s/5zftbyt3jrdfxsv/ux-report.if-me.pdf?dl=0

The following bullets are the most important points we should focus on:
- Better privacy policy, have someone with a legal background take a look at it
- Improving storytelling with Triggers feature with better writing cues, audio,

[2015-12-06 00:54] #1 closed

[2015-12-06 00:55] markfarrell commented on #80
:+1:

[2015-12-06 01:05] julianguyen opened #81 ""Please fill out the marked fields! " not being highlighted for fields with no labels"
Example:
Categories > New Category > Create Category without filling out fields
In this example, name is a mandatory field, but no label is being used so it isn't being highlighted.

Fix:
We don't want to add labels, so we need a way to highlight the field when it needs to be filled out. However, right now when you enter text in a field, the border turns red. So perhaps change this normal behaviou

[2015-12-06 03:36] #81 closed

[2015-12-06 21:18] julianguyen opened #82 "Allyship seeds cannot be created"
Allyship seeds cannot be created after running `rake db:seed` and/or `rake db:setup`

After putting debug statements in seeds.rb, the error message is coming from the different_users validation in Allyship.rb, which makes no sense because the user ids used are different and non-nil

@wdhorton

[2015-12-06 22:00] julianguyen commented on #82
Issue was fixed, adding user_id and ally_id to attr_accessible fixed it

[2015-12-07 00:08] wdhorton commented on #82
Glad it's fixed, but that's still weird. ActiveRecord should make all column names attr_accessible by default. I'll try to get to the bottom of it tonight or tomorrow.

[2015-12-07 00:21] fpcyan opened #83 "Creating new triggers/navigating through new forms"
When adding a new trigger, if a category doesn't exist that fits the topic, the user cannot make one, however, they may make new strategies if one doesn't exist that fits their needs.

Navigating to the "create a strategy" page, deletes anything written in the trigger form. The user can also add new categories from this form. Again, navigating to the category form deletes any progress on the "stra

[2015-12-07 00:32] fpcyan opened #84 "Application controller / application.html.erb refactoring thoughts"
Some principles when writing code are the [Law of Demeter][demeter-link] and [SOLID][solid-link]. If you're interested, I'd suggest reading the blurbs about them.

Basically, programming lives by the concept that no single function or class should know, or do, too much. At the moment, the taxonomies function violates that bit.

Similarly, the application.html.erb has many long conditional chains t

[2015-12-07 02:23] fpcyan commented on #84
Okay, so I began refactoring the application html and application controller, but I ran into some trouble in that the "fetch commits" method is used for multiple different things. This led me down the rabbit hole, and now I'm drawing up model-level assocations that are missing.
I think the easiest way to refactor the codebase would be the following:
* add ActiveRecord associations between models
*

[2015-12-07 05:09] fpcyan commented on #84
I drew a picture. It's a little overwhelming at first so I tried to break it up using whitespace. Are other users capable of commenting on anything besides strategies? I couldn't find anywhere else on the site.
![untitled 1](https://cloud.githubusercontent.com/assets/11083848/11619489/a0b5a564-9c76-11e5-9313-55fa48d1a8e7.png)

[2015-12-07 17:59] julianguyen commented on #82
Yes please review @wdhorton! :+1:

[2016-01-28 18:39] markfarrell opened #87 "Substances (and/versus Medications)?"
Hi,

I found myself wanting to report non-prescription substances I use with the belief that they help enable control over my emotional-state, so that I can then work towards the emotional-state I'd wish to maintain/achieve.

I suppose I could add these substances under `medications`; but it feels a bit unnatural?

Also, rather than listing a prescribed dosage and refill, I feel like I'd want to i

[2016-01-28 18:55] markfarrell opened #88 "Usage of Moods (and Triggers in General)?"
Hi,

In the triggers section I've started to fill out entries for moods - under the impression that moods are like emotional-states and that categories are there to, like, model some sort of causal relationship between experiences involving certain people/places/objects and emotional-state-transitions. However, in the current version of the application, I can't seem to be able to model theses caus

[2016-01-28 19:02] markfarrell opened #89 "Experiences/Stories/Events Feature?"
Hi,

Somewhat following my train-of-thought from https://github.com/julianguyen/ifme/issues/88: there doesn't currently seem to be a 'central feature' that would allow me to write about mental health experiences - with which I could _apply_ triggers (causal relationships between categories and moods), to describe the emotional-state-transition that occurred for me during said experience.

On a som

[2016-01-28 19:12] markfarrell opened #90 "Initial Data?"
Hi,

I think the medications feature might already have some support for this: but would it be nice to have some sort of shared, public catalogue when people are adding their medications (which may also report what users, not necessarily explicitly named, have experienced when it comes to using certains medications/substances, presumably, as part of an aid to achieve certain mental-health-outcomes

[2016-01-28 19:26] markfarrell opened #91 "Current Mental Health State (and Desired Mental Health State)"
Hi,

Continuing on my train-of-thought, how might I report my current mental health state - would it be the latest experience/event I reported, within which some person/place/thing caused me to transition into a certain mood (or emotional state)?

Also, I feel like I should be able to specify a desired mental health state as well; or, perhaps if my current state is good, that the desired state is

[2016-01-28 19:44] markfarrell opened #92 "Testing Strategies / Recommendations?"
Hi,

Continuing from https://github.com/julianguyen/ifme/issues/91, how might I know what the best strategy to pick is to achieve a desired mental health state based on a current mental health state from my latest experience/event (if that's how the application will work)?

Do you think the community could e.g. rank how well certain strategies worked for them in relatively similar situations? Then

[2016-02-04 03:36] bellawoo commented on #58
Hi,

I've already got a copy running and have starting working on this. Would you like to assign to me?

Thanks!
Bella

[2016-02-04 04:02] julianguyen commented on #58
@bellawoo That would be awesome! Thanks Bella!

[2016-03-13 18:28] halfalpine opened #94 "Revisions to "Setting Up Postgres" in READMD.md"
The command

`sudo su - postgres
`

in **"Setting Up Postgres"** is not required and caused an error,

`su: unknown login: postgres
`

for three different users contributing to the project today on three different machines.

We were able to avoid the error by going straight to the **"Running the App Locally"** section, and running the

`bin/rake db:create db:migrate
`

command to continue without

[2016-03-13 18:38] julianguyen commented on #94
Can you update the documentation to make a note of this? Thanks so much :)

[2016-03-13 20:06] dleve123 commented on #94
@julianguyen

To add to this, I believe that specifying the user within `config/database.yml` (which is currently specified as "ifme_app") isn't necessary. Unspecified, Rails should look for a `postgres` user I _believe_.

I believe this is how [thoughtbot's suspenders bootstrapping library suggests setting up the DB](https://github.com/thoughtbot/suspenders/blob/5fcf506a8837063d4772391e5c6bd83b20

[2016-03-13 20:12] julianguyen commented on #94
@dleve123 @halfalpine That sounds good to me then!

[2016-03-13 21:05] #94 closed

[2016-03-15 00:09] julianguyen commented on #31
@Dawa12 Added you to this issue!

[2016-03-16 00:46] Dawa12 commented on #31
Thanks Julia. I'll begin this on Friday.

[2016-04-26 02:35] julianguyen opened #99 "Send email invites to get people to sign up"
A user should be able to invite friends to sign up by email.

When they sign up, the new user should already be friends with the invitee user.

Since we are using Devise for authentication, I advise setting up https://github.com/scambra/devise_invitable :)

[2016-04-26 16:09] #92 closed

[2016-04-26 16:09] #91 closed

[2016-04-26 16:09] #90 closed

[2016-04-26 16:09] #89 closed

[2016-04-26 16:10] #88 closed

[2016-04-26 16:10] #87 closed

[2016-04-26 17:16] julianguyen opened #100 "Design icons"
Need to design the follow icons in a flat, thin style (black on transparent background)

Also must be a png and at least 500px by 500px
- Double exclamation mark
- Trophy
- Lifting weight
- Meditation
- Food
- Hands shaking
- Friends (gender neutral)
- Family (gender neutral
- Partner/spouse/etc. (gender neutral)
- Bandaid
- Star

And whatever else you can think of! :)

[2016-04-26 18:35] julianguyen opened #101 "Google authenticated users should have their avatars uploaded"
After a user signs up using their Google account, they should have the option to upload their Google avatar as their if me avatar in the Account page.

[2016-04-26 18:37] julianguyen opened #102 "Add notification counter in the navigation bar"
Similar to Facebook, have a highlighted notification counter for newly commented/supported Triggers and Strategies, Medication refill dates, Group updates, and Ally requests

[2016-04-26 18:39] #82 closed

[2016-04-26 18:40] #54 closed

[2016-04-26 18:43] julianguyen commented on #83
@fpcyan So so sorry for the late response. I've been super busy the last several months!  I like the model tool tip idea for the descriptions of moods. Going back and forward should preserve the content. Let me know if you still want to work on this!

[2016-04-26 18:47] fpcyan commented on #83
I've been busy with a new job! Hope everything is well with you here. :)

[2016-04-26 20:44] julianguyen commented on #83
@fpcyan Congrats :) Thanks for helping out! Feel free to email me your address (join.ifme@gmail.com) so I can mail you stickers :D

[2016-04-28 21:45] julianguyen opened #103 "Word wrap not working in comments"
* Go to an individual Trigger or Strategy
* Write a long word

Result:
![screen shot 2016-04-28 at 1 04 38 pm](https://cloud.githubusercontent.com/assets/3010728/14902402/8c9265aa-0d4f-11e6-848b-827fe1585aa2.png)

We want to use `word-wrap: break-word;`, however setting that on paragraph does not simply work.

[2016-04-30 16:18] julianguyen opened #104 "Clean up responsive design"
It needs to be cleaned up through the app. In particular, get rid of the use of `<table>` and replace with `<div class="table">`

[2016-04-30 16:36] #58 closed

[2016-05-02 19:32] #103 closed

[2016-05-02 19:32] #102 closed

[2016-05-02 19:33] #15 closed

[2016-05-02 19:33] #6 closed

[2016-05-02 19:33] #19 closed

[2016-05-02 19:34] #3 closed

[2016-05-02 19:34] #2 closed

[2016-05-02 21:51] #83 closed

[2016-05-02 21:53] #56 closed

[2016-05-02 21:53] #44 closed

[2016-05-02 22:07] #42 closed

[2016-05-02 22:11] #4 closed

[2016-05-02 22:28] #51 closed

[2016-05-02 22:42] julianguyen opened #111 "Mandatory fields in form not being highlighted when left blank"
Go through the app and make sure incomplete mandatory fields are highlighted if they are left blank.

We want the label to be highlighted in $secondary-highlight-color. If the field has no label, highlight the border of the input field in $secondary-highlight-color

Example of bug:

Go to Triggers > Submit form without filling in name and the first textarea (Describe the trigger...)

Actual output

[2016-05-02 23:43] julianguyen opened #112 "Change form layout in Medications"
Currently it looks crowded. Any layout change that looks consistent with the other forms in the app is fine :)

![screen shot 2016-05-02 at 4 41 35 pm](https://cloud.githubusercontent.com/assets/3010728/14971209/069dd446-1085-11e6-9ab1-de1a77346b36.png)

[2016-05-02 23:56] julianguyen opened #113 "Add a "Add to Google Calendar" button on a group meeting event"
![screen shot 2016-05-02 at 4 53 34 pm](https://cloud.githubusercontent.com/assets/3010728/14971389/8e18e0c2-1086-11e6-9e4e-4d26036c379b.png)

For users that are Google authenticated, display a "Add to Google Calendar" button on each group meeting event the user is attending.

For an example on how to use the Google Calendar API, see `medications_controller.rb:66`

[2016-05-02 23:57] #31 closed

[2016-05-02 23:57] #16 closed

[2016-05-02 23:57] #41 closed

[2016-05-03 00:16] julianguyen opened #114 "Quickly create Moments (formerly Triggers) from the Home/Latest page"
Be able to quickly create Moments from the Home/Latest page (user must be signed in).

Form includes
* name
* description
* most frequently used categories and moods to select from

[2016-05-03 00:23] balupton commented on #16
has this been closed because it has been done?

[2016-05-03 00:28] julianguyen commented on #16
@balupton I closed it because nothing has been changed recently. Are you working on this issue? If so, I can re-open :P

[2016-05-03 00:34] balupton commented on #16
no no, just tracking this repo - seems nifty!

[2016-05-03 00:36] julianguyen commented on #16
@balupton Hey! Do you want to test out the app help track bugs and feature enhancements? :) If so, feel free to file issues here or fill out http://goo.gl/forms/8EqoJDDiXY

[2016-05-03 02:50] julianguyen opened #115 "Broken unit test: ErrorsController"
![screen shot 2016-05-02 at 7 48 16 pm](https://cloud.githubusercontent.com/assets/3010728/14973632/0c02a992-109f-11e6-8192-09e97ef19168.png)

All the unit tests in ErrorsControllerSpec are broken :(

Hey @IuliiaKot, do you think you can quickly look into this? :)

[2016-05-03 02:53] julianguyen commented on #53
@tienyuan Hey can you run these tools again? :)

[2016-05-03 16:56] julianguyen opened #116 "JS Error when user is not signed in"
![screen shot 2016-05-03 at 9 53 01 am](https://cloud.githubusercontent.com/assets/3010728/14991175/ed48e676-1114-11e6-9eef-8ecb65e0640b.png)

When the user is not signed in, the following error is thrown `VM9058:1 Uncaught SyntaxError: Unexpected token <`

Not that a Pusher (notification service) object is not created unless the user is signed in.

[2016-05-03 21:53] siyegen commented on #115
Hey @julianguyen I ran into this issue while looking at #116 (since it just seems rude to submit a PR with broken tests) and believe I found the issue.

the ```.have_http_status``` matcher looks to be present in rspec-rails 3.4, but the Gemfile does not specify a version so I ended up getting rspec-rails 2.99

This can be fixed by upping the version to get the macher, or by changing ```expect(resp

[2016-05-03 21:56] julianguyen commented on #115
@siyegen Excellent find! I think upgrading would be better then! Looking forward to seeing the PR! Thanks :)

[2016-05-03 22:09] siyegen commented on #115
Sure, here it is #117

[2016-05-03 22:12] julianguyen commented on #115
💯

[2016-05-03 22:12] #115 closed

[2016-05-03 22:46] #116 closed

[2016-05-04 17:30] #104 closed

[2016-05-04 18:28] julianguyen opened #119 "Show a notification indicator in the the window title when there is a notification"
When there is a notification i.e. when `#notifications` is visible, update the window title to indicate a notification

e.g. User is currently on some page with title `[some title]`, there are 3 notifications

The title should update to `[some title] (3)`

[2016-05-04 21:02] julianguyen commented on #114
@markfarrell Hey! Wanna check out the live app and let me know what you think about quickly adding Moments (renamed from Triggers)? Thanks :)

[2016-05-05 17:46] julianguyen commented on #99
Argh so I'm having some trouble installing the devise_invitable gem! Posted an issue on their repo https://github.com/scambra/devise_invitable/issues/648, but if anyone can help let me know! :)

[2016-05-05 18:39] markfarrell commented on #114
Hey, sure. I like the idea of these changes overall. However, there were a few things I noticed after trying to use these new changes. Here would be current feedback:

- I personally like the rename from moments to triggers; I think it resolves the present tense vs. past tense unintuitiveness that I felt like was slightly there before.
- I noticed that the feature that lets me quickly add moments

[2016-05-05 18:56] julianguyen commented on #114
@markfarrell What do you mean by if me guidelines? Do you mean an explanation of what each feature does?

Thanks for all the feedback! Very valuable!

[2016-05-05 19:00] markfarrell commented on #114
Yeah, I just mean the explanations of the features on the home page.

No problem.

[2016-05-05 19:03] julianguyen opened #120 "While creating Moments, when you try to create a new mood/category you lose your Moments data"
Add the ability to create new moods and categories using a lightbox on the same create a Moment page. Update the create a Moment page without reloading the page.

[2016-05-06 00:16] julianguyen commented on #120
Feature pushed https://github.com/julianguyen/ifme/commit/19520e7711380260502f164077acd3e61dfead74

[2016-05-06 00:16] #120 closed

[2016-05-06 00:19] #114 closed

[2016-05-09 19:58] #99 closed

[2016-05-09 20:18] #119 closed

[2016-05-09 20:30] julianguyen opened #121 "Make onboarding tips more concise and less overwhelming"
When the user log into the app for the first time or have no allies and/or Moments created, the user sees the following onboarding tips:

![screen shot 2016-05-09 at 1 25 27 pm](https://cloud.githubusercontent.com/assets/3010728/15127038/c8998ff4-15e9-11e6-87e7-f29d127dd24b.png)

The goal of these tips is to introduce to the user the app's features. However, a few testers have pointed out that the

[2016-05-10 20:14] julianguyen opened #122 "Email notifications"
Get email notifications when:
* Users comment on your Moment or Strategy
* Ally requests and acceptances
* Allies create new groups
* Groups you are in create new meetings

Be able to turn on/off specific notifications via account settings

[2016-05-12 00:35] julianguyen opened #125 "Updating viewers list in Moments and Strategies when new allies are added"
Steps for reproduction:
* Create a Moment or Strategy and select "All Allies"
* Add a new ally
* That new ally is unable to view the new Moment or Strategy

We want this new ally to be added to all viewers lists in Moments and Strategies that specify "All Allies"

[2016-05-12 17:30] julianguyen opened #126 "Deal with text limit in Moments and Strategies"
Moments:why, Moments:fix, and Strategies:description uses the the text type in Postgres. By default it has a 2000 character limit. We need a way of indicating this to the user similar to what Twitter does.

[2016-05-12 18:41] #126 closed

[2016-05-12 20:16] #125 closed

[2016-05-12 20:17] julianguyen commented on #125
Closed will be committing a fix to delete removed allies from viewers lists.

[2016-05-16 22:57] #122 closed

[2016-05-16 23:08] julianguyen opened #127 "Nicer email template"
Email notifications has just been implemented, however the email template could use more styling. The template should match the CSS in the app.

This is what it currently looks like in gmail:
![screen shot 2016-05-16 at 4 03 59 pm](https://cloud.githubusercontent.com/assets/3010728/15306535/34f2c792-1b80-11e6-94ec-c4b707b6e41b.png)

This looks like a helpful guide: http://www.simonnordberg.com/cre

[2016-05-16 23:38] julianguyen opened #128 "Group leaders should be able to kick out members"
Currently, group leaders cannot do this.

Create a separate view for leaders to manage members.

[2016-05-16 23:40] julianguyen opened #129 "Add email reminders for medications"
Add a field in Medications for users to send email reminders
Also send email reminders for refill dates

[2016-05-16 23:41] julianguyen opened #130 "Do not refresh Moments or Strategies page to load and add new comments"
Currently a Moment or Strategy page is refreshed when a user adds comment.

Using AJAX, we want to add the new comment to the page without refreshing it. We also want to load new comments without having to refresh the page.

[2016-05-16 23:44] julianguyen opened #131 "Add email reminders for upcoming meetings"
Send Meeting members email reminders for upcoming meetings within 24 hours of the event.

[2016-05-16 23:48] julianguyen opened #132 "Be able to delete comments"
Currently, no users are able to delete comments.

We should give the user who created the Moment or Strategy the ability to delete comments.
We should also give any user who posted comments, the ability to delete those comments.

If a comment is deleted, remove all notifications pertaining to that comment.

[2016-05-17 14:36] calebthompson commented on #132
I'll take a whack at this.

[2016-05-17 14:55] julianguyen commented on #132
@calebthompson Hey thanks but I actually started working on this last night! But I would love help reviewing the code :) Do you want to pick up another issue?

[2016-05-17 14:58] julianguyen commented on #132
@calebthompson do you want to take a look at this? https://github.com/julianguyen/ifme/issues/130 😃

[2016-05-17 15:00] calebthompson commented on #132
Sure. As I'm digging into things I'm seeing a few places I might be helpful refactoring if that's alright. Hopefully I can move things a little closer to what new devs familiar with Rails are expecting in the codebase, and maybe improve code coverage a bit.

[2016-05-17 15:03] julianguyen commented on #132
@calebthompson yes that would be perfect! Thank you :)

[2016-05-17 16:53] #132 closed

[2016-05-17 16:54] julianguyen opened #134 "General refactoring of codebase"
- Refactoring models, views, controllers
- Improving test coverage
- Removing unneccessary files
- Whatever else you find :)

[2016-05-17 20:10] julianguyen commented on #130
Do not refresh works for adding comments. Still need to implement for loading comments.

[2016-05-18 00:05] stellacotton opened #138 "Unable to log in via oauth"
I realized when I was trying to set up my local environment that there was a regression in the oauth login.

User.find_for_google_oauth2 originally returned a user object, which oauth used to authenticate when redirecting the user to their homepage. In commit e68e37a, it started returning a true/false value from update!.

It's fixed with commit 8d4ec15.

[2016-05-18 00:06] #138 closed

[2016-05-18 17:39] julianguyen commented on #134
Would like to put title text in the following commit https://github.com/julianguyen/ifme/commit/73d6a9c3738034d0bcaad2195981973d4aec52b6 in en.yml. I tried doing this but it wasn't working.

[2016-05-18 17:40] julianguyen opened #139 "Add email reminders for Strategies"
Strategies are ways in which you can practice self-care. We want to add the option to send email reminders to remind users to perform these strategies.

[2016-05-18 22:37] stellacotton opened #140 "Unable to set refill date for medications"
When I go to create a new medication with a refill date, it raises an error `NameError Exception: uninitialized constant MedicationsController::Google`

It looks like a version bump on the google-api-client from 0.8 to 0.9 causes breaking changes to the existing API interface: https://github.com/google/google-api-ruby-client/blob/master/MIGRATING.md  😿

If 0.8 was working ok and there weren't any

[2016-05-18 22:41] julianguyen commented on #140
Good find! V 0.8 was working fine and I don't recall any specific features we needed for 0.9. Rolling back is a good plan then.

That exception is raised when the refill date is saved to Google calendar?

[2016-05-18 22:46] stellacotton commented on #140
Ah, yeah I just realized the title of the bug is actually misleading because it does save it to the database but it raises an exception when trying to initialize the Google api to save to the calendar.

[2016-05-18 22:47] julianguyen commented on #140
Hmm I think we should add a check box that will save the refill date to Calendar.... that way the user knows thisnks happening and this check box only appears for Google authenticated users.

[2016-05-20 16:39] stellacotton opened #142 "Streamline dev configuration values into one file"
Okay, so not quite one file. 😄

I chose to do two files since Figaro doesn't store hashes and I didn't want to make the smtp settings in the development.rb by default (because then you'd have to ignore that whole file instead of just your settings file).

#141 uses Figaro and allows for quicker development setup since all api keys and secrets can be updated in two places (and ignored from two plac

[2016-05-22 18:06] gwengrid opened #143 "Dropdown menus in new moments scrolls page up"
How to recreate:

1. Click the '+' button to add a new moment
2. Scroll down
3. Open one of the drop down menus on the left, e.g. strategies, moods

Expected: the menu opens
Observed: the menu opens and the page scrolls to the top

[2016-05-23 18:16] julianguyen opened #144 "Add some purple to if me"
Purple enthusiast and all-around awesome person @gwengrid is helping to test out and she requested for purple to be added to the app! Heck yes.

Specifically #A157E8!

[2016-05-23 18:26] julianguyen commented on #143
@gwengrid Thanks so much for filing this! Did you this bug occur on a mobile browser or desktop browser?

[2016-05-23 18:30] markfarrell opened #145 "Delete groups unless other people have joined?"
Should it be possible to delete groups if nobody else has joined?

[2016-05-23 18:37] julianguyen commented on #145
Thanks for raising this issue. I think that is a good idea, especially if people want to undo their action.

[2016-05-23 18:42] gwengrid commented on #143
@julianguyen Desktop browser! Chrome, if that helps.

[2016-05-23 19:06] julianguyen commented on #143
Aha I see what you're talking about! Thanks :)

[2016-05-23 19:29] #143 closed

[2016-05-23 19:34] julianguyen commented on #144
@gwengrid, added the purple!

https://github.com/julianguyen/ifme/commit/e26887b5d26664baf276c53161e81234d2424e77
http://www.if-me.org/about

[2016-05-23 19:34] #144 closed

[2016-05-23 19:34] julianguyen commented on #142
💯

[2016-05-23 19:34] #142 closed

[2016-05-23 19:39] julianguyen commented on #139
@sylviapereira Hey Sylvia! Any updates? :)

[2016-05-23 20:04] sashaperigo commented on #63
I think this is a great idea! It would be interesting to also allow users to pull in data from FitBit or Apple Health if they already use either of those apps for sleep, diet, or exercise tracking.

[2016-05-23 20:17] julianguyen commented on #63
@sashaperigo Yess that's a fabulous idea! Would you like to work on that once you're free? :P

[2016-05-23 22:19] sashaperigo commented on #63
@julianguyen yeah that would be super fun for me! I will keep in touch with timing.

[2016-05-23 22:25] #145 closed

[2016-05-23 22:43] julianguyen commented on #112
Wanna start working on @aayushpi? :)

[2016-05-23 23:08] julianguyen opened #146 "Deal with broken profile images"
When there are broken profile images replace them with `/assets/default_ifme_avatar.png`.

![screen shot 2016-05-23 at 4 05 41 pm](https://cloud.githubusercontent.com/assets/3010728/15487226/5ced3a68-2100-11e6-9ee0-9ad15a5a695b.png)

![screen shot 2016-05-23 at 4 05 31 pm](https://cloud.githubusercontent.com/assets/3010728/15487225/5ced3d60-2100-11e6-9b68-f2543edffa2a.png)

[2016-05-23 23:54] #128 closed

[2016-05-24 00:13] julianguyen commented on #146
Fixed with https://github.com/julianguyen/ifme/commit/de92b4d2da02eb0702ab6740f92102600b878e71

[2016-05-24 00:13] #146 closed

[2016-05-24 00:24] julianguyen opened #147 "Make visibility settings for Moments/Strategies more obvious"
In these various areas, add an indicator (using a lock icon similar to what Facebook does) when hovered displays the list of viewers

Please use the following icon: http://fontawesome.io/icon/lock/ i.e.
`<span class="yes_title" title="[list of viewers here]"><i class="fa fa-lock"></i></span>`

User profile
![screen shot 2016-05-23 at 5 21 09 pm](https://cloud.githubusercontent.com/assets/3010728/1

[2016-05-24 00:50] #130 closed

[2016-05-24 01:51] julianguyen commented on #147
Completed https://github.com/julianguyen/ifme/commit/996efb83d5ea315e27714246a290f0e973975eb2

[2016-05-24 01:51] #147 closed

[2016-05-24 08:54] stellacotton opened #153 "Ask a Google authenticated user if they want to save a medication refill reminder to their calendar"
Right now refills are saved by default to your calendar if you're logged in using Google authentication.

[2016-05-24 16:19] #140 closed

[2016-05-24 19:03] sylviapereira commented on #139
Hi Julia!
Honestly I'm struggling a bit to get started on this. This is the first big
project I've jumped on and I'm having trouble getting everything up and
running. I bundle installed with no issues, but I can't get it to actually
run on the server, looks like a devise error?

/home/sly/Documents/ifme/ifme/config/initializers/devise.rb:310:in `block
in <top (required)>': undefined method `[]' fo

[2016-05-25 16:39] julianguyen commented on #139
@sylviapereira Hey Sylvia, sorry to hear that you are encountering setup issues.

Did you do any of the steps in https://github.com/julianguyen/ifme#setting-up-api-keys?

The 3rd party APIs are not necessary if you are do not want to have those features in your local environment, but generating a secret key for the app is necessary i.e.

`Run rake secret to generate a SECRET_KEY_BASE for config/ap

[2016-05-25 17:40] julianguyen opened #155 "Clean up Contributors page"
The blurbs on the Contributors page are wonderful and important, but as our project expands and more blurbs are added onto the page... we don't want it to become cluttered.

This is a sample blurb on the page, as you can see it's a little lengthy.
![screen shot 2016-05-25 at 10 31 24 am](https://cloud.githubusercontent.com/assets/3010728/15550000/3f5226e8-2264-11e6-9537-eb6a046190fb.png)

We want

[2016-05-25 17:43] julianguyen commented on #155
@nagmak Would you be interested in working on this? :)

[2016-05-25 18:03] julianguyen opened #156 "Mobile web navigation should not push content down"
Steps to reproduce:
1. Navigate between different pages in the app and toggle the menu back and forth; notice that the expanded menu covers the content behind it and does not push it down
2. Go to the Contributors page (or any page really) and toggle the menu; notice that the expanded menu covers the content behind it and **does** push it down
![screen shot 2016-05-25 at 10 56 17 am](https://cloud

[2016-05-25 18:52] markfarrell opened #157 "App Recommendations?"
Moments seem to let me talk about either how (I feel like) I'm going nowhere, moving one step forward, or even one step backwards from achieving my mental health goals. However, I still feel like it's largely up to me to figure out how to move two steps forward, and so on, in order to better and better approximate my mental health goals. I find having the right intuition and good sense of judgemen

[2016-05-25 19:20] julianguyen commented on #157
That is a very interesting idea. Thanks for bringing it up. We could use common categories tagged in existing strategies and moments to suggest which strategies a user should look at when writing a new moment.

[2016-05-26 08:45] markfarrell opened #159 "(Periodic) Data Analysis and Statistical Predictions?"
I understand that mental health is a complex issue, and so I'm not entirely sure what would/wouldn't be feasible in terms of adding data analysis, predictions, recommendations features, etc. to ifme without having to compromise the app, more or less. I thought @julianguyen mentioned before as well that partly why she started ifme was because she didn't like some other apps out there that oversimpl

[2016-05-26 16:59] julianguyen commented on #156
Hey @yaaotchere would you like to work on this? :)

[2016-05-26 17:28] julianguyen commented on #159
@markfarrell I noticed other mental health apps provided anonymous support or self-tracking without sharing. I want if me to be a tool you can use transparently with your loved ones :)

I totally agree that data analysis, prediction, and recommendation features would be very beneficial. Hmm the rating system for Moments you are talking about is interesting...

I've refrained from adding a numerica

[2016-05-26 17:29] julianguyen commented on #159
Thoughts @Dragonfly99? (Kerry is passionate about data science) :)

[2016-05-26 18:10] julianguyen opened #161 "Add FAQ page"
Address the follow questions/topics
* Who has access to my data?
* How can I control who can see and comment on certain Moments or Strategies?
* What is a Moment?
* What is a Strategy?
* What is a Category?
* What is a Mood?
* What is a Group?
* How can I discover and join groups?
* How can I invite my loved ones to join the app?
* How can I change my email notifications settings?
* How do I use t

[2016-05-26 18:24] yaaotchere commented on #156
Definitely!

On Thursday, 26 May 2016, Julia Nguyen <notifications@github.com> wrote:

--
Yaa Otchere
Web Developer
647-680-0934

[2016-05-26 19:20] Dragonfly99 commented on #159
Thanks for Tagging me Julia. Hello by the way Mark.

From what I understand so far, the prediction and analysis that you're asking for and would be really great for this app to have follows the realm of machine learning. It's not something I've dabbled in to much but you want to have this kind of feature at its best you'd want someone with a bit more experience than me.

I can learn enough to poss

[2016-05-26 21:53] sylviapereira commented on #139
OK some progress! I had done that but it couldn't find the yml files to
copy... I deleted my fork and started over, tried again and it worked... So
now after generating the secret key and entering it in application.yml,
when I try to run the server I still get:
... yay progress? :)

​

On Wed, May 25, 2016 at 12:51 PM, Julia Nguyen <notifications@github.com>
wrote:

[2016-05-26 22:01] julianguyen commented on #139
@sylviapereira Do you still get this error? /home/sly/Documents/ifme/ifme/config/initializers/devise.rb:310:in `block
in <top (required)>': undefined method `[]' for false:FalseClass
(NoMethodError)

[2016-05-26 22:15] sylviapereira commented on #139
No, it doesn't look like a devise error any more... a password seems to be
missing somewhere. hmm

On Thu, May 26, 2016 at 6:01 PM, Julia Nguyen <notifications@github.com>
wrote:

[2016-05-26 22:18] sylviapereira commented on #139
AH, sorry I sent a screenshot of the errorthat didn't post here, here's what I get
![screenshot from 2016-05-26 17-51-28](https://cloud.githubusercontent.com/assets/16631225/15591983/47584a60-236e-11e6-88dd-9639e83408e6.png)

[2016-05-26 22:19] #161 closed

[2016-05-26 22:22] julianguyen commented on #139
Can you DM me on Twitter your email so I can add you to Slack? :) Easier to carry this conversation there!

[2016-05-26 22:23] sylviapereira commented on #139
Sure! :)

[2016-05-27 01:38] julianguyen opened #165 "Lazy load stories in Home page"
Lazy load stories as user is scrolling down page, similar to what is done in Facebook and Twitter.

[2016-05-27 17:30] julianguyen commented on #121
Updated this in https://github.com/julianguyen/ifme/commit/d3988d44a04c89d8f0ddfcc7fb3e4a63f3300bf1, closing for now

[2016-05-27 17:30] #121 closed

[2016-05-27 18:02] julianguyen commented on #159
The only "analysis" we do so far is a simple indicator to display your most used Categories, Moods, and Strategies

![screen shot 2016-05-27 at 10 58 56 am](https://cloud.githubusercontent.com/assets/3010728/15616714/639ce79e-23fa-11e6-87dd-e8373bf55896.png)

Do either of you @markfarrell @Dragonfly99 have any ideas on what else we could display to users based on their inputted data?

[2016-05-27 20:03] julianguyen commented on #57
Fixed https://github.com/julianguyen/ifme/commit/92ce76ec50ecf11e8975a58db594380e83fc6af3

[2016-05-27 20:03] #57 closed

[2016-05-28 03:24] aayushpi commented on #112
Is there a preferred order that you’ve found helpful, or users have suggested?

[2016-05-28 03:26] julianguyen commented on #112
Nope! But I think an order that makes sense when you're reading off your prescription bottle makes most sense.

[2016-05-28 15:45] finitem opened #174 "Adding ally shows blank confirmation page"
Browser: Firefox 46.0.1
OS: Windows 10
Date: 2016-05-28

![ally_broke_source](https://cloud.githubusercontent.com/assets/8795569/15628193/27ac4250-24c9-11e6-8513-4013e9671afe.PNG)

Issue: After adding an ally, the user is redirected to a blank page. The ally is successfully added, but the user's experience is interrupted.

Reproduction steps:
1. Sign into if-me
2. Go the the allies section
3. Sear

[2016-05-28 16:12] finitem opened #175 "Adding Strategy doesn't show confirmation"
Browser: Firefox 46.0.1
OS: Windows 10
Date: 2016-05-28

Issue: When the user clicks on "create strategy" they remain on the page with the modified strategy, and there is no visible change despite the strategy being added.

![strategy_broken](https://cloud.githubusercontent.com/assets/8795569/15628343/c35571e2-24cc-11e6-97eb-00d010d3b7d5.PNG)

Repro steps:
1. Sign in
2. Go to the "Strategies" tab.

[2016-05-28 16:17] merrillogic commented on #174
Dev note: There is also a 500 internal server error.

Post params:
ally_id 10

[2016-05-28 16:26] finitem opened #176 "Moments subheader never dismisses"
Browser: Firefox 46.0.1
OS: Windows 10
Date: 2016-05-28

![mood_subheader_always](https://cloud.githubusercontent.com/assets/8795569/15628441/1f99c7a8-24cf-11e6-95de-beb6d03fd251.PNG)

Issue: When the user mouses over the moments header, the subheader with categories and moods never dismisses, even when selecting something else

Repro steps:
1. Mouse over the moments header
2. Subheader appears
3.

[2016-05-28 16:29] finitem opened #177 "(Unable to repro) Group creation doesn't work"
Browser: Firefox 46.0.1
OS: Windows 10
Date: 2016-05-28

Issue: After entering description and title for group and selecting "Create Group" the page redirects but no group is created.

Notes: Happened the first time, but not on revisiting it. Unless it happens to someone else, may have been user error.

[2016-05-28 16:46] finitem opened #178 "Fresh comments on moments display time in UTC"
Browser: Firefox 46.0.1
OS: Windows 10
Date: 2016-05-28

![moment_comment_utc](https://cloud.githubusercontent.com/assets/8795569/15628574/2e280ac0-24d2-11e6-9896-1281280769f8.PNG)

Issue: When you make a new comment on a moment, the time is displayed in UTC until you refresh the page.

Repro steps:
1. Select a moment
2. Comment
3. !Observe the time in UTC, instead of your local time.

[2016-05-28 20:15] julianguyen commented on #175
@finitem Just committed a possible fix, can you retest and let me know what happens? :)

[2016-05-28 20:15] julianguyen commented on #177
@finitem Is your email address valid?

[2016-05-28 20:16] julianguyen commented on #111
Addressed in 0fd8fe7

[2016-05-28 20:16] #111 closed

[2016-05-28 20:46] julianguyen commented on #176
@finitem to close the moments sub header you need to click on the sub header. Do you think mouse over outside of the sub header should close it though?

[2016-05-28 21:34] julianguyen opened #180 "Unit tests for JS"
There are currently no JS unit tests, which is problematic. I've set up Jasmine (https://github.com/julianguyen/ifme#unit-tests), so anyone is welcome to help write tests! :)

A sample test can be found here: https://github.com/julianguyen/ifme/commit/b6f4fb081cc2365142f0150564964698977b17be

[2016-05-29 17:10] finitem commented on #175
retesting now!

[2016-05-29 17:10] finitem commented on #177
I used Google Sign in, so presumably it is valid.

[2016-05-29 17:16] finitem commented on #176
Hmm, I didn't even think of clicking on it to close it, so that's something to consider. And I think that when it appears via mouse-over, a similar action to dismiss it makes sense from a consistency standpoint. I do know that I would rather it stays forever than I get into the scenario where I'm trying to click on Categories, and when my mouse exits the bounding box of Moments for a brief moment

[2016-05-29 17:18] julianguyen commented on #177
Oh dangg. Hmm and you can't repro it again right? :/

[2016-05-29 17:18] finitem commented on #175
Success! I was able to get to the confirmed strategy creation/strategy view page. I tested it with the same name and description, and an alternate one, and both worked fine. Seems fixed to me!

[2016-05-29 17:19] julianguyen commented on #175
Yasss! Thanks for your help 💯

[2016-05-29 17:19] #175 closed

[2016-05-29 17:20] finitem commented on #177
Right, unable to repro. If you think it's possibly an email issue, I can make another acct and try to make a group right after account creation and see if that is related. I'll try that now.

[2016-05-29 17:21] julianguyen commented on #177
I don't think it's an email issue :/ But maybe try deleting your account and recreating it with the same email and see what happens?

[2016-05-29 17:22] finitem commented on #177
I just tried with an alternate email - it worked fine there. I'll try with the original email now too.

[2016-05-29 17:23] finitem commented on #177
Works just fine! It's entirely possible that I did something silly like press backspace right when I clicked the button the first time or something. Unless this pops up for someone else I think it might not be an issue.

[2016-05-29 17:25] julianguyen commented on #177
Alright I'll close it for now then! Thanks for letting me know :)

[2016-05-29 17:25] #177 closed

[2016-05-29 17:30] julianguyen commented on #176
Thanks for explaining! Hmm maybe having an "X" icon would help? Thoughts?

[2016-05-29 17:42] julianguyen commented on #174
Are you still encountering this issue? O.o

[2016-05-29 17:50] julianguyen opened #182 "Inserting analytics in the app"
@kaybarnes raised a really good point about having analytics in the app to figure out how users are using the app!

I've used Google Analytics in past, but I'm not all too familiar with dealing with data and analytics, does anyone have any other recommendations? :)

[2016-05-29 18:18] julianguyen commented on #178
FYI to anyone taking a look at this bug, we are using a gem called local_time to get the user's timezone.

[2016-05-29 19:45] julianguyen commented on #176
Changed behaviour so when you mouseover the header navigation, the sub-navigation closes https://github.com/julianguyen/ifme/commit/4794af96728904cd8e3cde9a1b49b7cc183d0e4c

[2016-05-29 19:45] julianguyen commented on #176
@finitem updated thoughts? :P

[2016-05-29 21:03] julianguyen opened #183 "Put allies list in alphabetical order"
Currently the list is in ascending order by when the user became friends with them. We would like to display this list in alphabetical order by name.

[2016-05-29 21:07] #176 closed

[2016-05-29 21:19] julianguyen opened #184 "Home button highlighted on non-Home pages"
The follow links incorrectly highlight the Home button in the desktop view of the app:
* About
* Blog
* Contributors
* FAQ
* Privacy Policy

This is because all these views share the same controller.

Expected behaviour: when on these views, do not highlight the Home button

Example:
![screen shot 2016-05-29 at 2 15 32 pm](https://cloud.githubusercontent.com/assets/3010728/15636060/1b238ff4-25a8-1

[2016-05-30 01:10] julianguyen commented on #183
Done https://github.com/julianguyen/ifme/commit/594925d972f679255b782b92ad03f2bba12525d8

[2016-05-30 01:10] #183 closed

[2016-05-30 01:48] julianguyen commented on #184
Fixed https://github.com/julianguyen/ifme/commit/2cc987b47fd763f67aefa85b7a9fc1e4dfd5c034

[2016-05-30 01:48] #184 closed

[2016-05-30 01:53] julianguyen opened #186 "Alphabetical ordering of members list in Groups and Meetings"
Hey @kkelleey! Since you've been working a lot with the Groups and Meetings code lately, I was wondering if you could do this. Thanks :)

![screen shot 2016-05-29 at 6 52 57 pm](https://cloud.githubusercontent.com/assets/3010728/15637879/a250e78a-25ce-11e6-80d9-d07cdcbe3406.png)

Test1 Lastname should appear before Test2 Lastname

[2016-05-30 01:55] kkelleey commented on #186
👍  yep!

[2016-05-30 01:55] julianguyen commented on #186
Thank you <3 ^_^

[2016-05-30 01:57] julianguyen opened #187 "Care Plan Feature Foundations"
# Description

Recently thought about having a panic button feature, where you can add Strategies and certain words of encouragement (user and their allies). When a user is going through a rough time, they can press this button and view all these nice things.

Also, include links and numbers to hotlines and crisis services.

EDIT (10/2018): Recently gave this feature more thought I think the panic

[2016-05-30 03:54] finitem commented on #176
@julianguyen I like it! : )

[2016-05-30 13:28] finitem commented on #174
Yup! Just tried again, still shows me the blank page, and presumably the server errored. It would be about 13:27:40 UTC, if you feel like digging through the logs of the active server : )

[2016-05-30 15:15] markfarrell commented on #159
Hi Kerry, nice to meet you as well, and thank you for your input.

In terms of what to add right now, I think I need to still keep using the app more and entering data in order to know what immediately actionable advice to offer with regards to analytics. However, even right now I can think of a few immediate questions that I have, but currently have to think about how to answer manually first, I

[2016-05-30 15:32] #186 closed

[2016-05-30 16:06] julianguyen commented on #174
@finitem Hey can you adding me again? I added an add-on on Heroku to save all the logs not just the last 1500 lines... lol

When adding allies, you are supposed to be redirected to the previous page you were on (but refreshed) i.e.

[code]

Do you have some kind of setting your browser that disables that or clears the cache? O.o

[2016-05-30 16:34] finitem commented on #174
Tried again at roughly 14:30:45 UTC. I don't think I have settings any different from the default - I also tried it in Brave 0.10.0 just now (14:32 UTC) and that had the same issue. It does show this error in Firebug if I persist the logs:

The connection to wss://ws.pusherapp.com/app/5e89ca103f7429c1e78d?protocol=7&client=js&version=3.0.0&flash=false was interrupted while the page was loading.

.

[2016-05-30 16:41] julianguyen commented on #174
So the error has nothing to do with redirect. It has to do with SMTP, so when you add me I get emailed.

[code]

[2016-05-30 17:31] julianguyen commented on #174
Wooow the issue was that I spelled password wrong in the SMTP settings LMAO.

[2016-05-30 18:14] julianguyen commented on #174
@finitem Hey! Can you test again? (Hopefully the last time?)

[2016-05-30 18:19] finitem commented on #174
It works! Woohoo!

Aren't typo bugs just the best?

[2016-05-30 18:20] julianguyen commented on #174
Yassss~ thank you Jonathan :)

OMG there was no typo in master, but there were in production. My fault completely >.<

[2016-05-30 18:20] #174 closed

[2016-05-30 18:44] nagmak commented on #155
@julianguyen It does sound interesting, I'd like to give it a try!

[2016-05-30 18:51] julianguyen commented on #155
@nagmak Awesome! Please accept the collaborators invite so I can assign you to it :P

[2016-05-30 20:30] dleve123 commented on #174
Hey @julianguyen - happy you were able to solve this! Was there a typo in the the codebase somewhere for the word "password" (I don't see a commit that fixes such a typo, so I don't think there was a typo there, but just double checking), or was there a typo within the Heroku ENV configuration itself?

If the latter, there are some techniques that help reveal typo errors on application boot-time (

[2016-05-31 05:52] DeonHua commented on #182
GA is definitely a good (free) solution for analytics - [Mixpanel](https://mixpanel.com/pricing/) is another, but charges for all of its features.

[2016-05-31 15:57] julianguyen commented on #174
@dleve123 The typo was within the Heroku ENV configuration >.<
We're using Figaro! Thanks for the advice :)

[2016-05-31 16:29] julianguyen commented on #182
@DeonHua Ah! Good to know :) Thanks Deon!

[2016-05-31 18:55] julianguyen commented on #180
We would like to have individual test specs for
* add_comment.js
* application.js
* charactercount.js
* delete_comment.js
* form_processing.js
* header.js
* medications.js
* meetings.js
* notifications.js
* search.js
* strategies.js

If you need to refactor any of this code, go right ahead :)

[2016-05-31 20:16] julianguyen commented on #165
For now use pagination

[2016-05-31 20:16] #165 closed

[2016-05-31 21:42] starbelly commented on #187
@julianguyen Where would the panic button be located in the UI? I assume it would be most beneficial if it was always within reach. That aside, let me make sure I understand the specification for this feature:

* User hits panic button
* Panic button sends request to sever
* Server looks up friends and allies,
* Server fires off emails to friends and allies with link to the /strategies

 Is this c

[2016-05-31 23:52] julianguyen commented on #187
Good question @starbelly! I agree, it should be easy to use - so I'm thinking in the main navigation.

I was imagining it as, user hits the panic button and sees:
* A list of bookmarked Strategies is displayed e.g. user bookmarks a breathing exercise strategy
* A list of bookmarked Allies they can reach out to (I like the idea of that firing off emails to those allies, but what would be in that em

[2016-06-01 00:39] starbelly commented on #187
@julianguyen Yeah, I'll take this on.

[2016-06-01 00:59] julianguyen commented on #187
@starbelly Sounds good! If you wanna chat more, please message me on our Slack :)

[2016-06-01 01:11] julianguyen commented on #180
Hey @piecedigital, here's the issue for JS unit tests. Please sync up with @maestromusica to figure out which specs you want to work on :)

[2016-06-01 01:19] julianguyen commented on #159
Wow great questions @markfarrell!

RE points:
* I can quickly add a counter!
* Very interesting. What would plot? How often someone logs a Moment?
* Would a rating system help?
* This is a very open ended question. It would great to build tools anyone can use to figure that out. People's goals differ from each other a lot, so I don't think we should focus on a specific goal.

[2016-06-01 02:36] opensorceror commented on #159
Interesting stuff! Maybe you can let users view stats about strategies that
other users are using. For example:
1. Using collected data to find out which strategies are the most widely
used and which yield the best results. This data could even be useful for
psychiatrists!
2. Letting users see what people most similar to themselves (in terms of
age, gender, profession, hobbies and interests, et al

[2016-06-01 02:57] julianguyen opened #191 "Timezone bug in Moments stats"
Recently added this small feature https://github.com/julianguyen/ifme/commit/4fbca7452a9fa501ae9212643727cbe534e95e10

![screen shot 2016-05-31 at 7 53 21 pm](https://cloud.githubusercontent.com/assets/3010728/15696881/8b241d9c-2769-11e6-9056-0352021dd5e5.png)

In this screenshot (taken on May 31st in PST), all of the Moments are from May 2016... so the second sentence should not appear.

However,

[2016-06-01 03:24] julianguyen commented on #191
Fixed https://github.com/julianguyen/ifme/commit/e86083fc8c3a34f1a012c44e32b0e3d9c5a63e02 but does not fix comments bug.

[2016-06-01 03:24] #191 closed

[2016-06-01 03:36] julianguyen commented on #178
Looks like the Time.zone is being correctly and it's an issue with the local_time gem...

[2016-06-01 15:59] #84 closed

[2016-06-01 15:59] #68 closed

[2016-06-01 18:19] julianguyen opened #193 "Add the ability to search for a Moment/Strategy/Category/Mood/Medication"
Currently users can only delete an individual Moment/Strategy/Category/Mood/Medication from the corresponding index.html.erb, however this can be bothersome if the index.html.erb page is long and paginated. So we want to add the same delete link in index.html.erb to show.html.erb.

[2016-06-01 18:23] aayushpi commented on #112
![image](https://cloud.githubusercontent.com/assets/2206776/15720879/3976c1ac-27eb-11e6-90ba-97af5c3eacf3.png)
Pass 1.

Still working on this

[2016-06-01 21:21] julianguyen commented on #112
Looks great @aayushpi! Hmm but should be using more of the screen width? It looks a little isolated floating in the center? Hmm would it be weird if were left aligned instead?

[2016-06-01 21:24] aayushpi commented on #112
It’s not done yet.

1. Screen width: IMO no, there’s a lot of research about fields that are longer than they typically need to be being left incomplete. Our data set is small, so the fields should be as such.

2. Floating in the center looks odd now, but the style isn’t done. Eventually, I still want this centralized but should solve the isolation that comes off.

Also, this may be mobile optimiz

[2016-06-01 21:25] aayushpi commented on #112
LOTS of styling changes incoming, this page is going to be pretty... ish

[2016-06-01 21:26] julianguyen commented on #112
Ah thanks for clarifying! Very interesting that longer fields are often left incomplete >.<

Looking forward to seeing them! Thanks Aayush :)

[2016-06-01 22:17] julianguyen commented on #193
I think a better solution to this is giving users the ability to search for posts from the index pages.

[2016-06-01 23:37] julianguyen commented on #193
Done here eca6e6d

[2016-06-01 23:37] #193 closed

[2016-06-01 23:47] julianguyen opened #195 "Cannot uncheck all Categories/Moods/Strategies"
Steps to reproduce
* Create a Moment
* Select 2 Categories to tag
* Create
* Edit this Moment
* Uncheck one Category
* Save (works correctly)
* Edit this Moment again
* Uncheck last Category
* Save (does not work correctly and this Category still appears)

[2016-06-02 00:13] starbelly commented on #195
@julianguyen bugs  come before features, so I'll knock this out before doing any feature work.

[2016-06-02 00:15] julianguyen commented on #195
I think doing this solves the problem

[code]

[2016-06-02 00:22] julianguyen commented on #195
Also this issue also exists in strategies_controller.rb

[2016-06-02 01:21] julianguyen commented on #195
On a random note @starbelly, I replied to your email and sent you a Slack invite the other day but I got a `Delivery to the following recipient has been delayed` error (I think it's resending). Let me know if you received either!

[2016-06-02 01:52] starbelly commented on #178
@julianguyen and @finitem the problem is local_time needs a UTC offset as part of the date time string. There's a few ways to handle this. One is with ActiveSupport, as long as Time.zone is set correctly on a per user basis and only Time.zone is used for dealing with Time, then all should be well. Going that route, local_time is obsoleted. However,  I would prefer not be married to active record a

[2016-06-02 02:10] starbelly commented on #134
@julianguyen I'm definitely going to join in on this before doing anything else ( sans bug fixes ). The core must be sane, clean, and stable before anything else. I would actually recommend a feature freeze until this is done and all known bugs are squashed.

[2016-06-02 02:49] starbelly commented on #195
@julianguyen Had DNS problems the other day, mail is coming through now. Please resend the slack invite.

[2016-06-02 04:49] calebthompson commented on #134
Agreed, within reason. I'd certainly avoid nice-to-have changes pending completion of a general overhaul that will make the project both safer and friendlier to new and existing contributors.

[2016-06-02 06:35] starbelly commented on #195
I did a PR for this. https://github.com/julianguyen/ifme/pull/196 but before we merge, I want to look at this further. Even if you uncheck all categories, etc. category should still be coming back as param, but I haven't looked at all the code yet. My guess without looking is that the form is not structured right.

 Let me look at this, most likely rebase, and then we'll go from there.

[2016-06-02 07:24] starbelly commented on #195
@julianguyen Scratch that. Not going to rebase right now. We'll come back to this issue during refactor. Feel free to sign off on this.

[2016-06-02 15:15] julianguyen commented on #195
Sounds good! Great work @starbelly 💯

[2016-06-02 15:15] #195 closed

[2016-06-02 17:17] nagmak opened #197 "Inviting an ally returns HTTP ERROR 500"
I've joined the app and tried inviting an ally, but it isn't working.

![screen shot 2016-06-02 at 1 14 42 pm](https://cloud.githubusercontent.com/assets/16668970/15754018/44eaef7a-28c4-11e6-936e-3b1bbf3cc06d.png)
![screen shot 2016-06-02 at 1 15 13 pm](https://cloud.githubusercontent.com/assets/16668970/15754020/48abd610-28c4-11e6-9451-27e1a429b558.png)

[2016-06-02 17:18] julianguyen commented on #197
Is this happening locally or in the live app?

[2016-06-02 17:19] nagmak commented on #197
It's happening on the live app :S I tried inviting my sister

[2016-06-02 17:21] julianguyen commented on #197
Ahh thanks for letting me know! Will look into it soon! Damn thought I fixed this issue XD

[2016-06-02 18:24] julianguyen commented on #197
[code]

[2016-06-02 21:52] julianguyen commented on #197
This fixes the issue https://github.com/julianguyen/ifme/commit/3832e11d992cb6459c04474e6c37a4fc2c1b3200 but there is another bug with the date being displayed in the email.

![screen shot 2016-06-02 at 1 40 14 pm](https://cloud.githubusercontent.com/assets/3010728/15762261/a1adc3ec-28d1-11e6-9a13-db95f0bbb83a.png)

[2016-06-02 22:24] starbelly commented on #134
After looking around last night, I think a complete freeze is in order. It doesn't seem like this app is any kind of mission critical status right now. With that said, it doesn't make any sense to squash bugs that will potentially become irrelevant post-refactor.

Without going into detail:

* Refactor configuration ( e.g., gem files, initializers, etc. )

* Refactor schema and migrations

* Refac

[2016-06-02 22:34] julianguyen commented on #134
Thanks for raising these concerns! I definitely agree that refactoring needs to be done. @kkelleey has been refactoring things for the Groups and Meetings models. @aayushpi expressed interest in refactoring the CSS. I will around tonight to discuss as well :)

[2016-06-02 23:14] julianguyen commented on #197
The above issue has been fixed with https://github.com/julianguyen/ifme/commit/af6ae5e56f6d354fb03e9abc8a0deb602b5e82d5

Hey @nagmak can you try testing again? :)

[2016-06-02 23:27] nagmak commented on #197
Awesome, it's working! :)

![screen shot 2016-06-02 at 7 26 16 pm](https://cloud.githubusercontent.com/assets/16668970/15764322/ee13eee8-28f7-11e6-9d3c-f207a6d0d052.png)

[2016-06-02 23:28] julianguyen commented on #197
Yay thanks for filing this bug! LOL I just realized I replaced invitation_due_at with invitation_created_at. Lemme quickly fix that.

[2016-06-02 23:28] #197 closed

[2016-06-03 00:57] julianguyen commented on #178
@starbelly Currently we are setting Time.zone using the timezone specified by the user's browser

https://github.com/julianguyen/ifme/blob/master/app/controllers/application_controller.rb#L27

Thoughts on this method?

[2016-06-03 01:13] kkelleey commented on #134
@starbelly I can hold off on any more model, controller and view refactoring until the first two are finished.

With regards to schema refactoring, @julianguyen should it be possible for a group to have more than one leader? If not, I suggest we remove the leader attribute from GroupMember and add a leader_id field to Group. That way we could get the leader of a group without joining through group

[2016-06-03 02:20] starbelly commented on #178
@julianguyen Wierdness. That was not in the fork I had just cloned last night, perhaps I was behind...

 Ok, see where the problem is. If you post a comment, you will immediately see the time in UTC, this is normal behavior per local_time. If you wait and wait and wait the time will eventually get converted to local time before your very eyes. So, the question now is: Why the delay?

[2016-06-03 02:40] starbelly commented on #134
@kkelleey and @julianguyen I have some thoughts on redesigning the schema. Specifically all the parts before application specifics. It might be way too much for this project though, just to get a better handle on the scope of this project. Attached is something similar to what I have in mind. In the attached files everything starts with company, but that does not apply here, so just ignore the com

[2016-06-03 05:37] julianguyen commented on #178
@starbelly What you're describing seems to be happening.... but I'm confused why during new page loads or reloads it gets converted right away... Do you think we should continue using this gem or write our own helpers for formatting time?

[2016-06-03 05:40] julianguyen commented on #134
@kkelleey I believe it should be possible for a group to have multiple leaders. This feature is supposed to be an organizational tool for support groups (online/offline) and many of them have multiple facilitators!

[2016-06-03 05:48] julianguyen commented on #134
@starbelly Thanks so much for raising this! Since we are aiming to be HIPAA compliant, we should not collect more information like home address. We want to anonymize the data as much as possible. Overall, the app doesn't rely on location and any other identifiable factors to function. It's a closed network for users to only connect with people they actually know. In the future, we might open this

[2016-06-03 05:51] julianguyen commented on #134
I think refactoring these two first is a good idea:
* Refactor configuration ( e.g., gem files, initializers, etc. )
* Refactor schema and migrations

Does anyone want to take this on? I can help as much as I can of course.

[2016-06-03 06:32] starbelly commented on #134
@julianguyen I was already planning on taking those on, but there needs to be involvement from everyone on the design when it comes to the schema...

 Here is an updated ERD of the base schema:

![erd](https://cloud.githubusercontent.com/assets/8829116/15770660/0a16ba66-292b-11e6-9d0a-3fb8aca2110d.png)

[2016-06-03 06:48] starbelly commented on #134
Yeah, saw your message on slack. I must have been looking at schema for something else last night, I swore I saw address fields. We'll just forgot about that. In the comment above is an updated ERD.

 The problem with canned authorization and authentication is primarily bloat. Besides being yet another gem in your app,  devise and similar packages have to work everywhere. The generic support bring

[2016-06-03 06:52] starbelly commented on #178
I think we should use our own helpers. We should discuss the pros and cons of letting the client handle this vs. server side as well. The pros using the client to convert the time data is pushing the load on to the client. However, the cons I think outweigh the pros in that there's way more that can wrong as we're seeing. I think the load increase caused by such operations server side are negligib

[2016-06-03 08:17] starbelly opened #200 "Move to gemspec"
Getting into cleaning up the config, I wondered if everyone might want to move the dependencies to a gemspec so that it can be pushed to rubygems.org. If so, I'll do a PR.

[2016-06-03 08:20] starbelly opened #201 "Possibly change license"
Not demanding a change here. Just wondering why use the Apache license over the GPL?

[2016-06-03 16:40] julianguyen commented on #134
@starbelly In your proposed DB schema, I like the the idea of users have role assignments. I'm not sure what resource_traits and resource_actions are... could you explain what that means?

I personally do not have experience writing a authentication system that also allows for Google oauth. Perhaps we can hold off on that for later? I think we should focus our refactoring on the config/migration/e

[2016-06-03 16:44] julianguyen commented on #200
I'm not sure how to do that, but I can figure it out if you need any help!

[2016-06-03 16:52] julianguyen commented on #201
I originally chose Apache because it had the fewest limitations but still enforced licence and copyright notice, and state changes. But I think as this project grows we should probably choose a licence with more conditions, which version of GPL are you leaning more towards? GNU AGPLv3 looks the strongest.

[2016-06-03 17:23] julianguyen commented on #178
Yeah I do not like having to rely on a gem, especially when there are clear bugs. I'm going to do more digging on this and see if I can fix it without having to write new helpers. If not, I'll start writing helpers.

[2016-06-03 19:58] #178 closed

[2016-06-03 20:00] julianguyen commented on #178
I will be refactoring this code more so that we are only keeping what we need.

[2016-06-03 20:05] starbelly commented on #201
GNU AGPL v3 looks good to me 👍

[2016-06-03 20:05] starbelly commented on #200
Oh, I can do it. Just wanted to see if this was worth doing : )

[2016-06-03 20:05] julianguyen commented on #200
Awesome! Definitely worth doing!

[2016-06-03 20:13] julianguyen commented on #201
https://github.com/julianguyen/ifme/commit/a4e1ea368280442bfe11f631e880dc35f652571c

[2016-06-03 20:13] #201 closed

[2016-06-03 20:31] starbelly commented on #134
@julianguyen The concept here is that users have roles.

Example:

* Resource is anything that is or appears to be resource from the outside world, for example moments, but could also be an arbitrary route, anything a user can access

* Resource can have actions such as CRUD on Moments

* Resources can have traits such as 'comments' or 'why' or 'fix'

* Traits can have actions just like resource s

[2016-06-03 21:11] julianguyen commented on #134
Yeah I think a new separate issue for model refactoring needs to be created.  Thanks for explaining!

[2016-06-03 22:24] starbelly commented on #200
Actually, doesn't make sense to work on this right now. We'll revisit later.

[2016-06-03 22:24] #200 closed

[2016-06-03 23:38] julianguyen commented on #200
Any specific reason why?

[2016-06-04 02:10] starbelly commented on #200
Well, at first I was thinking gem it up so that others could easily use it, but that requires turning everything into an engine and/or module, which would be cool, but it's something that needs to happen organically. I jumped the gun : )

[2016-06-04 06:20] starbelly commented on #200
Bug fixes in rails. I didn't see any good reason to hang around at 4.2.5. If you feel otherwise, we can bump it back down.

[2016-06-04 12:57] starbelly opened #204 "Refactor schema and migrations"
Refactoring the schema has been discussed, opening it as an issue.

@julianguyen  Why are the migrations consolidated into setup_database, etc?

[2016-06-04 16:18] julianguyen commented on #204
@starbelly I don't have a specific answer to that, I think that was done out of convenience. Don't we need an initial migration anyways?

[2016-06-04 18:42] julianguyen opened #205 "Getting tooltips to show on mobile without clicking link"
I recently added stats on Categories, Moods, and Strategies on user profiles. In your own profile, you can hover over each stat and a tooltip with a list of viewers will show up. On mobile web, you can't hover... so the only way you can see it is if you tap the text... but tapping the text will click the link.

![screen shot 2016-06-04 at 11 31 32 am](https://cloud.githubusercontent.com/assets/301

[2016-06-04 18:42] julianguyen commented on #205
Please look at viewers_hover in application_controller.rb :)

[2016-06-04 21:50] starbelly commented on #204
@julianguyen That's fine :) My question was why were the migrations lumped into one file? I don't necessarily have a problem with that and see the utility in it, but, I just wanted to know why.

[2016-06-04 22:46] julianguyen commented on #204
I haven't created a migration to get rid of this model yet, but could you get rid of Support and any references (they should be all gone by now) or tests related to it?

[2016-06-05 00:26] starbelly commented on #204
@julianguyen Yes. FYI, we're going to do several PRs in regards to this issue. I'll be doing the first PR tomorrow.

[2016-06-05 01:39] julianguyen commented on #204
Awesome sounds good!

[2016-06-05 09:41] andela-cdaniel commented on #205
Hi, good day.

I got to know of this project from `yourfirstpr` on `twitter` and I'd like to have a go at this issue.

I've already hacked at it from the browser and was able to come up with this:

<img width="1280" alt="screen shot 2016-06-05 at 10 30 44 am" src="https://cloud.githubusercontent.com/assets/7131935/15804678/3279547a-2b09-11e6-86ed-9708411dd7c3.png">
<img width="1280" alt="screen sh

[2016-06-06 05:20] starbelly commented on #204
@julianguyen Let's continue this discussion on this PR: https://github.com/julianguyen/ifme/pull/207

[2016-06-15 18:04] stellacotton commented on #153
I'm going to take myself off this since I'm working on some other stuff right now. It would make a great first issue if someone would like to add some simple functionality to the medications form.

You can find the medication form code here:
`app/controllers/medications_controller.rb`
`app/views/medications/_form.html.erb`

[2016-06-17 15:26] stellacotton commented on #180
For any new WriteSpeakCode folks, looks like @piecedigital and @maestromusica have done some awesome work on so far:
- header.js
- moments.js
- strategies.js

and the rest could use some love.

[2016-06-17 16:59] scroniser commented on #127
FYI - I'm going to take a swing at this one today at WSC :)

[2016-06-17 17:26] nchambe2 commented on #180
Hey @julianguyen I would be interested in continuing work on this issue.

[2016-06-17 17:29] scroniser opened #219 "Confirmation/Error message after posting comment"
Once someone hits the comment button, it would be great to have either a confirmation message that the message was posted or error message that the post failed for some reason (empty comment box, no internet connection, etc).

[2016-06-17 17:33] scroniser opened #220 "App hangs between post and action mailer"
If there is no internet connection, the app seems to 'hang' on the local install after post request is sent if action mailer isn't able to send. Unsure if there's a 'failsafe' action to catch the error - I'd suggest implementing if it isn't there.

[2016-06-17 18:00] piecedigital commented on #180
@nchambe2 Feel free to work on this issue. As @stellacotton noted the new list should look like this:

* add_comment.js
* application.js
* charactercount.js
* delete_comment.js
* form_processing.js
* medications.js
* notifications.js
* search.js

[2016-06-17 18:01] sienatime opened #221 "Add cursor: pointer to elements that are clickable"
I'm a big fan of adding the CSS `cursor: pointer` to anything that is clickable in order to indicate that you can interact with that element. If you add a function via Javascript to an element that isn't an anchor tag, you don't get this for free, so I propose an app-wide audit of places that could use a `cursor: pointer` rule. I found a few:

- Account/profile (logo) dropdown menu open/close
- in

[2016-06-17 18:09] stellacotton commented on #220
Hey @scroniser, just want to make sure I'm understanding the issue:

1. Run the app locally (but without any email setup)
2. Execute an action that might trigger an email (like inviting someone to be an ally)
3. The app hangs indefinitely until the server times out

Does that sound similar to what you're seeing?

[2016-06-17 18:11] scroniser commented on #220
@stellacotton Yep, that's what I'm trying to say!

[2016-06-17 18:18] stellacotton commented on #220
In your application.yml are

`SEND_EMAIL: "false"`
`RAISE_DELIVERY_ERRORS: "false"`

set to false?

[2016-06-17 18:23] scroniser commented on #220
Yes - it's supposed to be, right? I didn't change it from the original...?

[2016-06-17 18:29] stellacotton commented on #220
Yep, sounds like this is a bug. Your local app shouldn't try to be sending email at all. What post request were you making?

[2016-06-17 18:44] scroniser commented on #220
Posting a comment to someone else's 'moment'.

[2016-06-17 21:04] sienatime commented on #221
Opened PR https://github.com/julianguyen/ifme/pull/222

[2016-06-24 01:31] johnfrenchxyz opened #224 "Accessibility Issue - Multiple h1 tags in footer"
I've noticed that, in the footer, the "if me" and "connect" sections are both `<h1>` tags with additional styles applied to them. Having more than one `<h1>` tag on a page can make a non-css view difficult to understand, or cause a screen reader encounter unpredictable behavior.
 [
You can read more about best-practices here.](http://webaim.org/techniques/semanticstructure/#maincontent)

Locally,

[2016-06-24 01:48] stellacotton commented on #224
Hey John, an easy way to make a PR if you aren't a contributor is to fork the app to your own repo. Github has some instructions here: https://help.github.com/articles/fork-a-repo/

Since you've already pulled the repo down, after you fork the repo you can skip the steps in the instructions in Step 3.1 - 3.4 about pulling down the clone and go straight to Step 3.5 where it talks about setting up t

[2016-06-24 01:49] johnfrenchxyz commented on #224
@stellacotton thanks! I'll look into that now.

[2016-06-24 02:07] johnfrenchxyz commented on #224
Just submitted a PR #225

[2016-06-24 13:42] #221 closed

[2016-06-24 13:43] #129 closed

[2016-06-24 20:05] nchambe2 commented on #180
Hey @piecedigital,
I plan to work on this issue today, along with another user @revolaution.

[2016-06-24 20:09] julianguyen commented on #180
Hey @nchambe2 @revolaution, could you send join.ifme@gmail.com your emails so I can add you to our Slack channel? Thanks :)

[2016-06-24 20:11] piecedigital commented on #180
@nchambe2 Alright. If you have any questions just ask me on Slack. Same name :smiley:

[2016-06-25 04:54] starbelly commented on #204
Good luck.

[2016-06-25 04:54] #204 closed

[2016-06-26 19:57] julianguyen commented on #156
Did you get a chance to take a look at this this @yaaotchere ? :)

[2016-06-29 22:06] #224 closed

[2016-07-01 18:04] sienatime opened #231 "Refactor JS show/hide functions to not use `click_flag`"
We're already very close to being able to do this, but in `header.js` and `notifications.js` we keep track of how many times something has been clicked (`click_flag`) and do a `% 2` on it to see whether we should hide or show it... this isn't necessary, as we already know if something is open or closed based on the CSS classes applied to it, so we just need to do the opposite of that. jQuery also

[2016-07-20 17:21] rashmiagar commented on #231
I would like to take up this issue as a first PR.

[2016-07-20 18:09] sienatime commented on #231
@rashmiagar Great! Let me know if you have any questions.

[2016-07-22 10:17] jimmynames commented on #64
Hello all, someone who's had extensive experience in both mental health (as professional and service user) and mHealth (mobile health/health apps) myself and an old colleague (maybe) would be willing to help.. please provide me with research focal points and I'll draft something up in addition to looking over the UX :3

[2016-07-23 22:32] janz93 opened #244 "Developing without SMTP configuration"
Hey
I chose not to setup my SMTP email which makes no email communication possible.
As I was trying to invite an ally the page returned a 500 error.
Would it make sense to handle the case where there is no email configuration?
Obviously not everything would work without email but most things would.

[code]

[2016-07-25 01:34] julianguyen commented on #244
That's a great point @janz93! How do you think we should handle this? Skip SMTP authentication if it doesn't exist and it's in development mode?

[2016-07-25 02:55] julianguyen opened #245 "Travis CI needs to run Jasmine tests"
Thanks @sienatime for noticing that Travis CI wasn't actually running the Jasmine tests. Oof.

@starbelly originally set up Travis CI here: https://github.com/julianguyen/ifme/pull/198/files

I modified the Rakefile to run both rspec and Jasmine, but it is not working. https://github.com/julianguyen/ifme/commit/b21d3f31a283b4c97be2018d8ef126d1e793d987

Help is appreciated :)

[2016-07-25 14:52] stellacotton commented on #244
@julianguyen I think this is a bug and related to https://github.com/julianguyen/ifme/issues/220. I hadn't had a chance to look into it before now, but I think it's an issue with "false" as a string in the key/value pairs. I think I was trying to round hole/square peg our use of Figaro so that we could use it to manage both secrets and configuration booleans (specifically in `ifme/config/environme

[2016-07-25 19:31] julianguyen commented on #244
I like the latter option @stellacotton because it is the most minimal, but would the first option be better for new contributors? Thoughts @janz93?

[2016-07-26 04:01] julianguyen commented on #245
Fixed by @starbelly! Thank you ^^

[2016-07-26 04:01] #245 closed

[2016-07-26 04:06] starbelly commented on #245
@julianguyen No problem : )

[2016-07-26 18:43] janz93 commented on #244
I think the first option would be better since it wouldn't mean extra work for someone to set up the project.
Also maybe `ENV.fetch('SEND_EMAIL', 'any default value')` could be an option if it would be better to be in control of what a default value should be.

[2016-07-26 19:21] julianguyen commented on #244
Good point @janz93! Would you like to set this up?

[2016-07-26 20:48] stellacotton commented on #244
@janz93 I'm not sure `ENV.fetch` will address the underlying issue where Figaro only allows strings or nil as configuration values in the `application.yml`. Rails needs a boolean (not a string value of `"true"` or `"false"`) to turn off sending email, which I think we can only get from `ENV.key?("SEND_EMAIL")`.

[2016-07-26 20:51] stellacotton commented on #244
(Also this is unrelated, but if anyone is curious to look under the hood of one of our dependencies, the Figaro code is really easy to read. The place where it handles configuration values is here https://github.com/laserlemon/figaro/blob/5191084e16cf5cd5c2cc8a98df9071dbac9b4cba/lib/figaro/application.rb on line 72.)

[2016-07-28 12:02] janz93 commented on #244
Okay sounds great.
Till next Wednessday I will be busy but then I will try to take a look and start working on a PR.

[2016-08-02 20:54] gbonfant commented on #53
Hi 👋

I've added the repo to [codeclimate](https://codeclimate.com), we can get static analysis results from both brakeman and rubocop from there.

Check it out [here](https://codeclimate.com/github/julianguyen/ifme/issues) – Any repo admin can hook it up to the [PR workflow](https://docs.codeclimate.com/docs/github) and invite contributors.

[2016-08-06 00:36] julianguyen commented on #53
Thanks so much @gbonfant! Can I add you as as collaborator and would you be able to hook it up to the PR workflow? :)

[2016-08-06 14:12] gbonfant commented on #53
Hey @julianguyen no problem! However I can't set it up because you need access to the repo settings, it shouldn't take you too long to hook it up though, take a look at codeclimate docs [here](https://docs.codeclimate.com/v1.0/docs/github#pull-requests)

[2016-08-07 02:52] julianguyen commented on #53
Hey @gbonfant - I followed all of the instructions correctly in the codeclimate docs (https://docs.codeclimate.com/v1.0/docs/github#pull-requests) but I don't see the changes appearing in the existing pull requests. Any ideas?

[2016-08-07 03:20] #182 closed

[2016-08-07 03:21] #153 closed

[2016-08-07 03:31] julianguyen opened #249 "Test ticket from Code Climate"

[2016-08-07 03:31] #249 closed

[2016-08-07 03:37] julianguyen opened #250 "Fix suggested bug risks from eslint (JS) in Codeclimate"
Go through these bug risks (https://codeclimate.com/github/julianguyen/ifme/issues?category=bugrisk&engine=eslint&page=1&severity=) and fix them! :)

[2016-08-07 03:47] julianguyen opened #251 "Internationalize app for Spanish and future languages"
![wsc_opensourcehours](https://cloud.githubusercontent.com/assets/3010728/24170861/8127b1ba-0e3f-11e7-8b0b-dcfe8661b3b9.png)

The wonderful [Zoraida](https://twitter.com/ZoraidaEMedrano) from [Brown Sisters Speak](http://www.brownsistersspeak.org/) offered to help out with Spanish translations!

We need someone to help out with make ensuring all the text in the app is in `en.yml`, coordinating wit

[2016-08-07 12:48] gbonfant commented on #53
The analysis won't run for older pull requests automatically (try pushing again) but everything's hooked up! I opened a small PR to test it out #252

<img width="779" alt="screen shot 2016-08-07 at 13 48 01" src="https://cloud.githubusercontent.com/assets/807237/17462462/a23903aa-5ca5-11e6-91cd-9df303c73d78.png">

[2016-08-07 16:24] sienatime commented on #251
I'd like to help with this :)

[2016-08-07 20:03] julianguyen commented on #251
Ooh that would great @sienatime! I'll introduce you two on Slack :)

[2016-08-09 06:03] #231 closed

[2016-08-12 08:02] rashmiagar commented on #250
May I help with this :)

[2016-08-12 15:15] julianguyen commented on #250
Yes please @rashmiagar!!!

[2016-08-12 15:15] julianguyen commented on #250
Also @rashmiagar, do you mind emailing join.ifme@gmail.com your email so we can add you to Slack :)

[2016-08-12 15:20] julianguyen commented on #251
@sienatime and anyone else who wants to help out:
- We should start putting all of the English text that isn't in en.yml there
- Sync with Zoraida give her that file to do the Spanish translations on
- While we're doing that perhaps work on the actual mechanism to switch between languages on the site

[2016-08-20 19:39] julianguyen opened #255 "Turning on error raising for missing translations breaks an acceptance test"
While working on translations, @sienatime pointed out that turning on `config.action_view.raise_on_missing_translations = true` in `test.rb` breaks an acceptance test, namely one in `user_leaves_groups_spec.rb`.

[code]

[2016-08-20 21:55] sienaigg commented on #255
figured it out! https://github.com/julianguyen/ifme/pull/256

[2016-08-20 21:59] #255 closed

[2016-08-24 07:43] julianguyen commented on #250
Added JSHint and started to fix some of the errors: https://github.com/julianguyen/ifme/commit/51e652bd4a83cdf8495148ece34f0d79551b938d

[2016-08-27 19:08] julianguyen opened #259 "Ability to dismiss a triggering category/mood/strategy in the stats module"
# Description

The stats aggregate the the the top (max 3, min 1) categories, moods, and strategies. However, through personal use of the app, I've realized that seeing certain buttons can be triggering e.g. "something triggering". It would be neat to have something to dismiss these from view in the stats module and go back and allow them to be in the app again.

![screen shot 2016-08-27 at 12 04

[2016-08-27 19:08] julianguyen commented on #259
@rashmiagar Let me know if you want to tackle this! :)

[2016-08-27 23:34] julianguyen opened #260 "Fix JS error: Discontiguous selection is not supported."
`index.js:49 Discontiguous selection is not supported.`

Error shows up on any page in the app.

[2016-08-27 23:41] julianguyen commented on #244
@janz93 Hey what's the status on this? :)

[2016-08-28 16:10] rashmiagar commented on #259
@julianguyen Ya, definitely :)

[2016-08-28 17:09] sienatime commented on #251
Tasks:

- [ ] Standardize pluralization to use en.yml instead of ternary operated statements or `.pluralize`

  Example:
    Don't:
      `t('member').pluralize(members.count)`
      `members.count == 1 ? t('member') : t('members')`

    Do:
[code]

- [ ] Organize en.yml according to concepts and not controller/action/view where it makes sense in order to prevent string duplication
- [x] Fully qua

[2016-08-28 19:49] julianguyen commented on #259
Wonderful @rashmiagar :) Let's sync on the design for this sometime. Right now when you hover over the text, there's a pop up div showing which of your allies can view category/mood/strategy. We'll have to figure out a state that allows some kind of "X" button to show up to dismiss the button. And then from a data standpoint, have that flag saved.

[2016-08-28 22:00] jfriestedt opened #264 "Creating a PR caused a Travis CI Failure"
Build log is [here](https://travis-ci.org/julianguyen/ifme/builds/155800373)

Error occurs on ln: 411, at the beginning of Jasmine tests. Error reads "Phantomjs does not appear to be installed in /home/travis/.phantomjs/2.1.1/x86_64-linux/bin/phantomjs, installing!"

PhantomJS appears to be installed locally for me as I am able to successfully run the Jasmine testing suite. Apologies if this is an

[2016-08-31 00:55] julianguyen commented on #264
@jfriestedt This is a really weird bug. I find that rebuilding the test fixes the issue. But I don't know how else to fix it permanently so that we don't encounter it again.

[2016-08-31 00:56] julianguyen commented on #264
Any ideas @siena or @starbelly?

[2016-08-31 01:29] starbelly commented on #264
@julianguyen @jfriestedt

 Right, so what's happening is the mirror where phantomjs is sitting is not responding to the request for the download of the bzip file. It's probably because a lot of builds from your container on travis-ci have it the mirror and the mirror is trying to protect itself from a DoS attack. At least, this was the case when it happened to me.

 The real problem is the phantom

[2016-08-31 01:48] #264 closed

[2016-08-31 01:49] julianguyen commented on #264
Thanks so much for this @starbelly ^_^

[2016-08-31 19:58] julianguyen commented on #112
@tiffanysun This was something Aayush was working on but didn't get a chance to finish. Would you want to pick up this first? :)

[2016-09-01 06:01] tiffanysun commented on #112
@julianguyen sounds good! i'll start here

[2016-09-02 23:33] julianguyen opened #267 "UX Notes"
- [ ] Scrolling in Categories, Moods, and Strategies menus
- [ ] Icons for mandatory fields
- [ ] Wording of "Stories" vs. "Moments"

[2016-09-11 17:06] julianguyen opened #268 "UI bug: long text in categories/moods/strategies stats"
When there are three (max) items in the stats bar and one item takes up multiple lines, this happens:
![screen shot 2016-09-11 at 10 02 02 am](https://cloud.githubusercontent.com/assets/3010728/18419020/0c2edb64-7807-11e6-9a78-2878a0679e33.png)

When this happens, I think the item's height should be consistent with the other ones. In that case, we need to either shrink the font when this happens o

[2016-09-11 17:14] julianguyen opened #269 "User can see "Add Meeting" button on ally's group they haven't joined"
Repro steps
* Ally has a group that the user is not part of
* User goes into "Groups" and clicks into that group's page
* A plus button will appear giving the user the option to add meetings to that
* When the user clicks that icon, the page is redirected to the group page (preventing the user from actually adding a meeting)
* However we don't want to see the button in the first place

[2016-09-12 04:36] haleyelder commented on #268
Making the font smaller would keep it on one line, as long as it's not TOO small to read. I was going to say maybe decrease the padding, but then the box would be too close to the words and still look odd.

[2016-09-12 04:53] julianguyen commented on #268
@haleyelder Ooh great suggestions. Hmm yeah this is a tough one to solve. On mobile web, the items stack on top of each other. Is this an issue you would like to work on? :)

[2016-09-12 06:19] #269 closed

[2016-09-12 17:14] sienatime commented on #268
If you want to make it easy, you can add a css rule to make it add an
ellipsis if if is too long (
https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow). It will
get cut off but won't mess with the height. Changing font size is actually
pretty hard (unless you know something I don't @haleyelder 😉)

On Sun, Sep 11, 2016, 9:53 PM Julia Nguyen <notifications@github.com> wrote:

[2016-09-12 23:58] JessRudder commented on #113
I'd be happy to take a pass at this.

[2016-09-13 01:15] julianguyen commented on #113
@JessRudder, that would be fantastic! Can you send us an email at join.ifme@gmail.com so we can add you to our Slack?

Thanks ^^

[2016-09-14 04:08] #155 closed

[2016-09-14 04:10] julianguyen commented on #260
This bug has *~magically~* disappeared, so I'm going to close it.

[2016-09-14 04:10] #260 closed

[2016-09-14 04:11] #46 closed

[2016-09-14 04:37] julianguyen commented on #100
Would this be something you'd be possibly interested in @hellocam? :)

[2016-09-14 05:00] julianguyen commented on #80
@tiffanysun @hellocam

[2016-09-14 13:43] hellocam commented on #100
Yes, but I'd probably get to it much later on.  I'll get back to you about it when I'm done with the UX stuff?

[2016-09-14 16:23] janz93 commented on #244
Hey Sorry for the delay.
I'm have been working on a bigger projekt the last months and haven't had time to take a look at anything yet.
I'm still willing to develop the improvement but I won't be able to do so this month.

[2016-09-18 01:29] deejayres commented on #250
How are we doing here? Do you all still need help with some of this?

[2016-09-18 02:58] julianguyen commented on #250
@deejayres This issue is still open! You're welcome to work on it as well. Can you email us at join.ifme@gmail.com so we can add you to our Slack? Thanks :)

[2016-09-19 04:41] deejayres commented on #250
@rashmiagar where you are at with this? Should I start from the bottom of the list and work up?

[2016-09-20 04:44] julianguyen commented on #250
@deejayres Bottom up should be fine!

[2016-09-20 20:37] arbonap commented on #251
hola todxs!
I'd also love to help with i18n tasks. I also speak Spanish, so I could help with translating as well. Let me know where I can best help. :)

[2016-09-20 21:14] julianguyen commented on #251
This would be awesome @arbonap!  💯💯💯 Can you email us at join.ifme@gmail.com so we can add you to our Slack? :)

[2016-09-22 23:28] nagmak commented on #219
Hi! is anyone still working on this?

[2016-09-22 23:29] julianguyen commented on #219
@sophiexhe hey have you been working on this?

[2016-09-24 19:44] julianguyen commented on #101
Hey how is this going @aturkewi?

[2016-09-25 22:09] deejayres commented on #250
#277

[2016-09-25 22:50] julianguyen commented on #156
Any updates @yaaotchere?

[2016-09-25 23:04] julianguyen opened #278 "Using grid layout on Categories/Moods/Medications index pages"
Each item (Category/Mood/Medication) on the index page takes up the full width of the screen, which is unnecessary given amount of content in the div. Let's use flex boxes to create a grid to display these items! On mobile web view, each item should take up the full width.

![screen shot 2016-09-25 at 3 59 53 pm](https://cloud.githubusercontent.com/assets/3010728/18818856/823074ca-8339-11e6-8a58-f

[2016-09-25 23:09] julianguyen commented on #219
Hey @nagmak, feel free to pick this up!

[2016-09-25 23:20] julianguyen opened #279 "Remove your profile picture"
Currently, users can upload profile pictures, but they cannot remove it and default to the placeholder one. It would be great to have this feature.

![screen shot 2016-09-25 at 4 20 08 pm](https://cloud.githubusercontent.com/assets/3010728/18818978/f742213a-833b-11e6-965b-681c48a547c6.png)
![screen shot 2016-09-25 at 4 18 29 pm](https://cloud.githubusercontent.com/assets/3010728/18818979/f744692c-

[2016-09-26 00:57] yaaotchere commented on #156
This conpleteky slipped off my radar. Dang, I will dig in next weekend

On Sunday, 25 September 2016, Julia Nguyen <notifications@github.com> wrote:

--
Yaa Otchere - Web Developer
www.yaaotchere.ca
yaa@yaaotchere.ca
647-680-0934

*Grab my guide that calls out 10 common gotchas on websites! *
*Check yo'site before you wreck yo'site!* <http://checkyosite.com/>

[2016-09-26 13:38] aturkewi commented on #101
Hey @julianguyen ! It's going well. I know I started working on this a couple of weeks ago and I was hunting down the correct places to make the change. I haven't had a chance to finish it up, but I'm still looking at taking care of this issue. Just so I know, is there is a certain time you are looking to have this complete by? or simply the sooner the better?

[2016-09-26 16:39] julianguyen commented on #101
Thanks for the update @aturkewi! Within October should be fine :D Let me us know on Slack if you need any help!

[2016-09-26 17:27] chrisrp opened #280 "Improve test coverage on notification mailer"
Currently the test coverage is really low in the mailers. Cover it with tests and refactor as possible.

[2016-09-26 18:21] nagmak commented on #219
@julianguyen Sounds good, I'll keep you posted via Slack on any issues/updates soon.

[2016-09-27 06:22] #280 closed

[2016-09-30 19:53] julianguyen commented on #259
Hey @rashmiagar. Any updates?

[2016-10-01 04:09] mermop commented on #268
Hi! I found this project through Hacktoberfest, it's a great idea and I'd love to contribute :)

This should be fixable (on IE10+) with `display: flex` and `align-items: stretch` - do you have browser support guidelines, ie do you mind if it looks different on Internet Explorer 8 & 9 and Android 2.3 stock browser?

[2016-10-01 11:30] Wowu commented on #278
I will fix it.

[2016-10-01 21:31] sienatime opened #286 "Raw html is showing in the email footer"
<img width="811" alt="screen shot 2016-10-01 at 2 27 34 pm" src="https://cloud.githubusercontent.com/assets/1372018/19017097/80d78664-87e3-11e6-9bab-1f862a2de1d6.png">

This might have been impacted by some of the work we are doing for internationalization. These should be real HTML links! The easiest way to see this in development is to comment on something (maybe private comment/shared with only

[2016-10-01 22:37] #279 closed

[2016-10-01 22:46] julianguyen opened #288 "Be able to auto select checkbox of newly created Category/Mood/Strategy in a Moment/Strategy"
Current behaviour:
1) Create a Mood through new Moments page:
![screen shot 2016-10-01 at 3 41 03 pm](https://cloud.githubusercontent.com/assets/3010728/19017439/ff70003c-87ed-11e6-92b7-25f00d1f9dc8.png)

2) Does not get auto-checked once created.
![screen shot 2016-10-01 at 3 41 13 pm](https://cloud.githubusercontent.com/assets/3010728/19017438/ff6f11b8-87ed-11e6-94ef-e24f0ee1ff58.png)

Expected

[2016-10-01 23:39] julianguyen opened #289 "Triggering Devise related emails does not work"
Found by @sienatime!

Triggering either the Devise account confirmation instructions, the reset password email, or confirmation instructions don’t seem to work.

When forgetting password:
`Net::SMTPSyntaxError (501 Syntax error`

[code]

[2016-10-02 03:25] #286 closed

[2016-10-02 06:44] #278 closed

[2016-10-02 12:08] yigitozkavci commented on #288
I'm working on this! :)

[2016-10-02 18:49] #288 closed

[2016-10-02 18:51] julianguyen commented on #10
How's this going @damiong28?

[2016-10-02 19:01] #67 closed

[2016-10-02 19:01] #66 closed

[2016-10-02 19:02] #53 closed

[2016-10-02 19:18] julianguyen opened #295 "Handle empty space in grid layout on index pages when there are an odd number of tiles"
Huge thanks to @Wowu who added grid layouts to the app!

It would be neat to add a tile in the empty space that shows up when there are odd number of items. This tile could be a button to add a new Moment/Strategy/Category/Mood/Medication. This tile would have a `$secondary-text-color: #6D0839;` background and have the same plus icon used below positioned in the vertical and horizontal center of t

[2016-10-02 19:33] julianguyen opened #296 "Fix positioning of the Moment/Strategy label in the tiles on the app index page"
![screen shot 2016-10-02 at 12 27 57 pm](https://cloud.githubusercontent.com/assets/3010728/19023163/24ce8be2-889c-11e6-8389-b18694e90de4.png)

We want the Strategy label in this example to be fixed at the bottom of the div it's contained in - so that it lines up with the Moment label in the tile beside it.

[2016-10-02 19:36] Wowu commented on #295
Are you sure this thing is necessary? IMHO such big button won't be looking good and it won't improve overall UX. E.g. it's visible when user has one Moment, but when he adds next this button disappears. It can be litte confusing.

BTW can you add me to if-me slack team? :smiley:

[2016-10-02 19:39] julianguyen commented on #295
A possible alternative @Wowu is to have the tile span the full width of the container if there is an odd number on that row. Anyways we should chat more on Slack :P Email us join.ifme@gmail.com :)

[2016-10-02 20:10] julianguyen opened #297 "Calendar and email reminders for Medications no longer working"
Tried to create a new medication yesterday and I selected all the options for reminders, and it is not working - I'm not getting any email or Google Calendar notifications.

EDIT: email reminders seem to be working

[2016-10-02 20:42] #296 closed

[2016-10-03 01:40] julianguyen opened #299 "Refactor CSS by putting px values into a _values.scss"
We should organize our px values in the CSS. Create a `_values.scss` file, similar to `_colors.scss`, and replace all of the px values with variables.

[2016-10-03 01:45] imgarylai commented on #299
I can help with this issue!

[2016-10-03 01:46] julianguyen commented on #299
That would be awesome @imgarylai! Please email us at join.ifme@slack.com so you can be added to our Slack. Also don't forget to add yourself to the Contributors page :)

[2016-10-03 15:46] Wowu opened #301 ""Select all" checkbox behavior"
I think that behavior of "Select all" checkbox (in `/moments/new` and `/strategies/new`) is kinda weird

![image](https://cloud.githubusercontent.com/assets/6865958/19043401/441ee092-8990-11e6-8805-7e9247be22d6.png)

It should be rather something like this http://codepen.io/veerkun/pen/oAHCG

What do you think about it?

[2016-10-03 17:35] pcofilada commented on #113
@julianguyen Is there anyone doing this?

[2016-10-03 17:38] julianguyen commented on #113
Nope! Feel free to work on this! @pcofilada. It's been implemented here https://github.com/julianguyen/ifme/issues/297 but it's currently broken :/ So you could potentially work on both!

Also please email join.ifme@gmail.com so we can add you to our Slack! Also don't forget to add yourself to the Contributors page :D

[2016-10-03 17:38] pcofilada commented on #289
@julianguyen I'll take a look on this.

[2016-10-03 17:48] pcofilada commented on #113
Ok got it. I will just work on the devise issue first and I will take a look on this @julianguyen

[2016-10-03 18:04] julianguyen commented on #301
Ooh I like the JS refactor in your codepen! Go with it. Should the "Select all" text still change to "Unselect all" though?

[2016-10-03 18:37] Wowu commented on #301
Changing text IMO isn't a good idea, I've never seen such solution before.
By the way, this codepen is not mine, first result from Google :smile:

[2016-10-03 18:48] julianguyen commented on #299
Looks like @zachariast and @imgarylai are working on this. Can you two sync on Slack on how to split up the work? Also feel free to make checklists here too.

[2016-10-03 19:48] julianguyen commented on #295
Closing this for now since there's still a lot of debate whether to even deal with the blank space.

[2016-10-03 19:48] #295 closed

[2016-10-03 19:49] julianguyen commented on #301
Feel free to work on this then! I'm open to not changing the text.

[2016-10-04 01:33] imgarylai commented on #299
Sorry for that, I am a little bit busy recently. I'm not sure when can I resolve this issue.

I saw @zachariast 's pull request. Please keep working on this! If I have time to work on this issue again, I will sync code with you. Thanks!

[2016-10-04 01:46] #299 closed

[2016-10-04 01:49] tcdowney commented on #131
Hi @julianguyen, is anyone working on this issue?

[2016-10-04 02:02] julianguyen commented on #131
Nope! Feel free to work on this! Also email us at join.ifme@gmail.com to be
added to our Slack! Don't forget to add yourself to the Contributors page
too when you're ready.

On Oct 3, 2016 6:49 PM, "Tim Downey" <notifications@github.com> wrote:

[2016-10-04 02:26] tcdowney commented on #131
Great!  Thanks for getting back with me so quickly.. now time to get this dev environment set up! :full_moon_with_face:

[2016-10-04 05:56] julianguyen opened #303 "Only display clear button in notifications modal when there are notifcations"
The current behaviour when there are no notifications:
![screen shot 2016-10-03 at 10 56 42 pm](https://cloud.githubusercontent.com/assets/3010728/19064088/aeccedc2-89bc-11e6-9067-4ee13c305f01.png)

![screen shot 2016-10-03 at 10 53 48 pm](https://cloud.githubusercontent.com/assets/3010728/19064050/80255158-89bc-11e6-8c38-0466d6101e5b.png)

In this case, we want to hide the Clear button.

[2016-10-04 07:54] zachariast commented on #303
Can i work on that?

[2016-10-04 17:35] damiong28 commented on #10
Still working on it!

[2016-10-04 19:50] pixelead0 commented on #251
Hi,
Where is the yml file to translate?

[2016-10-04 22:55] julianguyen commented on #251
Hey @pixelead0! We're doing the translations in a Google doc currently then moving it over to yml, so that it's easier for the non-technical folks to look at. Can you send us an email at join.ifme@gmail.com so we can add you to the Slack?

[2016-10-05 03:16] hellocam commented on #64
Hi @jimmynames!  I'm doing UX research on the app and I'm putting together a list of people who'd be willing to do some user testing on the app.  Are you still up for testing the app and providing some insight?  If you are, please let me know where I can contact you.  Cheers. :)

[2016-10-05 03:19] hellocam commented on #80
Keeping this in mind for the preliminary round of user testing.

[2016-10-05 04:56] julianguyen commented on #64
Hey @jimmynames! Can you email us at join.ifme@gmail.com so we can add you to our Slack and you can continue the conversation with @hellocam? :) Thanks for reaching out!

[2016-10-05 08:23] Andykmcc opened #306 "Unoptimized images (lots of extra data sent)"
The If Me home page is 7.4MB. It is mostly image data. All other pages come in around 5.5MB with the exception of contributors at 18MB (but my guess is that is a low traffic page so transfer size is less important).

This seems very high to me for a Rails app. cache-control is set so users only have to pay this fee once for the most part.

[2016-10-05 17:29] julianguyen commented on #306
https://github.com/julianguyen/ifme/pull/307

[2016-10-05 19:22] zachariast opened #308 "Add tests for notifications.js"
Add some tests for notifications.js

[2016-10-05 20:46] #303 closed

[2016-10-06 07:19] Andykmcc commented on #306
fixed https://github.com/julianguyen/ifme/pull/307

[2016-10-06 07:19] #306 closed

[2016-10-06 18:15] #301 closed

[2016-10-07 05:36] #131 closed

[2016-10-07 08:03] julianguyen commented on #308
Noticed that the clear button doesn't get removed when you initially open the notifications modal, but it does when you click the clear button.

![screen shot 2016-10-07 at 1 01 54 am](https://cloud.githubusercontent.com/assets/3010728/19182757/c770a250-8c29-11e6-9af1-34bec49597e5.png)

[2016-10-07 08:50] zachariast commented on #308
@julianguyen i'll check it now

[2016-10-07 08:59] zachariast commented on #308
@julianguyen i can't see the problem. When i open notification modal i see this.
![screen shot 2016-10-07 at 11 57 53 am 1](https://cloud.githubusercontent.com/assets/8640923/19184365/6a0202e2-8c85-11e6-9103-922f379b5f52.png)

[2016-10-08 05:12] tymeart commented on #268
You might be able to fix this by including `white-space: nowrap` and setting min-width on the items.

[2016-10-08 17:30] julianguyen commented on #268
Hey @mermop! Feel free to make a PR! :)
@tymeart Good suggestion! But it might be a little tricky figuring out what the min-width should be.

[2016-10-08 17:30] julianguyen commented on #268
Also! @mermop and @tymeart, please email join.ifme@gmail.com to be added to our Slack :D

[2016-10-08 17:36] julianguyen commented on #308
@zachariast
Reproduction steps (locally and on prod):
- Log on
- Go to sub-navigation bar and click "Notifications"
- Modal opens, clear button still present

I think what we want to do is call `$('#notifications #clear_notifcations').hide();` after the AJAX request which fetches the notifications from the server (if it is empty).

[2016-10-08 18:44] julianguyen opened #311 "More test coverage for Rspec/complete empty test specs"
I noticed there are a handful of empty test specs that _should_ be completed.
- [x] meeting_controller_spec.rb (reading @cpanato)
- [x] pages_controller_spec.rb (in progress @brunoocasali)
- [x] notifications_controller_spec.rb (in progress @tcdowney)
- [x] search_controller_spec.rb (in progress @brunoocasali)
- [x] strategies_controller_spec.rb (in progress @talum)
- [x] notification_spec.rb (in

[2016-10-08 19:03] brunoocasali commented on #311
@julianguyen I'will do the `search_controller_spec.rb` Okay?

[2016-10-08 19:11] julianguyen commented on #311
@brunoocasali Thanks a lot! I'll assign you to this issue too. Please email join.ifme@gmail.com to be added to our Slack. Also! Add yourself to the contributors page when you're ready!

[2016-10-09 00:27] brunoocasali opened #313 "Repeated code in many controllers"
This method is repeated in many controllers:

[code]

We can move it to just one place.

[2016-10-09 00:57] brunoocasali commented on #313
See Pull request: #314

[2016-10-09 00:59] brunoocasali opened #315 "Responders Gem"
Hello guys, what do you thing to setup the responders gem to our code?! Looks pretty nice to remove code like these:

[code]

[2016-10-09 01:03] brunoocasali commented on #315
@julianguyen I can do this refactor, but I will need a very complete test into views (like a user, if someone that knows better the system can help it will be good).

[2016-10-09 04:37] julianguyen commented on #315
Right now the test coverage for views isn't complete. So perhaps setting up tests there first would be s good start. Why not use a shared helper method instead is relying on a gem?

[2016-10-09 04:38] julianguyen commented on #315
What kind of things would this gem add that writing our own methods wouldn't have? :P

[2016-10-09 05:31] tcdowney commented on #311
Hi all, I'll fill in some tests for the `notifications_controller_spec.rb`. :)

[2016-10-09 12:14] esBeee opened #317 "Specs with js set to true fail in the Docker container created with this Dockerfile"
Running all specs in the Docker container created with the `Dockerfile`, that is part of this repository, results in 2 failing specs. The reason in both cases is

[code]

Is this by design or should the dependecy be added to the `Dockerfile`?

[2016-10-09 18:58] bshap93 opened #318 "Quality of Life Tool"
I had the idea that we could design a tool to capture facets quality of life (QOL) (mental health focused of course) across time. 5 or so questions per category/facet might be about right.

We were thinking about integrating the tool with the Moments feature since quality of life is a big factor in someone's moment in time (using categories as facets of QOL and possibly an aggregate of moods as an

[2016-10-09 19:01] bshap93 commented on #318
https://www.bdqol.com/ An example of an implementation of a QOL with similar features to what I could see the QOL tool of if-me.org having.

[2016-10-09 21:46] talum commented on #311
Hello! I'd love to write some specs for `notification_spec.rb` and I can take a crack at the `strategies_controller_spec.rb`!

[2016-10-09 22:54] julianguyen commented on #311
Looks like @tcdowney is working on notifications but you can sync with him if you want to help out. Strategies is good to take on! I'll add you as a collaborator - assign yourself to the issue. Also! Email join.ifme@gmail.com to be added to our Slack. Add yourself to the Contributors page when you're ready too. Thanks :)

[2016-10-09 22:58] julianguyen commented on #317
@esBeee Selenium should be running properly. Perhaps add it to the dockerfile?

[2016-10-09 23:30] tcdowney commented on #311
@talum @julianguyen

I only wrote specs for the `NotificationsController`, not the model spec since it was listed separately in this issue.  Feel free to work on it @talum!

[2016-10-09 23:55] tcdowney opened #320 "Use HTTP DELETE instead of GET for destructive NotificationsController#clear action"
Notifications for a user can currently be cleared by visiting the following route:

[code]

Since the action is destroying all of a user's notifications, it should be an HTTP `DELETE` request instead of a `GET` since it is neither safe nor idempotent. ([reference](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html))

Moving away from `GET` also has the added benefit of letting us use Rail's CS

[2016-10-09 23:57] tcdowney commented on #320
I plan on finishing this up after https://github.com/julianguyen/ifme/pull/319 is merged so that there  are some tests covering this functionality before I change it.

[2016-10-10 00:07] brunoocasali commented on #315
I can write something about gem to you, but It will be incomplete ahahahah, please see the [readme of the gem](https://github.com/plataformatec/responders) :+1:

About test coverage I agree with you!

[2016-10-10 01:21] julianguyen commented on #320
I 💯  support this refactor 👍

[2016-10-10 02:06] julianguyen commented on #311
Unassigned myself from `meeting_controller_spec.rb` - reviewing PRs right now and fixing a few bugs. Anyone feel free to pick it up, just let us know here.

[2016-10-10 02:21] brunoocasali commented on #313
Closing because pull request is merged!

[2016-10-10 02:21] #313 closed

[2016-10-10 02:32] julianguyen commented on #315
Ok I'm fine with using this gem. Thanks!

[2016-10-10 13:02] logeshmallow commented on #244
@julianguyen: If I understand correctly, you do not want to use your SMTP credentials in development but you get an error during invite. If there is no issue with the mails being shown in browser on invite without the smtp credentials, then I can add letter opener gem and send a pull request to you. Please let me know if this is right and I shall send you the Pull Request soon.

[2016-10-10 18:19] julianguyen commented on #244
@janz93 Any updates on this?
@logeshmallow Locally, we don't want SMTP credentials to be mandatory. So we should be able to "fail gracefully" if not credentials are provided in the development environment. Could you clarify what the letter opener gem does?

Also! Please email join.ifme@gmail.com so we can add you to your Slack :)

[2016-10-10 19:38] julianguyen commented on #317
Also, do you have Firefox installed?

[2016-10-11 01:03] kindlingscript opened #323 "Unable to successfully access site"
Hi everyone 👋 ,

I brought up this issue to Julia when requesting access to the Slack channel, and she suggested filing an issue about it here, so here I am. 🙂

I found out about this app through Newbie Coder Warehouse on Facebook, and then following that link to the If Me Facebook page, I clicked on the link to the website.

On doing so, I was greeted with this page:

<img width="1436" alt="scree

[2016-10-11 01:49] deejayres commented on #323
Replicated in Safari for iOS 10

[2016-10-11 02:14] brunoocasali commented on #323
Sorry guys, that's my fault :/ I merged a correction see: #324

[2016-10-11 02:14] #323 closed

[2016-10-11 03:51] tcdowney commented on #308
@zachariast @julianguyen

I was working on adding a Jasmine spec to cover my change on #320 and I noticed a couple of issues.

There looks like there is a syntax error [here on line 43](https://github.com/julianguyen/ifme/blob/master/spec/javascripts/notificationsSpec.js#L43) that's preventing Jasmine from loading this file and running these specs.

Also, would you be opposed to introducing https:

[2016-10-11 03:59] brunoocasali opened #328 "Global variables is a code smell"
Rubocop, Codeclimante don't love global variables, there are a good reason too. What I want to talk here is about the `$per_page` variable declarated on application_controller.rb it could be removed using Kaminari configuration file!

Just generating: `rails g kaminari:config`

[2016-10-11 04:00] julianguyen commented on #308
Thanks for pointing this out @tcdowney. Can you fix that syntax error @zachariast please? :)

Not opposed to using jasmine-jquery. We definitely need test fixtures.

[2016-10-11 04:05] julianguyen commented on #328
Ooh! Thanks for pointing this out @brunoocasali. I'm down for this refactor if it means cutting down on global variables.

[2016-10-11 04:14] logeshmallow commented on #244
@julianguyen: The letter opener gem is actually to preview email in the default browser instead of sending it actually. By adding the gem, we can set

config.action_mailer.delivery_method = :letter_opener

and now all the mails will be opened in browser instead of actually sending it to whom ever we send and we could also be able to test if the mail functionality is also working properly and since

[2016-10-11 04:23] julianguyen commented on #244
@logeshmallow Ooh that's handy. Will we have to change the mailer test specs if we use this gem?

[2016-10-11 04:28] logeshmallow commented on #244
@julianguyen: No, we don't need to change the mailer test spec on using this.

[2016-10-11 04:33] julianguyen commented on #244
Sweet! Sounds like a good enhancement then @logeshmallow. Do you want to work on this?

[2016-10-11 04:34] logeshmallow commented on #244
@julianguyen Yes, definitely. I can do this and send you a pull request.

[2016-10-11 07:23] logeshmallow commented on #244
@julianguyen I have added letter opener and tested it and sent you a pull request.

[2016-10-11 13:29] cpanato commented on #311
I can try the meeting_controller_spec :)

[2016-10-11 13:31] brunoocasali commented on #311
I've added the `pages_controller.rb` I'm already doing here: #326

[2016-10-11 13:53] julianguyen opened #331 "Fix "Similar code" issue in app/controllers/moments_controller.rb"
Similar code found in 4 other locations (mass = 49)

https://codeclimate.com/github/julianguyen/ifme/app/controllers/moments_controller.rb#issue_57fced2bbf7c610001000890

[2016-10-11 14:03] #328 closed

[2016-10-11 17:53] Fahrenhei7 commented on #331
Are we supposed to solve only this one with 4 repeatings? Or all the duplications?

[2016-10-11 20:29] nchambe2 commented on #308
Yes, I have the commit. I got a new computer, and haven't been able to get the project up and running locally again. I'm going to try again, and hope to have the commit pushed before the end of the week.

[2016-10-11 20:30] zachariast commented on #308
@julianguyen yes i'll do it. :)

[2016-10-11 21:02] esBeee commented on #317
I have Firefox install on my machine, but it's not accessible from inside a Docker container. I wasn't able to find a simple solution for that problem, but since I'm a user of Docker Compose anyways, I implemented a solution using it. I don't know whether this is where you want to go with Docker, but I've created a pull request, so it's up to you to decide. #332

[2016-10-12 04:08] julianguyen opened #333 "Improve UX in Moments/Strategies sidebar"
![wsc_opensourcehours](https://cloud.githubusercontent.com/assets/3010728/24170861/8127b1ba-0e3f-11e7-8b0b-dcfe8661b3b9.png)

This is the sidebar that appears in Moments/Strategies, with the Moods toggle opened. Here are few suggested enhancements for this sidebar:
- A way to search and filter out Categories/Moods/Strategies (scrolling through a long list of them is not a good experience)
- A more

[2016-10-12 04:35] andela-oesho commented on #331
can i claim this issue please?

[2016-10-12 04:37] julianguyen commented on #331
Yes @andela-oesho! That would be rad :)

Email us at join.ifme@gmail.com to be added to our Slack too. Don't forget to add yourself to the Contributors page when you're ready!

[2016-10-12 06:33] kindlingscript commented on #112
Here's what I've done in Sketch so far, followed with how it looks in my local environment:

![if_me](https://cloud.githubusercontent.com/assets/13127241/19299459/0b6b07d6-901a-11e6-9f8e-a2eefc148aab.png)
To get the header content in Sketch, I screenshot it and placed it in the artboard. I would move the "New Medication" header here to the center if it wasn't an image. Compared to the coded result

[2016-10-12 15:02] bshap93 commented on #187
I'm pretty busy this week but I'd like to have this done before next.

[2016-10-12 15:27] andela-oesho commented on #331
@julianguyen the issue has been fixed, I raised a PR for it. https://github.com/julianguyen/ifme/pull/335

[2016-10-13 01:52] julianguyen commented on #187
Not a problem @bshap93! Thanks for keeping us posted :)

[2016-10-13 03:12] julianguyen commented on #112
This looks awesome @kindlingscript! A lot less cluttered and I like how everything is laid out. Do you want to keep the style of the input fields?

Also don't forget mobile web :P

@hellocam thoughts?

[2016-10-13 03:43] julianguyen opened #338 "Setting up automated deployment"
Branch: https://github.com/julianguyen/ifme/tree/devops/local-env
- [x] Add `dotenv` gem
- [x] Move `.yml` config files to `.env`
- [x] Update README.md.
- [x] Spread to other collaborators about it.
- [x] Setup CircleC.I.
- [x] Add Circle badges to project.
- [x] Add webhooks checks to pull requests.
- [x] Don't allow directly pushes to master.

[2016-10-13 04:00] julianguyen commented on #311
Hey @cpanato! Feel free to work on it! :D

[2016-10-13 06:39] #112 closed

[2016-10-20 02:52] kangashley commented on #333
Hi Julia, it's [@softandfierce](https://twitter.com/softandfierce)! 👋  Always wanted to contribute to _if me_ and confident in looking into this issue! Any documentation on or ability to reach out to users who can help test improvements would be helpful.

_Hacktoberfest 2016 🎃_

[2016-10-20 20:03] julianguyen commented on #333
@kangashley Hey Ashley! That would be awesome! I think you already on our Slack but if not let me know! @kindlingscript also expressed interest on this issue, so you two should work together on it :)

[2016-10-20 23:12] kindlingscript commented on #333
Hi Ashley, I'd love to work together on this issue. 😄 I'd talked a bit about it with Julia, playing around with the idea of incorporating autocompletion (would using a gem be best for this? I've only done so with vanilla JS before) so people can start typing in their mood/category/strategy, and if it's already in their db, it'll come up; if not, they can add a new mood/category/strategy. Let me kn

[2016-10-21 01:52] kindlingscript commented on #127
Starting to work on this now ☺️ (and that article was a great starting-off point, thanks! 👏)

[2016-10-21 12:22] cpanato commented on #311
I submit this initial PR #345
However where can I ask questions and clarifications ?

[2016-10-22 07:40] #331 closed

[2016-10-23 01:15] andrezacm opened #346 "Add contact email in code_of_conduct.md"
In `Enforcement` session:
`Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at [INSERT EMAIL ADDRESS]. `

[2016-10-23 15:52] andrezacm commented on #244
Hey, I noticed this enhancement was merged, but in the readme is still mandatory to configure smtp, and this issue is open. I tried skip smtp configuration and is working, so what you guys think to change the readme file to not confuse anyone?

[2016-10-23 22:17] julianguyen commented on #346
Ooh thanks for finding this!

[2016-10-24 03:03] julianguyen commented on #244
@andrezacm Yeah feel free to update the docs! Thanks for pointing this out!

[2016-10-24 04:25] andrezacm commented on #244
thanks to answer so quickly :)
just sent a PR

[2016-10-24 04:37] andrezacm commented on #346
what email would be the right address to add here?

[2016-10-24 12:46] yigitozkavci commented on #156
Hi there @julianguyen, I am currently working on this and could not reproduce it. The only way I get the **pushing** behavior is to resize screen in mobile mode.

[2016-10-24 18:57] julianguyen commented on #346
@andrezacm join.ifme@gmail.com :D

[2016-10-24 19:34] julianguyen commented on #156
@yigitozkavci Ah! Can you fix that issue for the steps you were able to produce then? Thanks for taking this on!

[2016-10-24 19:40] yigitozkavci commented on #156
The problem is, I cannot reproduce any part of this issue, can you check again if it's already fixed or something? I tried navigation the whole application while menu is closed or open by the way, everything seems normal :)

[2016-10-24 19:47] julianguyen commented on #156
@yigitozkavci Yep I was able to reproduce it.

1) In mobile web view, toggle dropdown to open
2) Resize window
3) Toggle dropdown to close

[2016-10-24 19:49] yigitozkavci commented on #156
Yeap I can only reproduce in that case, which I'll work on. 👍

[2016-10-25 07:42] yigitozkavci commented on #156
Hi @julianguyen, `setHeight` function in `app/assets/javascripts/header.js:80,82` is what causing the problem. You added that in commit https://github.com/julianguyen/ifme/commit/51e652bd, and here is the logic causing it:

`setHeight` function normally looks to header and syncs header space accordingly. For normal cases, because page is reloaded, menu is never in expanded hence it does its job co

[2016-10-25 09:59] andela-oesho commented on #346
@julianguyen  is anyone working on this issue?

[2016-10-25 17:35] julianguyen commented on #346
No is @andela-oesho, feel free to take it! :)

[2016-10-25 18:53] andela-oesho commented on #346
ok thanks I will be taking it up @julianguyen

[2016-10-26 04:40] #346 closed

[2016-10-26 04:46] #156 closed

[2016-10-26 04:47] andela-oesho commented on #139
hello @julianguyen  is this issue still pending?

[2016-10-26 05:23] julianguyen commented on #139
This is still pending! Feel free to assign yourself to it if you wanna work on it @andela-oesho :P

[2016-10-30 22:51] #308 closed

[2016-10-30 22:52] #244 closed

[2016-10-30 23:45] julianguyen commented on #10
How's this going @damiong28? :)

[2016-11-03 02:01] bshap93 commented on #318
@shiftyp I envisioned the quality of life tool using D3 for visualization as you said, and allowing users to create their own questions and categorize/weight them, but SPA might be better. As a default, I wonder if we could get permission from crest.bd on the grounds that we were expanding the scope of the questionnaire from bipolar disorder to mental health in general.

[2016-11-03 14:49] shiftyp commented on #318
From the bottom of this [page](http://www.crestbd.ca/research/research-areas/quality-of-life/):

It also lists a point of contact for permission to adapt the questionnaire.

[2016-11-04 23:20] julianguyen opened #356 "Fix "Rubocop/Metrics/ClassLength" issue in app/controllers/strategies_controller.rb"
Class has too many lines. [248/100]

https://codeclimate.com/github/julianguyen/ifme/app/controllers/strategies_controller.rb#issue_581d14aa9a13990001000a2e

[2016-11-05 22:24] #250 closed

[2016-11-08 04:48] julianguyen commented on #333
How is this going @kindlingscript @kangashley?

[2016-11-08 04:51] #320 closed

[2016-11-08 04:52] #311 closed

[2016-11-08 04:56] julianguyen commented on #113
@pcofilada How is this going?

[2016-11-08 05:54] #268 closed

[2016-11-08 06:20] julianguyen commented on #101
Any updates @aturkewi?

[2016-11-08 06:40] #317 closed

[2016-11-08 07:49] julianguyen opened #357 "Add more tests to meetings_controller_spec.rb"
Add more tests for this controller!

[2016-11-08 07:52] cpanato commented on #357
I have some questions about this controller, how/who can help me?

[2016-11-08 07:56] julianguyen commented on #357
@cpanato Can you email us at join.ifme@gmail.com so we can add you to our Slack? I would answer most of the questions :P

[2016-11-08 19:52] brunoocasali commented on #338
@julianguyen what about this issue?

There are only two items to solve, I have no permission to avoid pushes on master, and you have the influence needed to tell others about it! ;)

[2016-11-09 01:51] julianguyen opened #358 "Fix "Similar code" issue in app/mailers/notification_mailer.rb"
Similar code found in 3 other locations (mass = 23)

https://codeclimate.com/github/julianguyen/ifme/app/mailers/notification_mailer.rb#issue_58225db6416af800010008bf

[2016-11-09 10:52] #358 closed

[2016-11-10 23:03] #139 closed

[2016-11-12 22:37] julianguyen commented on #318
How's this going @bshap93?

[2016-11-13 00:05] julianguyen opened #359 "Heading bug in Moments on mobile web"
We want the heading text to wrap instead of create a horizontal scroll

![screen shot 2016-11-12 at 3 50 05 pm](https://cloud.githubusercontent.com/assets/3010728/20242798/a046a8b2-a8f0-11e6-89c7-bcacfbc92d92.png)

[2016-11-13 00:08] julianguyen opened #360 "Can't create/edit Strategy "ActionView::Template::Error (undefined method `self_care_strategy')""
This bug was introduced after https://github.com/julianguyen/ifme/pull/355 was merged and deployed.

[code]

[2016-11-13 00:38] julianguyen commented on #360
Ah ok so the issue is that we're missing a missing a migration file that adds `self_care_strategy` and `daily_reminder_email` to the Strategy model.

[2016-11-13 00:39] julianguyen commented on #360
I am going to fix this right now.

[2016-11-13 00:56] julianguyen commented on #360
I'm reverting your changes @andela-oesho. Left some more comments in your original PR!

[2016-11-13 01:08] julianguyen commented on #359
Closing this since https://github.com/julianguyen/ifme/pull/355 was reverted.

[2016-11-13 01:08] #359 closed

[2016-11-13 01:09] #180 closed

[2016-11-13 01:09] #297 closed

[2016-11-13 02:10] julianguyen opened #362 "Use jasmine-jquery in JS tests"
![wsc_opensourcehours](https://cloud.githubusercontent.com/assets/3010728/24170861/8127b1ba-0e3f-11e7-8b0b-dcfe8661b3b9.png)

Update JS tests to use jasmine-jquery fixtures and matchers
https://github.com/velesin/jasmine-jquery
- [x] HeaderSpec.js (@julianguyen)
- [x] MomentsSpec.js (@liirene1)
- [x] NotificationsSpec.js (@julianguyen)
- [x] StrategiesSpec.js (@liirene1)

Assign yourself to this i

[2016-11-13 02:15] julianguyen opened #363 "JS tests for missing specs"
![wsc_opensourcehours](https://cloud.githubusercontent.com/assets/3010728/24170861/8127b1ba-0e3f-11e7-8b0b-dcfe8661b3b9.png)

- [ ] add_comment.js => AddCommentSpec.js
- [ ] application.js => ApplicationSpec.js
- [x] <s>character_count.js => CharacterCountSpec.js (@jnamster)</s>
- [ ] delete_comment.js => DeleteCommentSpec.js
- [ ] form_processing.js => FormProcessingSpec.js
- [ ] medications.js =

[2016-11-13 02:19] julianguyen opened #364 "Stylesheet cleanup"
![wsc-opensourcehours](https://cloud.githubusercontent.com/assets/3010728/20331393/df414052-ab59-11e6-8b52-97f4b68fc515.png)

General refactoring of stylesheets, be sure to also include:
- [x] Move `font-weight`, padding, and margin values into _values.scss
- [x] Delete empty scss files

[2016-11-13 02:27] julianguyen opened #365 "Add toggling to contributors blurb"
![wsc-opensourcehours](https://cloud.githubusercontent.com/assets/3010728/20331366/b44068a6-ab59-11e6-984c-c51a58645084.png)

The lovely @nagmak worked on adding a read more button to the blurbs. Let's add some kind of collapse button after you've expanded a blurb!

<img width="1346" alt="screen shot 2016-11-12 at 6 23 34 pm" src="https://cloud.githubusercontent.com/assets/3010728/20243262/6977d64

[2016-11-13 02:35] julianguyen opened #366 "Google Calendar reminders not working in Medications"
Steps to reproduce:
1. Sign in Google authorized account
2. Create new Medication entry (with all required fields)
3. Check "Google Calendar Reminder" box
4. Create medication

Notice that "Google Calendar Reminder" is unchecked in edit mode (it should be checked and your Google Calendar should display new alerts)

[2016-11-13 02:57] julianguyen opened #367 "Stories cards looking cluttered"
![wsc-opensourcehours](https://cloud.githubusercontent.com/assets/3010728/20331349/a8666b66-ab59-11e6-9186-ba4c64e59178.png)

The area with the Categories, Moods, and Strategies links is looking pretty cluttered.

<img width="668" alt="screen shot 2016-11-12 at 6 54 22 pm" src="https://cloud.githubusercontent.com/assets/3010728/20243370/86fd4c44-a909-11e6-9e37-384b36fe860c.png">

[2016-11-13 06:40] #366 closed

[2016-11-16 04:23] lisavogtsf commented on #367
Can we get some more clarity on this issue? From our understanding, we'd add more white space between the categories, moods, and strategies lines. Is this what you intended?

[2016-11-16 04:24] lisavogtsf commented on #367
Starting work on this during open source hours 11/15/16

[2016-11-16 05:48] #367 closed

[2016-11-18 08:04] #364 closed

[2016-11-18 08:22] julianguyen opened #375 "Add dropshadow on modal titlebar upon scrolling"
Render a dropshadow at the bottom of the titlebar when the user starts to scroll through the modal

Current behaviour:
<img width="290" alt="screen shot 2016-11-18 at 12 19 29 am" src="https://cloud.githubusercontent.com/assets/3010728/20423384/c48ed43c-ad24-11e6-8152-1216cabe78e4.png">

[2016-11-18 08:23] #338 closed

[2016-11-18 09:11] julianguyen opened #376 "Generate slugs for individual pages for Moments/Strategies/Moods/Categories/Medications/Groups/Meetings"
Accessing an individual page for a Moment looks like this for example `moments/1` where 1 is the id. We want to replace this with `moments/name-of-moment-slug` so that it's more readable. Also make sure to handle duplicate slugs e.g. `moments/cool-sluggy` and `moments/cool-sluggy-2` etc.

- [x] Moments
- [x] Strategies
- [x] Moods
- [x] Categories
- [x] Medications
- [x] Groups
- [x] Meetings

Per

[2016-11-18 09:11] #360 closed

[2016-11-18 23:36] kindlingscript commented on #333
Sent you a message on Slack, @julianguyen! So sorry for just getting back with you now, the past couple of weeks have been 💨

Sidenote, if anyone wants to help with this, I'm open to it 👍

[2016-11-24 19:31] julianguyen opened #379 "Address depreciation warnings when running rspec"
Run `rspec` and address deprecation warnings in the output.

Example output:
[code]

[2016-11-24 21:34] julianguyen opened #380 "Can't send email invitations on production"
Example of stack trace:
[code]

Not able to reproduce on local. It's looks like it's a DNS related error.

[2016-11-25 00:37] julianguyen commented on #380
So I fixed this - there were multiple issues with the config files for SMTP (raised after we migrated over to dotenv)
Commits: https://github.com/julianguyen/ifme/commit/fd0b498bd3f41000d53f78d631bd4179a9a464e2, https://github.com/julianguyen/ifme/commit/489d5a1d01dc72f7d8e95946630cba8f8c962a91

[2016-11-25 00:37] #380 closed

[2016-11-25 00:38] julianguyen opened #382 "Setting up HTTPS/SSL on production"
Also investigate whether we should/can do so on the test/dev environments.

[2016-11-25 02:30] julianguyen opened #383 "Allies heading showing up when there are no allies"
Allies heading showing up when there are no allies (from the Allies page)

Example:
<img width="1423" alt="screen shot 2016-11-24 at 6 28 27 pm" src="https://cloud.githubusercontent.com/assets/3010728/20612930/de9d5a70-b273-11e6-90ab-acc53a5192c5.png">

Expected behaviour: hide heading

[2016-11-27 05:15] arssonist commented on #375
I'll take a shot at this one.

[2016-11-27 18:41] andela-oesho commented on #383
![image](https://cloud.githubusercontent.com/assets/14160244/20650877/5cd40724-b4d9-11e6-9f08-2c74b77a6ebd.png)

hi @julianguyen i think this issue has been resolved

[2016-11-27 19:49] nma commented on #382
Some code is required in #388 to let the CA provider confirm that we own the if-me.org domain.

[2016-11-27 22:19] #383 closed

[2016-11-27 22:29] julianguyen opened #390 "Add some info about the letter_opener gem in the README"
Mention in the readme me that this gem (https://github.com/ryanb/letter_opener) is used in both the test and development environments to send emails. Instead of emails being sent through SMTP, the email template will open in a new tab. Please also mention that you can disable this gem to test actual emails.

[2016-11-28 15:28] estermer commented on #390
Submitted a pull request for this update. p.s. this will be my very first contribution to an open source project! woot woot!

[2016-11-29 15:47] #379 closed

[2016-11-29 21:53] estermer commented on #390
made the changes

[2016-11-29 21:56] #390 closed

[2016-11-30 00:11] bshap93 commented on #318
I haven't been able to get to it lately, but after this week, it's something I'd like to start.

[2016-11-30 15:52] estermer commented on #363
how are we coming on this?

does this still need some help?

[2016-11-30 15:54] estermer commented on #14
Is this issue still something you need help on? I can maybe try and tackle this

[2016-11-30 15:56] julianguyen commented on #363
@estermer Edit the original comment I made and add your name to the spec(s) you will be working on! Also assign yourself to the issue :D

[2016-11-30 15:57] julianguyen commented on #14
@estermer Yes that would be great! You can work on this as a more long term project :) We should talk more about this feature on Slack!

[2016-11-30 16:02] estermer commented on #14
ok cool

[2016-12-01 00:09] BonMatts commented on #220
With the inclusion of the letter_opener gem, I could not replicate this behavior. I did, however, come across another error, in which a 500 was being served. The logs showed the message
` ArgumentError (An SMTP From address is required to send a message. Set the message smtp_envelope_from, return_path, sender, or from address.)`

and letter opener was not opening the email in another tab.
Apparent

[2016-12-01 06:19] nma commented on #159
I think the first step to any of this is to provide an API for users to retrieve their data in various simple formats to begin mining.  Once we have a way to slice and dice the data from the Rails app:

e.g.
[code]

We can then pipe the data to various processing services.
So for example, this month I want to know how many times the work "work" showed up in my moments, and how was the sentiment of

[2016-12-01 06:34] nma commented on #363
suggestions on one thats easy to pick up?

[2016-12-01 17:55] julianguyen commented on #363
@nma Medications and MobileTooltip are fairly easy ones to pick up! :D

[2016-12-02 04:00] #220 closed

[2016-12-02 04:01] #289 closed

[2016-12-10 22:13] bshap93 commented on #318
I spun up a standalone rails app that could probably be integrated. I don't know d3 yet though so the results don't have a graph yet. It's up here https://infinite-ocean-82076.herokuapp.com/ and the code is here https://github.com/bshap93/QOL_TOOL

[2016-12-28 19:54] brunoocasali commented on #356
I'll take care of it @julianguyen :)

[2016-12-28 20:29] brunoocasali opened #410 "Refactor code for setting up premade content"
Hello everyone!

I facing with the #356 issue, and there and inside (moods, categories) controllers, I've found similar code, that just generate premade content.

In my opinion, this premade content can be created in other place, like after a user to be generated for example... And the user can remove if it wants...

What do you think to refactor these peaces ?

[2016-12-29 21:21] brunoocasali opened #411 "Force Cloudinary load images over HTTPS"
As follows:
<img width="411" alt="screen shot 2016-12-29 at 19 20 08" src="https://cloud.githubusercontent.com/assets/4116980/21555066/efae5988-cdfb-11e6-831e-099c2240bc02.png">
<img width="996" alt="screen shot 2016-12-29 at 19 20 21" src="https://cloud.githubusercontent.com/assets/4116980/21555067/efb46ee0-cdfb-11e6-9385-c9cd389f52d6.png">

[2016-12-30 01:02] #411 closed

[2016-12-31 20:09] brunoocasali commented on #376
@julianguyen this gem is fantastic! I agree with this change!

[2016-12-31 20:10] brunoocasali commented on #356
This issue will improve a lot many parts of the legacy code, (including our GPA rating) :)

[2017-01-08 03:49] #382 closed

[2017-01-08 07:08] julianguyen commented on #410
Thanks for calling this out @brunoocasali! When you talk about refactor, do you mean reusing the logic to generate this premade content? Can you clarify? :)

[2017-01-08 08:40] #365 closed

[2017-01-08 21:07] julianguyen opened #416 "Add ability to add premade content for Categories, Moods, and Strategies in Moments and Strategies editors"
Currently, the user can only add premade content for Categories, Moods, and Strategies on their respective index pages.

Example:
![image](https://cloud.githubusercontent.com/assets/3010728/21753468/f6aa7ba0-d5a2-11e6-93ef-893c82de0911.png)

We want to add premade content from the Moments and Strategies editor:
![image](https://cloud.githubusercontent.com/assets/3010728/21753466/dc62ad76-d5a2-11e6

[2017-01-08 21:09] julianguyen commented on #333
How's this going @kindlingscript?

[2017-01-08 21:17] #205 closed

[2017-01-09 03:06] julianguyen commented on #318
Sorry for the late response @bshap93! This looks fantastic :) I like the idea of recurring questions that are part of sub-sections. Could definitely see it being integrated with the app! Looking forward to seeing the graph results.

[2017-01-10 07:18] kindlingscript commented on #333
Hi, Julia! Just saw this now. I'll ping you over on Slack now about it. 📨

[2017-01-12 02:28] lisavogtsf commented on #375
Kicking off some work on this

[2017-01-12 18:50] #376 closed

[2017-01-13 12:08] andela-oesho commented on #416
@julianguyen for clarity the add modal button should only appear if moods/strategies/categories.blank?

[2017-01-13 21:58] julianguyen opened #417 "Blocked HTTP request for location autocomplete"
`Mixed Content: The page at 'https://www.if-me.org/users/edit' was loaded over HTTPS, but requested an insecure script 'http://gd.geobytes.com/AutoCompleteCity?callback=jQuery1111010604214778680787_1484344551108&q=TOront&_=1484344551109'. This request has been blocked; the content must be served over HTTPS.`

Fixing this bug requires updating the url to `https`. Location autocomplete is used in th

[2017-01-13 21:59] julianguyen commented on #416
@andela-oesho Yep that is correct (for that user)!

[2017-01-17 15:38] nma commented on #318
@bshap93  if you haven't started on the charts yet, I have a access to some frontend guys at work for QnA.

I can read up on how to API - ify the rails controllers, and add a simple chart setup so we can make it pretty. SPA is nice, but I think we can get away without it for simple charts.

[2017-01-17 16:01] nma opened #421 "Refresh LetsEncrypt in an automated way"
Our SSL CA, LetsEncypt while free only offers valid certs every 90 days. We will need a way to to refresh the certificate.

Proposal to use the following open source plugin to fix it for good:
1. Learning and adding a new Ruby plugin (https://github.com/pixielabs/letsencrypt-rails-heroku)

May require some https downtime during dev, so a push would be at off hours.
.

[2017-01-17 17:47] nma commented on #421
Anyhow going to start this, assigned you just as a heads up

[2017-01-18 01:46] julianguyen commented on #421
This is awesome thanks so much :D

[2017-01-19 02:17] mercyg commented on #417
Hi  @julianguyen  I would like to work on this issue. Could you please tell me where to start?

[2017-01-19 02:22] julianguyen commented on #417
I actually picked this up myself and have a PR out. Do you mind reviewing it? :) Also! Can you email join.ifme@gmail.com so we can add you to our Slack?

[2017-01-19 02:34] mercyg commented on #417
I would be glad to review it :) But I am a newbie to open source project :) And I will email at the address. Thank you

[2017-01-20 03:54] #417 closed

[2017-01-24 21:15] su6a12 commented on #259
Hi Julia, I'd like to help out with this one if it's no longer assigned.

[2017-01-24 21:16] julianguyen commented on #259
Awesome I'll assign it to you @su6a12! As always, feel free to ask questions/chat more about it on Slack!

[2017-01-25 18:07] nma commented on #421
So it looks like this plugin will require embedding global Heroku oAuth Keys (to perform cert upload through the platform-api) in the deployed Environment.

So this means is, people who have been granted access to in the heroku app can see these oAuth keys. They can then impersonate your user with full access on this project, and all other projects your user is attached to.

It is a bit iffy, but

[2017-01-30 01:32] julianguyen commented on #421
Hmmm I think this should be fine. Definitely iffy though :/ Are there any alternatives? Thanks for looking into this @nma!

[2017-01-31 15:37] nma commented on #421
Actually, we can create another account, and just give it restricted permissions. e.g. (infrastructure@if-me.org)

[2017-02-09 03:01] grrrero commented on #362
Hi @julianguyen, do you have time to show me what I need to do for this one? I'd like to assign myself to one, but I'm not sure what to do/how to go about it.

Thanks. :)

[2017-02-25 02:54] julianguyen commented on #375
How is this going @arssonist?

[2017-02-25 05:09] arssonist commented on #375
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; } Hey,
I'm so focused on non ruby stuff, last ditch effort to get a job b4 I give up on programming for a profession,that I won't be able to get it done. I didn't understand what to do and Google search seemed to turn up dif variations

[2017-03-04 18:56] julianguyen commented on #251
Wrapping up this project and working on the toggle https://github.com/julianguyen/ifme/tree/i18n-ui-toggle

[2017-03-04 19:22] julianguyen opened #424 "Invite multiple people by email"
Currently, users can only invite one person a time by email. We want to add the ability to add multiple emails that are comma separated (including comma-space separated).

Current behaviour:
![image](https://cloud.githubusercontent.com/assets/3010728/23581658/b53c321c-00cc-11e7-9803-67a659649da4.png)

[2017-03-04 19:30] julianguyen opened #425 "More writing prompts for Moments"
# Description

We currently use static writing prompts in Moments.
![image](https://cloud.githubusercontent.com/assets/3010728/23581694/d36c5324-00cd-11e7-8014-d87b9c85acfe.png)

We want to add the ability to choose from a dropdown of writing prompts and have that saved in the user's Moment.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find

[2017-03-04 19:31] julianguyen commented on #259
How is this going @su6a12?

[2017-03-05 16:55] devishi commented on #375
The above menu is nowhere to be seen. Where do we need to add the drop shadow?

[2017-03-05 21:09] julianguyen commented on #375
One place you can access the modal for instance is if you like the "Categories and Moods" link

![image](https://cloud.githubusercontent.com/assets/3010728/23591405/d475c8b8-01a4-11e7-8dee-2945f7e9ef28.png)

[2017-03-08 12:57] anne27 commented on #100
Working on these!

[2017-03-08 16:44] hellocam commented on #100
@anne27 Thank you! I've been swamped and haven't been able to touch any of these! <3

[2017-03-21 17:17] #100 closed

[2017-03-22 05:55] julianguyen opened #429 "Ability to close modals with ESC key and clicking the backdrop"
![wsc_opensourcehours](https://cloud.githubusercontent.com/assets/3010728/24170861/8127b1ba-0e3f-11e7-8b0b-dcfe8661b3b9.png)

<img width="1105" alt="screen shot 2017-03-21 at 10 53 26 pm" src="https://cloud.githubusercontent.com/assets/3010728/24184060/3d094044-0e89-11e7-860c-b066aaa8e173.png">

Currently, the user can only close the modal by hitting the X button. We want to add the ability to clo

[2017-03-23 03:51] nehalita commented on #424
@julianguyen I'll try this one!

[2017-03-23 04:39] liirene1 commented on #424
Note: This issue has a prerequisite before completing this task: Devise knowledge required. You have to override the Devise authentication.

[2017-03-23 05:38] liirene1 commented on #424
To see this component on localhost:
1. Click **Sign In** on header
2. use the test username and passwords in the _seeds.rb_ file
3. Click **Allies** on header
4. Click Invite **Your Loved Ones**

http://localhost:3000/users/invitation/new

<img width="585" alt="screen shot 2017-03-22 at 10 38 08 pm" src="https://cloud.githubusercontent.com/assets/16128022/24233560/497af062-0f50-11e7-85ef-e6207c59c

[2017-04-06 12:27] logeshmallow commented on #424
I can add the multiple email invite provision. Can I take that and send you the pull request?

[2017-04-06 17:41] julianguyen commented on #424
Hi @logeshmallow! Feel free to work on it and make a PR!

[2017-04-06 17:41] julianguyen commented on #424
Thank you

[2017-04-10 04:22] nma commented on #421
Heroku beat us to the punch.
https://devcenter.heroku.com/articles/automated-certificate-management

Now you can check the app by `heroku certs:auto` if you are an admin. I'll open a PR to remove our old way of adding certs.

The root domain,  `if-me.org` is failing, so something to take a look at on your end @julianguyen? Something about DNS configurations.

[2017-04-12 16:08] andela-oesho opened #437 "Toggle button in `/moments/new`is not working thereby causing feature test with file name UserCreatesAMoment.rb:8 to fail"
after debugging i discovered the toggle button does not display categories under which is the element that has the id #catgories_list, therefore capybara ill not be able to find the element. are there any reasons why toggle button wont work??

[2017-04-12 16:28] #437 closed

[2017-04-19 00:30] su6a12 commented on #375
Hey Julia,

I'm playing around with this and got it so the drop shadow shows up. Is this good or do you only want it to show up when user starts scrolling?
<img width="863" alt="screen shot 2017-04-18 at 5 28 42 pm" src="https://cloud.githubusercontent.com/assets/6955254/25158363/b7425d94-245c-11e7-8fd1-2c9761bd711a.png">

[2017-05-18 19:56] cartothemax commented on #14
@estermer  Has any work been done on this issue?  I was browsing through issues and noticed this had been sitting for a bit and thought I could help out with it?  I don't want to step on any toes though.  Thanks!

[2017-05-18 21:10] cartothemax commented on #10
@damiong28 would it be alright if I picked up this issue?  Thanks!

[2017-05-18 22:12] estermer commented on #14
@cartothemax I got busy with work. You are more than welcome to tackle this. Thanks.

[2017-05-19 18:17] cartothemax opened #442 "Refactor the add and remove methods in allies_controller.rb"
Both of these methods are quite long (44 lines for `add` and 54 lines for the `remove`) it makes the methods difficult to read.  `rubocop` has a default method length of [10 lines](https://github.com/bbatsov/rubocop/blob/master/config/default.yml#L1332) more information about this cop [here](http://www.rubydoc.info/github/bbatsov/rubocop/Rubocop/Cop/Style/MethodLength)

A good plan of attack for t

[2017-05-19 21:12] julianguyen commented on #442
This is a great plan! Thanks for this 😄 Will you be working on this?

[2017-05-19 23:23] cartothemax commented on #442
I sure will be!  I was starting some work for https://github.com/julianguyen/ifme/issues/14 and realized that I need to this refactor in before.

[2017-05-19 23:36] cartothemax commented on #14
No worries @estermer.  I have had the same challenges myself.  @julianguyen would it be possible to assign this to me?  I am going to finish up https://github.com/julianguyen/ifme/issues/442 and then get this going as well.  Thanks!

[2017-05-25 20:02] #421 closed

[2017-05-25 20:02] julianguyen commented on #424
@logeshmallow How is this going?

[2017-05-26 04:04] logeshmallow commented on #424
@julianguyen I have worked on it and I will try to complete it by this weekend and send you PR.

[2017-06-03 21:06] #251 closed

[2017-06-04 05:10] julianguyen opened #448 "Translate static content / links to external content to Spanish"
- [ ] [Feedback Google Form](https://docs.google.com/forms/d/1bXEs8taTZ1UMze93zjfuvw2Rp_OXPbLYv6tcJYkhcqE/edit?c=0&w=1)
- [ ] [Contributor Blurbs](https://www.if-me.org/contributors)
- [ ] [Blog](https://www.if-me.org/blog)
- [ ] [Open Source Licence](https://github.com/julianguyen/ifme/blob/master/LICENSE.txt)

Translating the feedback form, contributor blurb, blog post titles, and Open Source Li

[2017-06-05 20:06] ThePedroPaulino opened #453 "Add internationalization support for Brazilian Portuguese"
I`ll be working on the Brazilian translate version of Ifme. Do not mistake Brazilian Portuguese with just Portuguese: The first one we speak in Brazil, and the second one is spoken in Portugal. Some words have different meanings , but in general, both countries can understand each other.

[2017-06-06 22:12] julianguyen opened #454 "Create Private API"
A private API would be super nifty for us to build native mobile apps and cool things like chat bots!

[2017-06-06 22:13] julianguyen opened #455 "Secret share Moments"
The ability to share secret links to your Moments posts so that non if me users can view them! Sometimes people don't like creating new accounts. Or you want to have a discussion about something off the platform.

[2017-06-06 23:03] julianguyen opened #456 "Update app from Rails 4.2.6 to Rails 5"

[2017-06-14 16:33] julianguyen opened #457 "Add internationalization support for German"
The lovely Christine Wilhelmy from Indiegogo has volunteered to do this! The more help the merrier!

[2017-06-16 02:59] liirene1 commented on #362
Not sure how to assign myself to this issue, but I'm doing the MomentsSpec.js

[2017-06-16 03:00] WWLChen opened #458 "Terms of Service"
Add a TOS, including emergencies and that the moments are not to be taken as medical advice, this site is about mental health storytelling, sharing personal stories and not being stigmatized. Examples, From: URL and excerpts below.

From: https://www.breakthrough.com/how-it-works/terms
- [ ] USE OF THE SERVICES IS NOT FOR EMERGENCIES. IF YOU THINK YOU HAVE A MEDICAL OR MENTAL HEALTH EMERGENCY, OR

[2017-06-16 03:21] WWLChen commented on #219
Clarification:
1. Write comment and click Comment button
2. Comment is posted
a. If posted with no error, comment appears
b. If posted with error, error message should appear
3. Error message content: "It appears your comment did not post." Along with error code, http status code or ?
List of http status codes: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes,

[2017-06-16 04:21] WWLChen opened #461 "Content Changes to ifme"
Text changes that are additions are in parenthesis (add) and deletions are in brackets [delete] and +++comments+++  are comments and/or questions.
--------------------------------
URL: https://www.if-me.org/about

- [ ] replace if me with if me - stylized version with color
- [x] Our app is a completely open source (project). It's built and maintained by volunteers of many different backgrounds an

[2017-06-16 04:42] evykassirer commented on #429
@clairewild and I made some progress https://github.com/julianguyen/ifme/compare/master...evykassirer:closing_modals?expand=1

still missing:

- a few modals (e.g. Moments -> Anxious)
- using escape on some of the modals in Moments/Strategies (at least one works though)
- using escape on the homepage modal

But progress is being made! I might work more on this, but if anyone wants to copy my diff

[2017-06-21 19:47] clairewild commented on #429
https://github.com/clairewild/ifme/blob/master/app/assets/javascripts/notifications.js

Have been working on this and as far as I can tell it works for all the modals.

[2017-06-25 06:14] ThePedroPaulino commented on #363
Stiil trying to figure this out. Any tips ?

[2017-06-25 10:36] HashNotAdam commented on #456
I'd be happy to help out with this one.
Is the plan to get to 5.1 (via 5.0)?
Any known issues that could make it tricky?

[2017-06-26 17:24] julianguyen commented on #456
@HashNotAdam Yeah I think getting it to 5.0 is a good start then 5.1 will be more straightforward. Do you think just upgrading to 5.1 is fine? There are no known issues!

[2017-06-26 21:34] HashNotAdam commented on #456
It will most likely be completely fine to produce a PR to goes straight to 5.1 but I'll do the update in two steps and just only submit the final position. There will need to be changes to things like Selenium and the documentation regarding Firefox so I think it's better if the community only sees one change there.

[2017-06-29 18:26] julianguyen opened #472 "Cookies not being cleared properly in toggle_language_spec.rb causing flakey Circle CI test failures"
We've been getting a lot of flakey test failures from Circle CI because of [toggle_langauge_spec.rb](https://github.com/julianguyen/ifme/blob/master/spec/features/toggle_language_spec.rb) and cookies not being [cleared](https://github.com/julianguyen/ifme/blob/master/spec/features/toggle_language_spec.rb#L4). Cookies should be clearing after each test.

I need some help fixing this up so that the

[2017-06-29 22:07] HashNotAdam commented on #472
Is _that_ what that is‽ 😆

[2017-06-29 22:52] #362 closed

[2017-06-29 22:54] julianguyen commented on #458
Hey @WWLChen, I'd love to sync on this sometime! Are you still available to work on it? :)

[2017-06-29 22:57] WWLChen commented on #458
Yes! Would love to sync up. Another person was interested as well. I think Linda was the name.

Winnie

Sent from my iPhone

[2017-06-29 23:02] julianguyen commented on #458
Awesome! Let's chat more on Slack then! :D

[2017-06-30 02:03] SophieRoseMcDonald opened #473 "Upgrade to Ruby 2.3.4"
Upgrade to Ruby 2.3.4 from Ruby 2.3.1
Need to change:
• .ruby-version
• circle.yml
• Gemfile
• README.md
• Errors.md

[2017-07-04 00:04] jnamster opened #475 "Upgrade to Ruby 2.3.4 from Ruby 2.3.1 to support Docker"
Upgrade to Ruby 2.3.4 from Ruby 2.3.1
Need to change:

- .ruby-version
- circle.yml
- Gemfile
- README.md
- Errors.md

[2017-07-04 18:24] #473 closed

[2017-07-04 18:28] julianguyen commented on #472
I tried to fix it and I think it works? Gonna keep this issue open for a bit longer to confirm!

[2017-07-05 19:29] #475 closed

[2017-07-05 19:37] julianguyen opened #479 "Memory quota errors on Heroku"
Been getting a lot of these errors lately from production
[code]

Looks like this [guide](https://devcenter.heroku.com/articles/ruby-memory-use) will help solve our problems!

[2017-07-05 19:37] #472 closed

[2017-07-05 21:03] HashNotAdam commented on #479
Have you taken a look at the memory usage chart? Does it gradually rise or shoot up? Is the memory initially low and then grows or near max from the start?

Freezing the string literals will have a small advantage but I doubt it will completely fix this issue.

[2017-07-05 21:58] julianguyen commented on #479
It looks like it shoots up
![image](https://user-images.githubusercontent.com/3010728/27886764-563a4692-6192-11e7-90ec-13db6f5d1b43.png)

[2017-07-07 22:27] HashNotAdam commented on #479
I would expect a minor drop in memory use now, is this reflected in the charts?

[2017-07-07 22:29] julianguyen commented on #479
Looks like this now
![image](https://user-images.githubusercontent.com/3010728/27979205-feb43c50-6328-11e7-9420-e5bfc7d0a12e.png)

[2017-07-07 22:38] HashNotAdam commented on #479
While that looks great, I think those deployments are getting in the way of the memory hitting max. Will be good to see what happens if there are no new deployments.

[2017-07-12 05:08] SophieRoseMcDonald commented on #455
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Secret Share Moments](https://trello.com/c/jpYBcg0c/27-3-secret-share-moments)

[2017-07-12 05:11] jnamster commented on #10
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Draft and published mode for moments and strategies](https://trello.com/c/jrE3hU0h/25-3-draft-and-published-mode-for-moments-and-strategies)

[2017-07-12 05:13] jnamster commented on #333
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Improve UX in Moments/strategies sidebar](https://trello.com/c/qjtvuUmL/28-3-improve-ux-in-moments-strategies-sidebar)

[2017-07-12 05:13] jnamster commented on #425
![](https://github.trello.services/images/mini-trello-icon.png) [(4) More writing prompts for moments](https://trello.com/c/2Q6ki0qV/22-4-more-writing-prompts-for-moments)

[2017-07-12 05:13] jnamster commented on #424
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Invite multiple people by email](https://trello.com/c/kKFi5Xqh/23-3-invite-multiple-people-by-email)

[2017-07-12 05:14] jnamster commented on #113
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Add a "Add a Google Calendar" button on a group meeting event](https://trello.com/c/2FIlIQOu/24-3-add-a-add-a-google-calendar-button-on-a-group-meeting-event)

[2017-07-12 05:14] jnamster commented on #454
![](https://github.trello.services/images/mini-trello-icon.png) [(5) Private API](https://trello.com/c/TyFCUWPX/26-5-private-api)

[2017-07-12 05:14] jnamster commented on #363
![](https://github.trello.services/images/mini-trello-icon.png) [(6) JS tests for missing specs](https://trello.com/c/09pzjz8z/29-6-js-tests-for-missing-specs)

[2017-07-13 00:37] shelleyvadams opened #482 "Medications example: mixed up fields"
In the Prozac example that's displayed on a new user's Medications page, the "Total" and "Daily Dosage" fields appear to be mixed up:

Probably an easy fix. :grin:

[2017-07-13 15:37] igorcap commented on #453
Hi. This is my first time collaborating in a open source project but I'm Brazilian as well and I was thinking about doing the same thing, so if you need any help I will be happy to assist you.

[2017-07-13 15:42] ThePedroPaulino commented on #453
Hello Igor, welcome to If-me. If you have any questions regarding the translation, please ping me. I worked with the translation and any feedback or improvements will be appreciated. Did you manage to fork the repository and running locally the application ?

[2017-07-13 16:27] julianguyen commented on #453
Hi @igorcap we would love for you to contribute! Can you send as an email join.ifme@gmail.com so we can add you to our Slack, and we can chat more? :D Thank you ^^

[2017-07-13 16:27] julianguyen commented on #482
OMG awesome find @shelleyvadams, thank you! :D Would you be interested in fixing it?

[2017-07-14 05:21] shelleyvadams commented on #482
Maybe... Need to get a web server running again first.

Last week I upgraded/broke my development environment. This week I've been digging through documentation and reminding myself that I have a very recent backup.

[2017-07-14 05:48] julianguyen commented on #482
@shelleyvadams Ah no problem! I can quickly fix this then :)

Can you send us an email at join.ifme@gmail.com so that I can you to our Slack? :D We can help you more with your dev environment :)

[2017-07-14 06:10] #482 closed

[2017-07-14 16:34] julianguyen opened #485 "Using sentiment analysis to recommend tagged Moods in Moments"
# Description

Look into using Microsoft's [Emotions API](https://azure.microsoft.com/en-us/services/cognitive-services/emotion/) or another API to analyze text written in Moments and recommended moods for users to tag their posts.

Working on this in the `sentiment-analysis-moods-moments` branch!

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can'

[2017-07-15 19:07] julianguyen opened #486 "Add to the mental health resources page!"
We have a [page](http://if-me.org/resources) on our site with mental health resources categorized under communities, education, hotlines, and services with relevant tags.

Post your favourite resources here. Feel free to make a pull request with yours, be sure include internationalization for the tags. Please use our #i18n channel on Slack to ask for translations!

[2017-07-15 19:09] julianguyen opened #487 "Accessibility Guidelines"
Let's make if-me.org a11y friendly! I have work experience with this, so please reach out if you're interested in leading this project :D

Helpful resource: http://a11yproject.com/

[2017-07-15 19:11] julianguyen opened #488 "UI Components Library"
It's time to enforce a consistent, reusable style guide for our UI components!

[2017-07-15 21:22] shelleyvadams commented on #458
Two comments on the instructions to "call 911 or go to the nearest emergency room":

First, the 911 emergency number isn't a worldwide standard; emergency numbers vary by country. The International Telecommunication Union maintains a database, [ITU-T E.129 National-only numbers linked with emergency services and other services of social value][e129].

Localization is an obvious challenge, here are

[2017-07-15 22:05] shelleyvadams commented on #486
Still getting my bearings here, but I have years of bookmarks -- https://www.bibsonomy.org/user/shelley.adams/mentalhealth -- gleaning welcome.

[2017-07-15 22:07] julianguyen commented on #486
Wow, this is amazing, thank so much for sharing @shelleyvadams! <3 <3 <3
 Let's definitely add this!

[2017-07-16 18:04] julianguyen opened #491 "Write unit test to check that the translation files do not have missing keys"
This will automate determining whether we are missing translation keys across all of our yml files!

This looks like a promising route to take: http://blog.kiskolabs.com/post/908453942/comparing-rails-locale-files-for-missing

[2017-07-17 16:03] shelleyvadams opened #494 "Export stories to EHR/PHR standard format(s)"
The ability to export stories in a format supported by electronic health records (EHRs) and personal health records (PHRs) would enable users to:

* Share relevant information with a medical professionals in a clinically useful manner.
* Import stories into a PHR, such as [CHIP][chb]'s [Indivo][indivo] (FOSS) or Microsoft's [HealthVault][vault].
* Integrate data from if me with any other app that

[2017-07-18 01:48] SophieRoseMcDonald commented on #491
![](https://github.trello.services/images/mini-trello-icon.png) [Write unit test to check that the translation files do not have missing keys #491](https://trello.com/c/tgMZ3Sz5/58-write-unit-test-to-check-that-the-translation-files-do-not-have-missing-keys-491)

[2017-07-18 01:54] julianguyen commented on #494
Ahhhh this is such an rad idea 😸

[2017-07-18 21:40] shelleyvadams opened #499 "Medications page is blank after submitting new medication"
I got a blank page after I submitted information the New Medication form.

I had entered content only in the required fields (i.e., no comments) and did not mark any of the checkboxes.

The page remains blank when I reload it, but displays properly when I request the page from the address bar (Ctrl+L, Enter). It also appears that a duplicate medication was created when I tried to reload the page.

[2017-07-19 03:12] julianguyen commented on #499
This is happening for me on a Google authenticated account

[code]

[2017-07-19 03:31] julianguyen commented on #499
@shelleyvadams Did you encounter this bug on your local dev environment or on production?

[2017-07-19 03:33] julianguyen commented on #499
Hmm things seem to be working for me now...

[2017-07-19 12:40] shelleyvadams commented on #499
It's happening in production. I'm also using a Google authenticated account.

I just tried it with the test1 user in my dev setup. That behaved _very_ differently. After submitting the form it loads the page for the medication I just added -- e.g., `/medications/testmed` -- whereas the production system displays a blank page (with no source) at `/medications`.

[2017-07-19 13:44] shelleyvadams commented on #458
One less legal concern:
According to [this Federal Trade Commission FAQ][faq], non-profit websites aren't required to comply with the _Children's Online Privacy Protection Act (COPPA)_.

I heard a story about kids and YouTube on the radio this morning and started wondering if this was something we needed to think about.

[faq]: https://www.ftc.gov/tips-advice/business-center/guidance/complying-cop

[2017-07-19 14:03] shelleyvadams commented on #458
On second thought l18n for emergency number, etc. might be more appropriate as part of the panic button feature, #187.

[2017-07-19 14:52] shelleyvadams commented on #187
To really be useful, hotline and crisis/emergency numbers to display need to be determined based on the user's location.

The links below were also included in my first comment on #458, but this is probably a more appropriate place for them.

## Sources for hotline/crisis/emergency numbers
* International Association for Suicide Prevention's [directory of crisis centers/hotlines][iasp].
* Internat

[2017-07-19 16:18] julianguyen commented on #458
This is a great idea Shelley, let's do that then!

[2017-07-20 14:31] shelleyvadams commented on #499
Two new observations:
1. When I add a medication _immediately_ after I sign in, it works correctly. No blank screen. (I'd been logged in for quite a while when I got the blank screen when adding medications.)
2. A refill reminder **is added** to my Google Calendar even when the checkbox for "Google calendar reminder" is **not checked**. (I'll create a separate issue for this shortly.)

The log mes

[2017-07-20 14:36] shelleyvadams opened #505 "Medication refills added to Google Calendar when checkbox is not checked"
When adding a medication, a refill event is added to Google calendar even when the checkbox for "Google calendar reminder" is **not** marked.

Also, when this checkbox is marked, its state is not retained in future edits.

[2017-07-20 19:59] #429 closed

[2017-07-21 17:50] shelleyvadams commented on #499
I've reproduced the problem locally.

The [attached log](https://github.com/julianguyen/ifme/files/1166267/if_me_log-20170721.txt) contains two server runs.

1. **Lines 1-788.** Includes successfully adding two medications (Tylenol and Asprin).
Tylenol was added 2-3 minutes after Google authenticated sign-in; POST begins at line 414.
Asprin was added almost 1 hour after the same sign-in; POST (Asp

[2017-07-21 19:17] shelleyvadams opened #507 "Can allies sign in with Google?"
When my family member followed the link in her ally invitation email to accept the invitation, she didn't see any way to sign up with her Google account, just a form to create a password.

Is it possible for an ally to sign in with Google, or only with a password?

[2017-07-21 19:19] julianguyen commented on #507
Excellent question. Didn't realize this bug, but yeah, you can only sign up via password when you are given an allies invitation. Once you create an account with a password, and that account is a google account, you should be able to log in via Google auth. But we should allow users to join right away with Google auth.

[2017-07-22 14:19] abrophy commented on #505
Hi, I'd like to attempt this one.

[2017-07-22 18:43] abrophy commented on #499
I think you're right @shelleyvadams in that it's the token generated by google oauth that's expiring.

I've been looking around and it's recommended that we should treat all keys as being very short lived and requesting new ones regularly. I'm not yet familiar enough with the ifme determine where best to do this in the lifecycle though.

[2017-07-23 13:40] shelleyvadams commented on #505
I'm still getting up to speed with Ruby. Thanks for tackling this @abrophy! 😁

[2017-07-23 14:03] shelleyvadams commented on #499
Unfortunately the tutorials I've worked through thus far have overlooked error handling, 🙁 but I assume there's something akin to a `try` and `catch` mechanism of Java and JavaScript. Seems like the most straightforward approach would be to watch for a possible `Google::APIClient::AuthorizationError` and refresh the access token when catching it.

@julianguyen said that we're using Devise for Goog

[2017-07-23 22:17] abrophy commented on #499
My first thought was to save the token expiration time to User, because the oauth response contains the expiration time as an epoch timestamp. We can then check if the token is expired by comparing that timestamp with current time.

However, it seems that the gem doesn't handle or request refresh tokens and we'll have to implement something similar to what's found in [this gist](https://gist.githu

[2017-07-23 22:32] abrophy commented on #499
Actually it'll be quicker to just put the behavior in User model for now, we can always move it out into its own model/class later if we need to.

[2017-07-23 22:33] julianguyen commented on #499
Sounds good to me! @abrophy

[2017-07-23 22:35] #505 closed

[2017-07-25 01:32] jnamster commented on #507
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Add Google auth support to accepting ally invites](https://trello.com/c/GczM7BHF/60-3-add-google-auth-support-to-accepting-ally-invites)

[2017-07-25 01:32] SophieRoseMcDonald commented on #507
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Add Google auth support to accepting ally invites](https://trello.com/c/GczM7BHF/60-3-add-google-auth-support-to-accepting-ally-invites)

[2017-07-26 20:15] #499 closed

[2017-07-26 20:20] abrophy opened #517 "add_to_google_cal field needs to be added to medication_model"
Currently, add_to_google_cal is simply an attr_accessor on the medication model. Because of this whether a calendar reminder was added is not saved to the model, and it also makes doing comparisons on this field difficult.

[2017-07-30 19:02] #375 closed

[2017-07-31 05:17] julianguyen opened #522 "Disable keyboard on mobile web when input field is a datepicker"
Currently, the keyboard pops up when you're using the datepicker on mobile web. This is not a good experience since the keyboard blocks part of the calendar.

Update all occurrences of the datepicker input field to restrict the keyboard on mobile web.

Example on Android:

![2017-07-30 22 12 08](https://user-images.githubusercontent.com/3010728/28763622-412901d0-7574-11e7-801e-e5223b1bccd9.jpg)

[2017-07-31 16:21] julianguyen opened #523 "Adding auto-complete for adding categories/moods to Moments/Strategies"
I started a branch where I'm working on this i.e. `moments-strategies-cleanup`.
I'm also going to be working on cleaning up the partials that are used in this editor.

# Screenshots:
![image](https://user-images.githubusercontent.com/3010728/29008991-f28dad72-7ad3-11e7-9a92-498ea7f7e503.png)
![image](https://user-images.githubusercontent.com/3010728/28957247-02c65f2a-78a6-11e7-90aa-7776eefc9aa9.pn

[2017-07-31 19:23] #453 closed

[2017-07-31 23:19] baohouse opened #525 "Fonts for i18n"
Lato is currently the site's main font, however, it's better to use the system font of the operating system to better support i18n. See https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/

Otherwise, as in the case of Vietnamese language, Lato's support for that language falls short.
<img width="446" alt="screen shot 2017-07-31 at 7 05 00 pm" src="https://user-images.gi

[2017-07-31 23:53] baohouse commented on #525
I'm going to make a PR... so it will be:
San Francisco for OS X versions that support it, fallback to
Segoe UI for Windows that support it, fallback to
Roboto (import via Google Font), and finally sans-serif.

I know for sure that San Francisco, Segoe UI, and Roboto have weight 300 for their fonts, which I seem to see in use throughout the application.

[2017-08-01 00:39] julianguyen commented on #525
Wow, such a great point. Thanks for bringing this up Bao :D

[2017-08-02 08:29] baohouse commented on #525
#526 is a PR to update Lato to version 2.0, which has far better support for Latin-based languages. We'll leave this issue open to better discuss what the architecture should be to support non-Latin languages, e.g. Chinese, Japanese, Thai, Arabic, etc.

[2017-08-02 17:23] julianguyen opened #529 "Add internationalization support for Vietnamese"
Let's translate if me to Tiếng Việt! I wish I could do it myself, but my reading/writing skills is at a level of an elementary school kid (immigrant kid problems).

[2017-08-03 03:38] #522 closed

[2017-08-03 04:31] #525 closed

[2017-08-04 05:16] julianguyen opened #534 "Missing categories_controller_spec.rb and moods_controller_spec.rb"
We're missing specs! Ahh!

[2017-08-04 06:44] #333 closed

[2017-08-04 06:48] #491 closed

[2017-08-10 18:52] julianguyen opened #538 "Open CKEditor in full-screen on mobile web"
It's can be difficult to enter content in the Moments/Strategy form on mobile web because the on-screen keyboard covers most of the page.

Desired behaviour:
1) User clicks the CKEditor
2) Full-screen modal opens with just the CKEditor for that input field
3) User types in content
4) When they hit the "x" icon, the text they wrote to the editor appears in form

![image](https://user-images.githubu

[2017-08-14 07:29] HashNotAdam opened #539 "Destroy associations via ActiveRecord dependents"
There are a lot of related records which are removed in controllers in the `remove` methods. These should be handled by creating an ActiveRecord association in the model and then setting the dependent.

A good example is `AlliesController.remove` which destroys notifications, moments, and strategies before finally deleting the Allyship.

[2017-08-15 09:46] indicatz commented on #461
Hey, I'm a newbie. Would you recommend this issue for a beginner?

[2017-08-15 09:51] indicatz commented on #457
I'm a native German speaker with no Ruby skills. Can I help with translating? What could be a good starting point?

[2017-08-15 12:15] Caro-Lin commented on #486
Dear all,

I'm totally new to the open source community and just tried to make my first pull-request by adding some entries to the resources page. I also created a list of books, videos, talks, all mental health related that might be helpful but doesn't really fit the criteria for the existing categories Education, Communities and Hotlines. Feel free to use it [gist-list](https://gist.github.com/C

[2017-08-15 18:34] julianguyen commented on #457
Hey @indicatz, thanks so much for reaching out! We would love for you to contribute, you can email us at join.ifme@gmail.com and we'll add you to our Slack community <3

[2017-08-15 18:38] julianguyen commented on #461
@indicatz yes, go right ahead!

[2017-08-16 03:07] #523 closed

[2017-08-16 04:08] julianguyen opened #543 "Add messaging that says no search results found for Allies page"
Currently, the page looks like this when no results are found:
![image](https://user-images.githubusercontent.com/3010728/29346942-b6dba0be-81fd-11e7-8fc2-80ae842a6085.png)

Let's add some messaging to the body that says "User not found", be sure to translate this into Spanish and Portuguese too :)

[2017-08-16 20:51] abrophy opened #545 "No has_many relationship between User->Moments"
Because a has_many relationship has not been declared in the User model for moments, one cannot access a User's moments through

`current_user.moments`

[2017-08-16 21:25] #545 closed

[2017-08-17 01:28] HashNotAdam opened #547 "Comments should have polymorphic relationships"
Many models have many comments however this relationship is being manually maintained by commented_on and comment_type instead of simply using an ActiveRecord polymorphic relationship.

[2017-08-17 19:46] #157 closed

[2017-08-17 19:46] #64 closed

[2017-08-17 19:47] #80 closed

[2017-08-17 19:47] #267 closed

[2017-08-19 05:22] timorthi commented on #534
I'd like to work on this! :)

[2017-08-19 22:15] julianguyen commented on #534
@timorthi Yeah feel free to take this issue! Adding you as a collaborator to this repo so I can assign it to you. Also can you email join.ifme@gmail.com so we can add you to our Slack? Thanks!