[2017-08-20 01:38] timorthi commented on #534
Oops, I guess I should only be referencing the issue in the PR to avoid the commit spam. My bad!

[2017-08-20 22:26] pederjohnsen opened #550 "`font-weight: 100` on subtitles doesn't look very nice/readable"
Not sure if it's the same on other operating systems but on Windows 10 (in Chrome at least) the subtitles on the `sign in` and `join` pages are not very readable imo.

![http://i.imgur.com/xQ9lhS5.png?1](http://i.imgur.com/xQ9lhS5.png?1)

[2017-08-20 22:29] pederjohnsen commented on #457
@julianguyen didn't want to create a new issue for this, just wondering if there are plans to translate to other languages than the ones already with issues created?

[2017-08-20 22:35] julianguyen commented on #457
@pederjohnsen There most definitely, I've just been creating issues for languages that are currently being worked on, but in general, if you want to translate, feel free open an issue and assign yourself to. Or if you want to offer a suggestion you can still create an issue and maybe someone will see it and work on it :D Thanks for asking this.

Also! Please email us at join.ifme@gmail.com so we c

[2017-08-20 22:36] julianguyen commented on #550
This is a really good point, @baohouse recently worked on updating some font stuff -- have any thoughts on this? :D

[2017-08-21 06:07] #456 closed

[2017-08-21 06:07] HashNotAdam opened #552 "Upgrade app from Rails 5.0.5 to 5.1"

[2017-08-21 22:25] baohouse commented on #550
Weight 100 is very thin... it has always been used for the subtitle, before and after #526. But text rendering differs across browsers and OS platforms, unfortunately. On OSX, it looks fine. But on Windows, it looks like it's about to fade into the air (as in the screenshot above).

We can bump up the weight to 200 (or even 300), but do we want it applied only to Windows platforms—in which case we

[2017-08-21 22:37] julianguyen commented on #550
I'm cool with bumping up all instances of 100 to 200.

We don't have any specs for browser support. That would be great to have, feel free to add a new page to the repo Wiki.

- Browsers: Chrome, Safari, Firefox, IE (> v.10), Edge, Opera
- Devices: Mac, Linux, Windows, iOS, Android (> v.4.0.0)

In general, we want people to do cross-browser and device testing :D https://www.browserling.com/ is an

[2017-08-21 22:51] pederjohnsen opened #553 "Has anyone enquired about cost of getting if.me?"
Out of interest, has any of you enquired about the cost of getting http://if.me?

[2017-08-21 22:52] julianguyen commented on #553
Yes, I have lol... It's like thousands of dollars and you need to prove you're a legit business.

[2017-08-21 22:52] pederjohnsen commented on #550
200 already looks way better on both windows and linux so should be good enough imo :+1:

[2017-08-21 22:57] pederjohnsen commented on #553
Yeah that's a bit over the top... Granted if I ever win the lottery, I'd gladly donate the money towards it :joy:

I'll close the issue to prevent it from taking up important space for more important issues :)

[2017-08-21 22:57] #553 closed

[2017-08-22 19:27] julianguyen opened #555 "CircleCI: Exited with code 1xvfb-run: error: Xvfb failed to start"
`Exited with code 1xvfb-run: error: Xvfb failed to start` occurs when the `Container selenium/standalone-chrome:3.4.0` step runs in CircleCI.

[2017-08-22 19:28] julianguyen opened #556 "Add feature flags mechanism"
Will help to hide features that are merged to master that are not ready to roll out to users.

[2017-08-22 23:40] baohouse commented on #550
[SignUpScreenshots-7ab371c.zip](https://github.com/julianguyen/ifme/files/1243722/SignUpScreenshots-7ab371c.zip)

Screenshot tests on various browsers. On Firefox for Windows, it still looks kinda awful. There are other visual problems unrelated to the font-weight, so I'll file them as separate bugs.

[2017-08-23 00:12] baohouse commented on #550
![bs_win10_firefox_55 0](https://user-images.githubusercontent.com/4228012/29593025-ae73a610-875c-11e7-936d-d43f6a6f35b9.jpg)

Retested Firefox on Windows. It seems to be related to using the virtualized OS. From what I can read on their [support forum](https://support.mozilla.org/en-US/questions/1115938), if hardware acceleration is turned off, then it will render in GDI mode (giving you that ugl

[2017-08-23 00:12] #550 closed

[2017-08-24 02:01] baohouse opened #561 "CSS issues on certain browser/devices"
![android_samsung-galaxy-s4_4 3_portrait](https://user-images.githubusercontent.com/4228012/29645829-c550bffc-8834-11e7-99df-c710d1ff7f45.jpg)

Title gets clipped:
* iPhone 4S
* Opera 12 on Windows 8
* Samsung Galaxy S4

![win8_ie_10 0](https://user-images.githubusercontent.com/4228012/29645939-2c8a0868-8835-11e7-8c76-dada29053fde.png)

Background images missing:
* IE 10 & 11
* Opera 12 on Windows

[2017-08-24 19:36] julianguyen commented on #561
Thanks for filing this @baohouse! Are you also interested in fixing these bugs? :P if not, can you tag it as "help wanted"? Thanks ^^

[2017-08-24 19:42] julianguyen commented on #561
Do you notice any console errors as well?

[2017-08-24 20:33] baohouse commented on #561
@julianguyen I ran this through Browserstack's screenshot generator, so there wasn't manual end-to-end testing to check the console.

I'll give this issue some thought. I'm attending a [Modern Web Meetup event on September 7](https://www.meetup.com/modernweb/events/241799217/), one of the topics being building a CSS pattern library, so let's see what I learn from there that I can bring back to the

[2017-08-25 16:22] julianguyen commented on #534
Woo thanks for working on this @timorthi :D

[2017-08-25 16:22] #534 closed

[2017-08-25 16:37] julianguyen opened #562 "Turbolinks load event not happening when navigating between pages"
In our JS files, we do something like this `$(document).on("turbolinks:load", onReadyAddComment);` to bind the event.

Since upgrading to Rails 5 and using `turbolinks:load` instead of `page:load ready` there have been problems with the new load event not triggering when navigating between pages.

Example: Home page > Moments > Add Moment > Toggle Categories Menu doesn't work

However refreshing t

[2017-08-25 16:38] julianguyen commented on #488
Holding off on this, as work is currently being done by @nma and @abrophy with React on Rails.

[2017-08-25 17:06] julianguyen opened #563 "Add tag filtering to Resources page"
The [Resources](https://www.if-me.org/resources) page is getting long and we want to best help point folks to mental health resources all over the interwebs. Let's add a feature to filter resources by tags (including languages that they're offered in).

You can find the designs for that page here: https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me

[2017-08-25 18:25] #63 closed

[2017-08-25 18:59] julianguyen opened #564 "Create helper method to handle redirects in controllers"
There is **a lot** of controller code that looks like this
[code]

To minimize on code repetition, it would be great to call a single helper method and perhaps pass in the desired path as an argument.

[2017-08-25 19:21] kavixiu commented on #461
Hi! Is anyone currently working on this? I'm another interested newbie

[2017-08-25 19:23] julianguyen commented on #461
@kavixiu Not that I know of, feel free to take it and assign yourself to it!

[2017-08-25 19:38] jarmstrng commented on #14
As this is a good-sized feature, I created a Project for it [here](https://github.com/julianguyen/ifme/projects/8?)

[2017-08-25 20:05] slauppy commented on #547
Looking through the tests, these models already support comments:
- meetings
- strategies
- moments

Are there any I'm missing?

[2017-08-25 21:17] kavixiu commented on #461
Thanks! Pull request submitted :)

[2017-08-25 21:25] #461 closed

[2017-08-25 21:30] #555 closed

[2017-08-25 21:30] #315 closed

[2017-08-25 21:50] camillevilla commented on #564
@julianguyen I found a method `redirect_to_path` in `app/controllers/application_controller.rb:333`. I did a lil' refactor in the categories controller, ran the tests, and it seems to work! Would it be cool if I start working on a PR?

[2017-08-25 21:50] julianguyen commented on #564
@camillevilla Heck yes! Assign yourself to the issue once you get added as a collaborator :D

[2017-08-25 22:08] jarmstrng opened #567 "Create the ability to make a User an admin account, using a column in the DB as a flag"
See https://github.com/julianguyen/ifme/issues/14

[2017-08-25 22:10] #562 closed

[2017-08-25 22:21] HashNotAdam commented on #547
@slauppy these are the only ones I've encountered.

[2017-08-25 22:25] baohouse commented on #561
Does anyone have opinions on CSS prefixes. I found https://github.com/ai/autoprefixer-rails and was wondering if this is the best solution.

[2017-08-25 22:40] HashNotAdam commented on #561
@baohouse Compass is being used in the project and it has methods for this. In fact, I thought it does it automatically but you can change the defaults for when it stops using prefixes if you need to support browsers for longer than the defaults.

It's been a _long_ time since I looked into this so you'll want to read the docs but I believe you simply import the CSS3 module and then use the import

[2017-08-25 22:47] baohouse commented on #561
@HashNotAdam Oops, I should've realized that if we use variable substitution inside CSS, then we already have a CSS enhancement library. I wanted to rule out the possibility that vendor prefixes are the cause of the CSS issues described above.

[2017-08-25 23:13] geoninja commented on #543
@julianguyen @katrynmc This would be "usuário não encontrado" in Portuguese.

[2017-08-25 23:20] jarmstrng opened #574 "Flag on users that signifies they have been "blocked""
See https://github.com/julianguyen/ifme/issues/14

[2017-08-25 23:32] baohouse opened #575 "Add Babel to support ES6"
Discovered while investigating #561, it's causing problems in IE10 because IE10 doesn't support the "const" keyword, and yet the minified application Javascript still has "const" in it. That means Babel is not configured correctly.

[2017-08-25 23:44] HashNotAdam commented on #575
I don't believe this project uses Babel. Sprockets-es6 is brought in by foundation-rails but it isn't configured in ifme.

That is amazing, that `const` has been in `contributorReadMoreFeature` since 2016 😱
That was never gonna work.

@julianguyen now might be a good time to start introducing ES6—thoughts?

[2017-08-25 23:58] baohouse commented on #575
@nma Is adding ES6 support something that will be part of adding React to the project?

[2017-08-26 00:01] baohouse commented on #575
@HashNotAdam Yep, you are right about this project not having babel configured; I assumed we had it because I saw babel configured, but it's actually part of the React work being done. I'll at least put in a PR to fix the 'const' in contributorReadMoreFeature.

[2017-08-26 00:03] HashNotAdam commented on #575
Excited to hear it is coming soon; I've missed it over here.

[2017-08-26 03:36] nma opened #579 "Integrate React_on_Rails"
## WIP Branch
https://github.com/nma/ifme/tree/react-moment-dashboards-rebase

## Todo List
- [x] Merge in master
- [x] Get all specs passing in merged branch
- [x] Create PR (#580)
- [x] Pass Rubocop checks / Code Climate checks
- [x] Test Heroku Deployment on separate account
- [ ] Write Documentation

## Rendering React Component
![chartformoments](https://user-images.githubusercontent.com/8455

[2017-08-27 03:59] #543 closed

[2017-08-29 15:28] baohouse commented on #561
Looks like the background image missing problems are solved as of #577

[2017-08-29 21:16] alexiamcdonald opened #583 "Add internationalization support for Swedish"
Adding translations for Swedish for my first commit to this project.

Should be easy to translate to Norwegian or even Danish quickly when I'm done.

@pederjohnsen perhaps you can check my pull request when I'm done and then branch off?

[2017-08-29 21:35] pederjohnsen commented on #583
@alexiamcdonald sounds good :+1:

[2017-08-30 00:00] baohouse commented on #561
I traced the setHeight issue back to Turbolinks, which breaks when the pageLoad() document.ready event fires. It seems to have problems dealing with the DOM Location API. In any case, https://github.com/turbolinks/turbolinks/issues/25 lists the supported browser. I'm updating the wiki   https://github.com/julianguyen/ifme/wiki/Testing with the minimum versions listed in Turbolinks, and closing the

[2017-08-30 00:00] #561 closed

[2017-08-30 05:02] nma commented on #488
Pending: https://github.com/julianguyen/ifme/issues/579

[2017-08-30 11:02] alexiamcdonald commented on #583
Is there a timeline for when the announcement banner `app/assets/javascripts/announcement.js` is to change?

<img width="1378" alt="screen shot 2017-08-30 at 12 54 40 pm" src="https://user-images.githubusercontent.com/8427242/29869248-89ae79fa-8d82-11e7-9f1c-7565609f9c95.png">

I've added Swedish but if future languages are to be added then the banner might end up looking a bit crowded.

Maybe we

[2017-08-30 11:14] pederjohnsen commented on #583
@alexiamcdonald `and more!` seems like a good solution :ok_hand:

[2017-08-30 11:46] charlesskariah opened #584 "Issue in setting password for invited users"
I have invited a user using the email and when i tried to follow the link via email and found that there is only field for password.After setting the password it shows name can't be blank validation error. I think there isn't any option for invited users to add name since name is mandatory as well

[2017-08-30 11:49] charlesskariah commented on #584
![ifmebug](https://user-images.githubusercontent.com/8168093/29870842-1a9f1dec-8da7-11e7-8acd-386f83ef59fd.png)
I checked over the development enivironment and it seems to be not working.Attaching the screenshot of the page and I think adding a name field on the confirmation page while  setting password would solve the problem.

[2017-08-30 21:56] alexiamcdonald commented on #457
@indicatz if you want to pair on this together and we could smash it out really quickly.

Are you in Germany because we could sync up a time to work together since I'm based in Stockholm? 😄

[2017-08-30 22:06] alexiamcdonald commented on #101
This has been up for a while. I can take a look at it.

Were any code branches for this issue previously?

[2017-08-31 01:26] baohouse commented on #101
@alexiamcdonald Your help is much appreciated. I don't think there's a branch anymore; it was seen deleted in #271 nearly a year ago.

[2017-08-31 02:24] abrophy opened #586 "Google Calendar Reminders not working"
While working on on #517 I ran into issues where the ruby google client isn't being instantiated correctly.

API changes in the newer version of the ruby client are to blame. Because of upgrade to newer version of rails we're locked into having to update the code to the newer way of doing things.

[2017-08-31 04:25] charlesskariah commented on #584
@baohouse  What do you suggest for this bug?Options are

1. Adding a name field when inviting.
2. Adding name field when setting password
What do you suggest?I can raise a PR once confirmed.

[2017-08-31 05:05] baohouse commented on #584
Hi @charlesskariah! Go ahead and email join.ifme@gmail.com and you'll be invited to the Slack channel. I posted in the #bugs channel there if anyone knows how invitation is supposed to work (whether name should be required or not), since I'm not familiar with the entire product as of yet.

[2017-08-31 10:46] alexiamcdonald commented on #584
Hey @charlesskariah after having a quick look at the controller I can see that `name` or something similar perhaps `user` needs to be set in params which don't exist yet.

The controller needs a bit of a refactor to allow for this.

Let me know if you need any help or want to work on this together.

[2017-08-31 11:16] charlesskariah commented on #584
@alexiamcdonald I will raise a PR with necessary changes and please let me know your thoughts after that.

[2017-08-31 11:17] alexiamcdonald commented on #584
@charlesskariah awesome! Good luck. Can't wait to see it. 😄

[2017-08-31 11:22] alexiamcdonald commented on #101
@baohouse The branch was just for a readme info which would be out of date now. There is a bunch of Google related issues

I can see @abrophy is already working on one issue [#586 Calendar Reminders not working](https://github.com/julianguyen/ifme/issues/586).

@abrophy anything else I need to be aware of? Do you think we should bundle up the Google issues together?

[2017-08-31 17:52] abrophy commented on #101
I'm reading through the documentation for the new ruby google-client. Grouping anything that relies on it sounds like a good idea.

[2017-09-01 04:37] charlesskariah commented on #584
@baohouse Thanks for the update

[2017-09-01 05:05] charlesskariah commented on #584
I was going through the issue and it seems like working without any fixes.Weird !!. @alexiamcdonald Can you please try to reproduce that issue.?

[2017-09-02 12:44] alexiamcdonald commented on #584
@charlesskariah Yeah I'll have a look 😄

[2017-09-03 19:29] andy5995 commented on #486
Is this a resource you'd like added?

[Canvas of the Minds](https://acanvasoftheminds.com/)

[2017-09-04 04:30] andy5995 opened #590 "missing "open collective" link on About page"
missing "[open collective](https://opencollective.com/ifme)" link on About page

[2017-09-04 04:42] andy5995 opened #592 "RSS or Atom feed for blog"
I wanted to suggest adding an RSS or Atom feed for [the blog](https://www.if-me.org/blog)

[2017-09-04 04:48] baohouse commented on #592
The blog is syndicated from Medium https://medium.com/ifme, so would we just add that feed on the if-me.org's header for now?

[2017-09-04 04:52] baohouse commented on #590
Hmm, @julianguyen, are we using both Patreon and OpenCollective?

[2017-09-04 13:36] pederjohnsen opened #593 "Add some info about EditorConfig in readme?"
I just noticed there is a `.editorconfig` file in the repo, but some editors (including the 2 I use) don't support those files out of the box. It might be nice to perhaps add some more info about it here https://github.com/julianguyen/ifme#style-guide even if just linking to this page: http://editorconfig.org/#download

It might help ensure new contributors don't use wrong indentation etc by mista

[2017-09-04 14:24] alexiamcdonald commented on #584
@charlesskariah I've had a look.

**Long answer:** There is a bunch of work that needs to be done under the hood. But for now we should leave it as is as the more pressing matter is that if the user doesn't have a name they won't be able to reset their password or sign in.

**Short answer:** The correct solution for now is to add name to the form so user can add name as @julianguyen and @baohouse

[2017-09-04 14:39] alexiamcdonald commented on #593
Great idea considering `rubocop` only takes into account ruby files.

We currently have no instructions or documentation apart from the added gem that `rubocop` exists in the project so we might have to make appropriate changes to reflect that in the instructions in the style guide.

Might be easier to add that for now if we are only considering ruby files.

[2017-09-05 00:04] julianguyen commented on #590
@baohouse We are, but I haven't really done much for OpenCollective. But feel free to add the Open Collective link as well. I think for now add it to the footer.

[2017-09-05 00:20] andy5995 commented on #457
I've been studying German off and on for about 3 years. Not fluent, but more than basic knowledge. I'll keep my eye on this ticket.

[2017-09-05 03:10] andy5995 opened #595 "sub menu for "Moments" doesn't disappear as intended"
Possible (very) minor bug

Should the sub menu for "Moments' disappear when the mouse is moved to a different top-level menu item?

I see the links for "Categories" and "Moods" (under the top-level "Moments" by default) even after the mouse is moved to different top-level menu items. Those two links disappear only after the mouse cursor is moved outside the navigation panel.

I'm using Firefox 55.

[2017-09-05 05:22] julianguyen commented on #593
We could set up a rake command run JSHint and Rubocop or add some kind of pre-commit hook that runs both of these.

An .editorconfig would be great! Would you be interested in working on this @pederjohnsen? :D

[2017-09-05 05:23] #590 closed

[2017-09-05 05:23] julianguyen commented on #584
Fixed this by adding a name field to the accept invitation form!

[2017-09-05 05:23] #584 closed

[2017-09-05 05:28] julianguyen commented on #595
This is what the experiences looks like for me:

![ifmenav](https://user-images.githubusercontent.com/3010728/30046516-25365c76-91c0-11e7-98f9-8a1c0458620c.gif)

Hovering away from the entire navigation menu, including the expanded menu with "Categories" and "Moods" causes the menu to close.

So the behaviour you're describing is intended, but we're totally open to changing it if it's not intuitiv

[2017-09-05 05:34] andy5995 commented on #595
But see what happens if you hover the mouse on moments, then go directly to the right and hover on strategies...
Sent using Zoho Mail

---- On Mon, 04 Sep 2017 22:28:15 -0700 notifications@github.com wrote ----

This is what the experiences looks like for me:

Hovering away from the entire navigation menu, including the expanded menu with "Categories" and "Moods" causes the menu to close.

So the

[2017-09-05 05:40] julianguyen commented on #595
Ohhh I see what you're saying!

![ifmenav](https://user-images.githubusercontent.com/3010728/30046729-c5830566-91c1-11e7-9c01-59b7b52e8303.gif)

Ooh yes, this would be a bug.

## Intended Behaviour

1.  However over Moments link
2. Expanded menu with Categories and Moods appears
3. Hovering away from the navigation menu closes it OR hovering over another navigation menu item other than Moments clo

[2017-09-05 06:16] HashNotAdam commented on #593
@julianguyen you only just asked me to remove Guard which does exactly this :laughing::laughing::laughing:

[2017-09-05 06:27] julianguyen commented on #593
Oh dang. Hmmm we could reintroduce it! Thoughts everyone?

[2017-09-05 07:27] pederjohnsen commented on #593
@julianguyen I wouldn't mind updating the `.editorconfig` file, but I'd need everyones input on what should be tied to the styling guide if not everything and if any type of file has "special requirements" compared to everything else.

[2017-09-05 17:03] andy5995 commented on #595
I'll pass on this one, Julia. I'm not too good with CSS.

[2017-09-06 00:53] baohouse commented on #595
I had hoped this be a trivial fix, but an initial glance at header.js made me cry at how WET it is (i.e. not DRY). Let me take a stab at this.

[2017-09-06 00:56] HashNotAdam commented on #595
@baohouse literally? 🔪 🔪 🔪

[2017-09-06 00:58] baohouse commented on #595
![screen shot 2017-09-05 at 5 57 12 pm 2](https://user-images.githubusercontent.com/4228012/30089781-bda414be-9263-11e7-9f24-d2554ddc80e6.png)

I'm guessing this shouldn't be possible either.

[2017-09-06 00:59] julianguyen commented on #595
@baohouse Yeah that shouldn't be possible. Definitely a bug lol

[2017-09-06 01:06] HashNotAdam commented on #595
@julianguyen @baohouse can I just take a moment to step back?

To be very honest, I've never liked that menu; not only does it create a jarring experience for me but I have concerns that it could create anxiety for people who suffer from certain cognitive disabilities.

What about throwing out the JavaScript completely, use CSS, and allow the subitems to be positioned over the body so the content

[2017-09-06 01:19] julianguyen commented on #595
Feel free to redesign it yeeeeee.

[2017-09-06 15:23] #586 closed

[2017-09-06 15:36] #517 closed

[2017-09-06 16:26] rarwolf47 commented on #563
Is this being worked by anyone? I'd like to try my hand at it.

[2017-09-06 17:30] andy5995 opened #601 "not receiving daily strategy email reminders"
I registered on if-me.org a couple days ago.

I set up a daily medi**c**ation reminder, and a daily medi**t**ation reminder.

I've received two me**d**ication reminders, but no me**d**itation reminders.

[2017-09-06 19:11] baohouse commented on #563
@rarwolf47 Looks like it's assigned to @katrynmc ; you'll want to sync up with her and see where you can pick up some of the pieces.

[2017-09-06 19:20] katrynmc commented on #563
@baohouse I'd say grab it, I haven't had the time lately - hadn't started

[2017-09-06 19:47] baohouse commented on #601
@abrophy Is this possibly related to #586?

[2017-09-06 20:49] andy5995 commented on #563
@baohouse looks looks like you reassigned it to katrynmc instead of rarwolf47

[2017-09-06 21:01] baohouse commented on #563
I can't assign it to @rarwolf47; probably he has to fork the project first?

[2017-09-06 21:53] andy5995 commented on #127
Seems like it would be a good idea to make changing the sender name part of this PR. Presently emails come in as being from "smtp.sendgrid.net"

Yahoo sees it as spam (I tested an invitation with my Yahoo address), maybe changing the sender name or altering some of the headers would help prevent it from getting spammed?

I could probably handle this ticket, including the template issue above. @kin

[2017-09-06 22:33] HashNotAdam commented on #127
It doesn't look like if-me.org has SPF or DKIM records so, while the from address should absolutely be changed, the secret sauce will be creating a new DNS record.

[2017-09-07 00:58] rarwolf47 commented on #563
How about now?

[2017-09-07 01:30] baohouse commented on #563
@julianguyen Would you have any luck with reassigning this? Not sure why I can't.

[2017-09-07 02:11] julianguyen commented on #563
@rarwolf47 You can only assign collaborators of the repo to issues, I sent you an invite! You should accept via email!

[2017-09-07 02:49] baohouse opened #604 "Optimize asset sizes when loading homepage"
Loading everything on the homepage is a cool 5.9 MB.

- 4.4 MB of that are images, especially the contributor portraits
- 1019 KB are fonts (which can be optimized later by way of splitting up common unicode range from uncommon ranges into separate files)
- 478 KB is JavaScript (already served via gzip)

![screen shot 2017-09-06 at 7 44 19 pm](https://user-images.githubusercontent.com/4228012/3014

[2017-09-07 03:49] julianguyen commented on #604
Thanks for bringing this up, there have been previous attempts to optimize the images:

https://github.com/julianguyen/ifme/issues/306
https://github.com/julianguyen/ifme/issues/411

Would be great to revisit this.

Also out of curiosity, I ran a performance audit in the Google dev console:

![image](https://user-images.githubusercontent.com/3010728/30144588-eacbe7a4-9340-11e7-8aec-2208535dba1c.pn

[2017-09-07 04:25] baohouse commented on #604
Ah, looks like Tracy's profile is still a PNG. The problem is that the contributors folder can be added to by anyone without knowing that the images are served up to the homepage directly. We probably should move these contributor photos into Cloudinary somehow.

[2017-09-07 05:28] andy5995 commented on #592
I've assigned this issue to me. Would that be a matter of just adding something like `<link id="feedLink" rel="alternate" type="application/rss+xml" title="RSS" href="https://medium.com/feed/ifme">` to the header?

And would we also want a small RSS icon on the footer, with a link to the feed?

[2017-09-07 06:36] HashNotAdam commented on #604
Ha! Would you believe I have a branch for this? Let's team up 😄

[2017-09-07 10:03] rarwolf47 commented on #563
Done!

[2017-09-07 21:53] andy5995 opened #606 "Change text displayed for users with 0 groups"
[![Screenshot_2017-09-07_21-43-59.png](https://s26.postimg.org/pkqcaigax/Screenshot_2017-09-07_21-43-59.png)](https://postimg.org/image/b1j793n5x/)

me:

julianguyen:

hashnotadam:

tmoore:

[2017-09-07 22:07] andy5995 opened #607 "Allies list should show previous invites"
On the allies page, I think it would be helpful to show a list of allies that have been previously invited (unless they're in the "accepted" list), along with the expiration date. Perhaps a "*" next to invitations that have passed the expiration date.

Otherwise the user is forced to remember who he or she has emailed.

[2017-09-07 22:33] desirottman commented on #457
Hallo! Ich kann Deutsch auch. Let me know how I can help - no Ruby skills but could be handy with some translations!

[2017-09-08 00:55] julianguyen commented on #592
I think that is correct @andy5995!

[2017-09-08 01:01] #547 closed

[2017-09-08 01:33] baohouse commented on #604
@HashNotAdam You're like a magician pulling rabbits out of hats 😆

[2017-09-08 01:44] HashNotAdam commented on #604
#boredatwork

[2017-09-08 02:54] HashNotAdam commented on #604
So, I think this is a higher priority than the items I looked at today, however, it also has "side effects" so I didn't want to submit anything without discussion.

The simplest solution would be to just resize the images to the maximum size that is required, save them all as JPEG, and optimise the file size. If we do this, we would need to update the documentation to help new contributors do this

[2017-09-08 04:27] baohouse commented on #604
First one is easy to do, but it requires people to be vigilant, and, well, humans are fallible.

The third option just had an integration matter I wasn't clear on, which was how do you sync the images; i.e. how do we know if an image has already been uploaded? And similarly, if a contributor changes her/his portrait, would this also update the corresponding image on Cloudinary? And how do we pull

[2017-09-08 04:41] HashNotAdam commented on #604
There are a couple of ways we could manage it:
- just sync all images on deployment (there are 7,500 free transforms);
- for each file in the contributors' directory, test if there is a corresponding file on Cloudinary; or
- _if_ the deployment has an actual git clone and not just an export, we could do a diff between revisions (quick idea would be to use: `git diff --name-status $(git rev-parse H

[2017-09-08 06:40] baohouse commented on #604
Reading the Cloudinary API, so looks like it's easy to reference the images by way of public id (which can be the filename, with a namespace prefix so we know it's coming from the contributors folder), which just requires two remaining things:
1. Generating the manifest of contributor image filenames as public ids (and then iterating over them and inserting [cl_image_tag](http://cloudinary.com/doc

[2017-09-08 06:52] HashNotAdam commented on #604
100% this should be on deployment if we go this path. I haven't learnt a huge amount about Heroku and CircleCI in the last month so I'm comfortable it can be done, it's a question of picking a direction.
You think it's worth trying the Cloudinary option?
@julianguyen?

[2017-09-08 17:31] abrophy commented on #601
I'm looking into this now,

[2017-09-08 19:01] abrophy opened #613 "react_on_rails documentation needed"
Documentation has to be fleshed for react_on_rails on how to set up locally and build components, README should also be updated accordingly

[2017-09-08 19:02] abrophy opened #614 "Moments Dashboard needs to be more responsive"
Chart sizing needs to be adjusted for mobile

[2017-09-09 00:01] andy5995 commented on #592
The location of the text link for the feed? How about underneath the _Email_ link in the _Connect_ section of the footer?

[2017-09-09 15:09] abrophy opened #615 "New Medication view throwing an error"
Template error, medication.add_to_google_cal method undefined.

I thought that it was throwing the error because migrations hadn't been run on heroku, but still not displaying view with the same error after migration.

Form displays correctly locally using up to date master branch, and no errors are being thrown through CircleCI.

[2017-09-09 15:25] abrophy commented on #615
the error which I'm having trouble replicating is
```ActionView::Template::Error (undefined method `add_to_google_cal' for #<Medication:0x007f9df00c3858>)```

[2017-09-09 15:28] abrophy commented on #615
oh.... the heroku instance just needed a restart
😅

[2017-09-09 15:28] #615 closed

[2017-09-09 20:36] andy5995 commented on #486
I'm adding more resources and will wait a few days to submit the PR. If anyone wants to suggest a resource, I'll add it.

[2017-09-10 10:50] TimMoore opened #617 "childprocess/ffi error on `bundle install`"
When running `bundle install` on the latest `master`, you get this error:

[code]

You can also see this in the Circle CI build: https://circleci.com/gh/julianguyen/ifme/1284

[2017-09-10 11:13] #617 closed

[2017-09-10 12:21] abrophy opened #619 "CalendarUploader - Error instantiating AccessToken class"
something's wrong with code loading in production, so CalendarUploader can't create an instance of AccessToken needed by the google ruby client.

[2017-09-10 22:44] andy5995 commented on #606
TODO

1. Decide on text to display when there are 0 groups
2. Decide on text to display when there are 1+ groups
3. Decide on common text that will display in both cases 1 & 2

Also, I think this existing message should be changed:

The image/+ sign in that sentence is not a clickable link. So I'd suggest something like

But that seems a bit clunky to me. Is there any reason the small "+" icon (in

[2017-09-11 16:06] desirottman commented on #606
I think the first thing to do is to define what a group is, so maybe under the "Create and join groups that offer support, mentorship, and discussions." title, we could say something like "**What is a Group?** A group is a space for you and your Allies to communicate. Support groups are great for having open discussions about mental health! You can create groups, invite members, and organize meetu

[2017-09-11 18:25] #619 closed

[2017-09-11 19:12] andy5995 commented on #486
I'd like to add some more music therapy resources @deejayres . I saw some mentioned in [your article](https://medium.com/ifme/13-songs-to-reduce-anxiety-stress-58eb9b362867); any other suggestions?

[2017-09-11 19:23] desirottman commented on #486
@andy5995 in my last blog post I mentioned https://www.looplabs.com/beta and https://www.ambient-mixer.com/ as places online that people with no musical experience could create tracks.. i'm digging around for more!

[2017-09-11 19:23] desirottman commented on #486
http://musictherapyactivities.wikia.com/wiki/Music_Therapy_Activities_Wiki

[2017-09-11 19:47] andy5995 commented on #592
One problem that may derail this patch as is:

Clicking a link in the feed takes the user to the Medium/if me page, therefore a regular if-me.org sign-in won't work. Could be confusing to people.

I'd like to hear more discussion about this before I proceed with #611

But I'm not in any hurry. ;)

[2017-09-11 20:13] baohouse commented on #592
If we click on an article via the if-me.org blog, it takes us to the Medium post already. I do agree that from a UX perspective, it's a source of confusion. Adding a warning "You're about to leave this site to enter another" is standard practice, but definitely not ideal. _Perhaps_ having the blog exist entirely on the if-me.org site might be a solution, but that's way beyond the scope of what you

[2017-09-11 21:46] andy5995 opened #622 "linking to international pages to increase search engine indexing"
On the home page, if crawl-able links were added to the ES and BR pages, that would help provide results in those languages to people who read and speak those languages. Would a change like that be worth making?

Current Google ES search results for **site:if-me.org salud mental**
https://www.google.es/search?q=site%3Aif-me.org+salud+mental&oq=site%3Aif-me.org+salud+mental

[2017-09-12 06:22] charlesskariah commented on #607
@julianguyen Any suggestions for this? May be I can have a look at this.?

[2017-09-12 17:47] andy5995 commented on #607
Hi @charlesskariah maybe I can help you with this while you wait to hear from Julia. I created the ticket.

This file is where the list would be displayed:
config/locales/en.yml (along with the associated language files: es.yml and ptbr.yml

You'd be able to get translations from the Slack channels #es-translations and #br-translations

(If #585  is completed before you are done, then you'd also n

[2017-09-12 17:49] desirottman commented on #592
Medium does allow for custom domain usage, but there is a setup fee: https://help.medium.com/hc/en-us/articles/115005579728-Get-started-with-custom-domains

[2017-09-12 17:54] julianguyen commented on #607
@charlesskariah So currently our page looks like this: https://github.com/julianguyen/ifme/blob/master/app/views/allies/index.html.erb

We show outgoing and incoming ally requests and accepted allies.

So actually, I'm not sure what else we would add. But maybe we could add email invites in the outgoing section (people who are sent invites to join if me via email). I don't think we need to keep a

[2017-09-12 18:06] andy5995 commented on #607
I believe we are thinking the same thing, Julia. This is what I wrote in the top post (but maybe I didn't word it very clearly):

[2017-09-12 18:08] julianguyen commented on #607
At the moment, email invitations don't expire. We could make them expire if we wanted to. Anyone in favour of that?

[2017-09-12 18:17] andy5995 commented on #607
I got the impression they expired:

Though in my reply to Charles, I mentioned translations. I think the only translation needed would be for the word _expired_.

[2017-09-12 18:18] julianguyen commented on #607
Oh wait they totally do! Haha whoops muh bad, totally forgot. Thanks @andy5995! Yeah, it would be great to add users who are invited via email to the outgoing allies list and list the expiry date of their invitation.

[2017-09-12 19:42] charlesskariah commented on #607
@andy5995 I will have a look at this.My understanding is

1. We already have a list for this and we need to show the expiry date for the email invites.

2. Also need to use the translation for the heading part.
3.In the database the list and expiry date is already available and we need to show the same in the view.
Please correct me If I am wrong. @julianguyen

[2017-09-12 22:06] andy5995 commented on #486
@desirottman Since you're interested in getting experience with git, I decided to submit my existing changes, so you can do a separate PR with some of your music therapy resources (and other resources you might think of) :) Let me know if you have any questions

[2017-09-12 22:28] andy5995 commented on #607
@charlesskariah Looks like you are all right, and I see Julia assigned this ticket to you. She answered this on Slack in #dev:

I'll paste it here for future reference:

So you can get the info from the User model
 e.g.
`<User id: 12, email: "shady@sadie.com", created_at: "2017-09-05 04:35:11", updated_at: "2017-09-05 04:35:29", name: "Sadie", location: nil, timezone: nil, about: nil, avatar: nil,

[2017-09-13 00:52] jeffreyroy opened #625 "Submitting Moment with blank description results in a server error."
Form submission is allowed when the description field is blank, but thought field is filled in.  It may be that form_processing.js is checking the wrong field.

[2017-09-13 18:29] charlesskariah opened #627 "Issue setting up development environment in local after pulling latest master"
Rails server is running and when i tried to load the url in browser, I am getting the following error,

[code]
This was working fine with my master before.This is happening after pulling the latest master.

[2017-09-13 18:35] andy5995 opened #628 "Atom/RSS feed should be generated when new blog posts are added"
When new blog posts are added, or existing ones updated, _if me_ should generate its own xml feed that is on the _if-me.org_ server.

Ideally, the feed should be [validated](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fmedium.com%2Ffeed%2Fifme) after it's created or changed. There may be an existing tool or external library that could do that. Some type of alert (email, message to a S

[2017-09-13 18:45] andy5995 commented on #627
@charlesskariah this issue was just reported in #setup on Slack. Did you receive your invite yet?

[2017-09-13 18:47] alexiamcdonald commented on #627
@charlesskariah I've run into this problem. I will investigate on my end. But if you figure out something in the mean time please let me know.

[2017-09-13 18:52] charlesskariah commented on #627
@andy5995 I just found that invitaion email.My bad
@alexiamcdonald Will let you know if i came across a solution

[2017-09-13 18:52] andy5995 commented on #627
Ah... well, someone else has run into this problem too. It's being discussed in #setup.

[2017-09-13 19:12] baohouse commented on #627
#626 is addressing this. For the time being, from the project folder,

[code]

[2017-09-13 19:24] alexiamcdonald commented on #627
Make sure you use the homebrew yarn and you have updated homebrew

[2017-09-13 22:35] #592 closed

[2017-09-14 07:02] andy5995 opened #629 ""It's all in your head" : Wording on About page could easily be misinterpreted"
https://github.com/julianguyen/ifme/blob/bc657e1d31eea69cfe8287b6dfdaeb49ca193a25/config/locales/en.yml#L345

IMO, Wording could be easily be misinterpreted.

Specifically:
`\"It's in your head, but it's also all around you.\"`

I'm new to the project, so I still can give viewpoints from a fresh, "new-user" perspective.

When I first read that, I was confused for a couple seconds.

But I know perf

[2017-09-14 10:04] baohouse commented on #575
Closing this because it's now integrated via #579

[2017-09-14 10:04] #575 closed

[2017-09-14 10:06] baohouse commented on #579
Going to close this and have the documentation task reside within #613

[2017-09-14 10:06] #579 closed

[2017-09-14 10:09] baohouse commented on #604
#579 introduced an unoptimized webpack Javascript bundle that was 2.5MB. I've added Uglify to the webpack build via #616 and it dropped the filesize down to 760kb, however, there's still a remaining issue which is that webpack assets (JS and CSS) are served up without being gzip compressed.

[2017-09-14 12:02] alexiamcdonald commented on #627
Running `foreman start -f Procfile.dev` instead of `rails s` fixes this issue. I've updated the readme. I'm closing this issue now as I believe it's solved.

[2017-09-14 12:02] #627 closed

[2017-09-15 04:51] baohouse commented on #604
#635 Resolved the gzip of webpack assets.

[2017-09-15 17:54] julianguyen commented on #629
Ah yes, I am familiar with being negatively told that "it's all in your head". I wrote `It's in your head, but it's also all around you.` to almost reclaim the "it's all in your head" negativity and reframe it as more realistic and neutral.

That's interesting that you and potentially others could associate it with negativity. Hmm maybe we could keep the line, but preface it with "It's not just al

[2017-09-15 18:23] timorthi commented on #629
I like this!

[2017-09-15 18:54] andy5995 commented on #629
"It's not just all in your head, but also in your heart and soul, and in your past. Healing is in your present."

[2017-09-15 19:01] tracypholmes commented on #629
Ohh...I like both of these rewrites.

On Fri, Sep 15, 2017 at 1:54 PM, Andy Alt <notifications@github.com> wrote:

[2017-09-15 19:03] julianguyen opened #636 "PROVISIONARY_README.md should be integrated with README.md"
We should delete PROVISIONARY_README.md and put its content in our README.md. We should also explain what Storybook, Flow, and ESlint does.

[2017-09-15 19:05] julianguyen opened #637 "Put foreman start -f Procfile.dev into an alias"
Let's put `foreman start -f Procfile.dev` into some kind of alias like `start_app`
or see how we can have it integrate with `rails server`.

[2017-09-15 19:37] julianguyen opened #639 "Fix styling in Moments graph"
![image](https://user-images.githubusercontent.com/3010728/30500260-66ecf0b2-9a12-11e7-8c39-344b1b1ff723.png)

* Use the Lato font for this graph

[2017-09-15 20:36] julianguyen commented on #639
@carmenwright Would you be interested in picking this up as your first PR? :D

[2017-09-15 20:39] andy5995 commented on #629
I forgot to acknowledge this:

@julianguyen wrote:

I had a feeling that was your intent. :)

[2017-09-16 04:09] baohouse commented on #604
#641 is a temporary Cloudinary solution that should immediately reduce the image sizes on the homepage.

[2017-09-16 04:34] carmenwright commented on #639
Yes I would.

[2017-09-16 17:09] julianguyen commented on #629
Ooh I like yours @andy5995, very poetic sounding. How about we combine them and make it more concise. Thanks for the output everyone!

"It's not just all in your head, it's around you. We can heal together."

[2017-09-16 17:20] julianguyen commented on #637
Looks like you're tackling this @andy5995 :P Thank youuuu a bunch!

[2017-09-16 19:27] andy5995 commented on #637
I realized I didn't know what I was doing and gave it up.

But I'll ask a bunch of questions, once I get the #setup complete.

I didn't quite understand what you meant. You want a ruby script with the foreman start line in it? Or there's somewhere to make an alias for that command?

I'm so unfamiliar with rails and ruby I don't really know how the site works yet, or which file I would put an alias

[2017-09-16 22:36] alexiamcdonald commented on #507
Let me know if you need any help. @abrophy and I are working on other Google related issues.

[2017-09-17 04:19] andy5995 commented on #637
Ok, @julianguyen my current status is #640

[2017-09-17 05:40] andy5995 opened #643 "add some anonymous stats to the footer"
Adding some basic statistics to the footer might help to make the site appear more "dynamic", and from both a user and geek perspective, it might be interesting.

Here are some (not so original) ideas.
1. Number of logged in users
2. Number of guests
3. Total Number of registered users
4. Registrations in the last week

Some numbers that would be unique to _if me_
1. Number of *Moments* filed in t

[2017-09-17 05:46] andy5995 commented on #622
@localhostpedro All of these results from Google BR are in English.

https://www.google.com.br/search?source=hp&q=site%3Aif-me.org&oq=site%3Aif-me.org

Do you have an opinion on what I wrote in the top post? How about @esBeee ?

[2017-09-17 17:32] #613 closed

[2017-09-17 18:40] andy5995 opened #644 "including brief license info to the top of source code files"
https://github.com/julianguyen/ifme/blob/a73f997a1613bbb10a2db3fbb97c41f820ade935/LICENSE.txt#L627

 Re: Including some brief blurb about license info at the top of source code files: I've noticed it's sometimes customary to do this with OSS projects. Would it be a good idea to include the info to any source code files that are changed from this point on? Quoted from L627 of the License:

Also add

[2017-09-17 23:22] julianguyen commented on #507
@alexiamcdonald No one is working on this at the moment, so you could take it on :D

[2017-09-17 23:29] alexiamcdonald commented on #507
Ok I'll take a look tomorrow. Maybe I can knock two birds out with one stone. 😄

[2017-09-18 05:21] andy5995 commented on #606
Now I see there's already info about groups on the [FAQ](https://www.if-me.org/faq). We should link to that (in place of a group description) and not have that text duplicated on the _Groups_ page, imo.

To that end, If @julianguyen has no objection, we can add an [id attribute](https://www.w3schools.com/tags/att_global_id.asp) to the _groups_ heading on the FAQ page ([L372](https://github.com/jul

[2017-09-18 19:05] andy5995 commented on #457
I've recently realized how poor my German skills are. Unfortunately, I won't be able to help with this.

[2017-09-19 02:02] #637 closed

[2017-09-19 16:43] andy5995 commented on #629
Just let me know when the decision is finalized. I'll submit the PR. :)

[2017-09-19 17:20] julianguyen commented on #629
@andy5995 Thanks for following up on this <3 Yeah let's stick with `"It's not just all in your head, it's around you. We can heal together."` :D

[2017-09-19 20:25] andy5995 commented on #643
Ah, ok. If clutter is a concern, then perhaps you'd rather have a single "Stats" link on the About page. When clicked, a small pop-out window that displays the stats?

[2017-09-19 20:27] julianguyen commented on #643
For privacy concerns, I don't think we should share the number of moments or medications. But I am comfortable with sharing the number of registered users. That should just be a sentence on the About page.

[2017-09-19 21:01] andy5995 commented on #643
Understood. I'm trying to scale back my time on the PC right now, so this ticket is wide open for anyone.

[2017-09-19 21:11] andy5995 commented on #622
And if I wasn't clear, I was thinking of links that can be crawled by search engines.

For example..  if-me.org/es  would be a mirror or alias to the es pages. Search engines would be able to spider all those pages from a link on if-me.org.

Yes, it would add to the clutter, unfortunately, but maybe the language links could be made very small (a single horizontal layout, as I see it), and the curr

[2017-09-19 21:13] julianguyen commented on #643
Cool, I can take this on. Thanks so much @andy5995 for all your dedication and hard work! Don't forget to get some rest too :)

[2017-09-19 22:16] andy5995 opened #649 "Pull Requests HOWTO"
@julianguyen  I added a page to the wiki.

 https://github.com/julianguyen/ifme/wiki/HOWTO:-Pull-Requests

 If you like it, a link to it can be added in the README.md (heading: Committing work -> pull requests), or the wiki page can be integrated into the README

I adapted the instructions from one of my existing projects, and I think it's mostly all good, but definitely could use a review by anyo

[2017-09-19 22:30] andy5995 opened #650 "Splitting the README"
Should the installation instructions be moved into INSTALL.md file?
Should anything related to contributing be moved into CONTRIBUTING.md?

Would that make it easier to edit, proofread, and maintain the files?

If that were done, It looks like not many links would have to updated:
[code]

though some links on the wiki would also need to be updated.

[2017-09-19 22:38] andy5995 opened #651 "adding a CHANGELOG.md"
There's some discussion about this on PR #645

I'm going to close that PR without merging. I think @julianguyen wants more discussion about it first, then this ticket will be up for grabs.

It'll be an .md file (instead of .txt)

[2017-09-19 22:40] andy5995 commented on #643
Yw. I will!

[2017-09-20 03:19] andy5995 commented on #629
@julianguyen are you sure you want to omit the the word "all" in the second part of the first sentence? Something doesn't sound right in your final quote. Sounds kind of "choppy" to me. I just want to double check with you.

"...it's _all_ around you..." ?

[2017-09-20 03:21] julianguyen commented on #629
Sure I'm fine with "it's all around you". Thanks!

[2017-09-20 03:24] andy5995 commented on #629
Ok.. I'll get the new translations tomorrow. Consider the existing PR as wip.

[2017-09-20 19:02] #629 closed

[2017-09-20 19:21] andy5995 commented on #629
I appreciate your enthusiasm, @julianguyen  (:wink), but I hadn't quite finished it. I was updating the _all_ part of it (see last three comments), just waiting for the SV translation.

What you merged has the translations from before we decided to add _all_.

If it's decided that someone will refine it further, here are the up-to-date translations.

EN: It's not just all in your head, it's all ar

[2017-09-20 19:22] julianguyen commented on #629
Oh shoot I'm sorry I didn't realize. Feel free to make another PR with the rest of the changes. Whoops!

[2017-09-20 19:25] andy5995 commented on #629
Julia, we all love you and forgive you always. :) Please remember that the next time _I_ make a mistake. :)

[2017-09-21 00:42] baohouse commented on #604
#654 Reduced initial font footprint from 1020 kB down to 289 kB. The overall page footprint is now 1.2 MB. Where can we further shave?

- Optimize welcome_small.jpg file (and use CSS blur instead of welcome_small_blur.jpg).
- Figure out a way to lazy load JavaScript only as needed.
- Split up Lato font by language.
- Lazy load portraits only if the element is within view.

[2017-09-21 00:42] #604 closed

[2017-09-21 00:46] julianguyen commented on #604
@baohouse I've been meaning to optimize welcome_small.jpg. I actually want redo the design of the footer and just use a solid colour instead, that way I can get rid of the font glow action going on lol.

[2017-09-22 16:31] zx-wolftaur commented on #595
oops!  I just sent in a suggestion about this with my google forms submission.  glad to see it's being worked on!  (sorry for a trivial little comment!)

[2017-09-22 16:32] andy5995 commented on #595
It's the thought that counts, @zx-wolftaur ; Thanks!

[2017-09-22 20:16] nma commented on #636
Going to take some code snippets from the commits in the navigation refactor to help with examples on the new docs.

https://github.com/julianguyen/ifme/pull/599/files

[2017-09-25 18:44] baohouse opened #659 "Support hashtags inside Moments"
Allowing for #hashtags inside posts as perhaps a supplement to Categories and Moods allows for more immediate and dynamic ways of tracking expressions by removing the burden of having to create and manage Categories/Moods.

One possible application of hashtags is to allow a person to track particular moods over time. Imagine a view of a calendar days over a period of 3 months, with colors indicati

[2017-09-25 18:49] baohouse opened #660 "Support Allies mentions inside Moment posts"
Mentioning Allies inside Moment posts can be done using the @ symbol (very much like how we do this in GitHub, Facebook, Slack). I found a plugin for our existing CKEditor worth considering:

https://www.drupal.org/project/ckeditor_mentions

What this allows for is to track Ally mentions over time. Certain people will have an impact on your life, and it's useful to see where they were in relation

[2017-09-25 18:52] nma commented on #659
Also just throwing out an alternative, would having standardized mood tags
be easier? Then that cuts the problem surface area a bit.

I have always wondered if there was a strong reason for having moods be
user managed?

On Mon, Sep 25, 2017, 2:44 PM bảo.thiên.ngô <notifications@github.com>
wrote:

[2017-09-25 23:17] abrophy commented on #601
Tested this on the live site and I've been receiving reminder e-mails regularly, are you still encountering issues @andy5995

[2017-09-25 23:29] andy5995 commented on #601
Yes, still encountering issues. I've never received any meditation reminder emails.

In my account, the box to receive them is still checked.

I received mediCation reminder emails with no problem before I disabled them.

[2017-09-26 02:47] julianguyen opened #662 "Handle overflow text in most_focus module"
![image](https://user-images.githubusercontent.com/3010728/30840087-2e6662c6-a22a-11e7-9183-64be7e6546ec.png)

Hmm how should we handle this case?

[2017-09-26 05:03] SophieRoseMcDonald opened #665 "Translation bug for Portuguese"
Translation bug for Portuguese
[code]

[2017-09-26 21:16] localhostpedro commented on #665
Checking this one....

[2017-09-26 22:04] julianguyen opened #667 "Support pry logging with foreman"

[2017-09-27 06:59] andy5995 opened #668 "navigation to "help" may need adjustment"
So I go to if-me.org...

There's a link if I want to "help" the project.

After logging in, no link for "help".

There's not one on the About page? Where is it? I can't find it. I see a "contributors" page, but I want to *be* a contributor, not necessarily learn about the current contributors at this time.

Where did the "help" link go?

Solutions:
1. Put a "help" link on the about page
or
2. Rena

[2017-09-27 07:04] andy5995 opened #669 "add "editors" to "Contributors" page, bulletize the list"
Correct me if I'm wrong, but wouldn't more document editors be helpful?

If added, I'd suggest a bulleted list (such as the ones tmoore are fond of) be implemented in the same PR.

[2017-09-27 07:14] andy5995 commented on #669
Also may want to consider changing the text "user experience designers". Sounds a bit technical and fancy.  Because any regular site user may have ideas regarding the experience he or she has with the site without being a professionally trained "user experience designer".

You could consider omitting it completely, and just mention it on the feedback form, or some other area where it would fit nic

[2017-09-27 18:12] andy5995 commented on #650
If this ticket gets approved, and after my Slack account is reactivated, I'd like to work on this.

[2017-09-27 22:13] andy5995 commented on #455
This was included with #623 ? Ready to be closed?

[2017-09-27 22:41] HashNotAdam commented on #455
Thanks, @andy5995, we should have closed this already

[2017-09-27 22:41] HashNotAdam commented on #455
Thanks, @andy5995, we should have closed this already

[2017-09-27 22:41] #455 closed

[2017-09-27 22:44] HashNotAdam opened #671 "Add expiry to Secret Share"
Give moment owners the ability to set a custom expiry date on a secret share.

[2017-09-27 23:11] andy5995 commented on #667
I looked at a couple links to do this but couldn't figure it out. Here they are for reference:

pry/pry#1290

https://stackoverflow.com/questions/32671250/is-there-a-reliable-tool-for-stepping-through-code-while-serving-in-foreman

[2017-09-27 23:21] andy5995 commented on #667
I tried the instructions at https://groups.google.com/forum/#!topic/foreman-dev/oLyjl8YNv2A

but don't know what the equivalent of "server.rb" would be to trigger pry

[2017-09-28 01:14] julianguyen commented on #667
Thanks for looking into this @andy5995! @SophieRoseMcDonald and @jnamster have a solution https://github.com/julianguyen/ifme/pull/672. Feel free to weigh in!

[2017-09-28 01:51] #556 closed

[2017-09-28 01:51] #479 closed

[2017-09-28 01:54] julianguyen commented on #644
This is a good suggestion, but it feels burdensome to add this to every file. Also, we aren't written code that is going to be reused in a library or anything like that. I think it will suffice to have our OSS license mentioned on our site and the licensing section on the repo page. Thanks for bringing this up!

[2017-09-28 01:54] #644 closed

[2017-09-28 01:57] julianguyen commented on #669
I think this is fine for now. The list of roles mentioned are not all the roles that our project are limited to. We could mention community organizers, but I think mental health advocates encapsulates that. Thanks again for bringing this up!

[2017-09-28 01:57] #669 closed

[2017-09-28 01:58] #636 closed

[2017-09-28 01:58] #564 closed

[2017-09-28 02:28] andy5995 commented on #644
Understood! :)

[2017-09-28 02:31] andy5995 commented on #669
Acknowledged! :)

From what you say, I'd assume "veterans" would fall into that category as well. It was one I hadn't suggested but thought of recently.

[2017-09-28 14:33] rhiroyuki commented on #357
Hi I would like to help solve this issue... is the email above still valid? What is the process to submit a pull request in this project?

[2017-09-28 14:36] andy5995 commented on #357
Hi! Yes, that email is still valid.

[2017-09-28 20:16] eiguike commented on #14
Hello! I would like to help in this feature, how can I accomplish this?

[2017-09-28 20:19] andy5995 commented on #14
Hi @eiguike ! Thanks for your interest. If you send an email to join.ifme@gmail.com you will receive the details on how to join our _Slack_ development chat room. :)

[2017-09-29 04:07] dippersauce commented on #650
I'd like to help you with this when Hacktoberfest kicks off. Would you mind posting your slack?

[2017-09-29 04:09] julianguyen commented on #650
Hey @dippersauce, can you email join.ifme@gmail.com so we can add you? Let's chat more there on the specs. Thanks :)

[2017-09-29 11:34] faraazahmad commented on #662
I can implement a bootstrap grid, that is, if you're using bootstrap

[2017-09-29 12:28] faraazahmad commented on #662
![screenshot from 2017-09-29 17-57-06](https://user-images.githubusercontent.com/19265077/31015840-afc9cf98-a53f-11e7-9929-195d0b45bcd4.png)

Has it already been solved?

[2017-09-29 16:53] alvarocasadoc commented on #538
I would like to help with this issue. I've been checking the code on the repo and I think I could try tackling this one.

[2017-09-29 17:29] julianguyen commented on #662
@faraazahmad Nope. So to see that stats you need to tag your Moments posts with Strategies then it'll appear! :) Also please email us at join.ifme@gmail.com and I'll add you to our Slack!

RE: bootstrap grid, I personally don't want to use it cause it's bulky. We could import only what we need, but I believe we can easily implement this ourselves with flex boxes.

[2017-09-29 20:56] andy5995 opened #676 "using _new instead of _blank for target attribute or getting rid of _blank completely"
I understand why you use target="_blank" for external links.

Does this happen in every browser?

Here's the potential problem:

1. from if-me.org, click external link. It opens the link in a new tab
2. from if-me.org, click a different external link. It loads in the same tab as the previous link, thereby taking the user away from the page of the first link (and maybe the user didn't want that pag

[2017-10-01 01:12] eiguike commented on #539
I'll look into this issue.

[2017-10-01 13:00] alvarocasadoc commented on #538
I think maybe something like this would do well:

Current behaviour:

- **Only** when the viewport is small enough (**< 640px**).
- User taps one of the ckeditors and a **new modal** is displayed with a ckeditor inside. This modal is implemented as a new **partial** (`views/shared/_editor_modal`) and it is included in `views/moments/_form` and `views/strategies/_form`.
- **While this modal is visi

[2017-10-01 14:43] colelabar commented on #662
You are referring to the overflow categories at the bottom of the first image, correct? I can give this a go using FlexBox, I'll fork it and let you know how it goes!

[2017-10-01 18:39] greggb commented on #219
I'll tackle this one for y'all. Is this the only place someone would be adding a comment? `ifme/app/assets/javascripts/add_comment.js `

[2017-10-01 21:59] camillevilla opened #679 "Add tests additional tests to medications_controller_spec"
We could add some additional tests to `medications_controller_spec.rb` to increase our test coverage (see discussion in #573). Currently there are tests for:
- `#print_reminders`
- `#destroy`

`categories_controller_spec.rb` could be used as an example for additional tests (`#new`, `#create`, etc.)

[2017-10-01 22:01] vildevev commented on #679
Hi, I am a new contributor and I would like to work on this.

[2017-10-01 22:03] andy5995 commented on #679
Hi, @vildevev . If you send an email to join.ifme@gmail.com you'll receive some details on joining our Slack workspace (chat). As for this ticket, someone will let you know its current status. :) Thanks for your interest!

[2017-10-01 22:04] andy5995 commented on #679
Oops, I see you have already done that! Nevermind. 😊

[2017-10-02 01:39] jeffreyroy opened #682 "Add error messages to form submissions with required fields missing."

[2017-10-02 01:40] jeffreyroy commented on #682
Error reporting is inconsistent at the moment.  Each form should display a clear error message if required fields aren't filled in.

[2017-10-02 01:44] #662 closed

[2017-10-02 01:50] #625 closed

[2017-10-02 02:22] julianguyen commented on #643
Will revisit this in the future, closing for now.

[2017-10-02 02:22] #643 closed

[2017-10-02 16:42] julianguyen commented on #676
Thanks for bringing this up. The most upvoted answer in that StackOverflow post you share actually says to use `"_blank"`. We've been using that instead of `"_new"`. We should be consistently using `"_blank"` for external pages, that's worth putting in our style guide.

Did you actually encounter the potential problems you raised?

[2017-10-02 17:07] andy5995 commented on #676
Yes.

I'm using Firefox 55.0.3 on Debian Linux 9.

[2017-10-02 17:13] andy5995 commented on #676
It also happens on [Chromium](https://www.chromium.org/)

[2017-10-02 18:15] julianguyen opened #685 "Redesign homepage icons and use SVGs instead"
Let's re-design these:
![image](https://user-images.githubusercontent.com/3010728/31092148-53de3f1e-a762-11e7-83a6-242acf310ac9.png)

We also have other unused icons we should redesign as well. Let's use a similar outline style as the original icons as well. https://github.com/julianguyen/ifme/tree/master/app/assets/images

[2017-10-02 19:42] julianguyen opened #686 "Redesign Story cards"
Requirements
- Redesign these cards so that it isn't cluttered with text
- Make post author distinctive, include circular avatar

## Moment Story Card

### Desktop/Tablet:
![image](https://user-images.githubusercontent.com/3010728/31095701-9facf9e2-a76e-11e7-9927-8fb9a3085185.png)

### Mobile:
![image](https://user-images.githubusercontent.com/3010728/31095782-dcb2e716-a76e-11e7-827d-bd19779553ea.

[2017-10-02 20:01] asiahoe commented on #686
Hi @julianguyen I'm interested in working on this for hacktoberfest! 😄

[2017-10-02 20:39] dippersauce commented on #685
There's a lot of problem with the originals and I agree we should redesign them. The current ones have inconsistent line weights and scaling.

[2017-10-03 00:13] #679 closed

[2017-10-03 01:46] cesargroening commented on #113
Hello,  this is my first attempt helping ,can i work on this issue ?

[2017-10-03 02:45] julianguyen commented on #113
Hey, @cesargroening, can you email us at join.ifme@gmail.com so we can add you to our Slack? :)  I don't think @jnamster ever got around to this, I think it should be fine to work on.

[2017-10-03 03:43] nma commented on #614
me and @abrophy  have a paired solution on this, but noticed that whilst the storybook chart.js resizes with change, the one in the react_on_rails component does not dynamically resize.

So something about the way it is injecting is not sending up the resize updates. Will need a bit more browsing on this.

[2017-10-03 03:51] nma opened #687 "Check the feasibility of using React-draft-wysiwyg editor in place of CkEditor"
Component under consideration

- https://jpuri.github.io/react-draft-wysiwyg/#/

Why?

In support of #659 , the newer component implements hash tag functionality as this is a more modern requirement in WYSIWYG editors. The task would appear as follows:

- [ ] Load react-draft-wysiwyg into the React Client App side by side
- [ ] Check the options on the new component (disable hashtags to start, etc

[2017-10-03 12:50] #650 closed

[2017-10-05 05:01] architapatelis commented on #649
@julianguyen if you'd like I can add the Pull Request Instructions directly to README.md or to [Workflow.md](https://github.com/julianguyen/ifme/blob/master/WORKFLOW.md) under the `Committing Work` section. I also found a minor typo in the [wiki](https://github.com/julianguyen/ifme/wiki/HOWTO:-Pull-Requests), `Periodically, you'll need the sync your repo with mine (the upstream).`  You have to cha

[2017-10-05 17:32] dippersauce commented on #649
I think it would be best to add it to WORKFLOW.md, since we just finished reorganizing the documentation so everything wasn't piled into the README.md.

[2017-10-05 18:52] #538 closed

[2017-10-05 18:58] julianguyen commented on #607
How is this going @charlesskariah? :)

[2017-10-05 19:53] julianguyen opened #690 "Norweigan Translations"
Progress so far:

https://github.com/julianguyen/ifme/pull/688

[2017-10-05 20:08] nshki opened #691 "App redesign"
## EDIT (Oct 26, 2017)

Designs have been ported to Figma and the latest can be viewed [at this link](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me).

## Overview

The need for a full app redesign was discussed and we are currently working on rethinking it from the ground up. This thread originally started in the Slack community, but we are going to start documenting it in GitHub.

##

[2017-10-05 20:28] #651 closed

[2017-10-05 21:48] baohouse commented on #595
So now I wonder how #691 is going to affect this issue. I could churn out a rewrite of the header as a React component based on the existing look, but but given that this issue really has a low impact (it's not a terrible experience), should we focus on the app redesign efforts instead?

[2017-10-06 06:54] v27u27 commented on #649
Can anybody tell me, what exactly has to be done to resolve this issue, because i want to contribute, and just for your information i am a beginner in open source contributions.

[2017-10-06 07:17] architapatelis commented on #649
@dippersauce @julianguyen I made a pull request earlier today, please have a look and let me know if anything needs fixing. Thanks in advance!

[2017-10-06 16:47] cesargroening commented on #113
For resolve this issue i have to add a new column in the meeting_members table.
   The new collumn name going to be "google_cal_id", it's for make a relationship between google event  and the event in **IFME**(meeting), with this, if the event is cancelled in **Google** calendar will appear as no scheduled in **IFME**  Is this OK ?

[2017-10-06 18:41] alvarocasadoc commented on #10
I've been working a bit on this. Here's what I think could work well and some suggestions and notes about it's implementation:

## Expected behaviour
### Adding/editing a moment/strategy
- When a user **adds** a moment/strategy he/she can click on one of these **submit buttons**
![publishing buttons](https://user-images.githubusercontent.com/7248474/31291725-0657f718-aad1-11e7-921f-5351427b4b52.pn

[2017-10-06 21:24] zawmoelwin commented on #628
Hi @andy5995 , I’m a little confused. Can you help me by walking through the workflow you are suggesting?

I think this is what’s happening:
- it crawls the medium site medium "https://medium.com/ifme?format=json"
- it gets the JSON data and parses it and display on the site on each request. "page_controller.rb line 95"
- current rss feeds goes to medium "https://medium.com/feed/ifme"

What I unde

[2017-10-06 21:38] andy5995 commented on #628
Hi @zawmoelwin , I made the suggestion (post above) but not sure yet if the developers want to implement it or simply continue using the feed from medium. Someone will let you know about any specifics. :)

[2017-10-07 03:36] zawmoelwin commented on #668
I can work on that @andy5995 .

[2017-10-07 05:54] jenniferlynparsons opened #696 "Broken README links on CONTRIBUTING.md"
The Committing Work and Tracking Issues links on the CONTRIBUTING.md doc do not link to anything on the README.

Either relevant info needs to be added to README and then linked from there to WORKFLOW.md (where the info has been relocated to) or the links should go directly to the relevant sections of WORKFLOW.md.

[2017-10-07 05:54] jenniferlynparsons commented on #696
I'm claiming this issue once it's approved as a valid change on the Slack.

[2017-10-07 19:26] julianguyen commented on #10
Wow @alvarocasadoc this is looking fantastic, really great attention to detail 💯

I like the different states you put on the button. If it helps you keep organized, feel free to create separate issues for each of the different tasks you have to do and put them all into a [project](https://github.com/julianguyen/ifme/projects).

Along with `When a user visits other user's profile he won't be able t

[2017-10-07 19:30] andy5995 commented on #668
Hi @zawmoelwin . @julianguyen will have to let you know if this is a desired change. She'll update the ticket after some of the higher priority issues are under control, and let you know, I'm sure. Thanks again. :)

[2017-10-07 19:54] nshki commented on #10
This is awesome @alvarocasadoc! Only feedback I have at the moment is in regards to the UI controlling publish/draft state.

What if we utilize a checkbox of sorts that makes it visually clear what state a moment/strategy will be in once the form is submitted rather than having multiple buttons that send different params back to the server? So, for example:

![publish-draft](https://user-images.gi

[2017-10-07 20:19] #696 closed

[2017-10-07 20:26] #667 closed

[2017-10-07 20:32] julianguyen commented on #665
@localhostpedro Any updates on this?

[2017-10-07 22:09] localhostpedro commented on #665
@julianguyen yes I am : Changing my computers and reorganising my projects.  Be ready for tomorrow, top.

[2017-10-07 23:48] zawmoelwin commented on #622
I personally think subdomain approach is better suited as there will be less changes.
If we just want to be crawled by google bot, we can actually put display hidden div and some javascript to change it to display inline to an event that will be very hard to be triggered.

https://webmasters.stackexchange.com/questions/27060/do-search-engines-see-comments-in-the-source-code-as-a-backlink

[2017-10-08 11:52] alvarocasadoc commented on #10
I think that's a great idea! What about something like this?
![](https://user-images.githubusercontent.com/7248474/31316534-b217e0fe-ac2f-11e7-9c31-582746bbac18.png)
![](https://user-images.githubusercontent.com/7248474/31316539-c7c6468e-ac2f-11e7-8de3-38fe81bc2552.png)

![demo](https://user-images.githubusercontent.com/7248474/31316455-1f68cf44-ac2e-11e7-8c09-d168e99a7d0a.gif)

[2017-10-08 11:57] alvarocasadoc commented on #10
This is what a user can see in his/her own profile:
![ownprofile](https://user-images.githubusercontent.com/7248474/31316580-877a2a68-ac30-11e7-9122-a779fface9f6.png)

And this is what another user can see when he/she visits his ally profile:
![othersprofile](https://user-images.githubusercontent.com/7248474/31316585-9aa332ba-ac30-11e7-82d0-d457ece9c35b.png)

[2017-10-08 19:19] nshki commented on #10
Looking good! 💯

Will be revisiting design with #691 but I think what you have is great prior to the redesign!

[2017-10-08 21:51] nshki commented on #691
Iterated some more on the original idea.

- Sticking to a palette based off of original site colors
- Using "About", "Blog", "Resources", and "Sign In" as nav links for not logged in users (thinking about a sidebar once a user is logged in for the rest of the app)
- Added _if me_ logo front and center
- Added latest blog posts
- Redid icons for "features" section
- Moved original line illustration

[2017-10-08 23:01] julianguyen commented on #691
This looks amazing so far! Thanks for this 🎉

Looks like we should start off with redesigning our non-mandatory signed in pages. Wondering if the join link would appear in the header navigation when we navigate away from the homepage.

Also would it help to have headings in the footer to provide context for each column?

[2017-10-08 23:09] nshki commented on #691
@julianguyen Ah, for the join link, I'll go ahead and adjust the last nav item so that it's "Sign in / Join." Also, I'll go ahead and add headings for each footer column to mirror the current site!

Do you have any preference for the next screen to be designed? Was thinking of tackling moments.

[2017-10-09 20:15] zawmoelwin opened #702 "Update translation for "Contribute""
"See work in #701 for more context"
Translation for "contributors" is now "contribute" in English, but we need to change translation in locales

#690

[2017-10-09 23:07] jacobkjhan commented on #639
Hey! Is this issue possibly still open for contribution? Thanks!

[2017-10-10 02:11] #702 closed

[2017-10-10 02:13] #668 closed

[2017-10-10 02:13] julianguyen commented on #668
Thanks for calling this out @andy5995! Thanks for working on this @zawmoelwin, don't forget to add yourself to our Contribute page!

[2017-10-10 02:18] julianguyen commented on #691
Moments would be a good feature to do since it's the main one.

@asiahoe expressed interest in redesign the story cards that are used throuhgout the site https://github.com/julianguyen/ifme/issues/686

Maybe you two could collaborate? :)

[2017-10-10 05:58] zawmoelwin opened #703 "App language is not persisted after sign it."
Enviroment : Local Development
How to duplicate the issue : Change the site language to any language other than English.
Click sign in. Enter user name and password.
After sign in, the app language is set to English.
Click sign out. It is changed back to original language.

What it should be: After sign in, the app language should be persisted .

[2017-10-10 07:26] zawmoelwin commented on #665
Can anyone elaborate more on how to replicate the issue?

After trying to replicate the issue(cannot replicate the issue), but  found another bug , language locale translation missing.
"translation missing: ptbr.datetime.distance_in_words.less_than_x_minutes"

How to recreate: Sign in. Change the app language to Portuguese. Create new moment by clicking on + sign novo memento. Fill the form and cr

[2017-10-10 09:11] tsara27 commented on #703
@julianguyen I am interested to help you on this.

[2017-10-10 14:47] rheupler commented on #691
I would love to work on actually building these designs to the existing site, if no one has committed. Or if it's being done, let me know if I can help in any way!

[2017-10-10 15:49] nshki commented on #691
@rheupler We will likely have some dev planning discussions (either in Slack or somewhere in GitHub) once the redesigned screens are ready to be developed! We'll loop you in when we're there.

@julianguyen Sounds good. 😄

[2017-10-10 16:18] tsara27 commented on #703
@zawmoelwin It's working on my local development. Do you want to check it again?

[2017-10-10 16:27] zawmoelwin commented on #703
@tsara27 You are right, it now seems gone. I just tested again and it is working fine. So, I tested on the if-me.org just to be sure and the language persisting bug is happening in "Sign in page". But I can't reproduce that bug on local environment now.

[2017-10-10 23:27] tsara27 commented on #703
@zawmoelwin Yes, the page shown in old locale. I'll help fixing that.

[2017-10-11 00:10] julianguyen commented on #703
@tsara27 Feel free to work on this! I'll add you to the repo and you can assign this to yourself! Thanks. Thanks @zawmoelwin for calling this out too!

[2017-10-11 02:40] nshki commented on #691
Some more design progress. Finishing up the non-mandatory pages @julianguyen mentioned above before tackling logged in screens (moments, strategies, etc.). Will have a go at the resources page next.

## About
![about](https://user-images.githubusercontent.com/1121087/31419761-9fba7394-ae0b-11e7-90be-a84271b4201d.png)

## Blog
![blog](https://user-images.githubusercontent.com/1121087/31419765-a56c9

[2017-10-11 04:54] julianguyen opened #708 "Write documentation for Translations process"

[2017-10-11 05:16] #708 closed

[2017-10-11 17:38] jenniferlynparsons opened #709 "Move documentation into the wiki"
All documentation needs to be moved into the repo wiki except for README.md, CONTRIBUTING.md, and INSTALLATION.md.

This will allow people to contribute to the docs without requiring a pull request, making it easier to keep up to date.

The files remaining in the repo also need to be updated to redirect to the wiki pages and provide clarity on where more thorough documentation is available.

[2017-10-11 17:38] jenniferlynparsons commented on #709
I'll be working on this over the next couple of days. :)

[2017-10-13 02:48] #703 closed

[2017-10-13 18:59] julianguyen commented on #682
@jeffreyroy are you still working on this? :)

[2017-10-13 19:05] julianguyen opened #712 "Add character limit counter to CKEditor modal in mobile web"
Let's add the character limit counter to the bottom of the CKEditor went it's opened in a modal in mobile web.

Ignore the green reload icon in the screenshots, that's a Grammarly Chrome Extension lol.

![image](https://user-images.githubusercontent.com/3010728/31562006-b425bd2a-b00e-11e7-9b5b-e2f34a69de09.png)

![image](https://user-images.githubusercontent.com/3010728/31562019-bf3509dc-b00e-11e7

[2017-10-13 19:09] julianguyen opened #713 "Input fields in Medications form on mobile web should take 100% width"
Currently, it looks like this:

_Hint: Use flexbox to get multiple inputs fields in Strength/Total/Dosage both take up 100%_

![image](https://user-images.githubusercontent.com/3010728/31570632-c5dd310c-b03a-11e7-9fdc-18dd8334d38d.png)

[2017-10-13 19:14] waxidiotic commented on #713
Hey @julianguyen. I can get this done if that's cool!

[2017-10-13 19:17] vedipen commented on #682
Hey @julianguyen!
I can get this done if that's cool!

[2017-10-13 23:11] MelisaIm commented on #713
Hi! @julianguyen I could work on this :)

[2017-10-14 00:22] julianguyen commented on #691
Wow I love the designs on the static pages! I'm wondering for our signed in pages whether we should using black text on white background to display Moments etc.

[2017-10-14 00:24] julianguyen commented on #691
Also do you think the colour contrast is enough for the selected link in the header? Should we be using `#D0E799`? Same for the colour contrast with the author name in the Blog mockup?

[2017-10-14 00:27] julianguyen commented on #691
@rheupler Can you email us at join.ifme@gmail.com so we can add you to our Slack? :D Thanks for expressing interest :D

[2017-10-14 16:07] waxidiotic commented on #713
@julianguyen Is this along the lines of what you were thinking or did you want the text field to take up the width and the unit field to be on the next line?

<img width="363" alt="screen shot 2017-10-14 at 12 05 10 pm" src="https://user-images.githubusercontent.com/8037469/31577184-2ed595ee-b0d8-11e7-8bdc-56dd548762ee.png">

[2017-10-14 17:18] tsara27 commented on #712
Hey @julianguyen!
I can help you adding that. :D

[2017-10-14 21:39] nshki commented on #691
@julianguyen For moments cards etc. I'm definitely planning on using a black on white or some variant of it!

For active links in the nav, I could try playing with adding another visual indicator other than color to make it more clear. #D0E799 looks a little off in the header unfortunately. I can brighten up the author name just a smidge.

Also, for blog posts, what do you think about adding poste

[2017-10-14 22:09] zawmoelwin commented on #595
If the redesign will take a while, I am open to be assigned on this issue.

[2017-10-15 07:44] sexybiggetje opened #719 "Proposal for switching i18n method over to .PO/.POT/.MO files (GNU Gettext)"
TL:DR; GNU Gettext is an industry standard for i18n and has been developed for many years, many translating agencies/independent translators can work with them. Also switching to Gettext allows for easier updating of all translations, as software can update missing keys and perhaps even fill in blanks.

--

When using the Gettext approach one can define a master template, this is your .POT file. I

[2017-10-15 10:45] marcelkalveram commented on #457
Hey there, I'm happy to help out with the German translation. I'm native German. If anyone has already made some progress on this, I'm happy to review as well.

[2017-10-15 10:52] sexybiggetje commented on #486
For the upcoming Dutch locale ('nl') one could add the following:

- http://www.depressievereniging.nl/ - Semi state organisation with information and research on depression and related mental ilnesses. Provides experience stories and lobbies for research. Organises support groups.
- https://www.113.nl/ - Suicide prevention hotline (phone, chat), information, training for volunteers
- https://mind

[2017-10-15 19:49] andy5995 commented on #457
@marcelkalveram PR #633 may need some attention.

[2017-10-16 08:44] baohouse opened #723 "Tests failing due to assertions following page reloads"
"Persisting browser locale after sign in When user sign in, sign out, then change local" in `persisting_browser_locale_after_sign_in_spec.rb` is failing. I suspect it is because the page loads asynchronously, but we don't have a wait_until the page finishes loading before we assert the page title is there.

Why it worked before might be because the page update was happening fast enough, but perhap

[2017-10-16 11:47] sexybiggetje opened #724 "Data security at record level"
As mentioned on the generic Slack channel; @julianguyen replied to this already.

Data in the database is of poor encryption value. The password field for users is hashed, but that's about it. I can't look if postgresql is configured to encrypt using pgp certificates at the live server, but that's something often overlooked.

Data should be encrypted at the record level as well in case of data the

[2017-10-16 12:09] HashNotAdam commented on #724
The challenge with this is that the database should already be firewall protected from communicating with any server other than the web server. This means that, if you wanted to steal the database, you would need to compromise the web server and, if you can compromise the web server, you could just download the database via Rails... which is going to need to be able to decrypt the data.

[2017-10-16 12:54] sexybiggetje commented on #724
That's not entirely true. Different threats need to be mitigated in a different way.
Say for instance postgres runs as a different user, and somehow postgres user was compromised or the interface exposes raw data on the web, you would still need application logic to decrypt the data.

What you are proposing is elevated access, but one wouldn't always get elevated access when breaching a machine. S

[2017-10-16 14:19] nma commented on #691
@nshki  This is super cool, love the visual revamp 🥇

[2017-10-17 01:23] baohouse commented on #595
@zawmoelwin If it helps with getting acclimated to the new React codebase, sure, you can work on it. There's a Logo.jsx that you can use as a starting point.

[2017-10-17 01:44] baohouse opened #726 "Split off language-based assets into their own JavaScript files"
# Description

Right now our main JavaScript file contains all language bundles. This isn't a huge performance problem right now, but we'll want to start thinking of splitting off the language bundles to load only what we need.

May have to think about how JavaScript is loaded so we don't run into dependency and load-order issues.

---
Please assign yourself (via the Assignees dropdown), if you do

[2017-10-17 04:21] carmenwright commented on #639
It's still open. I haven't been able to work on it.

[2017-10-17 21:01] marcelkalveram commented on #457
@andy5995 thanks, I'll take a look.

[2017-10-18 15:34] nma commented on #691
As for next steps, I was thinking we can start slicing out sections/components and start an UI components library akin to what many folks are doing using React + StoryBook e.g https://hackoregon.github.io/component-library/

As for how we want to do that, do we want a separate NPM package to import into the main rails app? Or do we want to centralize it all inside the main app? @julianguyen @baoho

[2017-10-18 18:28] nshki commented on #691
@nma Love that idea. I'm on board. I think I want to vote for keeping all components centralized in the main app unless we are willing to build a full API on the Rails side (to allow for separate front and back end repos). Building the components in a separate repo / package feels strange if we aren't building all the screens there as well. I can definitely be convinced otherwise though.

[2017-10-19 06:00] baohouse commented on #723
Reading this resource: https://aranair.github.io/posts/2016/07/27/capybara-and-waiting/

[2017-10-19 06:42] baohouse commented on #723
Looks like my initial analysis was wrong, sorry. Here's the test result:

What's really happening is that the test is unable to log back in the second time around.

[2017-10-19 07:28] maribelduran commented on #486
I just created a pull request for ✨  [Insight Timer](https://insighttimer.com/) ✨

Insight Timer is a **free** meditation app that includes guided meditations that range from recovery, acceptance, gratitude, sleep, depression, emotional balance, mindfulness, and the list goes on! They are taught by the best meditation teachers around the world and the community is so supportive. Just wanted to sha

[2017-10-19 17:17] baohouse commented on #723
I learned that running this test locally is reproducible (though you may have to run it multiple times with a 30% reproducability rate). I suspect the step that clicks the sign out link doesn't complete in time before the language change step is triggered. Maybe the language is changed, a sign in occurs, and then the page finally refreshes from the sign out. That might be why we see the homepage a

[2017-10-20 02:09] Andrewlee5889 commented on #454
How do I assign myself to a issue? @julianguyen

[2017-10-20 03:39] maybebored opened #734 "Add "back to top" button for resources page"
Was really impressed by the website. However would like to enhance it by adding a "back to top" button in the resources page. It would be a simple addition to the code. Guidelines provided by the owner can help me add this.

Essentially by adding this navigating to categories in the resources page will be made more easier.

[2017-10-20 04:00] #713 closed

[2017-10-20 04:28] #734 closed

[2017-10-20 05:49] elynnyap commented on #259
Hey Julia! @aftaberski and I just started on this tonight and would like to keep working on it :)

[2017-10-20 12:11] baohouse commented on #726
This improvement could probably be done as part of #719

[2017-10-20 14:40] nma commented on #691
@nshki I think that writing a full API on Rails at this moment is an anti-goal. My original thinking was that components could be worked on separately from the main app, and might be easier to contribute to, but after thinking about it more, creating two pull requests for each repo might not be natural workflow for most people.

We can build it into the main app, and its pretty easy to pull it out

[2017-10-20 17:51] baohouse commented on #723
#714 Had a failed test from the following error:

spec/features/toggle_language_spec.rb
lessFailure/Error: \e[0m\e[32mexpect\e[0m(page).to have_content es_root_title
Selenium::WebDriver::Error::StaleElementReferenceError:
  stale element reference: element is not attached to the page document
    (Session info: chrome=62.0.3202.62)
    (Driver info: chromedriver=2.33.506092 (733a02544d189eeb751fe0

[2017-10-20 18:03] nshki commented on #691
@nma Centralized to start sounds good to me.

---

As a general update, Sketch documents have been ported over to Figma, and @asiahoe and I will be collaborating on the designs moving forward.

Let's hold off on building the component library until the designs are somewhat finalized, since a lot can still change.

[2017-10-20 20:01] baohouse commented on #723
Good read... https://www.varvet.com/blog/why-wait_until-was-removed-from-capybara/

So I think we'll have to get in the habit that if there is any event that we expect to reload the page (clicking submit, changing language from dropdown), we should use something like:

`page.find("#foo").should have_content("login failed")`

[2017-10-22 08:25] sexybiggetje commented on #723
#714 also had a test blocked in  spec.features.user_creates_strategy_spec
https://circleci.com/gh/julianguyen/ifme/1708

Possibly related, since it's checked after a submit?

[2017-10-22 08:46] baohouse commented on #723
@sexybiggetje Just merged in my fix. Hopefully it won't happen again in the future. If it does, we'll reopen this issue.

[2017-10-22 08:46] #723 closed

[2017-10-22 08:51] sexybiggetje opened #737 "Integrate automated security testing with Snyk"
Snyk.io offers automated security testing. I saw this being used on a few other repositories on github. They provide free services to open source projects.

Maybe it could be integrated like circle-ci.
https://snyk.io/

[2017-10-22 21:18] sexybiggetje opened #738 "Add shortcuts to the url for language setting"
Unless I'm mistaken, it's not possible to direct users to a localized version.
For example if-me.org/sv or /nl, /en, etc.

It's a small feature that makes sharing the site easier then saying go here, press that.

[2017-10-24 00:54] haleymnatz commented on #424
@julianguyen I'd like to give this a shot if that's alright!

[2017-10-24 05:21] #10 closed

[2017-10-24 05:30] julianguyen commented on #738
Thanks for bringing this up! This is definitely a good idea, especially for SEO purposes as well.

[2017-10-24 05:30] julianguyen commented on #737
Wow, this looks awesome, thanks for suggesting this! Anyone feel free to pick this up!

[2017-10-24 05:31] julianguyen commented on #726
We should definitely do this! Another neat optimization is only loading the translations needed for a page.

[2017-10-24 17:30] sexybiggetje commented on #737
@julianguyen So I think it's best if you add this. Just sign in, press get started for developers, and add the project.
And optionally add the badge to the README.md

[2017-10-24 19:37] jsrn commented on #738
Hi! I'd like to see if I can tackle this, if that's alright?

[2017-10-24 19:38] sexybiggetje commented on #738
Go for it, nobody is working on it yet to my knowledge! Free drink if we happen to meet up some time.

[2017-10-25 06:08] alvarocasadoc opened #741 "Can't leave moods/categories/strategies/viewers blank when updating a Moment/Strategy"
I don't know if this is already reported or if I'm doing anything wrong, but I've noticed that when I try to edit a moment and remove a viewer from the list the change is not updated in the database. Below is a little demo of the bug.
![](https://user-images.githubusercontent.com/7248474/31982969-773a902e-b95b-11e7-8053-f6a48eecda91.gif)

[2017-10-25 20:55] marcelkalveram commented on #457
Had a look and the translation in `devise.de.yml` are all appropriate. I couldn't find `de.yml` in the PR though, which @cwilhelmy seems to have worked on.

I'm happy to take care of the remaining files to get this done.

[2017-10-26 12:36] abbyck commented on #639
I can get this done  and I'm complete noob to contributions. Please, someone can guide me?

[2017-10-26 16:45] julianguyen commented on #741
Uhoh! Thanks for identifying this, this is definitely a bug!

[2017-10-26 16:46] #738 closed

[2017-10-26 17:31] alvarocasadoc commented on #741
I'm going to try to fix this one then

[2017-10-26 19:48] alvarocasadoc commented on #741
I've noticed this also happens to moods, categories and strategies. This bug happens only when a user is trying to delete all the viewers from a Moment or a Strategy, this means the param. array is nil when the edit form is submitted.

My approach is to assign an empty array to the moods, categories, viewers or strategies whenever the corresponding param. array is nil due to the lack of any item s

[2017-10-26 21:13] #709 closed

[2017-10-27 02:57] nshki commented on #691
Another update. Since designs have been ported to Figma, I'll be able to share using links from this point forward (hurray!).

You can catch the latest in design land with [this link](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me). I'll update the original comment to show this and a screenshot is attached as well.

<img width="923" alt="screenshot 2017-10-26 22 57 09" src="https://user

[2017-10-27 18:30] yathuganesh opened #746 "can it be pull reuest"
can it be pull reuest

[2017-10-27 19:49] Hissvard opened #747 "Working on Italian translation, need help with a sentence's meaning"
Not sure whether an issue is the right place to ask about this, sorry if it isn't

I'm almost done with the Italian translation but I can't quite get what "Check in before you check out" means at line 579 of `/config/locales/en.yml`

[2017-10-28 01:12] tymeart opened #748 "Links in documentation need to be updated"
I noticed the link to INSTALLATION.md in the README.md is incorrect and leads to a 404 page.
Also, in the INSTALLATION.md, the link to the Common Dev Environment Errors page is incorrect now that the page has moved to the wiki.

[2017-10-28 02:32] #712 closed

[2017-10-28 02:34] julianguyen commented on #747
Hey @Hissvard thanks so much for volunteering to translate to Italian :) So that line you mentioned, means something like "take care of yourself before it's too late". Hope that helps!

[2017-10-28 02:35] #748 closed

[2017-10-28 02:36] julianguyen commented on #741
Thanks for offering to fix this @alvarocasadoc, much appreciated!

[2017-10-28 02:38] #746 closed

[2017-10-28 02:47] julianguyen opened #750 "Changing the locale via the url doesn't work on logged in pages"
cc @jsrn

Changing the locale via the url works on non-logged in pages however it doesn't work on logged in pages. To get this to work you'll have to make a call to `change_locale` in `app/controllers/pages_controller.rb`.

Let me know if there are any questions of course :)

[2017-10-28 06:04] 3minus1 opened #752 "Ally Invite Email Bug?"
So when I try to invite an ally(tested both on production and locally), the subject of the email doesn't show up the inviter's name. And also, sender's name shows up as `smtp.sendgrid.net`

![screen shot 2017-10-28 at 11 31 46 am](https://user-images.githubusercontent.com/13695333/32131765-fcabeefe-bbd3-11e7-8c19-ff99ca179f2c.png)

[2017-10-28 07:09] 3minus1 commented on #607
I am very confused about this whole invitation thing. Could anyone please help me out here?

So, what I understand by the concept of "allies" is that you can invite your friends (who aren't already on the platform) to join if-me, and when they join (using the invitation) they would be added to your allies list. Am I right? But it doesn't quite seem to work. I can send out invitations as well as ac

[2017-10-28 17:14] Hissvard commented on #747
Thank you a lot, not even our lord and savior Google Translate could help me out this time.

[2017-10-28 17:14] #747 closed

[2017-10-30 22:03] #750 closed

[2017-10-30 22:28] julianguyen commented on #752
Hey @3minus1, this is correct. Thanks for calling this out! @haleymnatz fixed the subject bug in a [related PR ](https://github.com/julianguyen/ifme/pull/742) . The sender name is correct, we use SendGrid :)

[2017-10-30 23:06] andy5995 commented on #127
Looks like this will get addressed by #752

[2017-10-30 23:13] andy5995 commented on #752
Is that a bug I caused? (#621) The sender's name is not showing up because quotes are not used?

As for changing the "from" field from "smtp.sendgrid.net", there was a comment by @haleyelder about that in https://github.com/julianguyen/ifme/issues/127#issuecomment-327630565

[2017-10-31 10:13] #741 closed

[2017-11-01 22:11] haleymnatz commented on #752
@andy5995 I don't think that's what is causing the issue, because there also aren't quotes around %{email} in the email body (as can be seen in the screenshot above - "Metal Muse"). But I could be wrong?

[2017-11-01 22:34] haleymnatz commented on #752
I figured out the source of the issue, and have a possible solution. I assigned myself to the issue and will take it on once my other PR is pulled in (since they are both related to invitations).

[2017-11-06 18:11] faraazahmad commented on #685
There's a site called The Noun Project. They have LOTS of icons with PNGs and SVGs. Here, take a look
https://thenounproject.com/search/?q=book

[2017-11-07 23:38] #606 closed

[2017-11-08 21:07] #424 closed

[2017-11-09 05:06] 3minus1 commented on #607
Anyone? @julianguyen ?

[2017-11-12 18:03] timofonic commented on #691
@nshki @asiahoe Thanks! It looks nice! Any news?

[2017-11-12 18:19] timofonic commented on #709
@jenniferlynparsons @julianguyen  @andy5995 Has this been solved? Wow!

[2017-11-12 19:20] sexybiggetje commented on #719
I'm going to work on this in the following steps:
- Find out where translations are being done now (for instance t() calls in *.erb)
- Try to make a gettext extractor to generate the base .pot files
- Try to make a generator that matches .pot msgid's and generate .po files for all languages, so we don't need to copy paste

Then when we have these resources, we should look at how to load them and r

[2017-11-12 20:35] timofonic commented on #719
@sexybiggetje I agree. This might make it easier to use web tools to translate it, so less computer literate people can contribute to translations too.

There are standards like XLIFF too, this one based on XML. It's possible to convert between XLIFF and PO, but not sure if some kind of data is lost in the process.

Incomplete example list..
- Web apps:
  * [Weblate](https://weblate.org): Develope

[2017-11-12 20:48] nshki commented on #691
@timofonic Thanks! We're still cranking away at the design. You can see the latest [at this link](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me).

[2017-11-13 00:11] dbarner1 opened #765 "Separate React from Rails asset pipeline?"
Hi folks - This is my first issue, so apologies if this is too controversial or too big of a first thought to throw to the group: what do folks think about disconnecting the app to be a React standalone app that makes calls to a series of rails microservices to get data it needs (when it needs)?

This would potentially help:
- Cleanliness of code when writing front end things.
- Only loading data

[2017-11-13 18:33] dbarner1 opened #766 "Refactor Moments and Strategies to React components"
- [ ] Refactor Moments
- [ ] Refactor Strategies
- [ ] Update test for Moments
- [ ] Update test for Strategies

[2017-11-13 18:34] dbarner1 opened #767 "Alphabetize methods/variables/etc (in phases)"

[2017-11-14 12:43] #765 closed

[2017-11-15 18:55] sriordan9 commented on #639
Hi there! I’m new to open source contributions and would like to try helping on this if no one has updated the font yet. I have tried setting up ifme to see if I could even get it running before I volunteered to help, but when trying to start the server using `bin/start_app` it just exits with “code 1”. Terminal seems to attempt starting the server but the last thing I see is:
![image](https://use

[2017-11-17 21:22] #752 closed

[2017-11-18 07:28] riya-17 opened #768 "footer"
footer needs to be improved.

[2017-11-18 18:52] baohouse commented on #768
#691 is addressing an overhaul of the UI.

[2017-11-18 18:52] #768 closed

[2017-12-05 18:28] origamiwhale commented on #660
@julianguyen I'd gladly work on this issue if it's still for grabs :)

[2017-12-07 04:36] dbarner1 commented on #767
Branch: 767-alphabetize-a-few-methods

[2017-12-07 04:36] #767 closed

[2017-12-07 05:52] aleciavogel commented on #187
Is the panic button still in development? I've been doing a lot of work with gems like [Geocoder](https://github.com/alexreisner/geocoder) lately and would love to contribute to this feature

[2017-12-07 06:25] starbelly commented on #187
@aleciavogel I'd say go for it 👍  I got lost in a giant code base for a year, so 😄

[2017-12-07 06:32] aleciavogel commented on #187
It happens to the best of us 😉

Sounds great! I'll see what I can come up with and keep you posted.

[2017-12-07 09:46] aleciavogel opened #772 "Refactor for Readability & Separation of Concerns."
While doing some refactoring tonight, I noticed a lot of stuff that could be cleaned up as far as models, associations, and overall separations of concern go and thought I should create an issue to discuss this.

**A couple of examples:**
- the foreign key for a user is `userid` instead of `user_id`? (Not sure if there's a specific reason for this, but it struck me as slightly out of the ordinary)

[2017-12-11 01:23] julianguyen commented on #772
@aleciavogel I am totally on board with this! Thank you for all this all out! Can you email us at join.ifme@gmail.com so we can add you to our Slack? :)

[2017-12-11 14:30] alexiamcdonald commented on #187
I actually saw a panic button on a website recently terrafem.se I think it was. You should have a look to get some ideas.

[2017-12-11 15:45] aleciavogel commented on #187
@alexiamcdonald Hey Alexia, the domain you mentioned above is for sale

[2017-12-11 15:49] pederjohnsen commented on #187
http://www.terrafem.org/ probably then? :)

[2017-12-11 16:13] alexiamcdonald commented on #187
@aleciavogel yeah sorry it's the one @pederjohnsen mentioned. I was just trying to remember the name and didn't check it. whoop sorry.

[2017-12-14 17:25] camillevilla commented on #690
Looks like this was closed by #775 and #668. Yay! 👏

[2017-12-14 17:25] #690 closed

[2017-12-14 17:28] camillevilla commented on #529
Just a note that @cindyanguyen is currently working on this. Anyone who'd like to help out, please join #vn-translations and #i18n on the Slack channel.

[2017-12-19 21:25] abhishekr700 commented on #737
Hi, is someone working on this ? I would like to try my hand on this

[2017-12-20 00:16] pederjohnsen commented on #737
As a side note, github has similar features now already built in: https://github.com/blog/2470-introducing-security-alerts-on-github though it seems using Snyk.io would still be a good choice as it seems to have much more vulnerability data available etc.

[2017-12-23 17:09] extremelypenguin commented on #639
is this issue still open? I'd like to work on this

[2018-01-03 09:28] panjim opened #776 "French translation"
Hi everyone, i joined the french translation team few days ago.
I saw that many people worked on the translation for a while, but i couldn't find any of the documents to contribute, or at least do some proofreading...

We need those 4 docs:
-devise.fr.yml (from I18n)
-devise_invitable.fr.yml (trad. of devise_invitable.en.yml)
-fr.yml (trad. of en.yml)
-kaminari.fr.yml (trad. of kaminari.en.yml)

i

[2018-01-04 20:49] nshki commented on #691
@nma @baohouse I apologize about the delay in updates! December was a crazy time for me and I had a hiatus due to an injury.

I think we can go ahead and start development on the redesign, although not everything is complete yet. Basic atomic components are more or less defined, and I think in-browser development will give us the flexibility we need for design decisions that require more group con

[2018-01-07 20:16] francisbrito commented on #127
Hello,

I'd like to contribute into this project and thought this task could be a nice place to start if it is still relevant. I have read the article presented in the first comment and I _think_ I can do it.

By the way, I'm rather new to Ruby/Rails so all suggestions are welcome.

[2018-01-07 22:31] CSumm commented on #737
Is this issue still open?

[2018-01-08 19:46] julianguyen commented on #691
Latest designs look fantastic! Looks like we can start creating issues for the basic atomic components! I think its' a good idea to build out the smaller components first, it would also get us using React more :D

[2018-01-09 02:51] membrq commented on #487
Is this issue still open? If so, what do you need help with?

[2018-01-09 22:57] nshki commented on #691
Just for easy access, here is the link to the Figma document: https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me

---

Alrighty! Now that it's verified that **registered** Figma users (don't worry it's free for individual accounts) can click around and view CSS properties (colors, dimensions, etc. thanks to @baohouse and @julianguyen), I think we're ready to move forward! Any illustrations

[2018-01-09 23:15] nshki opened #777 "[Component] Button"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:17] nshki opened #778 "[Component] Input"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:19] nshki opened #779 "[Component] Radio Button"
# Description

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma d

[2018-01-09 23:20] nshki opened #780 "[Component] Switch (Checkbox)"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:22] nshki opened #781 "[Component] Textarea"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:23] nshki opened #782 "[Component] Tag"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:25] nshki opened #783 "[Component] Resource"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691). This also will incorporate another

[2018-01-09 23:27] nshki opened #784 "[Component] Dropdown"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:28] nshki opened #785 "[Component] Card"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691). This incorporates another componen

[2018-01-09 23:30] nshki opened #786 "[Component] Profile Modal"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:31] nshki opened #787 "[Component] SideNav"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-09 23:33] nshki opened #788 "[Component] Footer"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691). This incorporates another componen

[2018-01-09 23:34] nshki opened #789 "[Component] Header"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-01-15 19:24] nshki commented on #785
@julianguyen I'm gonna assign you #782 as well since this component uses a subcomponent, if you don't mind!

[2018-01-16 12:22] 0relmely opened #790 "A proposal logo"
Hi !
Congratulation for the project  , I want share a proposal logo .

Link to see a full develop . Thanks
https://steemit.com/utopian-io/@orelmely/contribution-proposal-logo-to-ifme-community-for-mental-health

[2018-01-18 21:14] ajithmel commented on #790
this is okay, maybe make something that looks more health related, like adding a brighter red color

[2018-01-21 10:34] Paarmita commented on #425
@julianguyen can I work on this issue?

[2018-01-21 18:36] trishla08 commented on #777
@nshki can I try this?

[2018-01-21 21:27] nshki commented on #777
@trishla08 Still completely open! If you open the Figma document and create an account, you'll be able to navigate through screens and also see a page that contains components individually. The task would be to create a React component (ideally in Storybook) that can render each variant of the button -- this could be done by passing additional props or class names.

Let me know if that makes sense

[2018-01-22 19:24] trishla08 commented on #777
@nshki hi! I made the component, hopefully it is what you wanted. For some reason, I just can't get storybook to work and my terminal keeps showing errors.

Anyway, this is what my react component made. It will return all 5 buttons.
![image](https://user-images.githubusercontent.com/27439626/35239908-d2a7c95a-ffd7-11e7-81a3-86b99a58fec1.png)

If it's good enough, I can make a PR, let me know!

[2018-01-22 19:49] pederjohnsen commented on #784
I might want to take this one on, just gotta get storybook setup etc first :)

[2018-01-22 22:06] nshki commented on #777
@trishla08 Great! There might be a couple nitpicky things but go ahead and open a PR so we can review in detail. :)

Would be ideal if we could help you get Storybook setup properly as well. If you could make sure to [allow changes from maintainers](https://help.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/), that would amazing!

[2018-01-23 16:07] trishla08 commented on #777
Made a PR with edits allowed.

[2018-01-23 23:25] Seunadex commented on #788
Hi @nshki I'll like to take this up if no one is working on it yet.

[2018-01-23 23:40] nshki commented on #784
Take it away @pederjohnsen! :)

[2018-01-23 23:44] nshki commented on #788
@Seunadex That would be great! This component incorporates one other component (#784), but feel free to start this one.

[2018-01-23 23:51] pederjohnsen commented on #784
@nshki I'll try get storybook setup within the next couple of days and give it a go :tada:

[2018-01-24 06:18] seannam commented on #682
So this is done and should be marked closed?

[2018-01-24 18:56] julianguyen commented on #682
Oooh yeah @seannam you're totally right! Thanks for calling this out! I shall close it!

[2018-01-24 18:56] #682 closed

[2018-01-25 05:09] trishla08 commented on #777
@nshki just noticed the checks seem to be failing.. Codeclimate is failing since my code contains 2 similar classes but that is a consequence of having similar buttons. I have no idea why CircleCI is failing..

[2018-01-25 20:14] nshki commented on #777
@trishla08 First off, thanks so much for your contribution! :)

Julia (the founder) is actually in the process of building out a component, so would it be alright if I get back to you after she makes a PR? It should give us a good baseline for naming conventions, component architecture, styling methods, etc. It'd also be good to help you get up and running with Storybook.

I'll start writing comme

[2018-01-25 20:56] tyrantdavis commented on #639
Is this issue open?

Regards

[2018-01-26 16:26] DanielAmah commented on #789
@nshki  I will like to take this up if no one is working on it.

[2018-01-26 20:05] nshki commented on #789
@DanielAmah Take it away, Daniel!

[2018-01-29 19:48] alvarocasadoc commented on #14
Is there anyone still working on this? I think I can help getting it done :)

[2018-01-29 19:53] julianguyen commented on #14
Hey @alvarocasadoc, no one is! Feel free to work on it. Let's coordinate on Slack! :D

[2018-01-30 07:53] pederjohnsen commented on #784
I didn't get to jump on this as soon as I had hoped :(. If someone else would like to pick it up please feel free to, though if nobody does I'll jump on this as soon as I'm able to!

[2018-01-31 16:31] ginna-baker commented on #649
This issue looks ready to close

[2018-01-31 17:54] julianguyen commented on #649
Aha you're right, let's do that! :) Thank you!

[2018-01-31 17:54] #649 closed

[2018-02-01 17:06] nshki commented on #781
All you @HeyStevenXu!

[2018-02-02 05:31] julianguyen commented on #785
I'm still working on this :) Things have been busy these past few weeks. I'm going to aim to finish this up this weekend! Sorry folks!

[2018-02-02 15:20] Seunadex commented on #788
@nshki Concerning the dropdown on the lower left of the footer ,do I need to add that or will it come from the reusable dropdowns in another issue?

[2018-02-02 15:49] nshki commented on #788
Ideally the dropdown should be built in a separate PR first, and then incorporated into this one!

[2018-02-02 15:50] Seunadex commented on #788
@nshki Also i'm issue getting to use the image in the text on the lower right of the footer

[2018-02-02 16:10] Seunadex commented on #788
@nshki I'm trying to raise a PR now, but i'm getting the `can't automatically merge` error

[2018-02-02 17:41] nshki commented on #788
@Seunadex Don't worry about the background images, those are simply a part of the brochure page backgrounds. The background color of the footer should just be a slightly transparent shade with no images.

The error might be because you don't have the latest changes pulled down. Make sure you pull down the latest changes from the original repo.

[2018-02-02 19:20] julianguyen commented on #790
Thanks for sharing this! I'm open to changing our logo (I designed the current one). We would definitely have to brainstorm more. I don't think you're on our Slack yet @gitgamer! Email us a join.ifme@gmail.com and we'll add you! We can chat more there!

[2018-02-02 21:59] Seunadex commented on #788
@nshki , @julianguyen  I have a PR up kindly review and let me know if you have any feedback

[2018-02-02 22:28] Seunadex commented on #784
@pederjohnsen I will be helping out with this

[2018-02-04 20:33] aSquare14 opened #795 "Incorporating facebook"
# Description

- We can write a general sessions controller function and integrate login with Facebook.
- It is better to have both options as some people prefer using facebook login and will be motivated to share about If-me on their facebook.

- Also,we can give the user an option of sending their facebook friends invites to the website in "Allies" section.

---

Please assign yourself (via the

[2018-02-04 20:49] aSquare14 opened #796 "Give user option of temporarily disabling account."
I think in "Customize your profile", the user should be given the option of temporarily disabling their accounts.
Permanently deleting will lead the user's all data to be lost while temporarily deleting will give the user a chance to rejoin the community again from where they left.

[2018-02-04 21:15] aSquare14 opened #797 "Reminder for taking medicine"
In the "Medications" section. We can ask the user the frequency and days in a week when they have to take meds.

Then on the specified days, we can send them a reminder mail. This will ensure that the users take meds on time.

Can be implemented using SendGrid SMTP or ActiveMailer.

[2018-02-04 21:31] aSquare14 opened #798 "Uploading Images in Moments"
As the name of the section itself is "moment", I think it would be pretty cool to implement a functionality where a user can upload a picture that captures the moment and the mood of the user.

If it is a happy moment, the user can look back on it later and feel a sense of achievement.
If it is sad, they can see visually how far they've come.

[2018-02-04 21:48] aSquare14 opened #799 "Adding Hyperlinks in FAQ section"
The bold texts in purple eg. "Moments" can be made as hyperlinks. So,if the user clicks on it he/she will be directed to the respective sections.It will make the page more interactive and navigation easy !

[2018-02-04 22:00] aSquare14 opened #800 "UI fix"
![img20180205032124-01](https://user-images.githubusercontent.com/22938709/35782848-d0e4f50a-0a24-11e8-9504-5aaf2a913118.jpeg)

On moving cursor over "We <3 Foss", it shows weird behaviour. This can be fixed !

[2018-02-08 12:41] andre-lfa commented on #800
This part has a css cursor property

![screenshot_1](https://user-images.githubusercontent.com/33098462/35971850-acc88e7c-0cb6-11e8-8358-60d3783f33ff.png)
![screenshot_2](https://user-images.githubusercontent.com/33098462/35971851-acf4760e-0cb6-11e8-801f-0cb8c91ba4b3.png)

According to the W3C website, this property has support for this browser's:

![image](https://user-images.githubusercontent.co

[2018-02-08 12:50] aSquare14 commented on #800
I have chrome in Ubuntu 16.04.

On 8 Feb 2018 18:11, "André LFA" <notifications@github.com> wrote:

[2018-02-08 12:51] aSquare14 commented on #800
I have Google Chrome !

[2018-02-08 17:47] prateksha commented on #800
When you move the cursor over We <3 Foss, the cursor changes to a question mark. This is confusing for the user as the line is not a hyperlink nor does it have any special property. It is simply text.
So, by changing
[code]
I would like to change the behavior of the cursor as it hovers above "We <3 Foss."

[2018-02-11 07:23] yasirazgar commented on #627
I have tried all the above steps
1. on running` yarn install and rails s`, i am getting
[code]

2. on running `foreman start -f Procfile.dev`, I get,
[code]

Need some help.

[2018-02-11 14:19] vinzruzell opened #805 "Requesting for Filipino Translation"
Hi. Ive been looking for a contributions that works for filipino translation.
Please let me know some files needed fpr translation.

[2018-02-12 11:34] aSquare14 opened #806 "Search feature in Resources"
I think we can work on a search bar in Resources that filters out articles based on tags. Will be helpful to people looking to read articles on specific issues.

Or maybe make a separate list of tags where articles are listed by tags.

[2018-02-12 11:40] aSquare14 opened #807 "Unwanted message when I try to create group without Description"
The message t(groups.form.error_save) is not required to be displayed.
![screenshot from 2018-02-12 17-07-52](https://user-images.githubusercontent.com/22938709/36095251-6c1f84a2-1017-11e8-9c1b-9604cd3dfbca.png)

[2018-02-12 11:49] aSquare14 commented on #807
Resolved it in [https://github.com/ifmeorg/ifme/pull/808](url) !

[2018-02-12 15:34] yasirazgar commented on #627
Changing the line endings to unix, fixed the issue for me.
Ref: https://stackoverflow.com/a/23202386

[2018-02-12 16:29] f3mshep commented on #799
I would like to claim this issue!

[2018-02-12 17:12] yasirazgar commented on #797
@julianguyen @aSquare14
I would like to work on this.

I investigated a bit and came up with the following
1. Already there is an daily reminder option, additional weekly option should be added (I believe monthly option is not needed).
2. Need to modify the dosage option in medication, maybe like,
     daily_dosage - array - [0,0,0] (morning, afternoon, night)
     weekly_dosage - array - [0,0,0,0

[2018-02-13 00:16] f3mshep commented on #799
How should I style the Hyperlinks? I have attached a screenshot with three different styles.

![crop](https://user-images.githubusercontent.com/20713700/36126981-f6769ce2-100f-11e8-9e54-1e2b16c776a4.gif)

[2018-02-13 00:25] aSquare14 commented on #779
I'd like to work on this issue!

[2018-02-13 04:09] nshki commented on #779
Take it away @aSquare14! :)

[2018-02-13 04:48] julianguyen commented on #797
This sounds good to me. I would start with implementing weekly reminder first and then have a separate PR for the type of dosage per day. I'm not sure how much detail we want to add to the dosage field and how common that is.

Also! Please email us at join.ifme@gmail.com and I'll add you to our Slack where we can discuss stuff further :)

[2018-02-13 22:20] f3mshep commented on #799
Just opened a PR for this [issue](https://github.com/ifmeorg/ifme/pull/810)

[2018-02-13 22:56] camillevilla commented on #805
👋Hi @vinzruzell! Welcome! Here's more information about our translation process: [https://github.com/ifmeorg/ifme/wiki/Translations](https://github.com/ifmeorg/ifme/wiki/Translations)

Will you be translating to Tagalog?

Also! Please email us at join.ifme@gmail.com and we'll add you to our Slack where we can discuss stuff further :)

[2018-02-13 23:07] vinzruzell commented on #805
Yes I.could.bring you tagalog translation.

On Feb 14, 2018 6:56 AM, "Camille Villa" <notifications@github.com> wrote:

[2018-02-13 23:51] Seunadex commented on #778
@nshki Can this issue be closed since it has been done or any reason we still want it opened?

[2018-02-14 01:35] nshki commented on #778
@Seunadex Nope you're quite right, this can be closed now. :) Resolved with #792!

[2018-02-14 01:35] #778 closed

[2018-02-14 16:46] camillevilla opened #811 "Refactor applications controller"
Hi! Our `application_controller_spec.rb` has soo many tests . Yay! But it could take advantage of some shared examples, let statements, etc. This could make the code less repetitive) and easier to read if you're not familiar with the file.

The wonderful @whyderrick has offered to help out with this effort. If anyone is interested in pairing, doing some analysis and splitting up work, comment here

[2018-02-14 17:44] aSquare14 commented on #811
I want to work on this !

[2018-02-14 18:15] aSquare14 commented on #807
![screenshot from 2018-02-14 23-44-56](https://user-images.githubusercontent.com/22938709/36220573-198b2d7e-11e1-11e8-93b6-8886f5d04a21.png)
I noticed this also. If name is blank ,it shows unwanted message.

[2018-02-14 19:51] f3mshep commented on #786
I would like to take this issue!

[2018-02-16 00:57] whyderrick commented on #811
@aSquare14 hey Atibhi! I'll be working on this tomorrow, but I'm in SF so it'll be sometime between 00:00 and 7:00 Bangalore time. It might be tough to pair, but I'd love for you to do the code review or to pick up on it if I don't finish tomorrow.

[2018-02-16 01:41] aSquare14 commented on #811
@whyderrick That would be cool! 😊

[2018-02-16 04:34] aSquare14 commented on #795
presently @steffanibrasil and I are working on it.

[2018-02-17 05:21] Seunadex commented on #784
@nshki The PR for this issue has been merged, it can be closed now

[2018-02-17 11:50] aSquare14 commented on #779
What symbol should come up in checkbox after clicking? Also is the checkboxradio a button or input?

[2018-02-18 18:44] #784 closed

[2018-02-18 18:46] nshki commented on #779
@aSquare14 It's a custom shape, as shown in the mockups and the screenshot posted above!

[2018-02-18 18:48] aSquare14 commented on #779
Okay ! I wanted to be sure, when I click on it, should it change state and a get filled up. And on clicking again should it be restored to original? Does it have state ?

[2018-02-18 18:52] nshki commented on #779
@aSquare14 You should be able to do it using a standard `<input type="checkbox">`! You can hide the actual input and have neighboring elements change visually using sibling selectors in your styles.

e.g.
[code]

[2018-02-18 19:04] aSquare14 commented on #779
Thanks ! Will work on it ! Pretty helpful.

[2018-02-18 19:04] aSquare14 commented on #811
@whyderrick  What is the progress?

[2018-02-20 04:00] aSquare14 opened #814 "Add instructions after new PRs have been merged.(StoryBook)"
As a newbie, after the merging of a PR, I was unable to run storybook. I was then advised to run `yarn install` for it to work.

Could we add a line in the wiki preferably here [https://github.com/ifmeorg/ifme/wiki/Common-Dev-Environment-Errors](url) ?

- **If Storybook doesn't work after merging of new PR .**
`yarn install` is used to install all dependencies for a project. This is most commonly

[2018-02-21 13:29] #807 closed

[2018-02-21 13:49] #788 closed

[2018-02-21 23:52] julianguyen commented on #814
Hey thanks for bringing this up @aSquare14 <3 I think you we could just add a `yarn install` step to this [document](https://github.com/ifmeorg/ifme/wiki/Design).

[2018-02-21 23:52] #814 closed

[2018-02-21 23:54] julianguyen commented on #800
Thanks for calling this out, I'm cool with updating the cursor to default. We could just remove that css property entirely and it will default to the default setting.

[2018-02-21 23:54] julianguyen commented on #805
Hey @vinzruzell I added you to our Slack! Did you get the invite? :)

[2018-02-21 23:56] julianguyen commented on #796
This is a good idea, I think we should still keep the option to permanently delete the account.

We'll have to think through what temporarily disabling it means though. Would this prevent the user from having their content visible to allies?

[2018-02-21 23:57] julianguyen commented on #798
We could add this, the tricky part is that we would also need to support the following:
* Alt text for accessibility
* Being able to block inappropriate content

[2018-02-22 02:18] aSquare14 commented on #800
Cool ! I'll do it !

[2018-02-22 02:23] aSquare14 commented on #796
I was thinking of something along the lines of deactivating the account in facebook, it won't be visible to allies, in functionality it will be similar to delete permanently, the difference being data will not be lost and can be recovered.
This might be of relevance [https://stackoverflow.com/questions/5140643/how-to-soft-delete-user-with-devise](url)

[2018-02-22 04:04] vinzruzell commented on #805
Hi maam..I havent receive yet.

On Feb 22, 2018 7:55 AM, "Julia Nguyen" <notifications@github.com> wrote:

[2018-02-22 14:32] Aseged commented on #800
Is this fixed already? If not I could have a look as i am trying to get into FOSS @aSquare14

[2018-02-22 14:34] aSquare14 commented on #800
@Aseged it is fixed! Good luck with other issues :)

[2018-02-22 21:08] Seunadex commented on #783
@nshki @julianguyen Kindly give more clarity to this, i seems not to fully get how it should be?

[2018-02-23 02:17] nshki commented on #783
Just as a public FYI, we had a discussion regarding the above question over Slack. The Figma mockup of the resources page was referenced for context.

[2018-02-23 13:15] #800 closed

[2018-02-24 11:29] aSquare14 opened #830 "Requesting for Hindi Translation"

[2018-02-25 00:26] julianguyen commented on #830
Ooh this would be awesome, is this something you would be able to work on or know someone who could work on it?

[2018-02-25 01:32] aSquare14 commented on #830
@julianguyen Even though my native language is Hindi, I think I lack the technical knowledge of Hindi to translate pages. I will definitely look around for people and get back to you.
Can we tackle this after 3rd March?

[2018-02-25 12:40] yasirazgar commented on #797
@julianguyen, I have implemented weekly_reminder in https://github.com/ifmeorg/ifme/pull/832,
Do we need daily reminder based on dosage time (morning, afternoon, night), is that needed or can we leave it.

[2018-02-25 18:47] julianguyen commented on #830
That would be fantastic, thanks so much. Also, good luck with exams!!! 🤓 📚 🎉 🍀

[2018-02-25 19:27] julianguyen opened #833 "License link missing from footer"
The license link disappeared from our footer :O
![image](https://user-images.githubusercontent.com/3010728/36645516-cee69416-1a1e-11e8-847d-27f94ac70e5e.png)
This is happening on Mac OS X Sierra on the latest build of Chrome.

[2018-02-25 21:02] aSquare14 commented on #833
I figured out the problem . The line was deleted during translation ! In en.yml also line is missing.

[2018-02-25 21:15] Seunadex commented on #833
@aSquare14  yeah, figure that out too and currently working on it, but what i'm yet to figure out is why when its written like this `license_subtitle: 'Licensed under %{licence_name}'` does not work . the `license_name` is not displayed

[2018-02-25 21:19] Seunadex commented on #833
Ok it works for the page but doesn't work for the react component on storybook

[2018-02-25 21:33] julianguyen commented on #833
Ooh thanks @aSquare14 and @Seunadex for quickly investigating this <3

[2018-02-26 02:32] julianguyen commented on #833
Quickly fixed the bug here: https://github.com/ifmeorg/ifme/pull/835
@Seunadex can address the footer React component in another pull request!

[2018-02-26 02:58] #833 closed

[2018-02-26 14:29] #782 closed

[2018-02-27 06:23] #781 closed

[2018-02-27 17:23] stevenpeniche commented on #787
I would like to claim this issue

[2018-02-27 18:12] nshki commented on #787
@stevenpeniche Take it away!

[2018-02-27 19:00] stevenpeniche commented on #787
I'm a newbie and I think I might have bitten off a bit more than I can chew. I'm going to have to drop this one. Apologies 😅

[2018-02-28 00:39] baohouse commented on #796
Wait, so those people on Facebook who I thought deleted their accounts were actually just deactivated? Ohhh... that makes me seem kind of a jerk for cleaning out my relationship with them. 😞  So would suspending the account mean you won't be able to lurk and view your allies' activity as well (since they cannot see yours)? And it probably means you should be able to read content you're the author

[2018-02-28 00:46] julianguyen commented on #796
Yeah so how Facebook works when you deactivate your account (I do this a lot lol), no one can see your profile or interact with it. You are re-activated the minute you sign back in.

So in order to achieve something similar on our platform we would have some kind of "active" flag on a User account. If it's set to false then hide that user from any ally lists, ally search, the stories feed, and any

[2018-02-28 01:13] nshki commented on #787
@stevenpeniche No worries!

[2018-02-28 13:48] CSumm commented on #806
Im currently doing a crash course on React, but would like to do this if there hasnt been any takers

[2018-03-03 04:04] son-vyas commented on #726
@baohouse @julianguyen , I would like to give this a try. We you make me understand what it is to be done, since I am a new beginner

[2018-03-03 23:12] CSumm commented on #787
Hey I worked on the sidenav. I tried to make it color coding with the theme of the website

[2018-03-04 03:59] #539 closed

[2018-03-04 04:00] #442 closed

[2018-03-04 04:01] #676 closed

[2018-03-05 02:31] nshki opened #840 "Refactor classes and methods that are too long"
From #839, many classes and methods were wrapped with `# rubocop:disable MethodLength` and `# rubocop:disable ClassLength` to temporarily make Rubocop happy. Those are all great indicators of refactoring opportunities.

Let's break those classes and methods up into smaller pieces. Could be a good opportunity to apply [DHH's controller development methodology](http://jeromedalbert.com/how-dhh-organ

[2018-03-05 02:48] nshki opened #841 "Rename some foreign keys and review database indexes"
This is spinning off of #839 and #772. Many tables in the database are using foreign keys such as `userid`, `groupid`, and the like. While this works, it's definitely out of the ordinary as @aleciavogel mentioned, so let's rename those to look more like `something_id`. I think this would potentially remove the need for `foreign_key: ___` in many models as well.

Additionally, let's review what col

[2018-03-05 02:51] nshki commented on #772
Closing this issue, please refer to #839 and #841 (which captures remaining tasks) for further progress on refactoring!

[2018-03-05 02:51] #772 closed

[2018-03-05 04:10] julianguyen opened #843 "Get rid of JSHint in Rails JS assets and use ESLint instead"
Let's use the same linting tools for both the Rails JS assets and client-side React code!

Update docs: https://github.com/ifmeorg/ifme/wiki/Frontend-Practices

[2018-03-05 14:44] aSquare14 commented on #779
One Question ! When I click on it, what should pop up on the radiobutton ? A tick or it should look like CheckBoxRadioChecked?

[2018-03-05 14:47] nshki commented on #779
@aSquare14 It should look like `CheckBoxRadioChecked` you're exactly right.

[2018-03-06 00:23] stefannibrasil commented on #840
I and @aSquare14 are working on #795 and I did a small refactor on the `controllers/ominiauth_callbacks_controller.rb` and on `model/user.rb`. We are planning to open the PR this week.

But I would like to work more on refactoring others too when we finish this one :)

[2018-03-06 14:37] aSquare14 commented on #779
Hey ! Radiobuttons and Checkboxes are different! You asked me to use a checkbox but issue is named radiobutton ! Which one should I use ?
also I got the basic thing working !

[2018-03-06 14:42] nshki commented on #779
@aSquare14 It should look like the `CheckBoxRadio` mocks! Please see the original screenshot as well if you aren't sure which component you should be building for this issue.

[2018-03-06 14:52] aSquare14 commented on #779
Okay ! From the original mocks, my understanding is that I should be
building a radiobutton and not a check box !  On it!

On 6 Mar 2018 20:13, "Nishiki Liu" <notifications@github.com> wrote:

[2018-03-06 15:04] aSquare14 commented on #779
https://github.com/ifmeorg/ifme/issues/780
Since the above is a checkbox , I think this issue requires a radio-button ! Hence, will have to use a `<input type="radio">` .

[2018-03-06 15:09] nshki commented on #779
@aSquare14 Ah you know what, now that I go back and look at the Figma documents, I definitely made this unclear. If you could, would you be able to have the component generate both a checkbox and radio based on a prop that gets passed?

[2018-03-06 15:28] aSquare14 commented on #779
Yes , I can do that ! On it !

[2018-03-08 18:33] julianguyen commented on #766
@dbarner1 How is this coming along? :)

[2018-03-09 03:02] keitheous commented on #840
I would like to have a go at some of these. Let me get the system up and running, then I'll dive into this. Thanks =)

[2018-03-09 05:50] julianguyen commented on #780
@ariperez how is this coming along?

[2018-03-10 15:45] ariperez commented on #780
Julia...apologize for the delay, I wanted to finish it up before I took off
on vacation last week, but that didn't happen. Working on it now and will
have an update by end of weekend.

On Fri, Mar 9, 2018 at 12:50 AM Julia Nguyen <notifications@github.com>
wrote:

[2018-03-10 17:09] nshki opened #846 "[Component] Heading(s)"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-03-10 17:11] nshki opened #847 "[Component] Blockquote"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-03-10 17:12] nshki opened #848 "[Component] Pagination Bullets"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-03-10 17:12] nshki opened #849 "[Component] Avatar"
## Overview

We are looking for an awesome human to build this out as a React component, preferably within Storybook. You can view and get details (colors, dimensions, export SVGs, etc.) by visiting [the Figma designs](https://www.figma.com/file/RTjPkO0nSuJcMqqWLjeVdEof/if-me?node-id=65%3A618) and creating a free account.

This is part of the app redesign (#691).

## Screenshot from [the Figma doc

[2018-03-10 17:45] GeoDoo commented on #849
@nshki Hi! I think I could possibly help out your cause! Could I tackle this one here? I think I need ot follow the CONTRIBUTING guide in order to get started, right?

[2018-03-10 19:44] julianguyen commented on #849
Hey @GeoDoo that would be great! Could you email as at join.ifme@gmail.com so we can add you to our Slack? Thank you!

[2018-03-10 19:59] GeoDoo commented on #849
@julianguyen Already did! Check it out!

[2018-03-11 12:08] varshika15 commented on #830
Hey I am from India! I would love to work on this issues.

[2018-03-11 15:38] nshki commented on #849
Take it away @GeoDoo!

[2018-03-11 15:40] GeoDoo commented on #849
@nshki Thanks, but I cannot assign myself to it! Are you sure I am part of the organization? :)

[2018-03-11 15:41] nshki commented on #849
@GeoDoo That's not something I have control over unfortunately! @julianguyen can you add him to the org when you have time? :D

[2018-03-11 15:42] GeoDoo commented on #849
Haha... just saw the invitation!! Assigned already!

[2018-03-12 01:54] dbarner1 commented on #766
Oh boy. Sorry, can't get to this because of crazy bandwidth issues. :/ :/ :/

Hope to get back to this in a few months. Sorry :(

On Thu, Mar 8, 2018 at 1:33 PM, Julia Nguyen <notifications@github.com>
wrote:

[2018-03-12 08:09] aSquare14 opened #852 "When user is not logged in, cursor should be set as default or a message should pop up, "You must be logged in to use this feature""
When I clicked on the "if-me" logo without logging in, I felt like it was supposed to do something. It just acts as a static logo when not logged in! Should we make this clear to the user ?
![whatsapp image 2018-03-12 at 13 43 06](https://user-images.githubusercontent.com/22938709/37272057-7319bf9e-25fb-11e8-8342-4286b9c318e1.jpeg)

[2018-03-12 09:05] varshika15 commented on #847
I am willing to work on this issue!

[2018-03-12 10:21] aSquare14 commented on #846
I'd like to claim this issue :)

[2018-03-12 13:44] nshki commented on #787
@varshika15 Appreciate it! It seems like @CSumm is already working on this, though, so perhaps you two could coordinate and tag team this.

[2018-03-12 13:45] nshki commented on #847
@varshika15 Take it away!

[2018-03-12 13:45] nshki commented on #846
All yours @aSquare14!

[2018-03-12 17:30] yasirazgar commented on #852
@aSquare14 I think its is a valid behavior, usually on clicking the logo user will be directed to the root path. Eg. If the user is in About/Resources page on clicking the logo user will be sent to the home page.

I thought of removing the link if the user is already in home page, but if you see all the links in the app, they behave in the former way.

What do think ? let me know your thoughts.

[2018-03-12 17:50] haleymnatz commented on #796
Hey @julianguyen, @baohouse, and @aSquare14, is this feature vetted and ready to be implemented? If so, I'd be happy to work on it. :)

[2018-03-12 18:01] CSumm commented on #787
Hi its nearly done but I can have you check it out and see if you can improve it. Im always accepting help. Contact me directly and I can send you the code Im working with.

[2018-03-12 18:03] CSumm commented on #787
Or via Slack (which might be easier)

[2018-03-12 18:55] aSquare14 commented on #852
Yes, you're right ! I am closing the issue :)

[2018-03-12 18:55] #852 closed

[2018-03-12 21:22] anGie44 commented on #848
i'd like to claim this issue! how can i join & contribute? sent an email to the join.ifme

[2018-03-12 21:56] cartothemax commented on #848
Hey @anGie44! 👋

Thanks for jumping on this. Be sure to take a look at the contributing doc if you haven't https://github.com/ifmeorg/ifme/blob/master/CONTRIBUTING.md

And I am guessing that someone will get back to you shortly regarding getting added to the Slack channel. Might just be a little delay 😃

In the mean time though feel free to get going on this work and feel free to ask any questions

[2018-03-13 03:56] nshki commented on #848
@anGie44 Great, take it away! I echo what @cartothemax says as well! I believe @julianguyen will add you as a collaborator/member so you can be assigned this task soon. :) Feel free to start though!

[2018-03-13 05:44] Bennet11 commented on #840
Hi there, i would also like to try and help on some of these. Is someone already assigned to this?

[2018-03-13 05:48] Bennet11 commented on #805
@julianguyen I can also contribute to translating files into Filipino.

[2018-03-13 13:38] nshki commented on #840
Hi @Bennet11, both @stefannibrasil and @keitheous are working on some at the moment. Perhaps you all could coordinate! We have a Slack channel, which may be the best way to communicate with other contributors. If you'd like to be a part of it, please email join.ifme@gmail.com.

[2018-03-13 20:37] dhaval0894 commented on #785
Hi @nshki, @julianguyen! Is this still open? I can take this up if @julianguyen haven't started on this :)

[2018-03-13 20:45] julianguyen commented on #785
@dhaval0894 I actually started working on it in this branch `moment-card`, haven't gotten a chance to finish cause I've been super busy, but you're totally welcome to take over it. The only think I have left to do is add the tags.

[2018-03-14 03:34] keitheous commented on #840
Awesome! Lets get in touch on slack so we do not git conflict. Will you notify me when you're on slack @Bennet11 ?

I have plans to work with @tsara27 this Sunday on some of the controllers here.

[2018-03-14 03:40] Bennet11 commented on #840
@nshki Sorry I was not able to respond immediately. I was able to get in touch with Julia last night and she already invited me to join the slack channel

@keitheous that's great to hear! I'm on slack right now my name there is @JohnV

[2018-03-14 04:53] dhaval0894 commented on #785
Thanks, @julianguyen. I'd be glad to.

[2018-03-15 01:20] aSquare14 opened #854 "Incorporating a Bot in Slack with a welcome message."
As discussed with @baohouse , we would like Slack to send a welcome message to the newly joined members welcoming them and asking them to introduce themselves. Something like this !
![screenshot from 2018-03-15 06-48-00](https://user-images.githubusercontent.com/22938709/37439172-d53a3b54-281c-11e8-9ffa-d19c4362442f.png)
We'd like to build a slack bot . Lots of tools are available online !

[2018-03-15 02:15] aSquare14 commented on #779
@nshki  Code is getting messy . Can I create two components in this PR ?
1. Radiobutton
2. Simple Checkbox
Because I have to use different logic for both of them. Radio is mutually exclusive while user can select as many checkboxes he/she wants.

[2018-03-15 02:17] nshki commented on #779
Yep, that sounds good to me!

[2018-03-15 16:33] camillevilla commented on #854
@aSquare14, I love this idea!

I have one suggestion:
Contact number or "real name" can be sensitive information and they aren't pre-requisites for contributing to the project. Instead, it might be good to ask folks to make sure their Slack username reflects their GitHub username.

It just so happens that a colleague and I started building a Slackbot with Node this week!
We started out with [this

[2018-03-15 16:40] johnsenpeder commented on #854
[botkit](https://github.com/howdyai/botkit) might be useful... Makes making a bot fairly easy :+1: (I've previously used it to make a parking lottery bot for my office),

[2018-03-15 16:43] aSquare14 commented on #854
Awesome !
It's great you're working on it :)
I was thinking of maybe using hubbot framework but the way you're doing it sounds better to me  !
https://hubot.github.com/
https://github.com/hubotio/generator-hubot

[2018-03-15 16:49] aSquare14 commented on #854
Botkit sounds great !

[2018-03-15 23:34] camillevilla commented on #854
@aSquare14 I just wanted to clarify that the Slackbot I'm working on is for my day job, not ifme. Just wanted to share these resources for anyone who wants to pick up this open task! 😅

[2018-03-16 01:59] aSquare14 commented on #854
Oh. All the best with that :)
Could we work in future on this? I would love to make a bot. I'm afraid I can't start right away as I have taken up two other issues to resolve.

[2018-03-16 07:47] aSquare14 commented on #854
@pederjohnsen Can I help you with it? I've never worked on it before and really want to learn how to build this!

[2018-03-16 16:42] prateksha commented on #848
@nshki Just wanted to clarify something. When we click/hover on Pagination 2 and 3 , should it change state to look like 1?

[2018-03-17 05:31] #846 closed

[2018-03-17 05:57] HeyStevenXu commented on #786
Hey @f3mshep , just wanted to ask if you were still working on this component! I can work on this if you've been busy- just let me know :)

[2018-03-17 14:07] amarpathak commented on #777
@nshki  Is the Issue Still Open ? Its seems like  more than one month has passed and Its not merged . So If possible can I take this issue ?

[2018-03-17 16:57] pederjohnsen commented on #854
@aSquare14 sure!

I'd like a more detailed description of what the bot should do etc before I start any work on this though :thinking:

[2018-03-17 19:46] aSquare14 commented on #854
@juliangyun What are your views on this?  :)

[2018-03-18 08:03] tsara27 commented on #841
I am sorry for the delay. If you want to see the progress, you can see on my forked branch.
https://github.com/tsara27/ifme/tree/issue-841-rename-foreign-keys

[2018-03-18 14:37] nshki commented on #841
@tsara27 Awesome, thanks! When it's ready for a comprehensive review, please open a PR and assign me and Julia to be reviewers. :D

[2018-03-18 14:40] nshki commented on #777
@amarpathak Hi there! @trishla08 is currently working on this in her PR. If there is any more work to be done, you could perhaps sync with her.

[2018-03-19 17:52] #849 closed

[2018-03-20 03:32] aSquare14 commented on #780
@ariperez  Are you working on this? If not, can I take it up ?

[2018-03-20 14:37] ariperez commented on #780
@aSquare14 , I'll go ahead and assign to you.  Took on more than I can handle at this point. :(

[2018-03-20 14:39] aSquare14 commented on #780
@ariperez No worries. Thanks!  :)

[2018-03-20 18:28] stebbins commented on #567
added `admin` column to User

[2018-03-20 18:29] stebbins commented on #574
Added `banned` column to User

[2018-03-20 18:42] stebbins opened #861 "Admin: Report dashboard"
Part of #811
Report dashboard
- View reports
- Take action on reports (ignore, message reporter, message poster, delete post, ban poster)
- History of past reports by user

[2018-03-20 18:47] stebbins opened #862 "Admin: Email notifications"
Admin actions email users with status updates, responses to reports, etc

[2018-03-20 18:47] stebbins opened #863 "Report model"
What should the report model look like?

My first thought:
[code]

[2018-03-21 02:57] baohouse commented on #574
@stebbins Is there a PR for this?

[2018-03-21 02:58] baohouse commented on #567
@stebbins Is there a PR for this?

[2018-03-21 06:21] baohouse commented on #783
@nshki Is it the case that the tags and the author are optional, and that it's possible to have:
1. both visible
2. tags visible only
3. author visible only
4. neither visible

[2018-03-21 07:27] Seunadex commented on #783
From what I'm aware of, it is either the tags or the author which is the only difference between the two components, @nshki can do more justice to that.

[2018-03-21 15:26] stebbins commented on #863
@alvarocasadoc thoughts?

[2018-03-21 15:29] stebbins commented on #574
@baohouse Our thoughts were to complete the entire project on [this fork](https://github.com/stebbins/ifme) and then PR once the whole thing is completed. Do you think we should do PRs incrementally instead? .efinitely open to feedback.

[2018-03-21 15:29] stebbins commented on #567
See conversation on https://github.com/ifmeorg/ifme/issues/574

[2018-03-21 15:33] alvarocasadoc commented on #863
I think that's a good design. Maybe we could keep the comment_id also optional for letting users report others from their profiles (just in case the reportee deleted the comment or any other problem happens).

Also, I think maybe `comment` will do well to avoid repeating "report" when accessing the field (i.e: `@report.comment` vs `@report.report_comment`)

[2018-03-21 15:36] stebbins commented on #863
Agreed, that sounds good. I'll update the OP's layout.

[2018-03-21 15:38] baohouse commented on #574
@stebbins Whenever I see an issue closed, it's either because the task is complete and the feature is in production, or the issue is a duplicate and/or not to be worked on. I just wasn't sure which one was the case when these issues were closed.

[2018-03-21 15:41] stebbins commented on #574
@baohouse Fair enough, I will keep them open in the future to avoid confusion. I can track completion via the project board anyways - once it gets moved into production I'll close them all unless you have any objections :smiley:

[2018-03-21 18:13] alvarocasadoc commented on #863
Yes! I think that will work well. We could also add an integer field named "state" to handle (pending, active, archived, solved) instead of a"read" column if we want to handle more statuses.

We could even create a new database table `Status` where we can save all the different status codes such as "active", "archived", etc. and replace that `read` or `status` field for a reference to this table.

[2018-03-21 18:34] GeoDoo commented on #806
@CSumm Are you working on this? Do you need any help?

[2018-03-21 18:55] CSumm commented on #806
Hi @GeoDoo, I have the script written but would like to get some help refactoring it to include annotations and such. I can send you what I have so far and maybe we can work on it together. It functions its just needs to be written to annotate props and a few fixes here and there.

[2018-03-21 18:56] CSumm commented on #806
My apologies, i thought this was the sidenav issue. You can do this one.

[2018-03-21 21:14] stebbins commented on #863
Excellent, I agree & will implement.

[2018-03-22 14:17] stebbins commented on #863
Hi @alvarocasadoc,
I came across some practical issues when implementing a `Status` table:
1. The data in `Status` and the meaning of `status_id` in `Report` is opaque and could cause understanding issues for future devs
2. The data in `Status` doesn't persist and needs to be manually entered in each environment (this came up in testing)
3. The data in `Status` seems awkwardly removed from `Report

[2018-03-22 16:38] stebbins commented on #863
I'm also going to rename `comment` to `note` in `Report` in order to avoid collisions when joining `Comment`

[2018-03-23 07:38] alvarocasadoc commented on #863
I think the enum approach is really clever! Also, renaming comment to note is a great decission 👍 I'll check the project out this weekend because I'm really busy at college and I'll keep you updated. Great work!!!

[2018-03-25 19:37] alvarocasadoc opened #870 "Reports: implement a 'report user' button on user profiles"
This includes:
- Creating a 'report user' button that shows a modal with a form for adding additional notes.
- Submitting and saving the report to the database through a new action: `allies_controller#report`. (#14)
- Mailing the reported user to notify them that they've been banned and their case is being reviewed with a new mailer. (#873)

[2018-03-25 19:42] alvarocasadoc opened #871 "Reports: add a 'report' button to comments"
This includes:
- Creating a 'report' button that shows a modal with a form for adding additional notes.
- Submitting and saving the report to the database through a new action: allies_controller#report.
- Mailing the reported user to notify them that they've been banned and their case is being reviewed with a new mailer.

[2018-03-25 20:03] alvarocasadoc commented on #863
I've been wondering about how are we going to translate all status messages.

I thought before of the `ReportStatus` database table because it could have a column for each language, but this would mean to leave enum approach aside.

I also think we could stick with the `integer` field and convert it with a helper method into text so the only data stored in the database is a number and the text is

[2018-03-25 21:59] stebbins commented on #863
Great point! I think one of the advantages of enum is that the data stored is already an integer, so I think that the helper method to convert it into text could absolutely be an effective way to provide internationalization. We could also loop in Julia or someone else to give another perspective on it - I'm sure concerns like this have been brought up before on the project, since it's already fai

[2018-03-26 02:49] timorthi commented on #863
The [Rails i18n documentation](http://guides.rubyonrails.org/i18n.html#translations-for-active-record-models) has some good examples for this. Based on the docs and [this example](https://stackoverflow.com/a/30361971/3321836), it looks like something like the following will work:
[code]
[code]
To get the translation:
[code]

[2018-03-26 17:45] stebbins commented on #863
@timorthi That looks great - thanks for the input!

@alvarocasadoc Will the above solution work for you? I think it would be wise especially because it will stay consistent with ifme's existing i18n support.

[2018-03-26 19:16] alvarocasadoc commented on #863
Yes!!! I think @timorthi's advice is really the way we should go!

[2018-03-27 22:42] baohouse commented on #783
@nshki For this component, is author and tags mutually exclusive, or can both exist simultaneously?

[2018-03-28 03:32] nshki commented on #783
@baohouse In the designs I only used the tags for external resources and authors for internal ones, but it makes sense to be able to have both tags and authors co-exist. Sorry about the late reply, by the way!

[2018-03-28 04:17] kedpak commented on #789
Is this issue still up? I would like to work on it.

[2018-03-28 10:32] alvarocasadoc opened #873 "Reports: writing a notification email for banned users"
We are currently working on the reporting users feature and we are sending an email to the reported user. Right now I've written this message:

"Your account has been suspended due to behaviour not allowed in our Terms and Conditions. We are currently revising your case and will keep you updated."

I think we should link "Terms and Conditions" to the doc page and we could also give users a way to

[2018-03-28 21:15] SoonaMata commented on #787
@CSumm I can definitely try to help you if you want to send it to me! In the meantime I'll be working on it as well!

[2018-03-31 01:22] baohouse opened #874 "Implement lazy-loading Avatar component"
- [x] Enhance Avatar React component (#849) with [react-lazyload](https://github.com/jasonslyvia/react-lazyload)
- [x] Implement Avatar React component into _if me_ application
- [x] Observe in production that uploaded files are correctly pulled from Cloudinary
- [x] Observe in production that local files are correctly pulled from Cloudinary

[2018-03-31 02:21] stefannibrasil opened #875 "Error test #UserCreatesAMedication"
After opening the PR #856, CircleCI started these showing 2 errors:  `Failure/Error: page.execute_script "#{element}[0].scrollIntoView(false)"`

It looks like the element hasn’t loaded yet by the time scrollIntoView is invoked. We probably need to assert the element exists first before we call scrollIntoView on it.

[2018-04-01 02:55] CSumm commented on #787
Hi! I'm working with @GeoDoo on my version of it. We could all assign a time to work on it. The major issue I have is with flow annotation. Send a message on slack and I can send you what I have so far.

[2018-04-05 20:03] stefannibrasil opened #879 "Script to update env files"
The PR #856 adds the option of Facebook login, but now we need to write a script to update env files for the Facebook fields.

[2018-04-06 07:35] DomitriusAnthony commented on #780
Would like to take this on if I can!

[2018-04-06 07:36] DomitriusAnthony commented on #786
Would love to help!

[2018-04-06 07:39] aSquare14 commented on #780
Go ahead!  I'm presently working in something else :)

[2018-04-06 07:40] DomitriusAnthony commented on #780
Thanks @aSquare14 ! You're throwing me my first PR :)

[2018-04-07 03:15] Seunadex commented on #783
This is completed and can be closed now

[2018-04-07 03:16] #783 closed

[2018-04-08 01:49] #874 closed

[2018-04-10 09:59] 9jaswag commented on #873
Hi @alvarocasadoc. I'd like to work on this issue

[2018-04-10 10:25] Seunadex commented on #789
@kedpak its yours

[2018-04-11 19:28] Seunadex commented on #806
Hey @GeoDoo, how is going with this issue?

[2018-04-12 19:38] baohouse commented on #691
![screen shot 2018-04-12 at 12 31 06 pm](https://user-images.githubusercontent.com/4228012/38699645-73d489f4-3e4d-11e8-8d6d-f2b619ca93c5.png)

Worth noting on tablet, the UI component interaction is different than mobile. So tablet is in between mobile and desktop.

[2018-04-13 00:10] baohouse opened #883 "Use API json to generate flow types"
https://github.com/zth/json-to-flowtype-generator

In order to improve code quality and reduce the pain of having to manually create and update flow types based on _if me_'s API, we can use this tool to generate the flow types.

We just need a way to generate the JSON though. Perhaps there is some kinda of Rails API documentation tool out there?

[2018-04-13 00:12] baohouse opened #884 "Generate API documentation"
It would be useful to have API documentation using a generator.

This will also be useful for #883.

[2018-04-13 02:18] baohouse opened #885 "Use IETF language tag throughout code"
I noticed **ptbr** being used, which should be **pt-BR** according to IETF language code.
https://en.wikipedia.org/wiki/IETF_language_tag

We should use well-known standards to refer to languages, especially in the future when we need to support locale fallbacks.

Part of this refactoring could also be to have the `config/locales` folder split up into their respective IETF subfolders, so you would

[2018-04-16 01:53] #529 closed

[2018-04-17 14:44] baohouse commented on #885
<img width="262" alt="screen shot 2018-04-17 at 7 41 56 am" src="https://user-images.githubusercontent.com/4228012/38877208-06406704-4213-11e8-81a0-b9fbfc880bb4.png">

This seems to be the case when the I18N export to JavaScript occurs, though we have some inconsistency. Notice pt for Portuguese. There's the non-standard "ptbr" versus IETF "pt-BR".

[2018-04-24 20:32] nshki commented on #840
@rhiroyuki Go for it!

[2018-05-07 14:31] GeoDoo commented on #806
hey @Seunadex sorry for holding it so much time! I was super busy! I removed my face hahaha

You can take it if you want! Sorry again for the delay

[2018-05-08 16:44] ishields commented on #555
I'm running into this issue as well.  How was it resolved?

[2018-05-10 11:41] varshika15 commented on #847
Yes take it away!

On Thu, 10 May 2018, 4:52 p.m. prateksha_u, <notifications@github.com>
wrote:

[2018-05-10 20:06] andy5995 commented on #363
Time to close this? The log shows an associated PR was merged, but is this ticket complete?

[2018-05-13 23:41] baohouse commented on #795
Still need to add if-me.org to the domain whitelist in the Facebook app. @stefannibrasil has control over it I believe.

[2018-05-14 18:53] aamarill commented on #639
Hello,

I am looking to make my first open source contribution. Is this a good issue to take on?
If not, feel free to point me other issues that might be good for someone that's new to open source.
Thanks!

[2018-05-14 19:18] baohouse commented on #639
@aamarill Feel free to take it on.

[2018-05-14 22:30] baohouse commented on #639
Yeah, that is correct, just change graph's font to Lato. I believe we're using chart.js, so if there's anything in the documentation there that mentions overriding base font, that's where I'd look, because I think the charts are rendered using canvas element I think, so CSS wouldn't really work.

[2018-05-14 22:43] aamarill commented on #639
@baohouse thanks so much for the clarification, that helps me out a ton.
So, we want to change the font of the "Moments" graph only correct (vs. all graphs on the site)?

[2018-05-15 00:54] baohouse commented on #639
There's only one graph, which is in "Moments", so technically, changing it _is_ changing all graphs on the site, lol.

[2018-05-15 16:32] aamarill commented on #639
@baohouse lol! ok, so I think I figured it out. There's two ways of doing it. Changing all fonts in a "global" way via something like `AllChart.defaults.global.defaultFontFamily = 'lato';` or by individually setting the properties of the graph when building it like

[code]

Is there a preferred way? Many thanks!

[2018-05-15 18:31] baohouse commented on #639
@aamarill Let's do global way!

[2018-05-16 15:29] aamarill commented on #639
Hey @baohouse thanks for all of your help so far!
I am pretty much done and are running tests. Do you have any suggestions on where and/or how it would be best to create the test for the new font? Is a test necessary for this change?

Any insight is much appreciated.

[2018-05-16 20:42] baohouse commented on #639
@aamarill Documentation was old. The repo was moved a few months ago.

[2018-05-16 20:46] baohouse commented on #639
Thanks for your work @aamarill! You're welcome to join the ifme slack community. Would you like to join?

[2018-05-16 20:59] #639 closed

[2018-05-16 22:37] aamarill commented on #639
@baohouse I would love to be part of the slack community! If you have any other newbie-friendly issues, feel free to point me to them.  Unfortunately, I haven't used React before, so it'd be best to avoid those for now 😄. Otherwise, I'll start looking to see what else I can help with.

[2018-05-17 03:01] baohouse commented on #639
@aamarill Email me at 4228012+baohouse@users.noreply.github.com and I'll invite you.

[2018-05-17 14:27] aamarill commented on #639
@baohouse I got this
<img width="687" alt="screen shot 2018-05-17 at 7 26 48 am" src="https://user-images.githubusercontent.com/29871004/40183872-b6c3cca4-59a3-11e8-83c1-046b7432d9fa.png">

[2018-05-17 15:28] baohouse commented on #639
code@baohouse.net

[2018-05-18 15:16] andy5995 commented on #806
@nickeyvee , thanks for the offer. I see you made it 11 days ago. Are you still interested? We're a little behind here but that happens from time-to-time. :)

[2018-05-19 17:39] aamarill commented on #127
@andy5995 Is this still needed? @francisbrito did you ever hear back from someone?

[2018-05-19 17:47] francisbrito commented on #127
@aamarill no, I haven't.

I'm still willing to contribute if it hasn't been done yet.

[2018-05-19 17:53] aamarill commented on #127
@francisbrito sounds good!
Hopefully @andy5995 or @baohouse can just quickly confirm this is still needed.
Best of luck!

[2018-05-21 14:44] aamarill commented on #563
@andy5995 I can work on this. Do we know, roughly, how we want this implemented? thanks!

[2018-05-21 16:49] andy5995 commented on #127
@francisbrito I see you inquired several months ago. So sorry that you didn't receive a response. I'll post this ticket in the Slack chat room and request that some specifics get posted here.

[2018-05-23 02:47] LachlanRidley commented on #786
Hi @nshki, I'm having a go at making this component and I was just wondering at what stage I should make a pull request? Is it better to do it early so that I can get feedback or should I wait until it's done to my satisfaction? Thanks :)

[2018-05-23 02:50] nshki commented on #786
@LachlanRidley Feel free to submit a pull request whenever you'd like! I generally only review PRs when the author(s) feels that it's done though. :)

[2018-05-23 02:56] LachlanRidley commented on #786
Perfect, thanks :)

[2018-05-23 22:32] baohouse commented on #795
We did a merge into production, but I had to disable and revert the PR #856 because of an authorization flaw in which logging in gave you access to other people's posts. We'll need to investgate the cause of that and perhaps use a staging environment for testing.

[2018-05-24 06:52] LachlanRidley commented on #786
@baohouse, thanks, I've done that

[2018-05-24 07:44] #847 closed

[2018-05-28 10:34] alekpentchev opened #899 "404 in installation.md"
Hello!

I have spotted an error in INSTALLATION.md file in PostgreSQL installation section.

1. What about is the error?
After clicking the link to instructions on creating new user (just under the headline) the user sees 404 error.

2. How to reproduce it?
Click on "instructions" link.

2. What is expected?
Link should navigate to an existing page.

Comment:
I have searched for common errors (whe

[2018-05-30 15:14] andy5995 commented on #127
No, not yet. The admin has been on sick leave.

Are you on the Slack chat workspace or would you like an invite?

[2018-05-30 15:58] baohouse commented on #795
If there's anyone who can look into the authorization issue, as I don't have much experience in the whole backend architecture.

[2018-05-30 17:47] camillevilla commented on #899
hi @alekpentchev! Thanks for reporting this error. That should link to this page:
https://github.com/ifmeorg/ifme/wiki/Common-Dev-Environment-Errors#postgresql-bad-connection

We used to store that information in a `COMMON_ERRORS.md` and moved it over to a wiki page.

Would you be interested in submitting a PR to change the link?

[2018-05-31 05:12] camillevilla commented on #14
🎉Excited to announce that our [Rails Girls Summer of Code](https://railsgirlssummerofcode.org/) team, Team Rubies (@aSquare14 and @prateksha) will be working on this feature this summer. 🎉

@alvarocasadoc and I will help them with designing and implementing this feature. We look forward to collaborating with the community to deliver this feature to empower our users to create safe spaces.

I'll be

[2018-06-01 13:55] francisbrito commented on #127
Currently I'm not part of the project's Slack. Would love to be, if possible

[2018-06-01 16:28] prateksha commented on #780
@nishki Is anyone working on this? If not, I would like to work on it.

[2018-06-01 16:42] nshki commented on #780
@prateksha I'm not quite sure if anyone's actively working on the issue at the moment. If @DomitriusAnthony can confirm within a few days that would be ideal, but if not, you can go ahead!

[2018-06-01 17:55] andy5995 commented on #127
I sent you an invite using the email listed on your GitHub profile. Actually I tried that last week. Is it in your spam folder by chance?

[2018-06-02 19:31] vildevev commented on #811
Hi, I'm willing to work on this issue @camillevilla

[2018-06-02 21:58] camillevilla commented on #811
@vildevev did a great job of starting this refactor. We now have some shared examples (`let` and `before`) blocks that folks can try using.

Other ideas for refactoring:
- [ ] move additional variables into shared examples with `let`
  - [ ] `mood`
  - [ ] `category`
  - [ ] `moment`
  - [ ] `strategy`
  - [ ] `new_allies`
- [ ] extract helpers to another file (e.g. make creating + sign_in user a

[2018-06-04 13:48] camillevilla opened #901 "Create admin user privileges re: blocking and reporting"
This ticket relates to #14

- We need to create the ability to make a User an admin account
- Store the information as a column in the database
- New admins are created via the rails console by maintainers with access to the production server
- Add documentation (How do you become an admin? How is an admin added? Might split this off into a different ticket later).

See #861 for the report managem

[2018-06-04 13:56] camillevilla commented on #861
More info from the original ticket:
- Any “admin” user and can go in and open a panel and block users
  - Admin users also see the emails of the users, so that they can email them for any follow-up
  - Make the link to this dashboard obvious in the header. I suggest maybe a smaller header above the current one that appears just for admin users
  - Also add notification badge to the header link if

[2018-06-04 14:07] camillevilla opened #902 "Add code of conduct for groups / allies"
Part of #811

We currently have a code of conduct for our contributor community, but we don't have one for users. This is a requirement to deliver #811, but we definitely want to reach out to experienced community managers for advice on this.

This ticket involves:
- [x] writing a code of conduct
- [x] code of conduct that will appear and/or get linked to when groups are created or joined
- [x] ad

[2018-06-05 08:19] alekpentchev commented on #899
Hi! Yes, sure, I will create a PR in a few minutes.

[2018-06-09 03:56] knittingdev commented on #840
I would love to tackle `controllers/moments_controller.rb`

[2018-06-09 03:59] nshki commented on #840
@knittingdev Thanks so much! Go for it!

[2018-06-15 04:20] Transvivor commented on #899
Has this issue been resolved? If It has which from my investigating it looks like it has. We should resolve it.

[2018-06-15 04:31] Transvivor commented on #873
Something to add to this. It might be nice for the user to have a chance to see the rules when they are first signing up or to have them visually available and simplified somewhere.

As for the email:

We at if me, value the safety of the community in which all users can share their stories safely. We noticed activity on your account that does not align with our Terms & Conditions. Due to this you

[2018-06-15 04:34] Transvivor commented on #799
@f3mshep Love the top on, the teal with the underline. It makes it stand out and is the most colorblind friendly.

[2018-06-15 16:17] alvarocasadoc commented on #873
Definitely that's a good idea. We should add the rules on the sign up page. I'm adding that to issue #902 right now.

[2018-06-15 17:22] #899 closed

[2018-06-18 05:57] aSquare14 opened #906 "Testing issue."
This is for testing purpose

[2018-06-18 05:59] aSquare14 commented on #906
@prateksha

[2018-06-18 05:59] #906 closed

[2018-06-30 22:00] stvtortora commented on #841
@nshki  I noticed that their hasn't been an update on this issue in a while. Is it currently being worked on? If not, I'd like to! :)

[2018-07-02 03:14] nshki commented on #841
@stvtortora As far as I know, it doesn't seem like it's being actively worked on at the moment. Feel free to take it!

[2018-07-03 04:15] aSquare14 commented on #779
I have restarted working on it !

[2018-07-04 17:53] aSquare14 commented on #786
I'm taking this up ! :D

[2018-07-05 06:01] #785 closed

[2018-07-06 08:55] prateksha opened #912 "Storybook not working due to latest commit"
- [The latest commit modified the Stories.helper.jsx file.]( https://github.com/ifmeorg/ifme/blob/729ec2c2025a631ed1fcbdd9293223d67cab801b/client/app/stories/Stories.helper.jsx)
- The following lines were removed
`export function
withSource(el: Node) {
  return withInfo()( () => el);
}
export {
   SingleColumnLayout,
 };
export default withSource;`
This lead to storybook not finding the function "

[2018-07-07 00:17] baohouse commented on #912
withSource is no longer required. It has been removed from all *.stories.jsx files.

https://github.com/ifmeorg/ifme/blob/729ec2c2025a631ed1fcbdd9293223d67cab801b/client/app/stories/Avatar.stories.jsx

[2018-07-07 02:19] #912 closed

[2018-07-07 05:35] aSquare14 commented on #219
Can I work on this @julianguyen  ?

[2018-07-09 11:39] jaspervanbrian commented on #840
Can I contribute on this? Willing to work!

[2018-07-09 11:41] nshki commented on #840
@jaspervanbrian Absolutely. :D Might need to loop @julianguyen in to get you in on the Slack channel.

[2018-07-10 06:51] aSquare14 commented on #870
We're starting with this @alvarocasadoc @camillevilla !

[2018-07-12 04:06] jaspervanbrian commented on #840
Can I claim this issue? I'm working on it now

[2018-07-12 10:53] aSquare14 commented on #870
@alvarocasadoc  Can you give us some idea on how to add modal ? We are struggling with it ! :P

[2018-07-12 11:42] nshki commented on #840
@jaspervanbrian Of course. I unfortunately am not able to assign you directly, but once you're on the Slack channel and get added as a member to the repo, you'll be able to be assigned.

[2018-07-12 14:03] jaspervanbrian commented on #840
I'm on the Slack channel now hehe

[2018-07-12 18:53] julianguyen commented on #840
@jaspervanbrian Just added you to our ifmeorg team so after you accepted the invite, you can assign yourself to the task! But yes feel free to take on this task :) Thanks for your interest!

[2018-07-12 23:13] jaspervanbrian commented on #840
thanks y'all 😃

[2018-07-13 05:55] alvarocasadoc commented on #870
A modal is simply an interface component that displays content and temporarily blocks interactions with the rest of the view. You can handle this by simply creating a div that toggles its visibility based on a user interaction like clicking a button or a link. This can be easily done with a div and a button that triggers this visibility toggle function.

Here you can find a basic example of this b

[2018-07-13 11:18] aSquare14 commented on #870
Oh okayy. For now I am not making a react component. Will first figure out the back-end and how to integrate this modal form with back-end. Later on maybe make a React Component !

[2018-07-16 11:55] AllanOcelot commented on #691
Colourwise I'd highly advise against using the red colour so much, it's overpowering.

I'd advise a steel blue / neutral grey colour.

In the latest screenshot for instance, we are using the red on a 'give feedback' icon - but users will always instinctively associate red with a negative action, and thus red should be reserved for such things.

One could use the arguments of 'the colour represents

[2018-07-20 01:03] camillevilla commented on #863
Thanks again for looking into this @stebbins! @aSquare14 and @prateksha have picked this up for Rails Girls Summer of Code. We're currently working on this in #870.

[2018-07-22 05:47] julianguyen opened #918 "Update to latest React and Webpack versions"
# Description

Updating React and Webpack versions will require updating implementations of other libraries in the client including moving away from extract-text-webpack-plugin to mini-css-extract-plugin.

- [x] [Update to react_on_rails 11](https://github.com/ifmeorg/ifme/pull/993)
- [x] Update to React 16
- [x] Update to Webpack 3
- [x] Switch from Karma + Jasmine to Jest
- [x] Upgrade Storybook

[2018-07-22 05:49] julianguyen commented on #805
Hey @Bennet11 sorry for the late reply, could you email us at join.ifme@gmail.com and we'll add you to our Slack? Thanks so much!

[2018-07-23 11:19] StaphSynth commented on #811
Just letting people know, I'm currently working on refactoring these tests as well as the controller itself.

[2018-07-29 07:57] StaphSynth opened #924 "Profile page not rendering empty profile picture element correctly in Firefox"
# Description

I came across this today in Firefox (61.0.1):
<img width="703" alt="screen shot 2018-07-29 at 4 40 48 pm" src="https://user-images.githubusercontent.com/20519886/43364138-d7589d76-9357-11e8-8ca3-b3acb40be43b.png">

In Chrome it looks like this:
<img width="756" alt="screen shot 2018-07-29 at 5 01 19 pm" src="https://user-images.githubusercontent.com/20519886/43364143-ee40caa4-9357-1

[2018-07-29 18:51] TangyOhio commented on #219
Hi, is this issue still open?

[2018-07-29 19:09] julianguyen commented on #219
@TangyOhio It is, and you're welcome to pick it up. Here's more [info](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) on how to get started with contributing.

[2018-08-03 05:34] #885 closed

[2018-08-03 05:52] #686 closed

[2018-08-03 05:53] #628 closed

[2018-08-03 05:54] #410 closed

[2018-08-03 05:54] #454 closed

[2018-08-03 05:55] #134 closed

[2018-08-03 06:48] julianguyen commented on #924
I think, `undefined` is showing up because locally you haven't set up [Google Maps API](https://github.com/ifmeorg/ifme/wiki/Installation#google-api). But we should still handle that case in dev environments don't use this API.

[2018-08-03 16:24] julianguyen opened #928 "Use MomentCard component on site"
# Description

Use newly designed MomentCard React component for existing Moments in Ruby on Rails views

# Screenshots

![image](https://user-images.githubusercontent.com/3010728/43654067-eaaa987a-96fe-11e8-980f-13b73f1fa3df.png)

# Do you want to be the assignee to work on this?

🚫

[2018-08-03 16:41] julianguyen opened #929 "Use Footer component on the site"
# Description

Use Footer component on the site

# Screenshots

![image](https://user-images.githubusercontent.com/3010728/43654722-123989e4-9701-11e8-8b53-127ca5aa1586.png)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 04:52] #924 closed

[2018-08-04 20:20] julianguyen opened #932 "Prepare application.html.erb for new app designs"
# Description

In preparation to convert static pages to [new designs](https://github.com/ifmeorg/ifme/issues/691)

* Update Header, Footer
* Home page

# Do you want to be the assignee to work on this?

✅

[2018-08-04 20:47] #929 closed

[2018-08-04 21:29] Essential commented on #932
I'll start working on it tomorrow.

[2018-08-04 21:40] julianguyen commented on #932
Thanks for offering! I actually started working on it, but I could divide up the pages @Essential.

How about I set up the initial structure of the new designs (header, content container, and footer) in application.html.erb, and then you can focus on converting the specific static pages over? How does that sound?

[2018-08-04 21:44] julianguyen opened #933 "Convert sign in page to new design"
# Description

Convert sign in page to new design

https://www.if-me.org/users/sign_in

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:46] julianguyen opened #934 "Convert join page to new designs"
# Description

Convert join page to new design

https://www.if-me.org/users/sign_up

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:46] julianguyen opened #935 "Convert about page to new designs"
# Description

Convert about to new design

https://www.if-me.org/about

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:47] julianguyen opened #936 "Convert blog page to new designs"
# Description

Convert to new design

https://www.if-me.org/blog

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:48] julianguyen opened #937 "Convert resources page to new designs"
# Description

Convert to new design

https://www.if-me.org/resources

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:49] julianguyen opened #938 "Convert privacy policy page to new designs"
# Description

Convert to new design

https://www.if-me.org/privacy

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:50] julianguyen opened #939 "Convert frequently asked questions page to new designs"
# Description

Convert to new design

https://www.if-me.org/faq

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:50] julianguyen opened #940 "Convert partners page to new design"
# Description

Convert to new design

https://www.if-me.org/partners

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:51] julianguyen opened #941 "Convert press page to new designs"
# Description

Convert to new design

https://www.if-me.org/press

[Designs in figma](https://github.com/ifmeorg/ifme/issues/691)

Requires: #932 to be completed first (currently being worked on by @julianguyen)

# Do you want to be the assignee to work on this?

🚫

[2018-08-04 21:59] CSumm commented on #932
I also would like to take a shot at one of the pages

[2018-08-11 13:40] prox07 commented on #789
Can I take this up? I can design it.

[2018-08-11 13:53] prox07 commented on #789
Hey I can fix this if anyone could assign it to me.

[2018-08-16 20:28] musangowope commented on #934
Hey julian, is it possible if I could assist helping on this page?

[2018-08-19 21:13] greysteil commented on #737
@CSumm looks like this is still open.

I'd also like to recommend [Dependabot](https://dependabot.com), the tool I've built to automatically create dependency update PRs. It can be put in security-only mode, and only create security related PRs, or can create PRs for all updates. You can see some of the PRs it has created on other repos [here](https://github.com/pulls?q=is%3Apr+author%3Aapp%2Fdepe

[2018-08-21 10:43] sexybiggetje commented on #737
Except for maybe @greysteil comment about his dependabot this ticket is quite obsolete. Snyk doesn't provide anything github now doesn't. At the time of writing Github didn't launch this feature yet.

I'm closing this issue. If one wants to take a stab at something related, a new issue can be created.

[2018-08-21 10:43] #737 closed

[2018-08-29 17:06] aSquare14 opened #946 "Write Documentation for Report Feature"
# Description
Write documentation for report feature.

[2018-08-29 17:07] aSquare14 opened #947 "Documentation for Admin attribute"
# Description

Write Documentation on how to make a user an admin using rails c. Write admin privileges and instructions for local dev env.

[2018-08-29 17:14] aSquare14 opened #948 "Admin dashboard UI"
- Add admin-dashboard in the header.
- Add notification badge to show how many requests are pending to be reviewed for admin.

[2018-08-31 18:31] aSquare14 opened #950 "Write Code of Conduct for users."
# Description
Write Code of Conduct for users.
Related to #902 .

[2018-09-05 12:38] prateksha opened #954 "Blocking: Admin can ban users"
# Description
- Add 'Ban User' button to User profiles. (Visible only to Admins)
- Add ‘banned’/’blocked’ flag to User model.
- Blocking users entails not being able to sign into their account and getting an email and message on the site that says their account has been blocked for violating Terms and Conditions.

[2018-09-05 12:42] alvarocasadoc commented on #14
@prateksha, @aSquare14 and I have added some additional notes on the blocking feature:

**Banning feature**
- Add ‘ban user’ button to user profiles (only visible to admins)
- Add ‘banned’/’blocked’ flag to User model
- Check flag to prevent blocked users to log in

**Blocking feature**
- Create a new relationship to store blockings information.
- Add ‘block user’ button to user profiles.
- Implem

[2018-09-05 12:46] prateksha opened #955 "Blocking: Users can block other users."
# Description

User A blocks User B:
- Create a new relationship to store blocking information.
- Add ‘block user’ button to user profiles.
- User A blocks User B. Delete the allyship(if exists).
- Blocking in groups. (When User A and User B share the same group).

[2018-09-10 04:16] aSquare14 opened #957 "Make "Submit" button accessible"
# Description
- Presently, user cannot submit a group or form by entering the "Enter" key, he/she has to click on "Submit"
- Make this component accessible.

[2018-09-10 05:02] aSquare14 opened #958 "Add Contributor Blurb for Team Rubies"
# Description

Add Atibhi's and Prateksha's contributor Blurb ! :D

- [x] Atibhi's Blurb

- [x] Prateksha's blurb

Refer this : https://github.com/ifmeorg/ifme/wiki/Contributor-Blurb

[2018-09-10 05:04] #950 closed

[2018-09-14 10:06] julianguyen commented on #957
Great call out, I actually worked on this in new redesign implementation https://github.com/ifmeorg/ifme/pull/942

If you wanna check it out, check out the static-pages-redesign in this repo and open Storybook :)

[2018-09-15 02:32] aSquare14 opened #959 "Make the profile images "Hyperlinks""
# Description

It would be cool to make the round images given below as hyperlinks.
When you hover over the images, the cursor changes. On clicking on them, user is redirected to the contributor blurb/ personal page of the person.
# Screenshots

![screenshot from 2018-09-15 08-00-10](https://user-images.githubusercontent.com/22938709/45581540-9c92db80-b8bd-11e8-8bcb-f46d2d9bf049.png)

[2018-09-15 02:57] asquare14 opened #961 "Add Github authetication"
# Description

I think apart from Google, Github authentication would be nice for signing up . :)

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) gui

[2018-09-15 12:08] #946 closed

[2018-09-18 12:00] #928 closed

[2018-09-18 12:01] #902 closed

[2018-09-18 12:01] #932 closed

[2018-09-18 12:01] #933 closed

[2018-09-18 12:01] #934 closed

[2018-09-18 12:01] #935 closed

[2018-09-18 12:01] #936 closed

[2018-09-18 12:01] #937 closed

[2018-09-18 12:01] #938 closed

[2018-09-18 12:01] #939 closed

[2018-09-18 12:01] #940 closed

[2018-09-18 12:01] #941 closed

[2018-09-18 12:03] #957 closed

[2018-09-18 12:04] #685 closed

[2018-09-18 12:04] #691 closed

[2018-09-18 12:04] #766 closed

[2018-09-18 12:04] #777 closed

[2018-09-18 12:04] #786 closed

[2018-09-18 12:04] #787 closed

[2018-09-18 12:04] #789 closed

[2018-09-18 12:04] #790 closed

[2018-09-18 12:05] #219 closed

[2018-09-18 12:05] #357 closed

[2018-09-18 12:05] #363 closed

[2018-09-18 12:05] #458 closed

[2018-09-18 12:05] #486 closed

[2018-09-18 12:05] #552 closed

[2018-09-18 13:08] julianguyen opened #966 "Convert Moments/Strategies commenting mechanism from jQuery to React"
# Description

Convert Moments/Strategies commenting mechanism from jQuery to React. This is part of our long term goal of getting rid of JS code on the Rails side.

The Notifications widget is a good example of how to use API calls in the client.

# Screenshots

![image](https://user-images.githubusercontent.com/3010728/45689500-fa673380-bb08-11e8-97bd-c52ed105a712.png)

# Do you want to be the a

[2018-09-18 13:08] pederjohnsen opened #967 "Horizontal scrollbar showing on pages long enough to show vertical scrollbar"
# Description

Looks like the `width: 100vw;` rules used on header/footer etc are causing the horizontal scroll to show when the page is long enough to scroll vertically

# Reproduction Steps

Just view a page long enough to show a vertical scroll in a browser/OS that displays scrollbars.

# Screenshots

![Horizontal scrollbar](https://i.imgur.com/PxUbvcS.png)

# Do you want to be the assignee to

[2018-09-18 13:12] julianguyen opened #968 "Improve code quality and readability in /app/views/shared/_stats.html.erb"
# Description

When working on implementing the redesigns I noticed that `/app/views/shared/_stats.html.erb` was pretty messy to look at (did not have time to clean it up myself). There's a lot of logic in this view when it should be moved to a helper and possibly subviews.

[2018-09-18 13:16] julianguyen opened #969 "Do audit and improvements for better colour contrast and font size"
# Description

Do audit and improvements for better colour contrast and font size. Let's aim for [Level AAA](https://www.w3.org/WAI/WCAG2AAA-Conformance) conformance for colour contrast and font size.

There's a lot of helpful a11y guides out there, this is just one of many that are great: https://a11yproject.com/

# Do you want to be the assignee to work on this?

🚫

[2018-09-18 13:19] julianguyen opened #970 "Better CSS optimizations and tree-shaking"
# Description

Better CSS optimizations and tree-shaking, as there's a lot of CSS generated by both Rails and React.

We had something set up in webpack.config.js with the compression-webpack-plugin but we had to disable it cause there was an issue with that package. I recently upgraded to Webpack 3.8.1, I think it might work again?

# Do you want to be the assignee to work on this?

YES

[2018-09-18 13:22] julianguyen opened #971 "Cleanup code duplication warnings identified by Codeclimate"
# Description

Cleanup code duplication warnings identified by Codeclimate

https://codeclimate.com/github/ifmeorg/ifme/issues?category=duplication&engine_name%5B%5D=structure&engine_name%5B%5D=duplication

# Do you want to be the assignee to work on this?

🚫

[2018-09-18 13:30] julianguyen opened #972 "Text is invisible while web fonts are loading"
# Description

Text is invisible while web fonts are loading

Either load backup fonts while this is happening or do not use fonts from CDN. Download font files to codebase.

# Screenshots

![image](https://user-images.githubusercontent.com/3010728/45690848-29cb6f80-bb0c-11e8-8bd1-43c7e6ae8fa7.png)
(From Google developer tools audit)

# Do you want to be the assignee to work on this?

YES

[2018-09-18 13:32] julianguyen opened #973 "Add missing alt tags and aria-label to links and images"
# Description

Add missing alt tags and aria-label to links and images

Helpful: https://a11yproject.com/

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Iss

[2018-09-18 13:41] julianguyen opened #974 "Run SVG files through SVGO so they're optimized"
# Description

Run SVG files through SVGO so they're optimized

https://github.com/svg/svgo

# Do you want to be the assignee to work on this?

🚫

[2018-09-18 13:45] julianguyen opened #975 "Use Modal component to view contributor blurbs"
# Description

Replace current implementing of viewing blurbs on https://www.if-me.org/contribute with the Modal component (you can preview it in Storybook)

# Do you want to be the assignee to work on this?

🚫

[2018-09-18 14:02] sexybiggetje opened #976 "Add headers for security"
# Description

The domain if-me.org is missing some headers which could improve it's security.

PASS(if-me.org): HTTP redirects to HTTPS using a 301
FAIL(if-me.org): Strict-Transport-Security missing
FAIL(if-me.org): X-Frame-Options missing
FAIL(if-me.org): X-Content-Type-Options missing
FAIL(if-me.org): X-XSS-Protection missing
FAIL(if-me.org): Referrer-Policy missing
FAIL(if-me.org): Content-Sec

[2018-09-18 17:26] aSquare14 opened #977 "Update Changelog in Wiki"
# Description

Update this to mention new release.
https://github.com/ifmeorg/ifme/wiki/Changelog

# Do you want to be the assignee to work on this?

🚫

[2018-09-19 06:10] #967 closed

[2018-09-19 06:35] julianguyen commented on #976
Great call out! Thank you :)

[2018-09-19 06:58] julianguyen commented on #687
We're using this now! WOoooo

[2018-09-19 06:58] #687 closed

[2018-09-19 07:00] julianguyen opened #980 "Update screenshots in App Features section of the Wiki"
# Description

Our new redesign has rolled out woo! Let's update our [App Features](https://github.com/ifmeorg/ifme/wiki/App-Features) document

# Do you want to be the assignee to work on this?

🚫

[2018-09-19 07:09] julianguyen opened #981 "Investigate which existing React components/widgets used in Rails would benefit from server-side rendering"
# Description

Investigate which existing React components/widgets used in Rails would benefit from server-side rendering (SSR)

With react_on_rails we can enable SSR! https://github.com/shakacode/react_on_rails/blob/c8bbb087c4760fdec86c0ccdd8f67045f93f0ce0/docs/basics/client-vs-server-rendering.md

One good candidate for SSR is the Form component because we don't want to wait for the client to lo

[2018-09-19 07:39] devkant commented on #973
I would like to work on it

[2018-09-19 10:27] #799 closed

[2018-09-19 10:30] julianguyen opened #983 "Replace all instances of snakecase class names and ids with camelcase"
# Description

Replace all instances of snakecase class names and ids with camelcase

# Do you want to be the assignee to work on this?

🚫

[2018-09-19 10:32] #983 closed

[2018-09-19 10:44] julianguyen commented on #981
Testing Sentiment Bot! 🤖 Hey, you suck at everything. Fuck you.

[2018-09-19 10:47] julianguyen commented on #981
Testing Sentiment Bot 🤖 Go back to that gutter you came you sewer rat 🐀

[2018-09-20 01:56] julianguyen commented on #973
Hey @devkant, we would love for you to work on this! Here are next steps for joining: https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack

[2018-09-20 21:42] kumaran-14 commented on #974
Can I claim this? It would be my first ever open source pull request

[2018-09-20 23:03] chsingal commented on #975
I would like to work on this!

[2018-09-21 11:11] julianguyen commented on #974
Hey @kumaran-14, we would love for you to work on this! Here are next steps for joining: https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack

[2018-09-21 11:12] julianguyen commented on #975
Hey @chsingal, we would love for you to work on this! Here are next steps for joining: https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack

[2018-09-21 11:21] kumaran-14 commented on #974
@julianguyen Sure. How should I proceed on this ? Any tips / suggestions?

[2018-09-21 16:54] julianguyen opened #990 "Prevent scrolling of content behind the Modal component"
# Description

Prevent scrolling of content behind the Modal component

# Reproduction Steps

1. Open a modal (Notifications, Categories/Mood/Strategies modal in Moments/Strategies editor
2. If the modal is not full screen (on tablet and desktop), you can scroll through the content behind the Modal component

# Do you want to be the assignee to work on this?

🚫