[2020-05-12 18:45] julianguyen commented on #1560
I have some bandwidth to help finish this, starting sometime this week.

[2020-05-12 19:04] Acollie commented on #1560
@julianguyen I would like to try to finish as well. DM me on Slack and we can try and finish this!

[2020-05-12 19:46] klaffert commented on #1730
@enoralecuyer It seems like the type text cursor appears underneath the editing links on 'Description'. Here's what I'm seeing:

https://www.screencast.com/t/4qtGwdGf6

Do we want to make the whole 'Description' area to be a type text cursor? I'm thinking that since the editable links are within the text area, we'd want to keep it as is?

Just want to ensure that I understand the bug fully! Thanks

[2020-05-12 22:27] enoralecuyer commented on #1730
@klaffert Thank you for asking for clarification!

I just logged in to the website and I confirmed that the cursor is now changing to a text cursor when hovering over the writing area, just as your video shows. The change has been made!

I agree with you to not make the whole area a type cursor, but simply the area where we write. Thanks!

[2020-05-12 22:41] enoralecuyer opened #1748 "Cursor doesn't change when hovering over medication details"
# Description

The cursor doesn't change when hovering over the details of a new medication. To make this feature more accessible, I suggest to change the cursor to a type **pointer**.

On the New Medication page, the change is needed for:
- Strength/mg
- Total/tablets
- Dosage/tablets
- mm/dd/yyyy
- two check boxes Refill reminder email and Daily reminder email

# Screenshots
![Inked2020-05-12 15

[2020-05-13 04:43] S-Warmenhoven commented on #1746
Hi @julianguyen! Thank you for taking on this issue. I attempted to fix it locally before assigning myself to it, but what I had in mind did not work.  Hope it's an easy fix!

[2020-05-13 16:51] #1746 closed

[2020-05-13 18:53] klaffert commented on #1730
@enoralecuyer Great, thanks for the info! I'll close this issue for now. Let me know if there are questions.

[2020-05-13 18:53] #1730 closed

[2020-05-13 22:12] julianguyen commented on #1748
I mentioned this already in Slack but I think we actually don't want the cursor type to be a pointer here.

The pointer cursor type should only be used on elements that are links. This custom select component is not a link. The native `<Select>` element actually uses the default cursor.

[2020-05-13 23:15] enoralecuyer commented on #1748
In terms of accessibility and usability, it is not easy to recognize that it's a multiple-choice selection. I actually missed it the first time I went to this page.

If the decision is made to not change the pointer, it would be good to come up with another solution to make this feature more accessible and help the user not miss this important step.

What about having all the choices visible in a

[2020-05-14 04:52] julianguyen commented on #1748
@enoralecuyer That's a great observation! I think improving the UX here is a good call. We would either:

1) Add a label to the existing component to indicate that there are multiple options
2) Change the component so that it's checkboxes

What do you think?

[2020-05-14 06:14] GuillermoCoding commented on #1748
Just joining in the conversation and following up on @julianguyen. For the second option you suggested, do you think radio buttons would be more appropriate instead of check boxes ? since the use should choose between`mg` OR `ml` and not have the ability to select multiple options ?

[2020-05-14 13:50] GayathriVenkatesh opened #1751 "Allow Users to Add Members to Groups"
# Description

As of now, we don't have a feature to add members to our groups. We need to first add a user to our Allies list, after which they can add themselves to our groups.

A possible issue with this is that the allies can view all our groups, and add themselves to any of them. It could so happen that we want a user to be part of only one group, and not be able to view/join any of the other

[2020-05-14 14:07] Manasa2850 commented on #1751
@julianguyen I feel we could add a feature to the above description where we can accept/reject the group invite. This can help maintain privacy.

[2020-05-19 01:16] kelsyvghn commented on #1656
Hi I'd love to help if there's any work that still needs doing?

[2020-05-20 09:17] dddw1234 opened #1753 "Translated into Korean"
We are conducting an open-source SW class team project of Kwangwoon University, a university in Korea. We want to contribute by translating this program into Korean.

[2020-05-20 18:53] julianguyen commented on #1753
This is sooo awesome! Thank you so much @dddw1234 for doing this!! :D Let me know if you need anything on Slack!

[2020-05-20 20:56] enoralecuyer commented on #1748
@GuillermoCoding I love your idea of using radio buttons! They are clear, easy to use and restrict to one option only. That sounds perfect to me!

[2020-05-21 09:17] bmwachajr opened #1756 "rails db:seed failing"
# Description
Ruuning `rails db:seed` fails with an `ActiveModel::UnknownAttributeError: unknown attribute 'resource_reccomedations' for Moment.`

# Reproduction Steps

# Screenshots

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check ou

[2020-05-21 18:21] julianguyen opened #1758 "Migrate from Enzyme to React Testing Library"
# Description

We should migrate to React Testing Library as it's officially recommended by React and it's a lot more usable than Enzyme.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/

[2020-05-21 18:22] #1756 closed

[2020-05-22 08:23] dddw1234 commented on #1753
[[translated into korean] README.txt](https://github.com/ifmeorg/ifme/files/4666896/translated.into.korean.README.txt)

[2020-05-22 12:37] bmwachajr commented on #1737
Hi @S-Warmenhoven can we close this issue?

[2020-05-22 20:14] GuillermoCoding commented on #1748
@julianguyen any more thoughts on this?  I can start tackling this feature

[2020-05-22 20:39] S-Warmenhoven commented on #1737
Hi @bmwachajr
Yes, we can.  Sorry if I was required to do that and didn't.  I'm still new to contributing to Open Source projects, and this was my first created issue, so I wasn't sure what the policy was and if I can just close issues for the project myself.  Should I just go ahead and do that or should I leave it for you to close?  Also, my team worked on issue #1713 and it is finished and merge

[2020-05-23 09:43] Cijin commented on #1656
Can i work on this

**client/app/widgets/QuickCreate/index.jsx**

[2020-05-23 16:47] julianguyen commented on #1656
Hey @kelsyvghn feel free to work on `client/app/widgets/Notifications/index.jsx`

@Cijin feel free to work on `client/app/components/Chart/ChartControl.jsx`.

[2020-05-23 16:48] julianguyen commented on #1737
No worries! Feel free to close it, if you made the issue you feel like the requirements have been completed.

[2020-05-23 16:48] #1737 closed

[2020-05-23 16:49] julianguyen commented on #1748
@GuillermoCoding Sorry for the late response! Yeah let's convert this to use radio buttons instead of a select menu :) Thanks for chatting about this!

[2020-05-23 17:20] #1732 closed

[2020-05-24 05:11] thesid01 commented on #1656
Hi would love to help if there's something i can work on !!

[2020-05-24 12:58] alekpentchev commented on #1758
I can work on this! Does want to rewrite every component’s test file to use React Testing Library? Or do we want to focus on a specific set of components?

[2020-05-24 14:40] seannemann21 commented on #1656
Hello, @cmcWebCode40 are you still working on client/app/components/BaseContainer/index.jsx? I noticed the PR was closed, so I was just checking in.

[2020-05-24 18:17] dddw1234 commented on #1753
Next time, we are going to translate 4 yml files in the locale folder at once. Should I request to create a Korean translation branch separately? Or can I request a pull request directly to the master branch?

And I want to ask if there are any other files that need to be translated.

[2020-05-24 22:49] GuillermoCoding commented on #1748
no problem, Sounds good!

[2020-05-25 03:44] dddw1234 commented on #1753
Next time, we are going to translate 4 yml files in the locale folder at once.
We are an undergraduate students who are still learning GitHub.
So it may be a rather silly question, Should I request to create a Korean translation branch separately? Or can I request a pull request directly to the master branch?

And I want to ask if there are any other files that need to be translated.

[2020-05-25 06:23] julianguyen commented on #1753
You're correct, we'll want to translate all the files in the `config/locales` folder. Yeah so you'll want to create a new branch for the Korean changes and then make a pull request into the master branch.

Let me know if you need any help, especially with Git. This is our [Git Workflow](https://github.com/ifmeorg/ifme/wiki/Git-Workflow).

[2020-05-25 06:25] julianguyen commented on #1758
Yeah we'll want to get rid of Enzyme and replace it with React Testing Library. The good thing is that we don't need to rely on element classes or IDs to identify them in our tests. We can identify elements by their appropriate aria labels, text content, etc.

Let me know if you have any questions or need help along the way. I use this library in my day job and have some experience with it :P

[2020-05-25 06:34] julianguyen commented on #1751
Hey sorry for the late reply here! I've been focusing on helping to get all our existing PRs merged.

Thanks for suggesting this feature and putting together this issue :)

I don't think we should involve ally invitations in this. But I like @Manasa2850's idea of being able to accept/reject group invites.

Based on that:

1) I think any group member should be able to send any of allies an invite t

[2020-05-25 07:14] cmcWebCode40 commented on #1656
@seanneman21 I couldn't continue because I'm having issues setting up the working and running the app with my system ,my system is an old it couldnt carry it.
You can assign someone else to do the work. Thanks

[2020-05-25 13:00] seannemann21 commented on #1656
@thesid01 Would you like to work on client/app/components/BaseContainer/index.jsx? If not, I would be willing to since I also was looking into working on something.

[2020-05-25 13:18] thesid01 commented on #1656
@seannemann21  Yes I am taking up this issue client/app/components/BaseContainer/index.jsx?

[2020-05-27 02:20] #1580 closed

[2020-05-27 05:30] manvendra22 commented on #1656
Hi, I would love to contribute if there is something that's still unassigned.

[2020-05-29 07:32] Cijin commented on #1656
Refactored QuickCreate and pushed the branch. Is there something else I need to do after.

[2020-05-30 18:45] dddw1234 commented on #1753
The translation is complete, but applying the file seems to be outside the scope of what we can do.
I want to test it as written on the wiki, but I'm embarrassed because I haven't had any experience with Ruby (I'm trying to learn).

In addition, the result of the conversion from the "pretty ymal" page is strange for no reason.(
'(Single quote)Is often missing )

Can you suggest what we need to do

[2020-05-31 04:16] thesid01 commented on #1656
I have recreated BaseContainer/index.jsx using hooks and created a pull request. Someone review it.

[2020-06-01 18:35] dddw1234 commented on #1753
@julianguyen Can I get some advice?

[2020-06-01 22:13] julianguyen commented on #1753
@dddw1234 Sorry for the delayed response! Taking a look now, it's been a very busy few weeks for me.

[2020-06-01 22:14] julianguyen commented on #1753
@dddw1234 I can help with apply the files to the codebase. Where can I find your changes?

[2020-06-01 23:28] julianguyen commented on #1753
@dddw1234 Another thing I wanted to mention was that we feature our translators on our blog! This is an [example](https://medium.com/ifme/announcing-if-me-org-in-hindi-709baeabb9ad) of an interview we did with the person who did the Hindi translations.

I would love to feature you, but only if you would like to be featured! Let me know 💜

[2020-06-02 17:25] dddw1234 commented on #1753
@julianguyen  Could you tell me how to conduct the interview?We will discuss this with our team and answer it as soon as possible.

And even though I did a couple of final reviews, I can see more awkwardness and mistakes after the translation is applied more than I thought. I'm sorry about this, and I'll take care of it quickly as well.

[2020-06-02 19:18] julianguyen commented on #1753
Yes @dddw1234 :D

In a Google Doc (which you give edit access to `join.ifme@gmail.com`), can you answer the following questions in both English and Korean? Feel free to also include pictures in the doc if you want to share any :)

1. Tell us about yourselves
2. How is mental health perceived and treated in Korean communities?
3. Why did you want to participate in translating if-me.org?
4. Were the

[2020-06-02 19:55] midnightmarth commented on #1656
Are there still components that need to be rewritten? I want this to be my first repo to contribute to because of the nature of this project.

[2020-06-03 04:52] julianguyen commented on #1656
@Cijin Hey that's great, you need to make a pull request next. Let me know if you need any help. Here's our [guide](https://github.com/ifmeorg/ifme/wiki/Pull-Request-Practices) on it.

[2020-06-03 04:53] julianguyen commented on #1656
@midnightmarth Looks like ChartControl is up for grabs since @Cijin did QuickCreate instead of that. Feel free to take that on.

[2020-06-03 05:17] Cijin commented on #1656
Thank you @julianguyen. Will do that.

[2020-06-03 06:07] manvendra22 commented on #1656
@julianguyen Hey I am also looking for my first-time contribution. Please let me know if there is anything available to work on.

[2020-06-04 18:15] thesid01 commented on #1656
Hey @kelsyvghn are you working on client/app/widgets/Notifications/index.jsx ?
If not then I can work on it.

[2020-06-04 18:48] kelsyvghn commented on #1656
I haven’t had time yet so go ahead. :)

[2020-06-05 01:22] maegatro commented on #1656
Hello, I'd love to work on this, is there anything I can help?

[2020-06-05 01:23] maegatro commented on #1215
Hello, I'd love to work on this. Is there anything I can help with?

[2020-06-05 06:27] KenAustria commented on #1656
Hey @manvendra22, please take over 'client/app/widgets/QuickCreate/index.jsx' if you'd like. Otherwise, it's all yours @maegatro! Sorry, I haven't found the time.

[2020-06-05 07:03] manvendra22 commented on #1656
Sure @KenAustria I'll take it.Thanks

[2020-06-05 11:25] kshashwat007 commented on #1656
Hi, Wanted to know if there is anything i can work on? Would love to contribute!

[2020-06-05 14:08] at-syot commented on #1656
Hi, Any component i can help ?

[2020-06-05 14:51] nshki commented on #1215
Hi @maegatro! Thanks for offering help here. Let's check in with @snailscode to see if you'd be able to pick things up.

[2020-06-05 19:16] #187 closed

[2020-06-05 19:17] julianguyen commented on #1582
I'm working on this feature through my latest "Learning Web Development through if-me.org" workshop I'm doing with the Code Cooperative.

[2020-06-05 19:17] julianguyen commented on #1696
Any updates here?

[2020-06-07 02:08] julianguyen commented on #1215
Hi @maegatro! We would love to finish up these efforts. @matcha440 had made a lot of progress in this [branch](https://github.com/ifmeorg/ifme/tree/ja-translations). It would be great to finish things up! @snailscode if you're still interested maybe you two can work together. The more help the better the translations will be :)

[2020-06-07 18:51] ysun62 commented on #1656
Hello all, is there anything left that I can contribute to?

[2020-06-08 16:13] #1582 closed

[2020-06-08 16:57] alekpentchev commented on #1758
Thanks Julia for your support! I will probably need some onboarding in the topic of this library because I'm quite new to it. But I'm eager to work on it :)

Btw If someone else would like to jump in and to this in parallel, I'm absolutely ok with it!

[2020-06-12 19:12] dddw1234 commented on #1753
I sent you an email about some request and questions through my personal account.

[2020-06-21 01:06] AndresContreras96 commented on #1696
Hello, is this issue still open? I would like to contribute

[2020-06-22 22:31] wigsters52 commented on #1506
Is this something that still needs worked on. I would love to help out!

[2020-06-29 22:44] #1733 closed

[2020-07-02 21:47] #1748 closed

[2020-07-03 00:20] #1703 closed

[2020-07-05 16:54] julianguyen commented on #1506
@wigsters52 Sorry for the late reply! Yeah it looks like this still needs updating.

[2020-07-05 16:55] julianguyen commented on #1696
@AndresContreras96 Hey sorry for the late reply feel free to assign yourself.

[2020-07-15 13:54] sidou01 commented on #1656
Hi, I'm available to work on any component that's left if possible.

[2020-07-21 11:27] ainokyto commented on #1656
Hey everyone, would absolutely love to contribute if there's anything left to work on.

[2020-07-21 11:34] ainokyto commented on #1656
Hey @midnightmarth have you had the chance to look at client/app/components/Chart/ChartControl.jsx at all? Just checking in in case you're busy with life because I'd also be v keen to contribute :)

[2020-08-01 16:24] Mrezagolbaba commented on #1656
Hello all, is there anything left that I can contribute to?

[2020-08-01 16:25] Ako92 commented on #1656
Hi, I want to contribute on this issue too. anything left?

[2020-08-02 19:28] julianguyen commented on #1656
client/app/components/Chart/ChartControl.jsx and client/app/widgets/QuickCreate/index.jsx are up for grabs!

[2020-08-02 19:32] Crushellini commented on #1656
I like to work on ChartControl.jsx, if you don't mind!

[2020-08-02 19:33] julianguyen opened #1789 "Migrate client/app/components/Chart/__tests__/Chart.spec.jsx and client/app/components/Chart/__tests__/ChartControl.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:34] julianguyen opened #1790 "Migrate client/app/components/Form/__tests__/DynamicForm.spec.jsx and client/app/components/Form/__tests__/Form.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:35] julianguyen opened #1791 "Migrate client/app/components/Header/__tests__/Header.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:36] julianguyen opened #1792 "Migrate tests in client/app/components/Input to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:36] #1758 closed

[2020-08-02 19:37] julianguyen opened #1793 "Migrate client/app/components/Logo/__tests__/Logo.spec.jsx to use Reacting Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:38] julianguyen opened #1794 "Migrate client/app/components/Modal/__tests__/Modal.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:39] julianguyen opened #1795 "Migrate client/app/components/Resource/__tests__/Resource.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/

[2020-08-02 19:39] julianguyen opened #1796 "Migrate tests in client/app/components/Story to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:40] julianguyen opened #1797 "Migrate client/app/components/Tag/__tests__/Tag.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:41] julianguyen opened #1798 "Migrate client/app/components/Tooltip/__tests__/Tooltip.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:42] julianguyen opened #1799 "Migrate client/app/widgets/CarePlanContacts/__tests__/index.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:42] julianguyen opened #1800 "Migrate client/app/widgets/Comments/__tests__/Comments.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/

[2020-08-02 19:43] julianguyen opened #1801 "Migrate client/app/widgets/CrisisPrevention/__tests___/index.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:44] julianguyen opened #1802 "Migrate client/app/widgets/QuickCreate/_tests_/QuickCreate.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:45] julianguyen opened #1803 "Migrate client/app/widgets/Resources/__tests__/Resources.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:45] julianguyen opened #1804 "Migrate client/app/widgets/ToggleLocale/__tests__/ToggleLocale.spec.jsx to use React Testing Library instead of Enzyme"
# Description

We are deprecating Enzyme as our JS testing utility in favour of [React Testing Library](https://testing-library.com/docs/react-testing-library/intro). Thanks @alekpentchev for setting it up :)

Recommended Reading
* [Cheatsheet](https://testing-library.com/docs/react-testing-library/cheatsheet)
* [Common mistakes](https://kentcdodds.com/blog/common-mistakes-with-react-testing-libra

[2020-08-02 19:47] #1753 closed

[2020-08-02 20:02] julianguyen commented on #1656
Thanks @Crushellini I'll assign it to you then :)

[2020-08-02 20:09] julianguyen commented on #1656
@Crushellini If you're able to, it would be great to also [update the corresponding tests to use React Testing Library](https://github.com/ifmeorg/ifme/issues/1789).

The same goes for [QuickCreate](https://github.com/ifmeorg/ifme/issues/1802) for whoever picks this one up!

[2020-08-02 21:19] #726 closed

[2020-08-03 06:47] ainokyto commented on #1656
Hey @julianguyen happy to pick up client/app/widgets/QuickCreate/index.jsx ! :)

[2020-08-03 11:39] Mrezagolbaba commented on #1656
@julianguyen we are missing both of them, anything left?

[2020-08-06 04:52] julianguyen commented on #1656
Cool I'll assign you to QuickCreate then @ainokyto!

@Mrezagolbaba We have a lot of open issues related to refactoring our React tests if you're interested!

[2020-08-06 11:07] Mrezagolbaba commented on #1656
@julianguyen absolutely, I'm interested in React test please assign to me

[2020-08-06 17:11] julianguyen commented on #1656
@Mrezagolbaba You'll have to [contact us](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to be added to our GitHub org and Slack workspace so you can assign yourself to issues. All the refactoring test issues can be found [here](https://github.com/ifmeorg/ifme/issues?q=is%3Aopen+is%3Aissue+label%3Areact+label%3Arefactoring+label%3Atests).

[2020-08-18 03:40] #1798 closed

[2020-08-19 17:28] AudreyKj commented on #1801
Hello! I just worked on this. Here is my Pull Request: https://github.com/ifmeorg/ifme/pull/1811

[2020-08-23 23:46] bennpham commented on #1696
Hello, I also like to add as first time signing up the site, I also have a tricky time signing up to the site base on the password rules and having to start the form over.

In regards to password strength meter, I'd recommend [dropbox's `zxcvbn`](https://github.com/dropbox/zxcvbn) library, or you can use  [devise_zxcvbn](https://github.com/bitzesty/devise_zxcvbn) to reject weak passwords on the ba

[2020-08-24 03:09] julianguyen commented on #1696
Hey @bennpham thanks for the really helpful feedback! That library looks interesting and I think it general it would be great to get better and enforcing stronger passwords. I agree that having one uppercase, number, and special character doesn't necessarily yield a secure password.

[2020-08-24 19:28] bennpham opened #1815 "Refactor RSpec Controller Specs to Request Specs"
# Description

Looking through the project, I notice that we use controller specs rather than request specs. Since we're on Rails 6 and reading through this [Stackoverflow discussion in regards to controller specs vs request specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs), it seems that controller specs are obsolete now.

Some pros and cons listed in [this me

[2020-08-25 16:46] julianguyen commented on #1815
Hey @bennpham, thanks for calling this out! I think we should go ahead with your suggestion and look into refactoring to request specs! I recommend creating issues for all the different files so people can easily assign them to themselves.

[2020-08-25 17:17] bennpham commented on #1815
@julianguyen Sounds good. Should I make a handful of issues for each file and link it to this issue or rename this issue into one of the file and copy the description for each separate new issue?

[2020-08-26 02:34] julianguyen commented on #1815
Yeah I think you can just link it to this main issue to save time! Thanks!

[2020-08-26 04:13] bennpham opened #1816 "Refactor spec/controllers/groups/memberships_controller_spec.rb to spec/request/groups/membership_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:16] bennpham opened #1817 "Refactor spec/controllers/meetings/google_calendar_event_controller_spec.rb to spec/request/meetings/google_calendar_event_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:19] bennpham opened #1818 "Refactor spec/controllers/users/invitations_controller_spec.rb to spec/request/users/invitation_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:25] bennpham opened #1819 "Refactor spec/controllers/allies_controller_spec.rb to spec/request/allyship_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:26] bennpham opened #1820 "Refactor spec/controllers/care_plan_contacts_controller_spec.rb to spec/request/care_plan_contact_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:34] bennpham opened #1821 "Refactor spec/controllers/care_plan_controller_spec.rb to spec/request/care_plan_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:35] bennpham opened #1822 "Refactor spec/controllers/categories_controller_spec.rb to spec/request/category_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:38] bennpham opened #1823 "Refactor spec/controllers/comment_controller_spec.rb to spec/request/comment_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:40] bennpham opened #1824 "Refactor spec/controllers/errors_controller_spec.rb to spec/request/error_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:42] bennpham opened #1825 "Refactor spec/controllers/groups_controller_spec.rb to spec/request/group_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:45] bennpham opened #1826 "Refactor spec/controllers/locales_controller_spec.rb to spec/request/locale_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:46] bennpham opened #1827 "Refactor spec/controllers/medications_controller_spec.rb to spec/request/medication_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:48] bennpham opened #1828 "Refactor spec/controllers/meetings_controller_spec.rb to spec/request/meeting_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:49] bennpham opened #1829 "Refactor spec/controllers/moments_controller_spec.rb to spec/request/moment_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:50] bennpham opened #1830 "Refactor spec/controllers/moods_controller_spec.rb to spec/request/mood_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:52] bennpham opened #1831 "Refactor spec/controllers/notifications_controller_spec.rb to spec/request/notification_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:53] bennpham opened #1832 "Refactor spec/controllers/omniauth_callbacks_controller_spec.rb to spec/request/omniauth_callback_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:54] bennpham opened #1833 "Refactor spec/controllers/pages_controller_spec.rb to spec/request/page_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:55] bennpham opened #1834 "Refactor spec/controllers/profile_controller_spec.rb to spec/request/profile_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:56] bennpham opened #1835 "Refactor spec/controllers/pusher_controller_spec.rb to spec/request/pusher_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:57] bennpham opened #1836 "Refactor spec/controllers/registrations_controller_spec.rb to spec/request/registration_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:58] bennpham opened #1837 "Refactor spec/controllers/reports_controller_spec.rb to spec/request/report_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 04:59] bennpham opened #1838 "Refactor spec/controllers/search_controller_spec.rb to spec/request/search_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 05:00] bennpham opened #1839 "Refactor spec/controllers/secret_shares_controller_spec.rb to spec/request/secret_share_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-26 05:01] bennpham opened #1840 "Refactor spec/controllers/strategies_controller_spec.rb to spec/request/strategy_spec.rb"
# Description

Controller Specs had been obsolete since Rails 5. It is best practice to create request spec instead of controller spec as recommended by the Rspec team.

Recommended Reading:

- [Stackoverflow Discussion in regards to Controller Specs vs Request Specs](https://stackoverflow.com/questions/40851705/controller-specs-vs-request-specs)
- [Medium article discussing request and controller

[2020-08-31 03:15] #1816 closed

[2020-09-01 23:27] #1817 closed

[2020-09-03 19:17] withewolf-dev commented on #1656
Hey can I help with the rest?

[2020-09-04 02:50] julianguyen commented on #1656
@withewolf-dev Sure it looks like both ChartControl and QuickCreate are available.

[2020-09-05 23:15] bennpham commented on #1802
Curious if anyone is taking this one yet? I'm new to React although I've done a bit of VueJS on a Laravel project (but hadn't had adequate testing on that one).

[2020-09-06 00:17] julianguyen commented on #1802
@bennpham Nope feel free to take it! :)

[2020-09-06 01:31] SinghVikram97 commented on #1656
Hi, Wanted to know if there is anything i can work on apart from testing? Would love to contribute!

[2020-09-09 00:53] #1797 closed

[2020-09-12 17:45] #1801 closed

[2020-09-12 23:39] julianguyen commented on #1656
@SinghVikram97 Both ChartControl and QuickCreate are available. Do you wanna take QuickCreate? :)

[2020-09-12 23:45] bennpham commented on #1802
Hadn't had any progress on this since I'm unfamiliar with Enzyme and RTL testing at the moment. Hadn't been in the right head space to try to figure it out with the fires going around giving me some headaches. I'm going to unassign myself and grab one of the Rspec ones again.

[2020-09-13 02:37] julianguyen commented on #1802
No problem and stay safe @bennpham!

[2020-09-15 17:21] nik2490 commented on #1656
@julianguyen May I contribute to this project?

[2020-09-21 23:59] erickaorf opened #1844 "Google Sign Up is not working"
![Screenshot 2020-09-21 185622](https://user-images.githubusercontent.com/58405291/93832800-6de23500-fc3c-11ea-9677-d193e1b67163.png)
<!--[
 I tried signing up via google, it did not work. I got the above screen.

[2020-09-22 04:02] julianguyen commented on #1844
Thanks for reporting this! Is this happening on the live if-me.org site for you or in your development environment?

[2020-09-26 08:53] adedayomoshood commented on #1844
This happens on the live if-me.org site. Googling the issue, the App needs to be reverified to use Google oauth login

[2020-09-26 17:06] julianguyen commented on #1844
Oh no, I'll look into this. I wasn't able to reproduce this.

[2020-09-26 17:07] julianguyen commented on #1844
I think there was an outage with some Google Cloud services this week.

I got this message in the dashboard:

[2020-09-26 18:34] #1818 closed

[2020-09-29 15:09] MicahRamirez commented on #1656
Could I be assigned to QuickCreate? I've started a first pass at it, working on verifying any regressions in the tests, but the behavior seems equivalent so far.

[2020-09-29 18:11] akp2603 commented on #796
Hi! I would be really interested to work on this one.
Is this still open?
(Will be needing a little guidance, this is going to be my first open source contribution)

[2020-09-29 18:11] akp2603 commented on #1560
Hi! I would be really interested to work on this one.
Is this still open?
(Will be needing a little guidance, this is going to be my first open source contribution)

[2020-09-29 18:20] chethanagopinath commented on #1560
Hey @akp2603, I was a bit lost on this one for a while, and I've been meaning to work on this forever, but yea you can pick this up if you want! I'll unassign myself.

[2020-09-29 18:40] akp2603 commented on #1560
hi @julianguyen! Can you assign me the issue and can we discuss this over slack once?

[2020-09-29 18:53] julianguyen commented on #796
Hey @akp2603 looks like this issue is available!

[2020-09-29 18:55] vanessa8794 commented on #1560
No

Tabitha Marsman  Sent from App for Gmail

Tuesday, September 29, 2020, 2:41 PM -0400 from notifications@github.com  <notifications@github.com>:

[2020-09-29 18:56] vanessa8794 commented on #1560
No

Tabitha Marsman  Sent from App for Gmail

Tuesday, September 29, 2020, 2:21 PM -0400 from notifications@github.com  <notifications@github.com>:

[2020-09-29 18:56] vanessa8794 commented on #1656
No

Tabitha Marsman  Sent from App for Gmail

Tuesday, September 29, 2020, 11:10 AM -0400 from notifications@github.com  <notifications@github.com>:

[2020-09-29 19:47] julianguyen commented on #1560
@akp2603 Just did! FYI, for future reference, you can assign yourself to issues :)

So @Acollie started work on this but never got a chance to finish https://github.com/ifmeorg/ifme/tree/data_export

So I recommend working off of the progress so far!

[2020-09-30 16:52] akp2603 commented on #1560
@julianguyen Not sure, if I can add myself. I am not a member of the organisation. So it's not showing me any option to assign myself. Maybe I am missing something.
Also, needed a little more clarity regarding the feature. Can we connect on slack(Just sent a mail to `join.ifme`)?

[2020-09-30 17:48] julianguyen commented on #1844
Thanks, everyone for verifying! I just submitted the process to verify our app. In the past, we didn't have to do this but it looks like we have to now.  I'll keep everyone posted!

[2020-09-30 17:51] julianguyen commented on #1560
Looks like you are and I assigned you to the issue!

Yeah definitely reach out to me on Slack :D

[2020-10-01 12:00] andrew-schutt opened #1851 "Devise deprecation warnings"
# Description

When running the test suite locally I noticed some Devise deprecation warnings (see screenshot)

Based on the message it seems we need to change the way we are calling and rendering the devise error messaging from `<%= devise_error_messages! %>` to `<%= render "devise/shared/error_messages", resource: resource %>`

Here is a relevant link on the Devise repo https://github.com/heartc

[2020-10-01 15:04] toshitapandey commented on #1851
@julianguyen @andrew-schutt - picking up this issue.

[2020-10-02 02:28] #1837 closed

[2020-10-02 03:26] julianguyen opened #1853 "Rename master branch as main"
# Description

We can now rename master branches in GitHub to anything else, so we should do that! Let's rename it to main.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/w

[2020-10-02 03:30] andrew-schutt commented on #1853
Good call!

[2020-10-02 03:49] thexdev opened #1855 "Requesting Indonesia Translation"
# Description

Hi, this is awesome application!

I'm planning to make the Indonesian translation for this project and i just start from the README.md :)

# Reproduction Steps

# Screenshots

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

C

[2020-10-02 03:49] julianguyen commented on #1855
This would be amazing, thank you so much! :D

[2020-10-02 03:50] #1853 closed

[2020-10-02 04:44] julianguyen opened #1857 "Fix act warnings in Jest tests"
# Description

If you run `cd client && yarn test`, you'll notice in the output the following warnings in various tests:

[code]

Even though this doesn't block our tests from running and passing, we should fix our tests so that we use `act()` correctly.

Here's recommended [reading](https://kentcdodds.com/blog/fix-the-not-wrapped-in-act-warning) on how to address this issue with React Testing Lib

[2020-10-02 07:39] flitzmare commented on #1855
I'd love to work on this!

*I've sent the email to join the organization anyway :)

[2020-10-02 15:39] julianguyen commented on #1855
It would be great if everyone @thexdev, @flitzmare, and @rahmatullah5 could work on the translations together! We have [documentation](https://github.com/ifmeorg/ifme/wiki/Translations) on this translations process!

[2020-10-02 15:40] rahmatullah5 commented on #1855
@julianguyen there is no README-ID.md file, can I create it in the next PR?

[2020-10-02 15:47] julianguyen commented on #1855
Yeah go ahead and do that!

[2020-10-02 16:35] rahmatullah5 commented on #1855
1 more thing @julianguyen, should I add a link to Indonesian README.md in the other translated README.md files.
For the example is main README.md file include links to the other translated README files
![image](https://user-images.githubusercontent.com/16495060/94947459-e03df980-0507-11eb-8453-5bc8da76beb6.png)

[2020-10-02 19:53] julianguyen commented on #1855
Yes you'll want to do that @rahmatullah5!

[2020-10-03 04:52] tyler-wel opened #1863 "Update the rubocop rules to be more lenient"
# Description

As discussed in [this PR comment](https://github.com/ifmeorg/ifme/pull/1861#discussion_r499109596), it will be a good idea to update the rubocop rules to be a little more lenient, especially with the `Metrics/MethodLength` rule.

We discussed removing the rule, but I think it may be better to set a higher limit, to maybe ~25 lines as a good absolute max. This will allow for more fle

[2020-10-03 05:01] davidsantoso77 commented on #1855
i'm done sir . i'm added indonesian language to your readme-id.md , thanks sir

[2020-10-03 05:19] rahmatullah5 commented on #1855
could you use my branch instead https://github.com/ifmeorg/ifme/pull/1865 ? And don't too much use google translate because it is kinda weird.

what do you think @julianguyen @davidsantoso77 ?

[2020-10-03 05:37] thexdev commented on #1855
Hi, it think you don't read my issue. I just make the readme for Indonesia translation and im done with it :)

[2020-10-03 06:49] rahmatullah5 commented on #1855
I see @thexdev, Have you create the PR? if you haven't created it, you can PR to my branch instead then we can merge it to the main branch to avoid any conflicts.

[2020-10-03 07:08] #1863 closed

[2020-10-03 07:46] sprakash57 commented on #1857
Is this available to pick up?

[2020-10-03 15:53] meanmachin3 commented on #1857
@sprakash57 I am working on it

[2020-10-03 16:18] #1840 closed

[2020-10-03 16:38] julianguyen opened #1869 "Set up aliases in Webpack"
# Description

Set up aliases in Webpack to make imports more streamlined 💃

Something like `import { I18n } from '../../../libs/i18n';` becomes `import { I18n } from 'libs/i18n';`.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out

[2020-10-03 16:39] #1836 closed

[2020-10-03 18:26] julianguyen opened #1872 "Use stylelint for SCSS linting"
# Description

We should add SCSS linting like we have linting for Ruby on Rails and React JS. Let's use [stylelint](https://github.com/stylelint/stylelint).

We'll want to add a `"lint:stylelint"` script to our `client/package.json` and add it to our general `"lint"` script.

Also note that we use SCSS in both Ruby on Rails and React, so the lint script will need to account for that.

---

Please

[2020-10-03 20:51] andrew-schutt commented on #1160
I will spend some time investigating the output from `bullet.log` locally and see if we can't get some actionable issues spun up similar to the `controller` -> `request` spec refactoring that is going on right now. Similar to this collection of issues https://github.com/ifmeorg/ifme/issues/1815

[2020-10-03 22:57] #1869 closed

[2020-10-03 22:57] julianguyen commented on #1160
Awesome thanks!!

[2020-10-04 02:31] #1822 closed

[2020-10-04 02:34] rahmatullah5 commented on #1855
Hi @julianguyen I'll continue to work on the translation for [devise](https://github.com/ifmeorg/ifme/blob/main/config/locales/devise.en.yml)

@thexdev @davidsantoso77 You can translate other files too that refer to this [documentation](https://github.com/ifmeorg/ifme/wiki/Translations), but to avoid any conflict again, please communicate with us which file that you want to translate in Indonesian

[2020-10-04 16:05] #1789 closed

[2020-10-04 16:55] #1838 closed

[2020-10-04 18:50] #1839 closed

[2020-10-04 23:57] julianguyen commented on #1844
We've been verified! Could folks test whether they can sign in/up now? :)

[2020-10-05 00:13] andrew-schutt commented on #1844
Still had the same error for me 😅 Perhaps it takes a little while to take effect?

[2020-10-05 00:48] julianguyen commented on #1844
I hope so lol. I double-checked the [Google OAuth scopes](https://github.com/ifmeorg/ifme/blob/695f7af517c74bbab982453f75ebe8b0790c0747/config/initializers/devise.rb#L318) we set and they seem correct.

They're appearing in GCP.
![image](https://user-images.githubusercontent.com/3010728/95031238-bef51e80-0669-11eb-9ae4-f433f86dd954.png)

[2020-10-05 01:01] #1823 closed

[2020-10-05 01:04] tyler-wel commented on #1824
@julianguyen @delbetu is it safe to close this issue?

[2020-10-05 01:07] julianguyen commented on #1824
Yes good catch!

[2020-10-05 01:07] #1824 closed

[2020-10-05 02:01] tyler-wel commented on #1824
Yep, no problem! Keeping the parent issue updated with what's been finished 😄

[2020-10-05 11:53] andrewhchang commented on #1872
I'll also begin working removing all stylelint warnings that it has generated in another branch :)

[2020-10-05 11:58] andrewhchang opened #1878 "Remove all stylelint warnings"
# Description

After adding stylelint, there will be a lot of warnings to remove. This issue is for that cleanup.

[2020-10-05 13:40] andrew-schutt commented on #1160
Been spending a little bit of time reading up on the [bullet gem](https://github.com/flyerhzm/bullet). Couple good resources that I found:
- http://railscasts.com/episodes/372-bullet
- https://www.123ish.com/en/entries/2235-optimize-your-rails-code-with-bullet-gem-and-speed-up-your-site-
- https://semaphoreci.com/blog/2017/08/09/faster-rails-eliminating-n-plus-one-queries.html
- https://medium.com

[2020-10-05 14:57] DRBragg commented on #1834
I enjoy a good refactor. Cool if I work on this?

[2020-10-05 16:30] julianguyen commented on #1844
Turns out I need to go through another verification level to be able to use sensitive scopes (for the Calendar API). So I had to submit a video demonstrating how it's used in our app and do a short write-up on why we can't narrow down our scopes.

Our app was only verified on a "brand level" lol.

Here's [more info on verification levels and scopes for Google OAuth2](https://developers.google.com/

[2020-10-05 16:31] julianguyen commented on #1160
This is awesome @andrew-schutt, thanks for looking into this and sharing resources! That sounds like a solid plan to me!

[2020-10-05 17:58] andrew-schutt commented on #1844
Come on Google!

![flipceral](https://user-images.githubusercontent.com/413224/95114964-590ca380-070a-11eb-980f-4e82c44bba80.gif)

[2020-10-05 23:11] #1872 closed

[2020-10-06 01:49] bennpham commented on #1834
@DRBragg I think you should be able to assign yourself on the task and work on it. Seems like no one is assign to it so you can probably grab it.

[2020-10-06 20:34] andrew-schutt commented on #1160
Alright here's a report back on my findings

For testing the performance of the `groups_controller` I ended up using the [rack-mini-profiler gem](https://github.com/MiniProfiler/rack-mini-profiler) This includes a small timing for loading the page in the upper left-hand corner.

![Screen Shot 2020-10-06 at 8 54 08 AM](https://user-images.githubusercontent.com/413224/95256669-ba0aa900-07e8-11eb-9b7

[2020-10-06 22:15] #1160 closed

[2020-10-07 01:33] FranceJ commented on #1656
The LoadMoreButton is another component which is still in class format. Want me to switch it over (it's stateless, shouldn't be any issues)?

[2020-10-07 01:41] FranceJ commented on #1656
Similarly, InputTextarea.jsx is also written in class format and could potentially be rewritten.

[2020-10-07 05:55] esparta commented on #1819
May I take this task?

[2020-10-07 06:37] andrewhchang commented on #1819
Hi @esparta! I'm actually in the middle of this - if you're keen, there's definitely a lot of other controller specs that need to be refactored :)

[2020-10-07 06:39] esparta commented on #1819
ohh my bad, I didn't see the assigment. Will move to other one.

[2020-10-07 06:43] esparta commented on #1830
If nobody else is assigned to this, I'd like to take this task.

[2020-10-07 15:53] MicahRamirez commented on #1802
I'm working on the QuickCreate hooks migration. Based on that work the existing tests have broken and so I'm going to go ahead and rewrite these tests with RTL!

[2020-10-07 17:20] julianguyen commented on #1802
Awesome thanks Micah :)

[2020-10-07 17:20] julianguyen commented on #1656
Ooo thanks for catching these @FranceJ!

[2020-10-07 18:46] julianguyen commented on #1844
@erickaorf @andrearosr @adedayomoshood What browsers were you using when encountering this error?

[2020-10-07 21:06] andrew-schutt commented on #1506
I updated the docs for installing via Docker here -> https://github.com/ifmeorg/ifme/wiki/Installation#docker

Thank you to everyone for the steps needed. I tested the steps locally after deleting all of my local Docker images successfully and tried to add clarity.

[2020-10-07 21:06] #1506 closed

[2020-10-08 00:01] FranceJ opened #1885 "Update password creation to NIST 2017 standards"
# Description

The current password creation step has outdated composition requirements It requires a number, special character, upper case, and lower case character The [current NIST standards](https://pages.nist.gov/800-63-3/sp800-63b.html#app) specifically call out these kinds of restrictions as commonly resulting in less secure user passwords

The password field should composition rules should

[2020-10-08 00:43] tyler-wel commented on #1834
@DRBragg
Please only assign yourself to *one* issue at a time.

https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues

[2020-10-08 03:32] bennpham commented on #1885
I'll probably like to take this on sometime around Friday :) . I remember posting about this on the **Suggested Password Strength Features** issue thread in regards to password strength meter and XKCD comic summary on password strengths: https://github.com/ifmeorg/ifme/issues/1696#issuecomment-678841098

I think the [Devise Pwned Password](https://github.com/michaelbanfield/devise-pwned_password)

[2020-10-08 10:32] adedayomoshood commented on #1844
I used Chrome

[2020-10-08 19:26] #1821 closed

[2020-10-08 23:40] SherSpock commented on #1690
@alekpentchev @julianguyen
Great discussion. I see that after a dialogue that primarily favored the usage of types and seemed to favor replacing Flow with Typescript, this went quiet and then to 'hold off for now'.

Though new to ifme, I also favor typed JavaScript -- I think the added complexity and time to compile are far outweighed by the assurances and readability it brings to a codebase.

Is

[2020-10-08 23:46] #1878 closed

[2020-10-09 16:27] julianguyen commented on #1690
Hey @SherSpock! I think we should move to TypeScript but it's not a pressing thing to do so since Flow does a decent job for now. If you have the bandwidth to get the ball rolling on this, feel free to assign yourself and remove the "hold off for now" label.

[2020-10-09 18:43] SherSpock opened #1893 "RSpec test runner resets sessions after every example"
# Description
Currently the RSpec test runner resets sessions after every example.
This behavior is currently configured in the `spec_helper`:

[code]

# Impact
This would appear to have minimally the following effects:

## Performance
Without benchmarking it's unclear how much performance overhead is involved here, but it seems reasonable to expect that it is measurable but marginal.

## Maintain

[2020-10-09 18:51] SherSpock commented on #1690
@julianguyen Great! Happy to hear it. There are probably lower-hanging and more sensible fruit for me to go after as a newcomer to the codebase. I'm just excited about this one :)

[2020-10-09 18:57] julianguyen commented on #1690
I recommended working on the issues that refactor our Rails and React tests :)

[2020-10-09 20:14] bennpham commented on #1885
Taken from NIST itself

I am going to drop the `password_histories` table as well. Not allowing old passwords by storing a password history is actually less secure. We should only force a change of password if the password is confirmed to be compromised.

You can listen to [Lance Spitzner talk](https://youtu.be/UWmGm-lu-5g?t=1800) or read his [blog from SANS](https://www.sans.org/security-awarenes

[2020-10-10 02:38] FranceJ opened #1898 "Pell WYSIWYG editor color not accessible"
# Description
The active colour for the Pell editor options is not an extreme enough colour change. On the current background I actually needed to squint very hard at the screen in order to tell that the italics button had been engaged successfully. For accessibility purposes, it should be obvious that colour has changed between active and inactive.

In this case, the switch from white to the curr

[2020-10-10 04:39] julianguyen commented on #1898
Thanks so much for catching this!

[2020-10-10 13:46] SherSpock commented on #1690
Agreed :)

[2020-10-10 16:27] julianguyen commented on #1844
Thanks! We've been approved! Please let me know if you're able to sign in/up or not!

[2020-10-10 18:04] #1835 closed

[2020-10-10 19:22] udayanshevade commented on #1844
Worked for me! At first I got a 400 for a missing `client_id`, but then after a couple of minutes I refreshed and tried again and it went through (Mac, Chrome v85).

For reference:

![Screen Shot 2020-10-10 at 12 16 04 PM](https://user-images.githubusercontent.com/11330558/95663291-eed17580-0af2-11eb-97e3-2c2a07532b67.png)

[2020-10-10 21:22] #1844 closed

[2020-10-10 22:19] andrew-schutt commented on #1844
Worked for me as well! Nice work!

[2020-10-11 03:25] udayanshevade commented on #1792
Will revisit the Accordion implementation in a follow-up PR, which will address the [implementation](https://github.com/ifmeorg/ifme/pull/1891#discussion_r502526556) of the Input tests.

[2020-10-11 03:25] #1792 closed

[2020-10-11 07:05] #1819 closed

[2020-10-11 19:34] #1804 closed

[2020-10-14 01:35] udayanshevade opened #1909 "Fix autosuggest selection using 'enter' keydown in QuickCreate widget"
# Description

**Type**: Bug
**Environment**: Development/local
**Branch**: 'main' (up to date)
**Browser**: Chrome 85.0.4183.121
**OS**: MacBook Pro Catalina 10.15.7

Note: I saw this happen while testing a PR locally, but wasn't able to reproduce it on the live site.

In the `QuickCreate` widget, pressing 'enter' while selecting a dropdown menu option has unexpected behavior:
- if the input valu

[2020-10-14 05:59] #1831 closed

[2020-10-14 13:36] #1832 closed

[2020-10-14 13:36] #1802 closed

[2020-10-15 01:51] MicahRamirez commented on #1656
@julianguyen Since my PR merged in are we good to close this issue?

[2020-10-15 02:57] julianguyen commented on #1656
Yes good call, thanks for finishing it up!!

[2020-10-15 02:57] #1656 closed

[2020-10-17 23:53] #1825 closed

[2020-10-18 01:39] #1909 closed

[2020-10-18 04:13] #1799 closed

[2020-10-18 05:01] #1885 closed

[2020-10-18 05:13] bennpham opened #1917 "Implement Devise Pwned Password To Restrict Breached Passwords"
# Description

Spunned off after merging https://github.com/ifmeorg/ifme/pull/1895. I think it'd be a nice feature to have [Pwned Password gem](https://github.com/michaelbanfield/devise-pwned_password) to use https://haveibeenpwned.com/ API to make sure that user does not used a password that has been found in a known data breach and reenables the change password pop up that was disabled in `app/v

[2020-10-18 16:40] #1793 closed

[2020-10-18 17:03] #1791 closed

[2020-10-19 00:38] andrearosr commented on #1898
Hello! I would like to collaborate with this issue, however, I've struggled to find a color in your design guide that passed both the contrast between the background color (mulberry #6d0839) **and** with white. The only colors from the design guide that pass the contrast check with a mulberry background (light-grey, key-lime (current) and cornflower) all have very low contrast with white.
Do you h

[2020-10-19 02:42] bennpham opened #1919 "Implement 2FA During Login"
# Description

I think it'd be nice to have 2FA after logging in on https://www.if-me.org/users/sign_in. Maybe we can have a modal popup for users to input that 2FA security code when they login normally via email or password.

This should not applied to sign in with google or facebook since those sites should have their own 2FA implementation if enabled.

A few gems we could check out that seems

[2020-10-19 04:26] bennpham opened #1920 "Lock Account After Failed Password Attempts"
# Description

Spun off after merging https://github.com/ifmeorg/ifme/pull/1895. [Current NIST guidelines](https://pages.nist.gov/800-63-3/sp800-63b.html#throttle) recommend no more than 100 failed login attempts as an upper bound before locking accounts.

Reading through [stackexchange account lockout policy guidelines](https://security.stackexchange.com/a/158084), 100 attempts can be a pretty hi

[2020-10-19 04:31] bennpham opened #1921 "Setup Recaptcha After A Certain Amount of Failed Login Attempts"
# Description

Spunned off after merging https://github.com/ifmeorg/ifme/pull/1895. It'd probably be a nice feature to implement recaptcha after a certain amount of failed logins. I think 3 failed attempts would be a good time to ask user to correctly answer Recaptcha to make sure they're not a bot.

## Additional Notes

Gem for Recaptcha: https://github.com/ambethia/recaptcha

---

Please assign

[2020-10-20 20:24] #1820 closed

[2020-10-23 19:34] #1920 closed

[2020-10-23 21:32] julianguyen commented on #1560
Thanks to @akp2603 we have an API for downloading user data to CSV files. This is the [PR](https://github.com/ifmeorg/ifme/pull/1900) for those changes.

The next step is building a button for this on the `/account` page.

[2020-10-27 13:08] #1827 closed

[2020-10-27 19:47] #1790 closed

[2020-10-28 12:32] #1834 closed

[2020-10-28 17:20] #1796 closed

[2020-11-05 01:39] #1917 closed

[2020-11-10 02:48] seannemann21 commented on #1921
Hello, I started working on a PR, and I was wondering if you could provide any feedback as to whether this is what you had in mind? https://github.com/ifmeorg/ifme/pull/1936. I still need to add tests and clean up a few things, but the logic is mostly there. It was based off of https://github.com/heartcombo/devise/wiki/How-To:-Use-Recaptcha-with-Devise, but I had to add logic for the 3 failed atte

[2020-11-10 03:02] bennpham commented on #1921
I like the cookie idea for this.

I'd prefer not to make the user experience discomforting for this matter especially since we eventually have 20 fails to lock. I think that'd be good enough. I'd rather not punish the user unfairly from a gimmick as long as other procedures are in place. Sometimes misspelling happens a lot multiple times, especially if you have a very long sentence for a password.

[2020-11-10 03:18] seannemann21 commented on #1921
Ok, yeah, I'll add the cookie! That should resolve the issue with the user not having a recaptcha if they leave and come back, so they shouldn't have to go through that awkward process of submitting the form only to realize they need to resubmit with the captcha. Unless, of course, they clear the cookie. Regarding the 20 fails to lock bit, do you think an attempted login without the recaptcha shou

[2020-11-10 03:25] bennpham commented on #1921
I don't think the attempt without the captcha should count as fail login. I'd let Devise handle however it handles that if it does already. Not sure what happens if a user or bot refuse to submit the correct recaptcha (maybe their while loop just won't end? 🤷 )

I probably like V2 best. Is that new one I complained about V3? I'm not the biggest fan of it personally.

[2020-11-10 03:36] seannemann21 commented on #1921
Yeah, Devise's suggestion for implementing a recaptcha is to prepend the `create` endpoint in the `SessionsController` with the recaptcha check and redirect back to the login form if the check fails, so a failed recaptcha check never actually gets processed by devised (so no failed attempt unless we explicitly increment it). As a result, yeah, basically the loop won't end, so they. can just keep t

[2020-11-11 01:07] tlansey commented on #796
Looks like no one is on this one now! I'm sending a request to join soon and plan to assign myself to this issue once all that has been set up! First time contributing to open source :)

[2020-11-11 18:05] julianguyen commented on #796
@tlansey It would be great for you to work on this! Thank you :)

[2020-11-16 14:31] akshitagupta15june opened #1938 "Request for joining the organizatio"
# Description

# Reproduction Steps

# Screenshots

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2020-11-17 04:41] JayantGoel001 opened #1939 "I want To Join this organization."
**
# Description

# Reproduction Steps

# Screenshots

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2020-11-17 16:00] andrew-schutt commented on #1938
Hello @akshitagupta15june!

Be sure and checkout the guide for joining the community (https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack). Download Slack (https://slack.com/downloads) and then follow the steps for Joining Our Slack. If you want to start contributing you can check out the [wiki](https://github.com/ifmeorg/ifme/wiki) for more information to [contribute](https://github.com/ifmeorg/i

[2020-11-17 16:04] andrew-schutt commented on #1938
Going to close this as well as the information for joining is in the wiki 👍

[2020-11-17 16:04] #1938 closed

[2020-11-19 07:01] aschrijver opened #1940 "You were added to awesome-humane-tech"
This is just a FYI issue to notify that you were added to the curated awesome-humane-tech in the 'Health' category, and - if you like that - are now entitled to wear our badge:

[![Awesome Humane Tech](https://raw.githubusercontent.com/humanetech-community/awesome-humane-tech/main/humane-tech-badge.svg?sanitize=true)](https://github.com/humanetech-community/awesome-humane-tech)

By adding this to

[2020-11-23 02:00] seannemann21 commented on #1921
Sorry, I've been a bit busy over the last two weeks. I'm still working on this (finishing up tests). I'm hoping to have a PR ready to review sometime this week.

[2020-11-29 19:36] julianguyen commented on #1940
Awww thank you for adding us! We'll add our badge!

[2020-11-30 07:03] bennpham commented on #1919
Peeking through Tinfoil's Devise Two Factor, I think that gem's is kind of dying and deprecated. I remember attempting to implement this as a Spike story at work and ran into problems, so I think Tinfoil's Devise Two Factor might be a bit out of the question :/ https://github.com/tinfoil/devise-two-factor/issues/170

I had my eyes on Houdini's two factor authentication which is related to Tinfoil'

[2020-11-30 21:50] #1939 closed

[2020-12-05 17:05] adorgan opened #1941 "Incorrect form hint for adding/editing medication name"
# Description

When adding or editing a medication to a user profile, the hint text that pops up when hovering over the '?' for medication name reads "Categorize recurring people, places, things, activities, and more." This seems to be the hint meant for when creating new categories.

# Reproduction Steps

1. Select Medications from left side bar
2. Click New Medication
3. Hover cursor over '?' as

[2020-12-08 17:53] sebassebas1313 commented on #1919
I would like to take this one. It's seems a nice way to start my contribution.

[2020-12-09 00:10] bennpham commented on #1919
@sebassebas1313 Go ahead and assign yourself if no one is assigned to it here! Also you can join the slack channel for IFME.

[2020-12-10 04:57] #1941 closed

[2020-12-10 21:02] #1893 closed

[2020-12-12 16:03] #1921 closed

[2020-12-13 02:21] PochecoPachico commented on #1898
Hello! I'm also collaborate with this issue. It is great idea, however, I thought that it might be difficult to distinguish between on and off in underscore button. So, I'd like to suggest to change default (off) button color to grey like screenshots I have attached.
I'm sorry if I violate the style rule. I hope this helps you.
Thank you!

Inactive:
![Screen Shot 2020-12-13 at 11 15 18](https://us

[2020-12-14 20:08] marthaerm commented on #1601
Hi! @julianguyen I was looking at this issue and I would like to know if there is someone working on this? I would like to give it a try :)

[2020-12-14 22:16] rutger-t commented on #1601
Hi Marthaerm,

I got a bit busy so please go ahead and take it

Good luck!

[2020-12-18 04:49] julianguyen commented on #1898
Hi @PochecoPachico! Sorry for the late reply!

So I don't think grey works here because its contrast with the mulberry colour doesn't meet accessibility standards. You can use colour contast checkers like [this](https://webaim.org/resources/contrastchecker/) verify.

I think the better solution is finding a different colour than `key-lime` so that there is more contrast between that and the white.

[2020-12-18 20:40] #1803 closed

[2020-12-31 12:29] delbetu commented on #1829
implemented in: https://github.com/ifmeorg/ifme/pull/1906

[2020-12-31 12:29] #1829 closed

[2021-01-01 14:42] sebassebas1313 commented on #1919
Sadly, This issue goes beyond the scope I was thinking. So, I am going to leave open to someone with more time. Thank you for your help anyways @julianguyen

[2021-01-01 15:44] sebassebas1313 opened #1947 "Fix update in 'Customize your account' view redirects incorrectly"
# Description

When inserted a valid current password, `update` in `Customize your account` view tries to render the result of `POST` to `/users` resulting in a `This page is not working` .

[2021-01-04 07:50] YusufSuleman commented on #1898
Maybe we can change the size of the Icon.

[2021-01-04 17:51] julianguyen commented on #1898
Oooh @YusufSuleman that's a great suggestion!

[2021-01-09 06:14] PochecoPachico commented on #1898
@YusufSuleman Thank you for great suggestion!
I simply implemented your idea. I've attached images.
I want to make sure there are no discrepancies.

Thank you!

Inactive:
<img width="984" alt="Screen Shot 2021-01-09 at 15 11 01" src="https://user-images.githubusercontent.com/12394598/104084726-f4269380-528c-11eb-8316-8fdc5d65a806.png">

Active:
<img width="981" alt="Screen Shot 2021-01-09 at 15 13

[2021-01-09 11:25] MetaMan13 commented on #1898
Hello wonderful people of the internet. I am a junior level developer and I was searching for some open source projects I can contribute to. I found your project and I am very interested in contributing to this project. Hereby I ask the contributors of this project if it is okay that I contribute to this too. I would also be very thankful to anyone willing to clue me in to this particular project

[2021-01-11 11:21] #1947 closed

[2021-01-12 20:50] sebassebas1313 commented on #1826
@placy2 do you mind if I take this?

[2021-01-12 21:15] placy2 commented on #1826
Go for it, I believe it's pretty much done, there was just some odd stuff in a couple of the tests that needed deeper knowledge of the repo.

[2021-01-14 21:50] bennpham commented on #1898
@MetaMan13 I think you can join the Slack channel and if there's no one assigned to this issue, feel free to assign yourself and take it.

[2021-01-25 10:17] YusufSuleman commented on #1898
Will this be ever finished. I have completed the W3Schools CSS Tutorial and can implement the size change.

[2021-01-26 02:17] julianguyen commented on #1898
Hey @YusufSuleman! That's awesome you did that. We would love for you to pick this up!

[2021-02-02 10:43] PochecoPachico commented on #1940
If there is no problem, I will make PR!

[2021-02-02 12:09] Finnday opened #1953 "i"

[2021-02-02 12:52] #1953 closed

[2021-02-10 05:29] Arunthogadiya opened #1955 "Send activation mail while normal sign up"
I think sending activation mail while normal signing up is better to validate the email.

[2021-02-10 05:46] Revathyne opened #1956 "Security issue in profile picture uploading"
Anyone can upload a ruby shell through the profile picture uploading section which is vulnerable to the application. Make sure to upload only valid picture formats such as jpg, jpeg, png.

[2021-02-16 06:04] #1940 closed

[2021-02-17 04:53] #1956 closed

[2021-02-17 04:54] #1955 closed

[2021-02-18 07:26] julianguyen opened #1964 "Devise confirmable clashing with Google and Facebook OAuth"
# Description

A merged [PR](https://github.com/ifmeorg/ifme/pull/1958) to enable confirmation emails in Devise is breaking the user login for Google and Facebook authentication.

# Reproduction Steps

1. Sign in with Facebook or Google account
2. Unable to sign in, error message requesting user to confirm their email (this should not happen for OAuth users)

# Screenshots

![image](https://user-i

[2021-02-22 16:05] xunxdd opened #1967 "Add missing unit tests to the components"
# Description
Most of the react components have great tests written. However not all of them, for example, ifme/client/app/components/Header/HeaderProfile.

# Reproduction Steps
Check the repo, client/app/components.

# Screenshots

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github

[2021-02-22 16:11] xunxdd commented on #1967
i'd like to add some of the tests as my way to get familiar with the code base

[2021-03-20 14:46] mikachan commented on #1967
Hi @clchinara, are you still working on this or are there any specific unit tests you're already working on? I was going to help out but noticed you'd already assigned yourself to this.

[2021-03-20 15:01] clchinara commented on #1967
@mikachan Not yet, you can take this issue.

[2021-03-22 18:21] xunxdd commented on #1967
Sorry, I intended to work on it. Then got super distracted, side tracked.

I did start working on it a bit. And the branch is at https://github.com/ifmeorg/ifme/tree/add-components-tests. Though the team has done such a great job. Most of the components have great tests. And the two little tests I added are pretty trivial, I do not even know if they are really needed

[2021-03-22 21:15] mikachan commented on #1967
Ah I didn't see your branch, these are the two components I began with as well because like you say, there aren't that many missing. I've also started looking at the HeaderProfile component as you mentioned in the original issue.

Thanks for replying. I'll update as I make progress.

[2021-03-29 23:14] #1967 closed

[2021-04-03 22:50] bennpham commented on #1833
I won't have time to get through this, but here's my WIP in case someone wants to give it a shot. The only thing I think that's needed left is to replace all the `assigns`. The tricky part I'm having is what to check in the response body that matches this accurately.

[code]

[2021-04-06 17:27] Tejesh17 commented on #1898
Hey, do you guys still need help on this?

[2021-04-07 03:00] julianguyen commented on #1898
@YusufSuleman how is this going?

[2021-04-13 16:32] #425 closed

[2021-04-17 17:48] #1833 closed

[2021-04-17 17:59] #485 closed

[2021-04-30 07:58] Flabberdapperdan commented on #1898
Hi there! I'm looking to make my first open-source contribution and this seems well within my capabilities. So, would love to help out if there are problems with implementing this.

[2021-05-03 11:52] akp2603 commented on #1919
Hi @faithngetich! Did you pick this up?

[2021-05-03 12:26] faithngetich commented on #1919
No @akp2603 I'll remove myself from the issue.

[2021-05-31 16:19] julianguyen opened #1987 "Add the ability to remove formatting when copying and pasting in editor"
# Description

If you copy and paste text from another page/screen into our editor, the formatting of the text is copied like so:

![image](https://user-images.githubusercontent.com/3010728/120220239-4abb4c80-c1f1-11eb-99fe-3b4a14dd2e09.png)

By default, it would be preferrable to automatically remove HTML formatting.

---

Please assign yourself (via the Assignees dropdown), if you do want to wor

[2021-06-01 07:48] nad0m commented on #1987
@julianguyen How should we handle the case where the user copy and pastes a formatted text from the current editor?

[2021-06-01 15:21] julianguyen commented on #1987
@nad0m Good question! I think it should be copied and pasted as plaintext!

[2021-06-09 23:32] #1987 closed

[2021-06-10 03:08] #1794 closed

[2021-06-10 04:27] #1857 closed

[2021-06-10 05:42] Kyliec89 opened #1991 "Groups Link Possible Bug"
# Description

When accessing the Groups page within the application, there is a bolded blue "Group" within the text, but when clicking it, it does not seem to respond. I understand that if you are not part of any groups, there is nothing on that page to navigate to, and my account is not a member of any groups. I am not sure if this function looks different for someone who is a part of a group, a

[2021-06-11 17:52] julianguyen commented on #1991
Hey @Kyliec89 thanks for reporting this! Yeah, this is definitely a bug and not so great experience. The reason why there are links is because the text is also being use don our [FAQ page](https://www.if-me.org/faq). I think we want to solve this by removing the links on the other pages this text appears in.

Namely, in https://github.com/ifmeorg/ifme/blob/caed206940196e645ca9a16a4919c3b399a4fc42/

[2021-06-20 20:55] #1991 closed

[2021-06-20 21:14] julianguyen opened #1994 "Add filter to Moments page (index)"
# Description

It would be useful to be able to filter Moments posts by:

* Secret Share enabled
* No viewers
* At least one viewer
* Comments enabled
* Draft enabled
* Published

Filtering should work with the existing search feature as well. It might be worth being able to filter by multiple traits, so creating a new UI component for that would be necessary here.

Let's use our [InputSelect](htt

[2021-06-21 04:28] nad0m commented on #1994
Hey @julianguyen , if we want to filter by multiple traits, should we be using the `InputSelect` component? Not sure if I understand it correctly, but seems like the component only lets you select one option at a time.

[2021-06-21 04:53] julianguyen commented on #1994
@nad0m Correct, the `InputSelect` component only lets you select one option at a time. So we would have to create an 'InputMultiSelect` component to be able to filter by multiple options.

[2021-06-21 04:56] julianguyen commented on #1994
@nad0m An `InputMultiSelect` component could be similar to [this one from Bootstrap](https://mdbootstrap.com/docs/standard/extended/multiselect/).

[2021-06-22 23:15] adang48 commented on #1898
@YusufSuleman are you still working on this?

[2021-07-05 03:40] #1898 closed

[2021-07-16 01:35] adang48 commented on #1919
Could I give this a try? @julianguyen

[2021-07-16 03:11] julianguyen commented on #1919
Yeah of course that would be great, thanks @adang48 !

[2021-08-10 20:47] franpb14 commented on #1994
Hey! I've just made this component, I wanted to ask what you think about the design or if you would change anything.

https://user-images.githubusercontent.com/70280187/128932031-2e2ff7fb-4c96-444e-a18f-7b8733568c5a.mp4

[2021-08-10 22:30] julianguyen commented on #1994
This looks great @franpb14! Can we change "Filter Moments posts by..." to "Filter by"?

What do you think of placing the filter component to the right of the search bar?

[2021-08-11 14:51] franpb14 commented on #1994
How exactly? as option A:

https://user-images.githubusercontent.com/70280187/129051100-e195c702-e980-41e4-ab4a-382b6bba13b9.mp4

or as option B:

https://user-images.githubusercontent.com/70280187/129051220-ceb40f38-ce58-4e70-9232-e55939bca851.mp4

Personally I prefer option A because it is more intuitive, the user will know that they have to apply the filters first and then click on search.

[2021-08-12 00:51] julianguyen commented on #1994
@franpb14 I think the Filter tool should be able to operate independently of the search bar. But yeah, filtering on a search should work too. I think B works well for that!

Thanks for laying out the options :)

[2021-08-18 17:15] franpb14 opened #2007 "Error 500 when creating a moment without description"
# Description

When you try to create a moment without filling in the "write about it" part, the server returns a 500 error. The form should not be submitted with this field empty.

# Reproduction Steps

1. click on "new moment".
2. fill the title, "Name".
3. click on submit and you will see the error.

I have tested it on ubuntu 20.04 on both chrome version 92.0.4515.159 and Firefox 91.0.

# Scre

[2021-08-19 19:35] js-sapphire commented on #2007
Can I take a dig at this ?

[2021-08-21 16:45] julianguyen commented on #2007
@js-sapphire Go ahead and please to assign yourself to this issue!

[2021-09-01 06:57] #2007 closed

[2021-09-03 13:53] prajogoatmaja commented on #1855
Hello. I somewhat saw this issue. Do you still need any help for Indonesian translation? I can try helping with the i18n as well if you would like.

[2021-09-03 16:22] julianguyen commented on #1855
@prajogoatmaja We would love your help!!!

[2021-09-03 18:21] prajogoatmaja commented on #1855
I will continue this issue from [this PR](https://github.com/ifmeorg/ifme/pull/2010). Will update regularly

[2021-09-13 10:14] alexiamcdonald commented on #884
Hello! I started this but I have become stuck on react component issues. Maybe if someone who knows react better than me could have a look that would be great.

[2021-10-01 20:47] brunoocasali commented on #1964
@julianguyen can I take this?

[2021-10-01 22:32] tsara27 commented on #1830
Hello @julianguyen,

I hope you are doing well! Can I take this issue?

[2021-10-04 17:30] julianguyen commented on #1830
Hey @tsara27 that would be great! Thanks so much and I hope you're doing well too :)

[2021-10-05 00:55] brunoocasali opened #2016 "Performance improvement on the home page"
# Reproduction Steps

- Enter on homepage
- Watch the logs

# Screenshots

![image](https://user-images.githubusercontent.com/4116980/135939698-ffe19498-e9a3-4ee7-96a7-1f1b7eadf405.png)

[2021-10-05 15:28] #2016 closed

[2021-10-05 15:31] #1851 closed

[2021-10-07 02:36] chethanagopinath commented on #1828
Hi, was wondering if this was okay for me to pick up :)

[2021-10-07 22:05] brunoocasali opened #2022 "Resque gems usage"
hello everyone!

Do we still use these resque gems?

[code]

If not, we could remove that :D
Or if we do, maybe is time to move on to sidekiq (I saw sidekiq on the Gemfile too)

[2021-10-13 03:55] ghost opened #2030 "하지만 교"

[2021-10-15 15:56] #2030 closed, assigned to nobody

[2021-10-16 04:14] julianguyen commented on #1855
Re-opening this issue because we still need translations for `id.yml` and to implement the ability to toggle to Bahasa Indonesia in the UI (see [docs](https://github.com/ifmeorg/ifme/wiki/Translations)).

[2021-10-16 10:45] rizkaluthfiani commented on #1855
@julianguyen I have made my code, but I can't push the code or make the PR. What should I do?

[2021-10-16 16:12] julianguyen commented on #1855
@rizkaluthfiani What error messages are you encountering? Also, I can add you to our GitHub org!

[2021-10-16 17:22] julianguyen opened #2031 "Fix console.error messages in React test output"
# Description

Fix from `app/components/Form/__tests__/DynamicForm.spec.jsx`:

[code]

Fix from `app/components/Form/__tests__/Form.spec.jsx`:

[code]

# Reproduction Steps

[code]

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out

[2021-10-16 21:24] julianguyen opened #2033 "Fix Node warnings in React Jest tests"
# Description

Fix the following Node warnings in React Jest tests:

[code]

# Reproduction Steps

[code]

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Iss

[2021-10-16 21:35] #2031 closed

[2021-10-16 21:40] julianguyen opened #2034 "Address deprecation warning for Initialization autoloaded the constants ActionText::ContentHelper and ActionText::TagHelper"
# Description

[code]

# Reproduction Steps

[code]

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2021-10-17 06:22] AudreyKj commented on #2033
I would love to take this in :)

[2021-10-17 13:28] rizkaluthfiani commented on #1855
My error is I can't push my local branch to this repository after searching the solution, I found that I need to be a part of your github organization to push my branch. Then what should I do in order to be a part of your organization?

[2021-10-17 14:35] #2034 closed

[2021-10-17 14:50] julianguyen opened #2037 "Improve a11y of Tooltip component"
# Description

From the [axe-core](https://github.com/dequelabs/axe-core), Deque's a11y linter:

[code]

Let's update this component to use `role="tooltip"`, here's more [info](https://www.w3.org/TR/wai-aria-1.1/#tooltip) about that!

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://gith

[2021-10-17 14:54] julianguyen opened #2038 "Improve the a11y of Avatar component"
# Description

From the [axe-core](https://github.com/dequelabs/axe-core), Deque's a11y linter:

[code]

Let's update this component to add `alt=""` when no prop value for `alt` is passed into the component!

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/J

[2021-10-17 15:05] julianguyen opened #2039 "Improve a11y of Modal component"
# Description

From the [axe-core](https://github.com/dequelabs/axe-core), Deque's a11y linter:

[code]

The element that lets us toggle the modal has `role="button"` but `tabIndex={0}`. We'll either want to get rid of this and back sure the children aren't focusable, or keep this and make sure the children are focusable.

---

Please assign yourself (via the Assignees dropdown), if you do want to

[2021-10-19 16:39] #2038 closed, assigned to AudreyKj

[2021-10-20 18:27] #2037 closed, assigned to AudreyKj

[2021-11-09 17:16] wsmi22 opened #2052 "Contact | Security Issue"
Dear ifme contributors,

I've tried to contact several of you through email, but got no response.
Please get back to me at: vulnerability@whitesourcesoftware.com.
It's about security issues found in your project.

Thanks,
Miriam

[2021-11-15 17:41] julianguyen commented on #2052
Thanks, @wsmi22! Took a look at the report, and I can put together GitHub issues for the concerns your team raised!

[2021-11-17 18:32] #2039 closed

[2021-12-02 16:03] Tera15 commented on #2033
Hello! I'm curious if this issue still being actively worked on? If not, I would love to pick it up :)

[2021-12-02 17:56] julianguyen commented on #2033
@Tera15 Nope, feel free to assign yourself! Thanks :)

[2021-12-02 18:07] Tera15 commented on #2033
🙏  Thank you :)

[2021-12-07 23:13] kkreine commented on #1828
Hey @chethanagopinath, are you still working on this issue? If not, I'm happy to pick this up

[2021-12-07 23:13] kkreine commented on #1830
Hey @tsara27 , are you still working on this issue? If not, I'm happy to pick this up

[2021-12-08 00:14] tsara27 commented on #1830
Hello!

Yes, I am still working on that part. Thanks for reminding me! :smile:

I forgot and it was left because I was dragged into something else. :sweat:

[2021-12-08 01:04] kkreine commented on #1830
@tsara27 Okay that's great! Let me know if you'd like any help. Good luck :)

[2021-12-09 14:42] wsmi22 commented on #2052
Hey @julianguyen
Thanks for all the fixes!
Do you have any updates about the session expiration vulnerability?
Please let us know ASAP 🙏
Thanks again and we appreciate your kind and fast collaboration! 😊

[2021-12-09 20:20] julianguyen commented on #2052
@wsmi22 I haven't fixed the session expiration vulnerability yet because I've been busy, but I will try to take a look later this week!

[2021-12-10 04:31] chethanagopinath commented on #1828
Hi @kkreine took a bit of a break but I'll get to working on it this weekend, if I'm unable to figure it out, will tag you so that you could pick it up - hope that's okay 💫

[2021-12-14 00:55] julianguyen opened #2058 "Insufficient session expiration"
# Description

This is part of an audit that WhiteSouce did on our site (see: https://github.com/ifmeorg/ifme/issues/2052).

Our site does not properly invalidate a user’s session even after the user initiates logout. It makes it possible for an attacker to reuse the admin cookies either via local/network access or by other hypothetical attacks.

Vulnerable code: https://github.com/ifmeorg/ifme/bl

[2021-12-14 01:04] julianguyen commented on #961
Not a necessary feature

[2021-12-14 01:04] #961 closed

[2021-12-14 01:04] #1006 closed

[2021-12-14 01:05] #1696 closed

[2021-12-14 23:22] kkreine commented on #796
It’s been a while since this issue has been touched, so I’d like to outline the feature to be sure I understand it correctly.

A disabled account
- Is not visible to allies
- Cannot be interacted with
- Does not lose any of its data

This can be achieved by using an “active” flag on accounts set to true or false.

Method for re-activating account:
- creating a new page that allows the user to re-e

[2021-12-15 00:00] julianguyen commented on #796
@kkreine

Those specs are a good starting point! I think modal that pops up giving disabled users the option to reactivate their account after a signing in (with password and through Facebook/Google OAuth).

There are some edge cases to consider and talk through more after addressing what you outlined:
* Comments from disabled users
* Ally invites from disabled users

If it helps, feel free to mak

[2021-12-22 19:25] MuraraAllan commented on #1919
Can I help with this ticket?

[2021-12-24 02:43] julianguyen commented on #1919
Yes that would be great, thanks @MuraraAllan! Let us know if you have any questions!

[2021-12-29 18:48] MuraraAllan commented on #1919
@bennpham @julianguyen  hey \o

Some commits were made into Tinfoil's, should we reconsider it?

I'm also coming forward with my planning, OTP_SMS and OTP_QRCODE ( String )

![proposalç (3)](https://user-images.githubusercontent.com/8569238/147693902-77b0464b-bee8-4aae-a193-72d7cd66d922.jpg)

I'm considering adding a custom strategy to Devise::Warden, or a Custom Controller, implementation details

[2022-01-02 14:46] julianguyen commented on #1919
@MuraraAllan Hey Allan! I think it would be worth looking into Tinfoil again before setting up a custom implementation! Hmm I think we should hold off implementing OTP_SMS because we don't have the financial means to pay for SMS services. Hope that helps! Great questions and thanks sketching things out!

[2022-01-02 14:49] #1830 closed

[2022-01-06 23:40] kkreine commented on #796
I think it makes sense to change the name from “disabled” to something such as “paused.”  Disabled is used to describe people physically or mentally disabled, and it sounds off to call an account “disabled” given the other usages of the word. Any ideas other than “paused”?

How are comments and ally invites from banned and deleted users dealt with? That could influence how paused users are handled

[2022-01-07 04:16] julianguyen commented on #796
@kkreine That's a great idea to change the wording to "paused"! Thanks so much for bringing that up! We'll also want to make sure we use inclusive language for our other translations.

For deleted users, they are deleted. For banned users, they are just hidden from the UI.

1. I like the idea of keeping them and showing them with a removed label.
2. I agree that ally invites should be revoked. I t

[2022-01-14 19:33] bennpham commented on #1919
@MuraraAllan @julianguyen Agreed on that. Sorry for late response, been on a big project and had a lot of plans recently so been out the loop. I think I looked into Tinfoil before way back but that was while it was still kind of dead-ish, but looks like activity picked up in 2021 :+1:

[2022-01-24 16:21] wsmi22 commented on #2058
Hey @julianguyen and @tsara27 🙂
Do we have an estimation for the fix release (when approximately it will be out)?
Thanks in advance for your collaboration 🙏

[2022-02-02 02:56] MuraraAllan commented on #1919
@bennpham nice to meet you \o @julianguyen both thanks for answers

People, sorry long time no see :)  Around again hope so

ETA  of POC : feb 11

[2022-02-04 00:32] julianguyen commented on #2058
I'll just take this on to get this fix out the door. Our contributors have different schedules and busy schedules/full-time jobs/etc., including myself @wsmi22.

[2022-02-04 03:09] #2058 closed

[2022-02-04 03:22] #2052 closed

[2022-03-29 16:43] #1855 closed

[2022-04-07 06:49] timagixe commented on #2033
@Tera15 @julianguyen hello. I was not able to reach someone at join.ifme@gmail.com. Please take a look on my fix for this issue https://github.com/ifmeorg/ifme/pull/2082 whenever you have a chance.

[2022-04-07 07:20] julianguyen commented on #2033
@timagixe Sorry, we didn't get your email. Could you try sending it again? I can add you to our GitHub org though.

Will take a look this week, thanks!

[2022-04-07 07:54] timagixe commented on #2033
@julianguyen, thanks, accepted. I have sent an email message once more time.

[2022-04-07 08:31] timagixe opened #2083 "Storybook seems to be not working"
# Description
Story book is not showing the components

# Reproduction Steps
1. open storybook - http://design.if-me.org/
2. open any available component - http://design.if-me.org/?path=/story/components-header--with-no-active-link
3. observe error instead of a component view

[code]

# Screenshots
<img width="1920" alt="Screen Shot 2022-04-07 at 11 30 51 AM" src="https://user-images.githubusercon

[2022-04-07 16:50] #2033 closed, assigned to Tera15, timagixe

[2022-04-14 20:28] #2083 closed

[2022-05-22 03:12] decisivewaffles opened #2107 "Incomplete rendering on Safari due to regex incompatibility"
# Description

Due to an incompatible regular expression, Safari does not complete rendering of this site.

The dev console shows this error: SyntaxError: Invalid regular expression: invalid group specifier name

This is the regex causing the issue: `/(?<={).*?(?=})/g`

The issue is that lookbehind assertions are not supported in Safari (or IE):
https://caniuse.com/js-regexp-lookbehind
(Hence the

[2022-05-25 00:43] julianguyen commented on #2107
Thanks so much for reporting this bug @decisivewaffles! Just made a pull request to fix the issue!

[2022-05-25 04:44] #2107 closed

[2022-09-30 00:14] julianguyen opened #2115 "Update to the latest version of React (v18)"
# Description

This requires updates to the following packages:

* Gems: react_on_rails
* npm packages: React (and related dependencies) and react-on-rails

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](h

[2022-09-30 00:18] julianguyen opened #2116 "Update to latest Ruby (v3) and Rails (v7)"
# Description

* Update to latest Ruby (v3) and Rails (v7)
* Refer to the [official guide](https://guides.rubyonrails.org/v7.0/upgrading_ruby_on_rails.html)

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](

[2022-09-30 00:39] julianguyen opened #2117 "Add more tags to Popular Tags section on the Resources page"
# Description

Add links to the "Addiction" and "Sexual Assault Survivors" tags to the Popular Tags section on the [Resources page](https://www.if-me.org/resources) 💜

# Screenshots

![image](https://user-images.githubusercontent.com/3010728/193165612-6e560c81-8348-4c1a-a962-cd31a636f604.png)

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't fin

[2022-10-01 02:13] julianguyen commented on #2117
Closing this cause it looks like already have this in the popular tags section, sorry about that @skukhniy!

[2022-10-01 02:33] julianguyen opened #2118 "Fix keyboard navigation for modals"
# Description

When using keyboard navigation to `TAB` through a page, modals should not open up unless the `ENTER` key is hit. Currently, this is not happening when a user hits `TAB` on a button that triggers a modal, the modal opens up.

Fixing this issue should be done in the [React component for Modal](https://github.com/ifmeorg/ifme/blob/main/client/app/components/Modal/index.jsx).

# Reprodu

[2022-10-01 02:39] julianguyen opened #2119 "Fix security vulnerabilities that can't be automatically fixed by Dependabot alerts"
# Description

Update JS and Rails dependencies from this [list of Dependabot alerts](https://github.com/ifmeorg/ifme/security/dependabot) 🔒

Please make one PR per dependency update!

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check o

[2022-10-01 09:15] Im-Kunal-13 commented on #2115
@julianguyen can you assign me this issue? I would like to work on it.

[2022-10-01 14:17] #1690 closed

[2022-10-01 14:39] julianguyen opened #2120 "Add ARIA attribute to element that opens the Tooltip component"
# Description

In the [Tooltip component](http://design.if-me.org/?path=/docs/components-tooltip--element-is-text) ([code](https://github.com/ifmeorg/ifme/blob/main/client/app/components/Tooltip/index.jsx)), the element that opens the tooltip has an `aria-labelledby` attribute on it so that it can be associated with the element with `role="tooltip"`.  This element that opens the tooltip does not h

[2022-10-01 14:55] julianguyen opened #2121 "Improve aria-label values in non-text links in the StoryActions component"
# Description

The [Story component](http://design.if-me.org/?path=/docs/components-story--all-props) ([code](https://github.com/ifmeorg/ifme/blob/main/client/app/components/Story/index.jsx)) appears on many pages, including the signed-in homepage when there are viewable Moments or Strategies and any signed-in page that's displaying a list of items.

The [StoryActions sub-component](https://github

[2022-10-01 15:01] julianguyen opened #2122 "Add missing aria-label to the input field on the Resources page"
# Description

The input field on the [Resources page](https://www.if-me.org/resources) for filtering tags is missing an `aria-label`. Use the same value as the `placeholder` attribute. This will reduce the quality of the screen-reader experience.

![image](https://user-images.githubusercontent.com/3010728/193415629-d794a3c8-cdba-4567-94b7-b4f4644db985.png)

---

Please assign yourself (via the As

[2022-10-01 15:06] julianguyen commented on #2115
Hey @Im-Kunal-13! I just sent you an invitation to join the GitHub org, so you can assign yourself to the ticket. If you want to join the Slack, please follow that "next steps" link in the welcome bot message above. Thanks!

[2022-10-01 15:26] julianguyen opened #2123 "Fix issue with nested interactive elements in the Modal component"
# Description

In the [Modal component](http://design.if-me.org/?path=/docs/components-modal--text-values-for-element-and-body) ([code](https://github.com/ifmeorg/ifme/blob/main/client/app/components/Modal/index.jsx)), the element that opens the modal has a `role="button"` on it. This causes a problem because the nested element should be an interactive element like a button or link. This will redu

[2022-10-01 15:39] julianguyen opened #2124 "Requesting for Sinhala translation"
# Description

Our [README](https://github.com/ifmeorg/ifme/blob/main/README-LK.md) was translated to Sinhala by @jakaya123, it would be great to translate our app as well 🎉

Checkout our [Translations guide](https://github.com/ifmeorg/ifme/wiki/Translations) to understand the process!

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yours

[2022-10-01 15:40] julianguyen opened #2125 "Requesting for Turkish translation"
# Description

Our [README](https://github.com/ifmeorg/ifme/blob/main/README-TR.md) was translated to Turkish by @sonalan, it would be great to translate our app as well 🎉

Checkout our [Translations guide](https://github.com/ifmeorg/ifme/wiki/Translations) to understand the process!

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yoursel

[2022-10-01 16:29] IvanSanchezSalvador commented on #2122
Can i work on it?

[2022-10-01 16:44] julianguyen commented on #2122
Yeah go ahead, feel free to assign yourself to the ticket and after accepting the org invite. Thanks!

[2022-10-01 16:52] #2122 closed

[2022-10-01 17:28] AudreyKj commented on #2123
Hello! I just assigned myself and would like to work on this :)

[2022-10-02 03:33] julianguyen commented on #2123
Awesome, thanks @AudreyKj! Hope you're doing well :)

[2022-10-02 04:41] julianguyen opened #2128 "Write unit tests for client/app/utils/index.js"
# Description

Write unit tests for client/app/utils/index.js

Functions include:
* `randomString`
* `setCsrfToken`
* `getPusher`
* `renderContent`

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://g

[2022-10-02 04:51] akk312000 commented on #2128
I would like to give this a try @julianguyen

[2022-10-02 04:56] julianguyen opened #2129 "Better exception handling for app/services/cloudinary_service.rb"
# Description

We want to throw errors instead of returning `nil` for the `upload` and `delete` methods in `app/services/cloudinary_service.rb`.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://gith

[2022-10-02 04:58] julianguyen commented on #2128
That would be great, thank you! Feel free to assign yourself to the issue @akk312000 :)

[2022-10-02 05:03] akk312000 commented on #2128
@julianguyen  I'm not able assign the issue to myself, can you guide me how should I do that?

[2022-10-02 05:17] julianguyen opened #2130 "Fix keyboard navigation for the Accordion component"
# Description

When using keyboard navigation on the [Accordion component](http://design.if-me.org/?path=/docs/components-accordion--regular-size-and-regular-style) ([code](https://github.com/ifmeorg/ifme/blob/main/client/app/components/Accordion/index.jsx)), the accordion is open and closed using the `TAB` key which is an incorrect interaction.

It should only be toggled using the `ENTER` key.

T

[2022-10-02 05:27] julianguyen commented on #2128
@akk312000 Ahh looks like you're not added to the project org. I just sent you an invitation and assigned you.

[2022-10-02 05:53] rohandaxini opened #2131 "Start the app locally with email confirmation completed by default"
# Description

After setting and running the app locally, to log in using [test accounts](https://github.com/ifmeorg/ifme/wiki/Installation#testing-accounts) we have to click on the link `Didn't receive confirmation instructions?`. It would be great to default their email confirmation (`confirmed_at`) so that new contributors can directly begin using the app locally.

---

Please assign yourself (

[2022-10-02 13:41] #2131 closed

[2022-10-02 15:00] rohandaxini opened #2135 "Run tests on local in chrome headless mode"
# Description

Currently, when we run `rspec` tests on local then it opens a Chrome browser window to perform UI tests. This is very annoying in developer mode because it does not let to select or focus on other Chrome tabs thereby affecting the workflow of a developer. It would be ideal to run these tests in Chrome `headless` mode.

---

Please assign yourself (via the Assignees dropdown), if you

[2022-10-02 15:46] #2135 closed

[2022-10-02 16:40] rohandaxini commented on #2119
I am checking https://github.com/ifmeorg/ifme/security/dependabot/69 and will create a new issue if necessary.

[2022-10-03 06:49] toshitapandey commented on #2116
@julianguyen - I have assigned this issue to myself. Is it okay if I work on it?

[2022-10-03 16:41] #2118 closed

[2022-10-03 21:42] julianguyen commented on #2116
Yess that would be great, thank you, @toshitapandey! Hope you're doing well 💜

[2022-10-05 05:08] jatinmark commented on #2117
I am interested in this issue can you assign it to me.

[2022-10-05 05:42] Syed-Ansar commented on #2130
Hey @julianguyen I would like to work on this issue.

[2022-10-05 14:24] julianguyen opened #2141 "Support ability to embed external images in Moments and Strategies editor"
# Description

We originally had [an issue in progress](https://github.com/ifmeorg/ifme/issues/1481) to support image uploads in these editors. Due to limited funds, we realistically can't afford to pay for potentially, costly Cloudinary (image upload service we use) usage. As a bare minimum, we should support being able to embed external images in Moments and Strategies posts.

We'll want to add

[2022-10-05 14:25] julianguyen commented on #2130
Hey @Syed-Ansar, I sent you an invitation to our org, so you can assign yourself to the issue. Thanks!

[2022-10-05 14:28] Syed-Ansar commented on #2141
Hey @julianguyen Can you help me out to self assign issues. I am not able to get self assigned, as new to open-source.

[2022-10-05 14:30] julianguyen commented on #2129
Closing this issue because it's related to an issue that is being held off for now https://github.com/ifmeorg/ifme/issues/1481

[2022-10-05 14:30] #2129 closed

[2022-10-05 14:50] julianguyen opened #2142 "Extend "Make visible in stats?" toggle in Categories, Moods, and Strategies editor"
# Description

The "Make visible in stats?" toggle in the Categories, Moods, and Strategies editor hides these posts from being displayed on a user's profile page.

![image](https://user-images.githubusercontent.com/3010728/194088486-3888083a-1df3-4e28-8cc8-00383e27b79f.png)

Let's extend this toggle so that it prevents the user from being able to tag these Categories, Moods, and Strategies in oth

[2022-10-05 14:52] julianguyen commented on #2141
@Syed-Ansar Looks like you've been added as a member of org, so you should be able to see the following in the right-hand navigation bar

![image](https://user-images.githubusercontent.com/3010728/194091608-40aaefb7-4ef1-4bcc-a749-1f087de45f15.png)

Let me know if you can't!

[2022-10-05 15:13] julianguyen opened #2143 "Enable ability to bookmark Moments and display them on the Care Plan page"
# Description

This feature currently exists with Strategies. In the Strategies editor, under the "Bookmark this Strategy?" label, we can toggle the ability to show this post in a user's Care Plan.

![image](https://user-images.githubusercontent.com/3010728/194095473-542a0abd-edf0-42f3-a534-8b24a4af5b62.png)

![image](https://user-images.githubusercontent.com/3010728/194095730-2ea64f1c-ef9d-4134-9

[2022-10-05 15:22] julianguyen opened #2144 "Add visual indicator to a Story component for Moments that Secret Share is enabled"
# Description

Secret share is the ability to generate a private link to a user's Moments post that can be accessed by non-users of the app.

Users can generate a link by viewing their Moments post and hitting the "Secret Share" button.

Let's make it easier for users to know which posts they generated a secret share link for by adding a visual indicator to the [Story component](http://design.if-m

[2022-10-05 19:14] PaxtonDevs commented on #2120
Hello, I would like to assign myself this issue

[2022-10-05 20:07] CilgaIscan commented on #2125
I am native Turkish and interested in translation of the app. :)

[2022-10-06 01:05] julianguyen commented on #2120
@PaxtonDevs Added you to our org! After accepting the invitation, you should be able to assign yourself to the issue.

[2022-10-06 01:06] julianguyen commented on #2117
@skukhniy Is working on this issue!

[2022-10-06 04:53] PaxtonDevs commented on #2120
Awesome, thank you!

[2022-10-06 09:05] januslinhc commented on #2144
Hello, can I work on this issue?

[2022-10-06 16:05] jatinmark commented on #2117
ok

[2022-10-06 17:33] julianguyen opened #2149 "Fix error raised in `client/app/components/Chart/__tests__/Chart.spec.jsx`"
# Description

Fix error raised in `client/app/components/Chart/__tests__/Chart.spec.jsx` (it doesn't block the test from failing)

# Reproduction Steps

[code]

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issu

[2022-10-06 22:51] julianguyen opened #2151 "Update to Webpack 5"
# Description

We're currently on Webpack 4 — let's update to Webpack 5 🎉

Here's an [official helpful guide](https://webpack.js.org/migrate/5/) on it.

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https

[2022-10-08 07:41] amitp138 opened #2155 "navbar is not sticky"
# Description
navbar of the website is not sticky that means it is not fixed due to which we have to scroll up for selecting any link from the navbar

# Reproduction Steps

I can make the navbar sticky with responsiveness

# Screenshots

![image](https://user-images.githubusercontent.com/86116926/194696081-8ad77579-d3a5-40e9-854f-4fc798cb2321.png)

above we can see that navbar is not visible once

[2022-10-08 14:59] julianguyen commented on #2155
Thanks for creating an issue with us! I think this could be a nice improvement. I think we'll want to talk through the design of this more.

The different experiences we'll want to consider:
* Mobile web
* Signed-in
* Signed-out

The background of the sticky nav bar could have the same one as the mobile experience:

![image](https://user-images.githubusercontent.com/3010728/194713797-f1d22294-e2c2

[2022-10-08 15:13] julianguyen opened #2159 "Fix keyboard navigation for navigation menu in mobile web"
# Description

There are two issues with the keyboard navigation for the navigation menu in mobile web:

1. When a user uses the `Tab` key to navigate through a page, the navigation menu is opened. It should only be opened after the `Tab` key focuses on the hamburger icon and the user hits the `Enter` key to open it.
2. There is no focus trap on the navigation menu when it's opened (as a modal)

T

[2022-10-08 18:51] saminarp commented on #2155
I am going to try fixing this issue, so I am assigning this to myself. :)

[2022-10-08 19:00] amitp138 commented on #2155
Then will I get the hactoberfest tag ??

On Sun, Oct 9, 2022, 12:22 AM Samina Rahman Purba ***@***.***>
wrote:

[2022-10-08 19:14] AlfieTitu78 opened #2160 "Mobile Menu not Working"
Hi my site is https://iimexpo.co.uk/
Menu links are opening in desktop but links are not opening on mobile. When  I click to open pages from mobile navigation men u it is returning back to homepage.

![Capture2](https://user-images.githubusercontent.com/48330336/194723069-60e0e144-fba2-4374-9dea-cf4d274c933a.JPG)
![Capture1](https://user-images.githubusercontent.com/48330336/194723067-1e13fff0-28b

[2022-10-08 19:46] IM-TECHNO commented on #2160
I can surely help you out !

[2022-10-08 21:10] AlfieTitu78 commented on #2160
@IM-TECHNO
Please help me to fix this issue
Thank you

[2022-10-09 07:15] #2144 closed

[2022-10-09 07:35] julianguyen commented on #2160
Our app's link is if-me.org and not the one you posted. I'm going to close this issue.

[2022-10-09 07:35] #2160 closed

[2022-10-09 07:50] amitp138 commented on #2155
so can you please give me the hactoberfest tag atleast

[2022-10-09 11:15] Omkar0803 commented on #2130
I would like to contribute on this issue.

[2022-10-09 13:55] amitp138 commented on #2155
Hello @saminarp  can you please give me the hactoberfest tag please since I have raised this issue so I should be getting the chance right ??

[2022-10-09 16:52] julianguyen opened #2163 "Add a Storybook build to our Circle CI configuration"
# Description

Let's add a Storybook build to [our Circle CI configuration](https://github.com/ifmeorg/ifme/blob/main/.circleci/config.yml). We need to verify that merges to our repo do not break the Storybook build. If there are changes to files in `/client`, we want to verify  that the Storybook build passes before a PR is mergeable.

---

Please assign yourself (via the Assignees dropdown), if

[2022-10-10 09:16] Omkar0803 commented on #2117
As it is taking much of a delay, can you assign this issue to me?

[2022-10-10 15:38] julianguyen commented on #2142
I'm unassigning you @yasirazgar cause you're already assigned to an issue. We have a general rule to be assigned to one issue at a time.

[2022-10-11 08:57] amitp138 commented on #2155
Thank you sir for the consideration and also how can we discuss about this
like through the mail or anything else

On Sat, Oct 8, 2022, 8:29 PM Julia Nguyen ***@***.***> wrote:

[2022-10-11 17:20] yasirazgar commented on #2149
@julianguyen as https://github.com/ifmeorg/ifme/issues/2143 is in [PR](https://github.com/ifmeorg/ifme/pull/2154), I am assigning this to myself.

[2022-10-11 17:49] #2143 closed

[2022-10-12 04:58] julianguyen commented on #2117
@jatinmark @Omkar0803 Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

[2022-10-12 12:42] cristianmedeiros commented on #2163
Will give it a try

[2022-10-12 15:43] julianguyen commented on #2163
That would be great, thank you, @cristianmedeiros!

[2022-10-12 22:52] amitp138 commented on #2155
hello @saminarp i am having issue while setting this up so if you want then you can continue with project

[2022-10-13 05:38] LMulvey opened #2170 "Implement react-autosuggest alternative"
# Description

`react-autosuggest` is no longer maintained and has deprecated code that conflicts with our testing utilities, React Testing Library (`@testing-library/react`).

`react-autosuggest` still checks for `event.keyCode`, which is long since deprecated. testing-library/user-event stopped supporting as of v14 and now overwrites keyCode to `0` (only to support React's SyntheticEvents which

[2022-10-13 07:12] #2159 closed

[2022-10-14 15:54] #2149 closed

[2022-10-15 08:30] julianguyen opened #2173 "Underline and Strike-through are not applied on in Moment and Strategy posts"
# Description

The underline and strike-through text decorations are not applied on in Moment and Strategy posts, but are saved properly and appear in the editor when editing.

The editor text is displayed in Moments [here](https://github.com/ifmeorg/ifme/blob/main/app/views/moments/show.html.erb#L29).

The editor text is played in Strategies [here](https://github.com/ifmeorg/ifme/blob/main/app/vi

[2022-10-15 08:42] #2151 closed

[2022-10-16 02:15] #1828 closed

[2022-10-16 02:15] #1815 closed

[2022-10-16 02:26] #2121 closed

[2022-10-16 07:49] saminarp commented on #2128
@julianguyen  I am investigating this and I wanted to ask if I am supposed to create `__tests__` folder in utils to write the corresponding tests for index.js. Please let me know :)

[2022-10-16 13:59] 0xGhada opened #2177 "can I translate it into Arabic?"
# Description

# Reproduction Steps

# Screenshots

---

Please assign yourself (via the Assignees dropdown), if you do want to work on this issue. Can't find yourself? You need to [join our organization](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack).

Check out our [Picking Up Issues](https://github.com/ifmeorg/ifme/wiki/Picking-Up-Issues) guide if you haven't already!

[2022-10-16 16:10] julianguyen commented on #2177
This would be awesome @PureGeekNerd! Here's info on our [Translations](https://github.com/ifmeorg/ifme/wiki/Translations) process!

Thank you for opening this issue with us! If you haven't already, please follow these [next steps](https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack) to officially join our contributor community.

[2022-10-16 16:10] #2173 closed

[2022-10-17 08:40] saminarp commented on #2128
Hello @julianguyen,
 I noticed that in `package.json jest configurations` there's  `"testRegex": "./app/.*.spec\\.jsx?$"` meaning that this regex will only capture the test files which includes `spec` in the filename. I am writing my tests under the name `index.test.js`. Do you suggest updating the regexp? Or do the unit test files need to be somewhere else with a different naming convention?

[2022-10-17 14:13] rajat-tomar commented on #2163
@cristianmedeiros are you working on this?

[2022-10-17 14:23] cristianmedeiros commented on #2163
Hi Rajat, yes, slowly, but yes

On Mon, Oct 17, 2022 at 11:13 AM Rajat Tomar ***@***.***>
wrote:

[2022-10-17 14:26] rajat-tomar commented on #2163
Ohh ok! just wanted to confirm. Thanks for confirming @cristianmedeiros !😊

[2022-10-20 23:56] #2142 closed

[2022-10-21 01:22] julianguyen commented on #2117
@santhos-13 We want to add the "Addiction" and "Sexual Assault Survivors" tags.

[2022-10-21 15:02] uzorjchibuzor commented on #1994
I can see that this issue is linked to a year old PR, do you still want want help with this? @julianguyen

[2022-10-21 22:46] uzorjchibuzor commented on #2116
@toshitapandey are you still working on this? I can pick it up instead if not.

[2022-10-22 11:21] MuhammadAakash commented on #2130
I think no work is done on this issue till now.
Can I start working on the issue @julianguyen

[2022-10-22 12:39] uzorjchibuzor commented on #2116
@julianguyen I have started work on this pending when I get a reply from @toshitapandey , after the first step to upgrading, I have a question. Is there a reason cloudinary fails locally?

[2022-10-22 17:09] MuhammadAakash commented on #2130
@Syed-Ansar are you still working on this issue?

[2022-10-22 18:00] MuhammadAakash commented on #2170
Hi, sir @LMulvey
can you please be more specific with this issue like what we have to do, and in what fields or components we have to replace the `react-autosuggest` with `downshift`?
And I would love to work on this issue.

Thanks.

[2022-10-23 21:02] #2117 closed

[2022-10-24 18:39] julianguyen commented on #2116
Hey @uzorjchibuzor I can just assign you to this since it's been a couple of weeks since it was originally assigned.

Cloudinary fails locally if you don't set up the API keys for it, and that's okay. But you should generate one to test the full experience.

[2022-10-24 18:40] julianguyen commented on #2130
@MuhammadAakash I can assign you to it since it hasn't been picked up in a couple of weeks!

[2022-10-24 18:41] julianguyen commented on #1994
@uzorjchibuzor Yeah there is a PR out that needs to be updated. I saw that you started work on https://github.com/ifmeorg/ifme/issues/2116 so I would focus on that. I can look into this or someone else can pick it up!

[2022-10-24 18:52] uzorjchibuzor commented on #2116
I will do that.

[2022-10-24 20:51] MuhammadAakash commented on #2130
@julianguyen
Sure i will start working on it.

[2022-10-25 23:11] julianguyen commented on #2170
Hey @MuhammadAakash, I haven't looked at https://github.com/downshift-js/downshift too deeply, but at first glance it looks like a good, maintained alternative to switch to. Feel free to take this on and investigate further!

[2022-10-26 09:53] andomain commented on #2120
Hi, if there is no further activity on this I'd like to contribute?

[2022-10-26 23:32] SanjoyPator1 commented on #2155
Is this issue fixed or Do you still need help?

[2022-10-26 23:42] saminarp commented on #2155
I am still looking at it, and will keep it posted after I have updates

[2022-10-27 00:38] amitp138 commented on #2155
Ohk

[2022-10-31 14:31] cristianmedeiros commented on #2163
hi @rajat-tomar I probably won't finish it today to hacktoberfest, do you want to assing this issue for you?

[2022-10-31 15:12] rajat-tomar commented on #2163
It's okay @cristianmedeiros, Hacktoberfest is anyways ending now. You should give it one more shot. For now, I'm working on some other priority projects. Just let me know if you need any help regarding this else I'll be happy to pick this up this weekend.

[2022-11-04 18:58] MuhammadAakash commented on #2130
Hi @julianguyen
I have just added a PR for this issue please review https://github.com/ifmeorg/ifme/pull/2198

[2022-11-06 16:38] #2130 closed

[2022-11-07 02:24] MuhammadAakash opened #2201 "Alert Message is showing after coming back to the Page."
# Description

Alert message "Signed in Successfully" or " Signed out successfully"  is not hidden if we come again to the page we are redirected to after login or logout =.

# Reproduction Steps

 - Go to [if-me](https://www.if-me.org/) website and perform login or logout on the site
 - And after logging in or logging out go to any other page.
 - Now please come back to the previous page.
 - And

[2022-11-07 18:06] MuhammadAakash commented on #2201
@julianguyen Pleas review this whether it's a bug or not

[2022-11-07 19:02] sfayyad commented on #2201
I would like to work on this! Please assign it to me!

[2022-11-07 19:05] sfayyad commented on #2155
I would love to work on this! Can someone please assign it to me?

[2022-11-07 20:40] julianguyen commented on #2201
Yes, it's a minor bug! Thanks again for finding this and documenting it!

[2022-11-07 20:43] MuhammadAakash commented on #2201
@julianguyen
According to me, the solution is that the Toast message will be hidden after 5 to 10 seconds.

[2022-11-07 21:07] uzorjchibuzor commented on #2201
@MuhammadAakash you should maybe look at where the flash message is coming from, I am flying blind here but that is where I check first.

[2022-11-09 15:14] julianguyen commented on #2201
@MuhammadAakash I could see a toast message working here, but I think we should build this reusable component thoughtfully. I recommend it being a React component and that there's the ability to dismiss the message manually. We'll also want to notify the user through aria labels that the Toast message will be automatically hidden.

Before we pursue that, can we just look at hiding the message afte

[2022-11-09 15:55] MuhammadAakash commented on #2201
I have just seen the code where it's implemented and it is implemented in alert.erb file.

And about hiding that alert message is possible according to me is  only by setting the display of container to none after some time.

[2022-11-09 17:59] uzorjchibuzor commented on #2201
Display: none might end up messing with the UX, use :hidden instead.

[2022-11-09 18:03] MuhammadAakash commented on #2201
Yeah that is better

[2022-11-15 22:37] MuhammadAakash commented on #2201
@sfayyad Please go ahead and solve this issue according to the condition which is currently required (Making the div hidden after 5 seconds + add a simple cross icon and on that icon also calls the functions which can hide the div).

As I got some time I will make a separate react component for the toast message.

[2022-11-17 19:35] #2177 closed

[2022-11-19 22:41] pauluzo commented on #2170
Hi @MuhammadAakash  is there any progress on this issue? I'd love to work on it

[2022-11-20 03:09] MuhammadAakash commented on #2170
Hi @pauluzo.
If you want to work just start working on it

[2022-11-20 04:50] MuhammadAakash commented on #2170
@pauluzo
I have assigned this issue to you, feel free to react out to us on slack if you have any query.

[2022-11-20 11:01] pauluzo commented on #2170
@MuhammadAakash thanks. I'll reach out on slack.

[2022-11-23 10:24] zeeshansarwar38 commented on #2201
@sfayyad Are you working on this issue? If you aren't working then I'm ready to work on this. Please @julianguyen @MuhammadAakash @uzorjchibuzor assign this issue to me.

[2022-11-23 11:07] uzorjchibuzor commented on #2201
@zeeshansarwar38 if the current assignee confirms that they are not working on it, they you may assign yourself.

[2022-11-23 15:36] MuhammadAakash commented on #2201
@zeeshansarwar38 thanks for showing interest in contributing to if-me.
Let's get the confirmation from @sfayyad. or if  maybe she didn't respond till next 7 days then you can assign yourself to this issue.

[2022-11-29 07:08] MuhammadAakash commented on #2201
@zeeshansarwar38 Please go ahead with the issue as @sfayyad is not being online for around 20 days.
and if you need any help please reach out to slack.

[2022-11-30 10:30] zeeshansarwar38 commented on #2201
Sure, thanks.